body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: liberation-sans;
  src: url(../fonts/liberation-sans-regular.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/Proxima-Nova-Regular.otf);
}

@font-face {
  font-family: Proxima-fonts;
  src: url(../fonts/ProximaNovaBold.otf);
}

@font-face {
  font-family: Istok_Bold_font;
  src: url(../fonts/Istok-Bold.ttf);
}

@font-face {
  font-family: GenShinGothic_font;
  src: url(../fonts/GenShinGothic-A-Normal.woff.ttf);
}

@font-face {
  font-family: OpenSans_font;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: CharlevoixPro_font;
  src: url(../fonts/CharlevoixPro-Regular.otf);
}

@font-face {
  font-family: Abadi_font;
  src: url(../fonts/Abadi.ttf);
}

@font-face {
  font-family: BPreplay_font;
  src: url(../fonts/BPreplay.ttf);
}

@font-face {
  font-family: TypoPRO-DejaVuSansCondensed_fonts;
  src: url(../fonts/TypoPRO-DejaVuSansCondensed-Regular.ttf);
}

@font-face {
  font-family: Gidole_Regular_fonts;
  src: url(../fonts/Gidole-Regular.ttf);
}

@font-face {
  font-family: SeidenSans_fonts;
  src: url(../fonts/SeidenSans-Light.woff.ttf);
}

@font-face {
  font-family: Proxima_Nova_Semibold_fonts;
  src: url(../fonts/Proxima-Nova-Semibold.ttf);
}

@font-face {
  font-family: MarkSimonsonProximaNovaThin_fonts;
  src: url(../fonts/MarkSimonsonProximaNovaThin-webfont.ttf);
}

@font-face {
  font-family: Alice_Regular_fonts;
  src: url(../fonts/Alice-Regular.ttf);
}

button.business {
  width: 200px;
  margin-top: 2%;
  margin-left: 88%;
  height: 50px;
  outline: 0px;
  font-family: OpenSans-Regular;
  border-radius: 25px;
  margin-left: 83%;
  border: 2px solid #ffffff;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
}

.header {
  width: 100%;
  background-image: url("../images/blackout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  width: 100%;
  padding: 0px !important;
}

.header_logo img {
  margin-top: 0%;
  margin: 0 auto;
  display: block;
  padding-top: 6%;
  height: 265px;
  width: 485px;
}

div.header_title {
  font-family: liberation-sans;
  font-size: 53px;
  margin-top: 1%;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}

p.header_sub_title {
  font-size: 32px;
  padding: 0px;
  text-align: center;
  margin-top: 0px;
  font-family: OpenSans-Regular;
}

.header_buttons {
  text-align: center;
  margin-top: -3%;
  padding-bottom: 15%;
}

button.download_app_link {
  width: 230px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  border: 0px;
  outline: 0px;
  font-family: OpenSans-Regular;
  font-weight: bold;
  background-color: #fba241;
  color: #ffffff;
}

button.business {
  width: 230px;
  margin-top: 5%;
  height: 50px;
  outline: 0px;
  font-family: OpenSans-Regular;
  border-radius: 25px;
  margin-left: 3%;
  border: 2px solid #ffffff;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
}

.clear {
  clear: both;
}

.favourite {
  width: 100%;
  background-color: #000000;
}

.favourite_header_title {
  margin: 0 auto;
  width: 65%;
  color: #feae43;
  padding-top: 5%;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  font-family: Istok_Bold_font;
  font-weight: bold;
}

.favourite_header_title1 {
  margin: 0 auto;
  width: 65%;
  color: #ffffff;
  font-family: CharlevoixPro_font;
  padding-top: 4%;
  font-size: 33px;
  text-align: center;
}

.favourite_food_icon {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 0px 40px;
}

.favourite_food_icon_sections {
  margin: 0 auto;
  margin-top: 4%;
  text-align: center;
  width: 80%;
}

.food_icon img {
  width: 110px;
}

.food_icon1 img {
  width: 110px;
  margin-left: 23%;
}

.food_icon2 img {
  width: 110px;
  margin-left: 5%;
}

p.food_title {
  margin-top: 5%;
  font-size: 23px;
  color: #ffffff;
  font-weight: 500;
  font-family: SeidenSans_fonts;
  display: inline-grid;
}

.favourite_footer_text {
  font-size: 35px;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  color: #ffffff;
  text-align: center;
  padding-bottom: 3%;
  font-family: GenShinGothic_font;
}

  .favourite_footer_text span.rewards_points {
    color: #feae43;
    border-bottom: 1px solid;
  }

div.works {
  width: 100%;
  padding: 0 208px;
  background-color: #ffffff;
}

div.works_title {
  margin-top: 4%;
  font-size: 54px;
  color: #feae43;
  font-weight: bold
}

div.works_points {
  margin-top: 2%;
}

p.works_points_one {
  margin: 0px;
  font-size: 32px;
  color: #000000;
  font-weight: 500;
  font-family: OpenSans_font;
}

span.works_dots {
  font-size: 20px;
  text-align: center;
  vertical-align: 6px;
}

p.works_points_one1 {
  margin: 0px;
  font-size: 32px;
  color: #000000;
  font-family: OpenSans_font;
  margin-left: 3%;
  font-weight: 500;
}

.play_store_link_title {
  margin-top: 4%;
  font-size: 35px;
  color: #000000;
}

.paly_store {
  margin-top: 3%;
  width: 100%;
  float: left;
}

.google_paly_store_link {
  float: left;
  width: 290px;
}

.ios_play_store_link {
  float: left;
  width: 290px;
}

.google_paly_store_link img {
  width: 280px;
}

.ios_play_store_link img {
  width: 280px;
}

.ios_play_store_link button.business {
  width: 230px;
  margin-top: 5%;
  height: 50px;
  border-radius: 25px;
  margin-left: 3%;
  border: 2px solid #000000;
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
}

.play_store_text {
  font-size: 31px;
  margin-top: 2%;
  padding-bottom: 3%;
  color: #000000;
  color: #000000;
  font-family: Abadi_font;
}

.rewards_home {
  width: 100%;
  background-color: #000000;
  height: auto;
  padding: 0 208px;
}

.rewards_title {
  font-weight: bold;
  padding-top: 5%;
  font-size: 69px;
  color: #feae43;
  font-family: Proxima_Nova_Semibold_fonts;
}

.rewards_text {
  margin-top: 3%;
  font-size: 32px;
  color: #ffffff;
}

.play_store_business {
  width: 222px;
  margin-top: 4%;
  height: 54px;
  font-size: 20px;
  border-radius: 25px;
  margin-left: 3%;
  outline: 0px;
  font-family: OpenSans-Regular;
  border: 2px solid #000000;
  font-weight: bold;
  background-color: transparent;
  color: #000000;
}

.main_categories {
  width: 100%;
}

.categories {
  text-align: center;
  margin-top: 2%;
  color: #ffffff;
  font-family: TypoPRO-DejaVuSansCondensed_fonts;
  font-size: 40px;
  margin-bottom: 2%;
}

.user_points {
  width: 100%;
  float: left;
  text-align: center;
}

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
  }

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
    float: none;
    padding: 0 30px;
  }

.bronze {
  margin-left: 19%;
  font-size: 25px;
  color: #8b5431;
  float: left;
}

p.bronze_points {
  margin-left: 3px;
}

.sliver {
  margin-left: 5%;
  font-size: 25px;
  color: #9c9c9c;
  float: left;
}

.glod {
  margin-left: 5%;
  font-size: 25px;
  float: left;
  color: #c77c31;
}

.platinum {
  margin-left: 3%;
  float: left;
  font-size: 25px;
  color: #484848;
}

.vip {
  margin-left: 3%;
  float: left;
  font-size: 25px;
  color: #ffffff;
}

.footer_buttons {
  text-align: center;
  outline: none;
  padding-bottom: 7%;
}

.rewards_end_boarder {
  width: 100%;
  border: 1px solid rgb(83, 83, 83);
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer_copyright {
  margin-top: 2%;
  margin-left: 35%;
  font-size: 18px;
  padding-bottom: 6%;
  color: #359bcd;
}

.footer_Copyright {
  text-align: center;
  font-size: 20px;
  color: #ffff;
  margin: 0 auto;
  padding-bottom: 5%;
}

@media only screen and (max-width: 1248px) {
  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .header {
    width: 100%;
    background-image: url("../images/blackout.jpg");
  }

  .favourite_header_title {
    margin: 0 auto;
    width: 72%;
    color: #feae43;
    padding-top: 5%;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    font-family: Istok_Bold_font;
    font-weight: bold;
  }

  .favourite_header_title1 {
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
    font-family: CharlevoixPro_font;
    padding-top: 4%;
    font-size: 31px;
    text-align: center;
  }

  .favourite_food_icon_sections {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    width: 80%;
  }

  div.works {
    width: 100%;
    padding: 0 50px;
    background-color: #ffffff;
  }

  .rewards_home {
    width: 100%;
    background-color: #000000;
    height: auto;
    padding: 0 50px;
  }

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
    float: none;
    padding: 0 39px;
  }

  .user_points {
    width: 100%;
    float: left;
    text-align: none;
  }
}

@media only screen and (max-width:1050px) {
  .favourite_food_icon_sections {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    width: 100%;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 35%;
  }

  .paly_store {
    margin-top: 3%;
    width: 100%;
    padding: 0 33px;
    float: left;
  }
}

@media only screen and (max-width:890px) {
  div.header_title {
    font-family: liberation-sans;
    font-size: 61px;
    margin-top: 1%;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

  .header_logo img {
    margin-top: 0%;
    margin: 0 auto;
    display: block;
    padding-top: 6%;
    height: 300px;
    width: 480px;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 35%;
  }
}

@media only screen and (max-width:780px) {
  .favourite_food_icon_sections {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    width: 100%;
  }

  .paly_store {
    margin-top: 3%;
    width: 100%;
    padding: 0 25%;
    float: left;
    text-align: center;
  }

  .play_store_text {
    font-size: 23px;
    margin-top: 2%;
    padding-bottom: 3%;
    color: #000000;
    color: #000000;
    font-family: Abadi_font;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px 32%;
  }

  .ios_play_store_link {
    float: left;
    width: 290px;
    margin-top: 13px;
  }
}

@media only screen and (max-width: 580px) {

  div.header_title {
    font-family: liberation-sans;
    font-size: 40px;
    margin-top: 2%;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px 117px;
  }

  div.works {
    width: 100%;
    padding: 0 40px;
    background-color: #ffffff;
  }

  .user_points {
    width: 100%;
    padding: 0 10px;
    text-align: none;
  }

  .paly_store {
    margin-top: 5%;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 0px;
  }

  .ios_play_store_link {
    float: left;
    width: 290px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .header_logo img {
    margin-top: 0%;
    margin: 0 auto;
    display: block;
    padding-top: 6%;
    height: 222px;
    width: 430px;
  }

  .header_buttons {
    text-align: center;
    margin-top: 10%;
    padding-bottom: 15%;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px 76px;
    margin-top: 3%;
  }

  .favourite_header_title {
    margin: 0 auto;
    width: 77%;
    color: #feae43;
    padding-top: 5%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-family: Istok_Bold_font;
    font-weight: bold;
  }

  .favourite_header_title1 {
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
    font-family: CharlevoixPro_font;
    padding-top: 4%;
    font-size: 30px;
    text-align: center;
  }

  p.works_points_one {
    margin: 0px;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    font-family: OpenSans_font;
  }

  div.works_title {
    margin-top: 4%;
    font-size: 40px;
    color: #feae43;
    font-weight: bold;
  }

  .favourite_footer_text {
    font-size: 31px;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 3%;
    font-family: GenShinGothic_font;
  }

  .ios_play_store_link {
    float: left;
    margin-top: 4%;
    width: 290px;
  }

  .paly_store {
    width: 100%;
    margin: 0 40px;
    margin-top: 3%;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .rewards_title {
    padding-top: 5%;
    font-size: 40px;
    color: #feae43;
    font-weight: bold;
  }

  .rewards_text {
    margin-top: 5%;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
    float: none;
    padding: 0px 100px;
  }

  .play_store_text {
    font-size: 30px;
    margin-top: 2%;
    padding-bottom: 3%;
    color: #000000;
    color: #000000;
    font-family: Abadi_font;
  }
}

@media only screen and (max-width: 450px) {
  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .header {
    width: 100%;
    background-image: url("../images/blackout.jpg");
  }

  .header_logo img {
    margin: 0 auto;
    width: 260px;
    height: auto;
    padding-top: 6% !important;
  }

  div.header_title {
    font-family: liberation-sans;
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

  .header_buttons {
    text-align: center;
    margin-top: 10%;
    padding-bottom: 15%;
  }

  .favourite_header_title {
    margin: 0 auto;
    width: 94%;
    color: #feae43;
    padding-top: 5%;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-family: Istok_Bold_font;
    font-weight: bold;
  }

  .favourite_header_title1 {
    margin: 0 auto;
    width: 80%;
    color: #ffffff;
    font-family: CharlevoixPro_font;
    padding-top: 4%;
    font-size: 26px;
    text-align: center;
  }

  .favourite_food_icon {
    width: 100%;
    display: inline-block;
    margin-top: 7%;
    text-align: center;
    padding: 0px 61px;
  }

  .favourite_footer_text {
    font-size: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 7%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5%;
  }

  div.works {
    width: 100%;
    padding: 0 50px;
    background-color: #ffffff;
  }

  .favourite_food_icon_sections {
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    width: 89%;
  }

  p.works_points_one {
    margin: 0px;
    font-size: 23px;
    color: #000000;
    font-weight: 500;
    font-family: OpenSans_font;
  }

  div.works_title {
    margin-top: 4%;
    font-size: 35px;
    color: #feae43;
    font-weight: bold;
  }

  p.works_points_one1 {
    margin: 0px;
    font-size: 23px;
    color: #000000;
    margin-left: 3%;
    font-weight: 500;
  }

  .play_store_link_title {
    margin-top: 6%;
    font-size: 25px;
    color: #000000;
  }

  .paly_store {
    width: 100%;
    margin: 0 0px;
    padding: 0;
    margin-top: 3%;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .rewards_home {
    width: 100%;
    background-color: #000000;
    height: auto;
    padding: 0 36px;
  }

  .play_store_text {
    font-size: 26px;
    margin-top: 2%;
    padding-bottom: 3%;
    color: #000000;
    color: #000000;
    font-family: Abadi_font;
  }

  .user_points {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

/* mobile screen view */

@media only screen and (max-width: 400px) {
  /* Styles */

  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  p.works_points_one before {
    position: absolute;
    top: 8px;
    margin: 8px 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    content: "";
  }

  .header {
    width: 100%;
    background-image: url("../images/blackout.jpg");
  }

  .header_logo img {
    margin: 0 auto;
    width: 280px;
    height: auto;
    padding-top: 6% !important;
  }

  div.header_title {
    font-family: liberation-sans;
    margin: 0 auto;
    display: block;
    line-height: 45px;
    font-size: 39px;
    text-align: center;
    color: #ffffff;
  }

  p.header_sub_title {
    font-size: 21px;
    margin-left: 0%;
    padding: 0px;
    margin-top: 10px;
  }

  .header_buttons {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 15%;
  }

  button.download_app_link {
    width: 230px;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    border: 0px;
    font-weight: bold;
    background-color: #fba241;
    color: #ffffff;
  }

  button.business {
    width: 222px;
    margin-top: 8%;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 3%;
    border: 2px solid #ffffff;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
  }

  .favourite_header_title {
    margin: 0 auto;
    display: block;
    color: #feae43;
    padding-top: 15%;
    line-height: 30px;
    font-size: 24px;
    width: 90%;
    text-align: center;
    font-weight: bold;
  }

  .favourite_header_title1 {
    margin: 0px auto;
    display: block;
    color: #ffffff;
    padding-top: 10%;
    line-height: 30px;
    font-size: 24px;
    width: 90%;
    text-align: center;
    font-weight: bold;
  }

  .food_icon img {
    width: 110px;
  }

  .food_icon {
    margin: 0 auto;
    text-align: center;
  }

  .favourite_food_icon {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  p.food_title {
    margin-top: 5%;
    font-size: 17px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 500;
  }

  .food_icon1 img {
    width: 110px;
    margin-left: 0px;
  }

  .food_icon1 {
    margin-left: 8%;
  }

  .favourite_food_icon1 {
    width: 80%;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
    margin-right: 10%;
  }

  p.food_title1 {
    margin-top: 5%;
    font-size: 22px;
    color: #ffffff;
    width: 100%;
    line-height: 26px;
    font-weight: 500;
  }

  .favourite_food_icon2 {
    width: 70%;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
    margin-right: 10%;
  }

  p.food_title2 {
    margin-top: 5%;
    font-size: 22px;
    color: #ffffff;
    line-height: 26px;
    margin-right: 2%;
    font-weight: 500;
  }

  .favourite_footer_text {
    margin-top: 5%;
    font-size: 24px;
    margin-left: 4%;
    margin-right: 4%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 3%;
  }

  .food_icon2 img {
    width: 110px;
    margin-right: 10%;
  }

  div.works {
    width: 100%;
    padding: 0 30px;
    background-color: #ffffff;
  }

  div.works_title {
    margin-top: 4%;
    margin-left: 3%;
    font-size: 25px;
    color: #feae43;
    font-weight: bold;
  }

  span.works_dots {
    font-size: 17px;
    margin-right: 12px;
    text-align: center;
    vertical-align: 1px;
  }

  .play_store_link_title {
    margin-top: 3%;
    margin-left: 7%;
    font-size: 23px;
    color: #000000;
  }

  .paly_store {
    margin-left: 0%;
    margin-top: 3%;
    display: inline-block;
    padding: 0 0;
  }

  .ios_play_store_link {
    float: left;
    margin-top: 5%;
    width: 270px;
  }

  .play_store_business {
    width: 222px;
    margin-top: 4%;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 3%;
    border: 2px solid #000000;
    font-weight: bold;
    background-color: transparent;
    color: #000000;
  }

  .play_store_text {
    font-size: 21px;
    margin-top: 7%;
    padding-bottom: 3%;
    font-style: italic;
    margin-left: 11%;
  }

  div.rewards_title {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 37px;
    text-align: center;
    line-height: 40px;
    color: #feae43;
    font-weight: bold;
  }

  .rewards_home {
    width: 100%;
    background-color: #000000;
    height: auto;
    padding: 0 0px;
  }

  .rewards_text {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    line-height: 30px;
    font-size: 25px;
    padding: 0 20px;
    color: #ffffff;
    text-align: center;
  }

  .rewards_end_boarder {
    width: 90%;
    text-align: center;
    border: 1px solid rgb(83, 83, 83);
    margin-top: 5%;
    margin: 5% 15px;
    margin-bottom: 5%;
  }

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
    float: none;
    width: 100%;
    padding: 0 0px;
  }

  .footer_Copyright {
    text-align: center;
    font-size: 22px;
    color: #ffff;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 25%;
  }
}

@media only screen and (max-width: 320px) {
  /* Styles */

  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .header {
    width: 100%;
    background-image: url("../images/blackout.jpg");
  }

  .header_logo img {
    margin: 0 auto;
    width: 280px;
    height: auto;
    padding-top: 6% !important;
  }

  div.header_title {
    font-family: liberation-sans;
    margin: 0 auto;
    display: block;
    line-height: 45px;
    font-size: 39px;
    text-align: center;
    color: #ffffff;
  }

  p.header_sub_title {
    font-size: 21px;
    margin-left: 0%;
    padding: 0px;
    margin-top: 10px;
  }

  .header_buttons {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 15%;
  }

  button.download_app_link {
    width: 230px;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    border: 0px;
    font-weight: bold;
    background-color: #fba241;
    color: #ffffff;
  }

  button.business {
    width: 222px;
    margin-top: 8%;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 3%;
    border: 2px solid #ffffff;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
  }

  .favourite_header_title {
    margin: 0 auto;
    display: block;
    color: #feae43;
    padding-top: 15%;
    line-height: 30px;
    font-size: 24px;
    width: 90%;
    text-align: center;
    font-weight: bold;
  }

  .favourite_header_title1 {
    margin: 0px auto;
    display: block;
    color: #ffffff;
    padding-top: 10%;
    line-height: 30px;
    font-size: 24px;
    width: 90%;
    text-align: center;
    font-weight: bold;
  }

  .food_icon img {
    width: 110px;
  }

  .food_icon {
    margin: 0 auto;
    text-align: center;
  }

  .favourite_food_icon {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  p.food_title {
    margin-top: 5%;
    font-size: 17px;
    color: #ffffff;
    line-height: 25px;
    font-weight: 500;
  }

  .food_icon1 img {
    width: 110px;
    margin-left: 0px;
  }

  .food_icon1 {
    margin-left: 8%;
  }

  .favourite_food_icon1 {
    width: 80%;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
    margin-right: 10%;
  }

  p.food_title1 {
    margin-top: 5%;
    font-size: 22px;
    color: #ffffff;
    width: 100%;
    line-height: 26px;
    font-weight: 500;
  }

  .favourite_food_icon2 {
    width: 70%;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
    margin-right: 10%;
  }

  p.food_title2 {
    margin-top: 5%;
    font-size: 22px;
    color: #ffffff;
    line-height: 26px;
    margin-right: 2%;
    font-weight: 500;
  }

  .favourite_footer_text {
    margin-top: 5%;
    font-size: 24px;
    margin-left: 4%;
    margin-right: 4%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 3%;
  }

  .food_icon2 img {
    width: 110px;
    margin-right: 10%;
  }

  div.works {
    width: 100%;
    padding: 0 30px;
    background-color: #ffffff;
  }

  div.works_title {
    margin-top: 4%;
    margin-left: 3%;
    font-size: 25px;
    color: #feae43;
    font-weight: bold;
  }

  span.works_dots {
    font-size: 17px;
    margin-right: 12px;
    text-align: center;
    vertical-align: 1px;
  }

  .play_store_link_title {
    margin-top: 3%;
    margin-left: 7%;
    font-size: 23px;
    color: #000000;
  }

  .paly_store {
    margin-left: 0%;
    margin-top: 3%;
  }

  .ios_play_store_link {
    float: left;
    margin-top: 5%;
    width: 270px;
  }

  .play_store_business {
    width: 222px;
    margin-top: 4%;
    height: 54px;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 3%;
    border: 2px solid #000000;
    font-weight: bold;
    background-color: transparent;
    color: #000000;
  }

  .play_store_text {
    font-size: 21px;
    margin-top: 7%;
    padding-bottom: 3%;
    font-style: italic;
    margin-left: 11%;
  }

  div.rewards_title {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 37px;
    text-align: center;
    line-height: 40px;
    color: #feae43;
    font-weight: bold;
  }

  .rewards_home {
    width: 100%;
    background-color: #000000;
    height: auto;
    padding: 0 0px;
  }

  .rewards_text {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    line-height: 30px;
    font-size: 25px;
    padding: 0 20px;
    color: #ffffff;
    text-align: center;
  }

  .rewards_end_boarder {
    width: 90%;
    text-align: center;
    border: 1px solid rgb(83, 83, 83);
    margin-top: 5%;
    margin: 5% 15px;
    margin-bottom: 5%;
  }

  .user_points .price {
    margin: 0px auto;
    display: inline-block;
    float: none;
    width: 100%;
    padding: 0 0px;
  }

  .footer_Copyright {
    text-align: center;
    font-size: 22px;
    color: #ffff;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 25%;
  }
}
