<!DOCTYPE html>
<html lang="en">

<head>
	<title>BarM8 Contact us</title>
	<link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="description" content="BarM8 Contact us">
	<meta name="keywords" content="BarM8 Contact us">
	<meta name="author" content="BarM8 Contact us">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="BarM8 Contact us" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="BarM8 Contact us" />
	<meta property="og:description" content="BarM8 Contact us" />
	<meta property="og:image" content="BarM8 Contact us" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '4384478564975112');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>
</head>

<body ng-app="app">
	<div class="loader" data-loader="dashboard">
		<div id="loader"> </div>
	</div>
	<link rel="stylesheet" href="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.css" />
	<script src="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.js"></script>
	<style>
		#loader {
			width: 50px;
			height: 50px;
			left: 50%;
			position: fixed;
			z-index: 9999;
			background: url("/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
			background-size: 170px 138px;
			top: 50%;
			border-radius: 50%;
			background-color: black !important;
		}
	</style>
	<script>
		var p = loadPrompt();
		setTimeout(function () {
			$(".loader").fadeOut('slow', function () {
				$(this).css({ display: 'none' })
			});
		}, 500)
		angular
			.module('app', [])
			.controller('contactusCtl', function ($scope, $http) {
				$(".loader").css({ display: 'block' })
				$("#yourNameError,#yourSubjectErro,#yourEmailNoErrorr,#yourMobileNoError,#yourMsgError").html(null);
				$scope.sendMail = () => {
					let phone, email, name, msg, subject, isTrue = true;
					name = $("#fullname").val();
					email = $("#email").val();
					phone = `${$("#contactNumber").val()}`;
					msg = $("#message").val();
					subject = $("#subject").val();
					if (!name) { $("#yourNameError").html('Name is requited!'); isTrue = false; }
					if (!subject) { $("#yourSubjectError").html('Subject is requited!'); isTrue = false; }
					if (!email) { $("#yourEmailNoError").html('Email is requited!'); isTrue = false; }
					if (!phone) { $("#yourMobileNoError").html('Mobile Number is requited!'); isTrue = false; }
					if (!msg) { $("#yourMsgError").html('Message is requited!'); isTrue = false; }
					if (isTrue) {
						$(".loader").css({ display: 'block' })
						$http({
							method: "GET",
							url: `https://www.barm8.com.au/api/Businesses/contactUS?params={ "email" : "${email}" , "name" : "${name}" , "msg" : "${msg}" , "phone" : "${phone}" , "subject" : "${subject}" }`
						}).then((res) => {
							$("#fullname,#email,#contactNumber,#message,#subject").val(null);
							if ((res && res.statusText == "OK") || (res.data.data && res.data.data.isSuccess)) {

								p.success('Your request is sent!')
								setTimeout(function () {
									$(".loader").fadeOut('slow', function () {
										$(this).css({ display: 'none' })
									});
								}, 500)
							}
						});
					}
				}
			});


	</script>

	<section class="top-sec-contact">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="/"><img src="views/w-site-new/images/logo.png" class="img-fluid"></a>
				</div>
			</div>
		</div>
	</section>

	<section class="contact">
		<div class="container" ng-controller="contactusCtl">
			<div class="row">
				<div class="col-md-12 text-center details">
					<h2>We'd love to hear from you</h2>
					<p>Whether you're a loyal app user or a potential partner,</p>
					<p>we're always up for a chat.</p>
				</div>
				<div class="col-md-4">
					<div class="contact-details">
						<h4>Get in touch</h4>
						<p>Whatever your query, a member of the BarM8 team will be in touch.</p>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> P. O. Box 440, <br>Winston Hills,<br> NSW
							2153.</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i> <a
								href="mailto:info@barm8.com.au">info@barm8.com.au</a></p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="login-bo">
						<div class="header-text">
							<div class="contact-form-section">
								<div>
									<h2>Thank you for visiting</h2>
								</div>
								<form action="#" method="post" class="ng-pristine ng-valid">
									<div class="cc-form-1">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Full Name"
												name="fullname" id="fullname" autocomplete="off" required="">
											<span id="yourNameError" style="color: red;"></span>
										</div>
										<div class="form-group">
											<input type="email" class="form-control" id="email" style="margin: 0px;"
												placeholder="Email Adress" name="email" autocomplete="off" required="">
											<span id="yourEmailNoError" style="color: red;"></span>
										</div>
										<div class="form-group">
											<input type="number" class="form-control" id="contactNumber"
												placeholder="Telephone Number" name="tpnumber" autocomplete="off"
												required="">
											<span id="yourMobileNoError" style="color: red;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" placeholder="Subject"
												name="Subject" autocomplete="off" required="">
											<span id="yourSubjectError" style="color: red;"></span>
										</div>
										<div class="form-group">
											<textarea class="form-control" style="height: 100%;" id="message"
												name="message" placeholder="Message"></textarea>
											<span id="yourMsgError" style="color: red;"></span>
										</div>
										<div class="text-center">
											<button type="button" ng-click="sendMail()">INQUIRE NOW</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id='footer'>
		<div class='brand'><img src="views/w-site-new/images/logo-2.png"></img></div>
		<h1 class='download-tag'>Download Bar M8 free today</h1>
		<div class='container'>
			<div class='store-wrapper store-wrapper-footer'>
				<a href="https://apps.apple.com/au/app/barm8/id1402470106" target="_blank"><img src='appstore.svg'
						class='store-button-footer'></img></a>
				<a href="https://play.google.com/store/apps/details?id=com.barm8" target="_blank"><img
						src='googleplay.svg' class='store-button-footer'></img></a>
			</div>
			<section id="social-footer">
				<ul class="social">
					<li>
						<a class="ease-all face-book" target="_blank" title="Facebook"
							href="https://www.facebook.com/barm8app/"><i class="fa fa-facebook"
								aria-hidden="true"></i></a>
					</li>
					<li>
						<a class="ease-all instagram" href="https://www.instagram.com/barm8app/" target="_blank"
							title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</li>
				</ul>
			</section>
			<div class='disc-link-wrapper'>
				<ul>
					<li class='disc-link'>
						<a href='https://barm8.com.au/contact' target='_blank'>Contact</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/terms' target='_blank'>Terms of Service</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/privacy' target='_blank'>Privacy Policy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-content">
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-logo">
							<a><img src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
									class="img-fluid"></a>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li m-b">
						<ul class="p-0">
							<li><a title="Facebook"><img src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
										class="icons"></a></li>
							<li><a title="Instagram"><img
										src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
										class="icons"></a></li>
						</ul>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-menu">
							<ul>
								<li><a href="contact">Contact</a></li>
								<li><a href="terms">Terms</a></li>
								<li><a href="privacy">Privacy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<section class="copyright-section">
		<div class="copyright-text">
			<p>© Barm8 2020</p>
		</div>
	</section> -->

	<style>
		body {
			font-family: 'Poppins', sans-serif;
			background: #000;
		}

		#footer {
			background: #f79f3f;
		}
	</style>
	<script type="text/javascript" src="views/w-site-new/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="views/w-site-new/js/bootstrap.min.js"></script>

</body>

</html>