<!DOCTYPE html>
<html lang="en">

<head>
    <title>BarM8</title>
    <link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="description" content="BarM8">
    <meta name="keywords" content="BarM8">
    <meta name="author" content="BarM8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="BarM8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BarM8" />
    <meta property="og:description" content="BarM8" />
    <meta property="og:image" content="BarM8" />


    <link rel="stylesheet" type="text/css" href="https://www.barm8.com.au/views/w-site-new/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://www.barm8.com.au/views/w-site-new/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://www.barm8.com.au/views/w-site-new/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://www.barm8.com.au/views/w-site-new/css/responsive.css">
    <link rel="stylesheet" href="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.css" />
    <script src="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.js"></script>

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4384478564975112');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>
</head>

<body ng-app="app">
    <style>
        #loader {
            width: 50px;
            height: 50px;
            left: 50%;
            position: fixed;
            z-index: 9999;
            background: url("https://barm8.com.au/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
            background-size: 170px 138px;
            top: 50%;
            border-radius: 50%;
            background-color: black !important;
        }
    </style>
    <div class="loader" data-loader="dashboard">
        <div id="loader"> </div>
    </div>
    <section class="top-sec">

        <div class="container">
            <div class="header">
                <div class="logo">
                    <img src="https://www.barm8.com.au/views/w-site-new/images/logo.png" class="img-fluid">
                </div>
                <div class="header-right">
                    <a type="button" href="/partners" class="btn partners">PARTNERS</a>
                </div>
            </div>
            <div class="top-sec-details">
                <h1>...we’re for good times.</h1>
                <h4>BarM8 makes discovering new bars, and all the great stuff they have going on, easy. Free with no
                    subscription, it’s the smart way to socialise in Sydney.</h4>
                <div class="download-apps" ng-controller="indexCtl" id="indexCtl">
                    <a href="https://apps.apple.com/au/app/barm8/id1402470106" target="_blank">
                        <img src="views/w-site-new/images/desktop-home-page/app-store.png" class="img-fluid">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.barm8" target="_blank">
                        <img src="views/w-site-new/images/desktop-home-page/Google-play.png" class="img-fluid">
                    </a>
                </div>
                <!-- <div class="row" ng-controller="indexCtl" id="indexCtl">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                class="form-control sub-text" placeholder="Enter email address">
                            <div class="input-group-postpend wait-btn">
                                <span class="input-group-text" aria-hidden="true">
                                    Get early access
                                </span>
                            </div>
                        </div>
                        <div class="sub-err-d">
                            <span id="sub-text-err">Enter valid email address!</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </section>

    <section class="sec two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="left-side-img-1">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/home-page/2.png"
                            class="img-fluid lap-img">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/desktop-home-page/m-1.png"
                            class="img-fluid mob-img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-side-content">
                        <h2 class="header-title">We make discovering your new favourite bar, pub or club, simple.</h2>
                        <p class="detail-text">Stop searching through sites and social media to see what’s on at the
                            venues around you. Discover the best that Sydney’s bars, pubs and clubs have to offer, the
                            easy way.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sec three d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order">
                    <div class="right-side-content content-ml-auto">
                        <h2 class="header-title">Don’t know what’s on tonight? We’ve got you covered.</h2>
                        <p class="detail-text">From live music to sports, and everything in between, we’ve got the
                            details on all the upcoming and unique events at the venues near you. Get amongst it with
                            BarM8!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-side-img">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/home-page/5.png"
                            class="img-fluid lap-img">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/desktop-home-page/m-2.png"
                            class="img-fluid mob-img">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sec four">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="left-side-img">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/home-page/6.png"
                            class="img-fluid lap-img">
                        <img src="https://www.barm8.com.au/views/w-site-new/images/desktop-home-page/m-3.png"
                            class="img-fluid mob-img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-side-content">
                        <h2 class="header-title">Exclusive deals for you or your mates? We’ll drink to that.</h2>
                        <p class="detail-text">Score exclusive food and drink offers from our partner venues near you.
                            Just show your BarM8 coupon at the counter and we’ll keep the good times coming.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sec five">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="footer-side-content">
                        <h2 class="content-header-white">Feature Your
                            Venue</h2>
                        <p class="detail-text">We showcase venues with videos, categories, hyper- local
                            'Edits' and key venue information.</p>

                        <a href="/partners" class="btn btn-get-started">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <div class="col-md-4 col-xs-12 col-sm-12 m-b">
                        <div class="footer-logo">
                            <a><img src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
                                    class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li m-b">
                        <ul class="p-0">
                            <li><a href="https://www.facebook.com/barm8app/" target="_blank" title="Facebook"><img
                                        src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
                                        class="icons"></a></li>
                            <li><a href="https://www.instagram.com/barm8app/" target="_blank" title="Instagram"><img
                                        src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
                                        class="icons"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 m-b">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/privacy">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <section class="copyright-section">
        <div class="copyright-text">
            <p>© Barm8 2020</p>
        </div>
    </section>


    <!-- <script type="text/javascript" src="views/w-site-new/js/jquery-3.3.1.min.js"></script> -->
    <script type="text/javascript" src="https://www.barm8.com.au/views/w-site-new/js/bootstrap.min.js"></script>

    <script>
        var p = loadPrompt();
        function validateEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        angular
            .module('app', [])
            .controller('indexCtl', function ($scope, $http) {
                $(".loader").css({ display: 'none' });
                $scope.sendMail = () => {
                    $(".loader").css({ display: 'block' });
                    let email = $(".sub-text").val();
                    $http({
                        method: "GET",
                        url: `https://www.barm8.com.au/api/WaitLists/saveMail?params={"email": "${email}"}`
                    }).then((res) => {
                        setTimeout(function () {
                            $(".sub-text").val('')
                            $(".loader").css({ display: 'none' });
                            if (res && res.data && res.data.data.isSuccess) {
                                p.success('Successfully sent!')
                            } else if (res && res.data && res.data.data.isSuccess == false) {
                                p.error(res.data.data.message)
                            }
                        }, 300);
                    }, (err) => {
                        $(".sub-text").val('')
                        $(".loader").css({ display: 'none' });
                        p.error("Please try again!")
                    });
                }
            });
        $(".wait-btn").on('click', function () {
            $("#sub-text-err").css({ display: 'none' });
            if (validateEmail($(".sub-text").val())) {
                angular.element(document.getElementById('indexCtl')).scope().sendMail();
            } else {
                $("#sub-text-err").css({ display: 'block' });
            }
        })
    </script>

</body>

</html>