<!DOCTYPE html>
<html lang="en">

<head>
	<title>Barm8</title>
	<link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<meta charset="UTF-8">
	<meta name="description" content="login">
	<meta name="keywords" content="login">
	<meta name="author" content="login">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="login" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="login" />
	<meta property="og:description" content="login" />
	<meta property="og:image" content="https://barm8.com.au/favicon-16x16.png" />


	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">

	<script type="text/javascript" src="/../assets/js/toastr.min.js"></script>

	<link href="/../assets/css/toastr.min.css" rel="stylesheet">

	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '4384478564975112');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>

	<style>
		#loader {
			width: 50px;
			height: 50px;
			left: 50%;
			position: fixed;
			z-index: 9999;
			background: url("/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
			background-size: 170px 138px;
			top: 50%;
			border-radius: 50%;
			background-color: black !important;
		}

		@media (max-width: 767.98px) {
			.login-box {
				position: relative;
				z-index: 99;
				top: 20px;
			}
		}
	</style>
</head>

<body ng-app="app">
	<div class="loader" data-loader="dashboard">
		<div id="loader"> </div>
	</div>
	<script>
		setTimeout(function () {
			$(".loader").fadeOut('slow', function () {
				$(this).css({ display: 'none' })
			});
		}, 500)

		$('body').bind('keypress', function (event) {
			if (event.keyCode === 13) angular.element(document.getElementById('loginCtl')).scope().login();
		});

		angular
			.module('app', [])
			.controller('loginCtl', function ($scope, $http) {

				toastMsg = (isVaild, msg) => {
					if (isVaild)
						toastr.success(msg);
					else
						toastr.error(msg);
					toastr.options = { "closeButton": true, "progressBar": true, "timeOut": "5000" };
				}

				$scope.login = () => {
					let email = $("#uname").val(),
						password = $("#psw").val();
					if (email && password) {
						$('.loader').css({ display: 'block' });
						$http({
							method: "GET",
							url: `https://www.barm8.com.au/api/Businesses/userLogin?params={"email":"${email}", "password": "${password}"}`
						}).then((res) => {
							if (res && res.data && res.data.data) {
								let { isSuccess, result } = res.data.data;
								if (isSuccess) {
									let isAdmin = (email == 'admin@barm8.com.au' ? true : false);
									let userDetails = {
										"id": result.userId,
										"tokenId": result.id,
										"email": email,
										"businessName": result.business.businessName,
										"loginId": result.userId, isAdmin
									};
									$(".loader").fadeOut('slow', function () {
										$(this).css({ display: 'none' })
									});
									localStorage.removeItem("userSession");
									localStorage.setItem("userSession", JSON.stringify(userDetails));
									var link = document.createElement('a');
									if (isAdmin) link.href = "/admin";
									else link.href = "/dashboard-home";
									document.body.appendChild(link);
									link.click();
								} else {
									toastMsg(false, "Invaild email or password. Please try again!");
									$(".loader").fadeOut('slow', function () {
										$(this).css({ display: 'none' })
									});
								}
							} else {
								toastMsg(false, "Invaild email or password. Please try again!");
								$(".loader").fadeOut('slow', function () {
									$(this).css({ display: 'none' })
								});
							}
						}, (err) => {
							toastMsg(false, "Invaild email or password. Please try again!");
							$(".loader").fadeOut('slow', function () {
								$(this).css({ display: 'none' })
							});
						});
					} else {
						toastMsg(false, "Email and Password is required. Please try again!");
						$(".loader").fadeOut('slow', function () {
							$(this).css({ display: 'none' })
						});
					}
				}
			});
	</script>
	<div class="container-fluid login-outer ng-scope" id="loginCtl" ng-controller="loginCtl">
		<div class="login-box">
			<div class="header-text">
				<div class="logo-section">
					<a href="/"><img src="views/w-site-new/images/logo-l.png"></a>
				</div>
				<div class="form-section text-center">
					<h2>Welcome back!</h2>
					<p class="">Sign in to access and manage your venue’s details on the BarM8 </p>
					<form class="ng-pristine ng-valid" autocomplete="off">

						<div class="cc-form">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email Address" name="uname"
									id="uname" autocomplete="off" required="required">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" name="psw" id="psw"
									required="required" autocomplete="off">
							</div>
							<span class="psw"><a href="/forgot-password">Forgot your password?</a></span>
							<button type="button" ng-click="login()">Login</button>
						</div>


					</form>
				</div>

			</div><!-- End HeaderText -->
		</div><!-- End homeFullScreen -->

	</div>
</body>

</html>