<!DOCTYPE html>
<html lang="en">

<head>
    <title>Partner-Signup</title>
    <link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="description" content="BarM8 Partner-Signup">
    <meta name="keywords" content="BarM8 Partner-Signup">
    <meta name="author" content="BarM8 Partner-Signup">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="BarM8 Partner-Signup" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BarM8 Partner-Signup" />
    <meta property="og:description" content="BarM8 Partner-Signup" />
    <meta property="og:image" content="https://barm8.com.au/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">
    <link rel="stylesheet" href="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.css" />
    <script src="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.js"></script>
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4384478564975112');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>

    <style>
        #loader {
            width: 50px;
            height: 50px;
            left: 50%;
            position: fixed;
            z-index: 9999;
            background: url("https://barm8.com.au/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
            background-size: 170px 138px;
            top: 50%;
            border-radius: 50%;
            background-color: black !important;
        }
    </style>
</head>

<body ng-app="app">

    <script>
        try {
            var p = loadPrompt();
        } catch (e) {

        }

        angular
            .module('app', [])
            .controller('partnerRegisterCtl', function ($scope, $http) {
                $(".loader").css({ display: 'none' })
                toastMsg = (isVaild, msg) => {
                    if (isVaild)
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                    toastr.options = { "closeButton": true, "progressBar": true, "timeOut": "5000" };
                }
                $scope.sendMail = () => {
                    let name, contactNo, countryCode, email, venueName, params = {}, isTrue = true;
                    venueName = $("#VenueName").val();
                    name = $("#yourName").val();
                    countryCode = $("#stdCode").val();
                    email = $("#email").val();
                    contactNo = `${$("#yourPhoneNumber").val()}`;

                    if (!name) { $("#yourNameError").html('Name is requited!'); isTrue = false; }
                    if (!email) { $("#yourEmailNoError").html('Email is requited!'); isTrue = false; }
                    if (!contactNo) { $("#yourMobileNoError").html('Mobile Number is requited!'); isTrue = false; }
                    if (!venueName) { $("#venueError").html('Venue name is requited!'); isTrue = false; }

                    if (isTrue) {
                        $("#submit").html(`<div class="fa-3x"><i class="fas fa-sync fa-spin"></i></div>`).prop('disabled', true);
                        $(".loader").css({ display: 'block' })
                        $http({
                            method: "GET",
                            url: `https://barm8.com.au/api/VenueSignUps/createSignUp?params={"venueName": "${venueName}" , "name" : "${name}" , "type" : "" , "email" : "${email}" , "contactNo": "${contactNo}"}`
                        }).then((res) => {
                            if (res.data && res.data.data && res.data.data.isSuccess) {
                                $("#VenueName,#yourName,#email,#yourPhoneNumber").val(null);
                                p.success('Your request is sent!');
                            } else {
                                p.error(`${res.data.data.message}`);
                            }
                            setTimeout(() => {
                                $(".loader").css({ display: 'none' })
                                $("#submit").html(`SUBMIT`).prop('disabled', false);
                            }, 200);
                        });
                    }
                }
            });


    </script>
    <div class="loader" data-loader="dashboard">
        <div id="loader"> </div>
    </div>
    <section class="section-content-signup" id="sign-up" ng-controller="partnerRegisterCtl">
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="views/w-site-new/images/logo.png" class="img-fluid"></a>
                </div>
                <div class="header-right">
                    <!-- <a href="/login" id="login-btn" class="partners">LOGIN</a> -->
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="left-side-img-5">
                        <!-- <img src="images/desktop-pattern-page/register-screen.png" class="img-fluid lap-img">
                            <img src="images/partner/mobile.png" class="img-fluid mob-img"> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="signup-form">
                        <h4>
                            Sign up to
                            find out more
                        </h4>
                        <div class="sub-header">
                            <span class="par-txt"> We'll get in touch within 1-2 business days</span>
                        </div>
                        <form class="ng-pristine ng-valid">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" id="yourName">
                                <span style="color: red;font-size: medium;" id="yourNameError"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <input type="text" class="form-control" disabled="disabled" id="stdCode" value="+61"
                                        placeholder="+61">
                                </div>
                                <div class="form-group col-9">
                                    <input type="text" required="required" class="form-control"
                                        placeholder="Contact Number" id="yourPhoneNumber">
                                    <span style="color: red;font-size: medium;" id="yourMobileNoError"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="email">
                                <span style="color: red;font-size: medium;" id="yourEmailNoError"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Venue Name" id="VenueName">
                                <span style="color: red;font-size: medium;" id="venueError"></span>
                            </div>
                            <!-- <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address of Company"
                                    id="addressLine1">
                            </div> -->
                            <button type="button" class="btn btn-submit" id="submit"
                                ng-click="sendMail()">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id='footer'>
        <div class='brand'><img src="logo.png"></img></div>
        <h1 class='download-tag'>Download Bar M8 free today</h1>
        <div class='container'>
            <div class='store-wrapper store-wrapper-footer'>
                <a href="https://apps.apple.com/au/app/barm8/id1402470106" target="_blank"><img src='appstore.svg'
                        class='store-button-footer'></img></a>
                <a href="https://play.google.com/store/apps/details?id=com.barm8" target="_blank"><img
                        src='googleplay.svg' class='store-button-footer'></img></a>
            </div>
            <section id="social-footer">
                <ul class="social">
                    <li>
                        <a class="ease-all face-book" target="_blank" title="Facebook"
                            href="https://www.facebook.com/barm8app/"><i class="fa fa-facebook"
                                aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="ease-all instagram" href="https://www.instagram.com/barm8app/" target="_blank"
                            title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </section>
            <div class='disc-link-wrapper'>
                <ul>
                    <li class='disc-link'>
                        <a href='https://barm8.com.au/contact' target='_blank'>Contact</a>
                    </li>
                    <li class='divider'>
                        |
                    </li>
                    <li class='disc-link'>
                        <a href='https://barm8.com.au/terms' target='_blank'>Terms of Service</a>
                    </li>
                    <li class='divider'>
                        |
                    </li>
                    <li class='disc-link'>
                        <a href='https://barm8.com.au/privacy' target='_blank'>Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        .section-content-signup {
            margin-bottom: 0rem;
        }
    </style>
    <script type="text/javascript" src="views/w-site-new/js/bootstrap.min.js"></script>
</body>

</html>