<!DOCTYPE html>
<html lang="en">

<head>
    <title>BarM8</title>
    <link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="description" content="BarM8">
    <meta name="keywords" content="BarM8">
    <meta name="author" content="BarM8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="BarM8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BarM8" />
    <meta property="og:description" content="BarM8" />
    <meta property="og:image" content="https://barm8.com.au/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
    <link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">

    <style>
        #loader {
            width: 50px;
            height: 50px;
            left: 50%;
            position: fixed;
            z-index: 9999;
            background: url("https://barm8.com.au/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
            background-size: 170px 138px;
            top: 50%;
            border-radius: 50%;
            background-color: black !important;
        }
    </style>

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4384478564975112');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>
</head>

<body ng-app="app" ng-controller="partnerRegisterCtl">

    <link rel="stylesheet" href="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.css" />
    <script src="https://www.cssscript.com/demo/alert-popup-prompt/src/prompt.js"></script>
    <script>
        var p = loadPrompt();
        angular
            .module('app', [])
            .controller('partnerRegisterCtl', function ($scope, $http) {
                $(".loader").css({ display: 'none' })
                toastMsg = (isVaild, msg) => {
                    if (isVaild)
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                    toastr.options = { "closeButton": true, "progressBar": true, "timeOut": "5000" };
                }
                $scope.sendMail = () => {
                    let businessName, phone, email, username, name, address, params = {}, password, isTrue = true;
                    businessName = $("#VenueName").val();
                    name = $("#yourName").val();
                    address = $("#addressLine1").val();
                    username = $("#email").val();
                    email = $("#email").val();
                    phone = `${$("#stdCode").val()} ${$("#yourPhoneNumber").val()}`;
                    password = $("#yourPhoneNumber").val();
                    params = { businessName, name, address, username, email, phone, password };
                    if (!name) { $("#yourNameError").html('Name is requited!'); isTrue = false; }
                    // if (!role) { $("#yourRoleError").html('Role is requited!'); isTrue = false; }
                    if (!email) { $("#yourEmailNoError").html('Email is requited!'); isTrue = false; }
                    if (!phone) { $("#yourMobileNoError").html('Mobile Number is requited!'); isTrue = false; }
                    if (isTrue) {
                        $http({
                            method: "GET",
                            url: `https://www.barm8.com.au/api/Businesses/sendToInfoBarm8?params={"businessName": "${businessName}" , "email" : "${email}" , "name" : "${name}" , "address" : "${address}" ,
                           "phone" : "${phone}" }`
                        }).then((res) => {
                            if ((res && res.statusText == "OK") || (res.data.data && res.data.data.isSuccess)) {
                                $("#VenueName,#yourName,#yourRole,#email,#yourPhoneNumber,#addressLine1").val(null);
                                p.success('Your request is sent!')
                            }
                        });
                    }
                }
            });


    </script>
    <div class="loader" data-loader="dashboard">
        <div id="loader"> </div>
    </div>
    <section class="partner_section-banner">
        <div class="banner-container">
            <div class="container">
                <div class="header">
                    <div class="logo">
                        <a href="/"><img src="views/w-site-new/images/logo.png" class="img-fluid"></a>
                    </div>
                    <div class="header-right">
                        <a href="/login" id="login-btn" class="partners">LOGIN</a>
                    </div>
                </div>

                <div class="partner_slider-content">
                    <div class="mob-video">
                        <video poster="https://barm8.com.au/views/partners-web/assets/images/video-preview.png"
                            controls="" __idm_id__="1034087425">
                            <source src="https://barm8.com.au/views/partners-web/assets/images/barm8-partner.mp4"
                                type="video/mp4">
                        </video>
                        <div class="playpause" data-toggle="modal" data-target="#exampleModalCenter">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter"><img
                                    src="https://barm8.com.au/views/partners-web/assets/images/play.png"></a>
                        </div>
                    </div>
                    <h1>Looking for a Marketing
                        Platform that really works?
                        Digital, Targeted, Trackable.</h1>
                    <p>BarM8 delivers your venue to new and existing customers looking for up-to-the minute
                        accurate offerings on Specials, Events, Food, Drinks and Entertainment.</p>
                    <p>BarM8 takes your traditional marketing - A-Frame, Chalk board and Posters into the Digital
                        Age.</p>

                    <div class="partner-btn-groups">
                        <a class="btn btn-partners" href="/partner-signup" id="started-btn-1"> GET IN TOUCH</a>
                        <button class="btn play-video-btn" data-toggle="modal" data-target="#exampleModalCenter">
                            <span><img
                                    src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/play-icon.png"></span>PLAY
                            THE
                            VIDEO</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-head">
                        <h1>What BarM8 can do for your venue</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-container">
                        <div class="service-list">
                            <div class="service-logo">
                                <img
                                    src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/more-cusromers-icon.png">
                            </div>
                            <h4>More customers</h4>
                            <div class="service-content">
                                <p>We showcase your venue to nearby users at
                                    the right time – when they’re already out – driving them right to your door.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-container">
                        <div class="service-list">
                            <div class="service-logo">
                                <img
                                    src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/simplified-icon.png">
                            </div>
                            <h4>Simplified operations</h4>
                            <div class="service-content">
                                <p>Ditch separate systems and
                                    simplify your operations. We
                                    manage your specials, menus,
                                    events and bookings from
                                    our simple, centralised
                                    Dashboard.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-container">
                        <div class="service-list">
                            <div class="service-logo">
                                <img
                                    src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/data-icon.png">
                            </div>
                            <h4>Get data
                                driven insights</h4>
                            <div class="service-content">
                                <p>BarM8 offers unique insights
                                    and reports backed by patron
                                    data, easily access via the
                                    online Dashboard.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="section-image">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-image-content">
                        <h2>Ready to take
                            your venue to
                            the next level?
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-steps">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h4>Get set up on Bar M8 in just 3 simple steps...</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="steps mb-3">
                        <div class="step-img">
                            <img src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/register-icon.png"
                                class="img-fluid">
                        </div>
                        <div class="step-content">
                            <h4>Register</h4>
                            <p>fill in the form below and we’ll be in touch.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="steps mb-3">
                        <div class="step-img">
                            <img src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/efforts-icon.png"
                                class="img-fluid">
                        </div>
                        <div class="step-content">
                            <h4>Effortless set up</h4>
                            <p>your dedicated account manager will set everything up
                                for you and can turn things around in less than
                                a day.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="steps mb-3">
                        <div class="step-img">
                            <img src="https://barm8.com.au/views/w-site-new/images/desktop-pattern-page/ongoing-admin-icon.png"
                                class="img-fluid">
                        </div>
                        <div class="step-content">
                            <h4>No ongoing admin</h4>
                            <p>payments to Bar M8 can be via direct debit and we help with content changes so
                                there's zero-hassle for you and your staff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section-content-signup" id="sign-up" ng-controller="partnerRegisterCtl">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="left-side-img-5">
                        <img src="images/desktop-pattern-page/register-screen.png" class="img-fluid lap-img">
                        <img src="images/partner/mobile.png" class="img-fluid mob-img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="signup-form">
                        <h4>
                            Sign up to
                            find out more
                        </h4>
                        <form class="ng-pristine ng-valid">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" id="yourName">
                                <span style="color: red;font-size: medium;" id="yourNameError"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company Name" id="VenueName">
                                <span style="color: red;font-size: medium;" id="venueError"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address of Company"
                                    id="addressLine1">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <input type="text" class="form-control" disabled="disabled" id="stdCode" value="+61"
                                        placeholder="+61">
                                </div>
                                <div class="form-group col-9">
                                    <input type="text" required="required" class="form-control"
                                        placeholder="Contact Number" id="yourPhoneNumber">
                                    <span style="color: red;font-size: medium;" id="yourMobileNoError"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="email">
                                <span style="color: red;font-size: medium;" id="yourEmailNoError"></span>
                            </div>
                            <button type="button" class="btn btn-submit" ng-click="sendMail()">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section> -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <div class="col-md-4 col-xs-12 col-sm-12 m-b">
                        <div class="footer-logo">
                            <a><img src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
                                    class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li m-b">
                        <ul class="p-0">
                            <li><a href="https://www.facebook.com/barm8app/" target="_blank" title="Facebook"><img
                                        src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
                                        class="icons"></a></li>
                            <li><a href="https://www.instagram.com/barm8app/" target="_blank" title="Instagram"><img
                                        src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
                                        class="icons"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 m-b">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/privacy">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <section class="copyright-section">
        <div class="copyright-text">
            <p>© Barm8 2020</p>
        </div>
    </section>

    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <video id="video1" poster="https://barm8.com.au/views/partners-web/assets/images/video-preview.png"
                        controls>
                        <source src="https://barm8.com.au/views/partners-web/assets/images/barm8-partner.mp4"
                            type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <style>
        @media (min-width: 992px) {

            .modal-lg,
            .modal-xl {
                max-width: 960px;
            }
        }

        video {
            width: 100%;
            height: auto;
        }
    </style>
    <!-- <script type="text/javascript" src="views/w-site-new/js/jquery-3.3.1.min.js"></script> -->
    <script type="text/javascript" src="views/w-site-new/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            let width = $("body").width();
            if (width <= 500) {
                $("#login-btn").text('Get Started');
                $("#login-btn").attr('href', '#sign-up');
            }

            $('#exampleModalCenter').on('shown.bs.modal', function () {
                $('#video1')[0].play();
            })
            $('#exampleModalCenter').on('hidden.bs.modal', function () {
                $('#video1')[0].pause();
            })

            $(".mob-video").on('click', function () {
                $("#exampleModalCenter").modal('show')
            })

            $(this).click(function (event) {
                if ($("body").width() <= 700 && $(event.target).attr('class') == 'partner_slider-content') {
                    $("#exampleModalCenter").modal('show')
                }
            });

            $('.play-video-btn').on('click', function () {
                $("#exampleModalCenter").modal('show')
            })
            $(".btn-partners").on('click', function () {
                $("#exampleModalCenter").modal('hide')
            })
        })
    </script>

</body>

</html>