<!DOCTYPE html>
<html lang="en">

<head>
	<title>BarM8 Privacy</title>
	<link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="description" content="BarM8 Privacy">
	<meta name="keywords" content="BarM8 Privacy">
	<meta name="author" content="BarM8 Privacy">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="BarM8 privacy" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="BarM8 privacy" />
	<meta property="og:description" content="BarM8 privacy" />
	<meta property="og:image" content="BarM8 privacy" />


	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '4384478564975112');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>
</head>

<body>
	<section class="top-sec-contact">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="/"><img src="views/w-site-new/images/logo.png" class="img-fluid"></a>
				</div>
			</div>
		</div>
	</section>

	<section class="terms-detail">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Privacy Policy</h3>
					<h4>1. Background</h4>
					<p>When you use BarM8’s website, the BarM8 mobile application (“the App”), you are trusting BarM8
						Pty Limited (“BarM8,” “we,” “us” or “our”) with your information. In this Privacy Policy,
						“Users” means you and other users of the App.</p>
					<p>By accessing, signing into and/or registering to use the App and by providing your personal
						information, you confirm that you consent to the collection, use, storage and disclosure of your
						personal information by us in accordance with this Privacy Policy. The terms of this Privacy
						Policy apply to you and all other Users, and they should be read together with our End User
						License Agreement (EULA) (which apply to you and all users of the App to the extent that the App
						is downloaded through the Apple App Store).</p>
					<p>Our Privacy Policy does not apply to services offered by, and information practices of, other
						companies or individuals that may be displayed to you when you use the App (such as advertisers)
						or other sites linked from the App, including in relation to the use of cookies and other
						technologies. We encourage you to read the privacy statements of each and every external
						application, website and or service that collects personal information from or about you.</p>
					<p>We reserve the right to change, add or remove any portion of this Privacy Policy at any time by
						updating this page. You are responsible for periodically visiting this page to review any
						changes to this Privacy Policy since your last visit. You can easily tell whether there have
						been any changes since your last visit by viewing the “Last Modified” date at the top of the
						Privacy Policy, so please visit this page frequently. Your use of the App following the posting
						of any changes to this Privacy Policy constitutes your express acceptance of, and consent to,
						its terms.</p>
					<h4>2. The information we collect, how we collect and hold it</h4>
					<p>We collect the following information about you:</p>
					<ul>
						<li>Registration: Information provided when you create an account with us or otherwise subscribe
							to the App or join our mailing list, which may include your name, gender, email address(es),
							telephone number(s), driver’s license or other government issued means of identification,
							age, text messaging information and other contact information associated with electronic or
							digital messaging methods or vehicles and payment information;</li>
						<li>Use of the App: Information you provide through your use of the App, including ratings,
							Venues (as defined in our terms of use), interaction with third party apps, communications
							with us, as well as your preferential and behavioural information. This also includes
							information received when you: (a) place a request at a Venue via the App, which may
							include, but is not limited to, ordering and purchasing products supplied by the Venue,
							participating or indicating an interest in participating in events hosted by the Venue,
							claiming, redeeming or otherwise participating in deals, offers or other specials issued by
							the Venue or by BarM8 for redemption at a Venue; (b) complete a transaction with us; or (c)
							participate in any rewards program or competitions we offer;</li>
						<li>Communicating with us: Information you provide us when you contact us for support or with
							questions, or when you seek to apply for a job with us or seek to become a service provider
							or seek us to provide you services;</li>
						<li>Third parties: Information obtained (a) when you visit one of our partners’ websites as part
							of the App we provide; (b) when you provide information via social media pages; (c) when you
							contact our partners, suppliers or associates; (d) from information service providers,
							public sources, credit reporting agencies or anyone authorised to act on your behalf;</li>
						<li>Device Information: Device-specific information (including, for example, your hardware
							model, operating system version, unique device identifiers, mobile network information, and
							phone number), which associate with your account;</li>
						<li>Log Information: Information in log files, including, for example: (a) details about how you
							use the App, including passwords, logins, individual device identifiers, geo-location
							statistics, check-ins, page views, time of use of the App, uploads and other information
							about how you interact with the App; (b) internet protocol addresses; (c) device event
							information like crashes, system activity, hardware settings, browser type, browser language
							and the date and time of various actions you have taken; (d) telephony log information like
							your phone number, calling-party number, forwarding numbers, time and date of calls,
							duration of calls, SMS routing information and types of calls; and (e) cookies that may
							uniquely identify your browser or your account;</li>
						<li>Location information: Information about your actual location. We use various technologies to
							determine location, including IP address, GPS, and other sensors that may, for example,
							provide us with information about nearby devices like Wi-Fi access points and cell towers;
						</li>
						<li>Cookies and similar technologies: A cookie is a tiny data file that resides on your device
							that allows us to recognise you when you use the App using the same device without you
							needing to login to your account.
							Not all of the information that we collect from you is personally identifiable, but we may
							associate it with personally identifiable information that we have collected.
							We collect personal information in various ways, including in person; over the telephone
							(which may include by way of monitoring and recording telephone calls); through the App;
							through our websites; on hard copy forms; through written communications including letters,
							facsimiles and emails; from third parties, including publicly available sources, information
							service providers, credit reporting agencies or anyone authorised to act on your behalf,
							agents, employees, subcontractors, suppliers and services providers, our partners and
							related entities.
						</li>
					</ul>
					<h4>3. Uses of Information</h4>
					<p>We use your personal information to provide, maintain, protect, and improve the App, to develop
						new services, and to protect us and our users. This including using the information to:</p>
					<ul>
						<li>allow you to use the functions of the App;</li>
						<li>provide you with receipts and notifications relating to the use of the App;</li>
						<li>administer the App;</li>
						<li>respond to specific requests from you;</li>
						<li>understand your use of the App and make improvements to the App and other existing and
							future products and services;</li>
						<li>create a unique, personalised experience for you in connection with various Venues, their
							related sponsors and partners, and related retail locations;</li>
						<li>provide tailored information and features regarding your use of the App, including tailored
							information based on your location in and around various Venues, our related sponsors and
							partners, and related retail locations and transactions;</li>
						<li>protect the security or integrity of the App;</li>
						<li>prevent unauthorised use or disclosure of content that has been downloaded or otherwise
							accessed via the App;</li>
						<li>give notice of special promotions, Venues (as defined in our terms of used), their related
							sponsors and partners, or related retail locations;</li>
						<li>promote and market BarM8, Venues and BarM8’s related sponsors and partners and their various
							products and services and to assist in the business planning, marketing, advertising and
							sales efforts of the foregoing parties; and</li>
						<li>send you promotional information, products and services offered by third parties that we
							feel may be of interest to you, including information about new developments, events,
							features and enhancements, special offers, upgrade opportunities, surveys, contests, news
							and general offers.</li>
					</ul>
					<p>We may also allow other companies, called ad networks, to serve advertisements to you via the
						App. Ad networks include third party ad servers, ad agencies, ad technology vendors and research
						firms. We may target some ads to Users that fit a certain general profile. To deliver these ads
						properly, the App may include features that allow monitoring technologies so that the ad
						networks are able to provide anonymous, aggregated auditing, research and reporting for
						advertisers as well as to target ads to you. Ad networks may use non-personal information, such
						as your postcode, past buying behaviour, in order to provide advertisements about goods and
						services that may be of particular interest to you while you use the App.</p>

					<h4>4. Information we share</h4>
					<p>We do not share personal information with companies, organisations and unless one of the
						following circumstances applies:</p>
					<ul>
						<li>To facilitate a transaction: We share personal information when appropriate to facilitate
							your transactions with us or our third-party partners or to perform various functions under
							the App, such as the processing of credit card payments by our gateway provider;</li>
						<li>To facilitate participation in an Event, Booking, Deal, and/or Offer: We share your name,
							mobile phone number with Venues who are responsible for fulfilling your requests made via
							the App;</li>
						<li>For an enhanced experience: We may provide your personal information to Venues to allow them
							to create an enhanced, enjoyable, unique or personalised experience for you when you dine
							with them and to allow them to promote and market themselves to you;</li>
						<li>For legal reasons: We will share personal information with companies, organisations or
							individuals if we have a good-faith belief that access, use, preservation or disclosure of
							the information is reasonably necessary to:</li>
						<li>meet any applicable law, regulation, legal process or enforceable governmental request;</li>
						<li>enforce applicable EULA, including investigation of potential violations;</li>
						<li>detect, prevent, or otherwise address fraud, security or technical issues;</li>
						<li>protect against harm to the rights, property or safety of BarM8, our users or the public as
							required or permitted by law;</li>
						<li>With your consent: We will share personal information with companies, organisations or
							individuals outside of the BarM8 group when we have your consent to do so;</li>
						<li>For a potential sale, merger, or acquisition: We may share personal information with the
							other parties involved in a potential sale, merger, acquisition, or similar event relating
							to BarM8 or the App, only where necessary, and we will notify affected users by email before
							personal information becomes subject to a different privacy policy.
							We may share non-personally identifiable information publicly and with our partners and
							potential partners – like investors, publishers, advertisers or connected sites. For
							example, we may share information publicly to show trends about the general use of the App.
						</li>
					</ul>

					<h4>5. Accessing, Correcting, Updating and Removing Your Personal Information</h4>
					<p>If you wish to access the personal information that we hold about you, if your personal
						information changes, or if you no longer wish to receive non-account specific information from
						us, you can access, correct, update and/or ask us to remove personal information about you that
						we have collected by emailing your request to us at <a
							href="mailto:barm8.com.au">info@barm8.com.au</a> or by using the functionality contained in
						the App (if any). When updating your personal information, we may ask you to verify your
						identity before we act on your request. We may reject requests that are unreasonably repetitive,
						require disproportionate technical effort (for example, developing a new system or fundamentally
						changing an existing practice), risk the privacy of others, or would be extremely impractical
						(for instance, requests concerning information residing on backup systems). Where we can provide
						information access and correction, we will do so for free, except where it would require a
						disproportionate effort. We seek to protect information from accidental or malicious
						destruction. Because of this, after you delete information from the App, we may not immediately
						delete residual copies from our active servers and may not remove information from our backup
						systems.</p>

					<h4>6. Disclosure of Personal Information and Your Opt-Out Rights</h4>
					<p>You can choose whether or not to disclose certain personal information when we ask you to do so,
						but some functions of the App may be more difficult or impossible to use if you choose not to
						disclose certain personal information, and your experience in using the App will not be as
						personally tailored.</p>
					<p>To opt out of further direct marking from us, please contact us at [email]. To opt out of further
						communications from a marketing partner or sponsor with whom your information has already been
						shared, please contact that partner directly. Please note that your personal information may
						still be disclosed to third parties to the extent that you provide it to third parties using the
						App (e.g. by posting it using functionality in the App).</p>

					<h4>7. Protection of Personal Information</h4>
					<p>We place great importance on protecting us and our users from unauthorised access to, or the
						unauthorised alteration, disclosure or destruction of, the information we collect. We review our
						information collection, storage and processing practices, including physical security measures,
						to guard against unauthorised access to systems. Information about Users that is maintained on
						our systems (or the systems of those who provide service to us or on our behalf) is protected
						using industry standard security measures. However, no security measures are perfect or
						impenetrable, and we cannot guarantee that your personal information will be completely secure.
						We are not responsible for the circumvention of any privacy settings or security measures of the
						App by any Users or third parties. As such, we recommend that you use caution whenever
						submitting personal information online whether to us or to anyone else.</p>

					<h4>8. Personal Information Outside Australia</h4>
					<p>If you are using the App from any location outside of Australia, the personal information we
						collect will be transferred to — and used, stored and otherwise processed in — Australia, which
						is where we are based. We are unlikely to disclose your personal information to recipients
						outside of Australia.</p>

					<h4>9. Questions, complaints and contacting us</h4>
					<p>If you have any questions about this Privacy Policy or the use of your personal information, or
						if you wish to complain about a breach of the Australian Privacy Principles contained in the
						Privacy Act 1988, please contact us at the by sending an email to <a
							href="mailto:info@barm8.com.au">info@barm8.com.au</a> or by writing to the following
						address:</p>
					<p>BarM8</p>
					<p>ATTENTION: Privacy Policy query</p>
					<p>P. O. Box 440, Winston Hills, NSW 2153, Australia</p>
					<p>We will endeavour in the first instance to deal with your complaint and take action to resolve
						the matter. If your complaint cannot be resolved at the first instance, we will ask you to lodge
						a formal complaint in writing, explaining the issues of your complaint, how you believe your
						privacy has been interfered with and how you believe your complaint should be resolved.</p>
					<p>Upon receipt of a formal complaint, we will acknowledge receipt and indicate the timeframe that
						you can expect a response. We will endeavour to resolve the complaint as quickly as possible,
						but if the matter is complex and our investigation may take longer, we will let you know when we
						expect to provide our response.
						If you are unhappy with our response, you may refer your complaint to the Office of the
						Australian Information Commissioner or other appropriate body.
					</p>
				</div>
			</div>
		</div>
	</section>
	<div id='footer'>
		<div class='brand'><img src="logo.png"></img></div>
		<h1 class='download-tag'>Download Bar M8 free today</h1>
		<div class='container'>
			<div class='store-wrapper store-wrapper-footer'>
				<a href="https://apps.apple.com/au/app/barm8/id1402470106" target="_blank"><img src='appstore.svg'
						class='store-button-footer'></img></a>
				<a href="https://play.google.com/store/apps/details?id=com.barm8" target="_blank"><img
						src='googleplay.svg' class='store-button-footer'></img></a>
			</div>
			<br />
			<section id="social-footer">
				<ul class="social">
					<li>
						<a class="ease-all face-book" target="_blank" title="Facebook"
							href="https://www.facebook.com/barm8app/"><i class="fa fa-facebook"
								aria-hidden="true"></i></a>
					</li>
					<li>
						<a class="ease-all instagram" href="https://www.instagram.com/barm8app/" target="_blank"
							title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</li>
				</ul>
			</section>
			<div class='disc-link-wrapper'>
				<ul>
					<li class='disc-link'>
						<a href='https://barm8.com.au/contact' target='_blank'>Contact</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/terms' target='_blank'>Terms of Service</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/privacy' target='_blank'>Privacy Policy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-content">
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-logo">
							<a><img src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
									class="img-fluid"></a>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li m-b">
						<ul class="p-0">
							<li><a title="Facebook"><img src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
										class="icons"></a></li>
							<li><a title="Instagram"><img
										src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
										class="icons"></a></li>
						</ul>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-menu">
							<ul>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/terms">Terms</a></li>
								<li><a href="/privacy">Privacy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<section class="copyright-section">
		<div class="copyright-text">
			<p>© Barm8 2020</p>
		</div>
	</section> -->


	<script type="text/javascript" src="views/w-site-new/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="views/w-site-new/js/bootstrap.min.js"></script>

</body>

</html>