<!DOCTYPE html>
<html lang="en">

<head>
	<title>BarM8 Terms</title>
	<link rel="shortcut icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<link rel="icon" href="https://barm8.com.au/favicon-16x16.png" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="description" content="BarM8 Terms">
	<meta name="keywords" content="BarM8 terms">
	<meta name="author" content="BarM8 terms">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="BarM8 terms" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="BarM8 terms" />
	<meta property="og:description" content="BarM8 terms" />
	<meta property="og:image" content="BarM8 terms" />


	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/main.css">
	<link rel="stylesheet" type="text/css" href="views/w-site-new/css/responsive.css">
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '4384478564975112');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=4384478564975112&ev=PageView&noscript=1" /></noscript>
</head>

<body>
	<section class="top-sec-contact">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="/"><img src="views/w-site-new/images/logo.png" class="img-fluid" /></a>
				</div>
			</div>
		</div>
	</section>

	<section class="terms-detail">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Terms and Conditions</h3>
					<h4>1. Introduction</h4>
					<h5>1.1 BarM8 definition</h5>
					<p>The BarM8 mobile application (“App”), dashboard (“Dashboard”) and websites (“Websites”) are owned
						and operated by BarM8 Australia Pty Ltd (ACN: 619 996 459), (“BarM8”, “we”, “us”). These BarM8
						Application Terms of Use (“Terms”) are here to ensure you understand your rights and obligations
						when you access, navigate or otherwise use our mobile application and its services as described
						and defined in Section 1.3. Please read these Terms carefully before using the App.</p>
					<h5>1.2 User definition</h5>
					<p>Any reference in these Terms to “you”, “your”, “Customer” or “User” means any person accessing,
						viewing or using the App and/or Services.</p>
					<h5>1.3 Key Terms</h5>
					<p>Without limiting the other terms set out in these Terms, you warrant that:</p>
					<ul>
						<li>Your use of the App is subject to these Terms. If you do not agree with these Terms, please
							do not use the App;</li>
						<li>You are at least 18 years of age;</li>
						<li>You are eligible to register and maintain a personal account (Account) and will provide and
							maintain at least one acceptable payment method (Payment Method).</li>
						<li>You are solely responsible for the activity that occurs on your Account;</li>
						<li>You are the sole person responsible for the mobile device and mobile phone number registered
							to your Account or have the express permission of the mobile device owner;</li>
						<li>You consent to the collection of information required to establish your Account, your mobile
							device’s geo-location whilst using the App and your behaviour on the App, by BarM8 or its
							third party vendors;</li>
						<li>You consent to receiving emails, texts and App notifications from BarM8 as part of the App’s
							functionality, including receipts, codes, and notices of change to these Terms and BarM8’s
							Privacy Policy.</li>
					</ul>
					<h5>1.4 Services</h5>
					<p>BarM8 provides Users with an App to discover and interact with third party bars or venues (Venue,
						Venues). By using the App, You may view Venue offers (Offers), claim and redeem BarM8 exclusive
						deals (Deals), sign up for, and/or purchase tickets (Tickets) to events hosted at a Venue
						(Events), order and pay for food and/or beverage products (Products) from the Venue, and/or make
						table reservations, with or without an associated order of Products placed ahead of time
						(Bookings) at these Venues, hereafter collectively referred to as (Services).</p>

					<h4>2. Acceptance of Terms</h4>
					<h5>2.1 Agreement to terms of use</h5>
					<p>By installing, registering or using the App, its Services or otherwise dealing with BarM8, you
						agree to be bound by these Terms and the BarM8 Privacy Policy located at: <a
							href="https://barm8.com.au/privacy">https://barm8.com.au/privacy.</a></p>
					<h5>2.2 Changes to terms and agreement</h5>
					<p>BarM8 may amend or modify the App (including changing, deleting, discontinuing or imposing
						conditions on any of its functionality or features), these Terms, or any BarM8 policy at any
						time at its sole discretion. By continuing to use the App and/or Services, you will be deemed to
						have accepted any revised terms from the date that they are published at: <a
							href="https://barm8.com.au/terms">https://barm8.com.au/terms.</a> You should regularly
						review these terms and conditions. You will be able to discontinue and/or refrain from use of
						BarM8 following such amendment or modification if You choose to do so. If You do not choose to
						do so and continue to use BarM8, the amendments or modifications will apply to You.</p>
					<h5>2.3 Supplementary terms</h5>
					<p>The disclaimers, terms and conditions herein described may be supplemented by additional
						policies, procedures, disclaimers, guidelines, rules, terms or conditions of specific
						application disclosed by BarM8 (Supplementary Terms). To the extent there is an inconsistency
						between these Terms and any Supplementary Terms, the Supplementary Terms shall prevail. IN the
						event of a conflict in the terms of the Licensed Application End User License Agreement (as
						accepted when downloading the App from the Apple App Store or Google Play Store) and these
						Terms, this Term shall prevail.</p>
					<h5>2.4 Legal recourse</h5>
					<p>BarM8 reserves the rights to investigate and take appropriate legal action for any illegal and/or
						unauthorized use of the App, Services or breach of these Terms.</p>


					<h4>3. Using our App and Services</h4>
					<h5>3.1 Nature of licence</h5>
					<p>Subject to your acceptance of these Terms, BarM8 hereby grants You a limited, non-exclusive,
						non-assignable, non-transferrable, worldwide, royalty-free licence to install and use one copy
						of the App solely for your own personal, non-commercial purposes. All rights not otherwise
						expressly granted by these Terms are reserved by BarM8.</p>
					<h5>3.2 Agreement not to modify or misuse the App</h5>
					<p>You agree that you will not copy, reverse engineer, disassemble, decompile, translate, modify,
						reproduce, republish, transmit, sell, offer for sale, disseminate or redistribute the
						intellectual property found in the App, Dashboard or Websites, or grant any other person or
						entity the right or access to do so.</p>
					<h5>3.3 BarM8’s right to alter, discontinue or delete functionality</h5>
					<p>BarM8 reserves the right to discontinue, alter, or delete any aspect of the App or its
						functionality, restrict the time the App is available or restrict the amount of use permitted at
						BarM8’s sole discretion.</p>
					<h5>3.4 Account registration</h5>
					<p>In order to use our App and Services, You must register and provide certain information such as
						your name, email address, mobile telephone number, date of birth, gender and postcode (Customer
						Information), as and when requested, to BarM8 or its third party contractors via the App. To
						obtain an account you must be over the age of 18 and not have been previously barred from
						receiving the App or an Account. Registering an account requires you to submit to BarM8 </p>
					<p>You agree to maintain accurate, complete and up-to-date Customer Information in your Account.
						Your failure to maintain accurate, complete and up-to-date information, including having an
						invalid or expired payment method on file, may result in your inability to access or use the
						App.</p>
					<p>You acknowledge and agree that You are responsible for any and all activity that occurs through
						your Account and you agree will not sell, transfer, license, or assign your Account. You agree
						that you will not create an account for anyone other than yourself.</p>
					<h5>3.5 Content of the App</h5>
					<p>All Services advertised, promoted, operated, offered, sold and/or supplied via the App are done
						so by Venues.</p>
					<p>BarM8 is not the provider, operator or supplier of any Offers, Deals, Events, Products and
						Bookings that you may view, purchase, or participate in as a result of using the App. BarM8 is
						designed to facilitate your learning of and interaction with Venues, and/or participation in,
						redemption of and/or purchase of their Offers, Deals, Events, Products and Bookings.</p>
					<p>Representations of Offers, Deals, Events, Products and Bookings are based on information and
						material provided to BarM8 by the respective Venue.</p>
					<h5>3.6 Collection of data and nature of use</h5>
					<p>You acknowledge and agree that information collected as a requirement to use the App could
						personally identify you and that BarM8 may collect locational data via the geo-location
						functionality of your mobile device. You acknowledge and agree that all information collected
						will be dealt with in accordance with our Privacy Policy.</p>
					<h5>3.7 Electronic communications</h5>
					<p>You acknowledge and agree that BarM8 may send electronic messages to your mobile phone number or
						email address. You agree that by using the Services, you consent to BarM8 sending you electronic
						messages. We will only send you messages relating to Events you have signed up for, Products you
						have ordered, Bookings you have made or to verify your ownership of the registered mobile device
						and/or mobile phone number associated with your BarM8 account. If you opt in, we may send you
						direct marketing communications and information about services that we consider may be of
						interest to you. You may opt out of receiving direct marketing communications and information at
						any time.</p>
					<h5>3.8 Complete payment</h5>
					<p>You agree that you will pay in full for all transactions entered in to through the App, in
						accordance with Section 4.</p>
					<h5>3.9 RSA - Personal compliance</h5>
					<p>If you use the App to purchase, or seek to purchase, Products that are alcoholic beverages,
						contain alcohol or by law require you to be over the age of 18 years for consumption from any
						Venue, You acknowledge and agree that:</p>
					<p>&nbsp (a) You are over the age of 18 years;</p>
					<p>&nbsp (b) BarM8 Pty Ltd. supports the responsible service and consumption of alcohol;</p>
					<p>&nbsp (c) The service, sale or supply of any alcoholic Product to You by a Venue is subject to
						applicable laws and applicable standards and guidelines issued by regulatory authorities with
						relevant jurisdiction, including responsible service of alcohol and liquor harm minimisation.
					</p>
					<h5>3.10 RSA - Venue liability</h5>
					<p>You agree that it is the responsibility of the Venue to comply with all laws in relation to the
						service of alcohol including responsible service of alcohol, ensuring the Venue holds a valid
						alcohol licence, and ensuring that the Customer is over the age of 18 years before serving You
						alcohol.</p>
					<h5>3.11 Product availability</h5>
					<p>You acknowledge that BarM8 does not guarantee that Products listed on the App will be stocked,
						available for delivery or for pick-up within a certain time frame or that the Products are of a
						certain quality.</p>
					<h5>3.12 Informational accuracy</h5>
					<p>You acknowledge that BarM8 does not guarantee that any of the information displayed on the App
						including all information, photos, ingredients, explanations of any Venue’s Offers, Deals,
						Events, Products, Bookings or of the Venue itself, are accurate and BarM8 is not liable for any
						errors in representation. </p>
					<p>BarM8 is not the provider, operator or supplier of any Offers, Deals, Events, Products or
						Bookings that you may view, participate in, or purchase as a result of using the App. BarM8 is
						designed to facilitate your learning of, interaction with, and purchase of a Venue or their
						Offers, Events, Bookings and Products.</p>
					<p>Representations of Venues, their Offers, Events, Products and Booking availabilities are based on
						information and material provided to BarM8 by the respective Venue.</p>
					<h5>3.13 Customer and Venue interaction</h5>
					<p>You acknowledge that BarM8 acts only as an intermediary between the Customer and the Venue, and
						that the Venue is the sole provider, operator and/or supplier of any Offers, Deals, Events and
						Products displayed on the App. You acknowledge that any dispute arising in connection with the
						provision, operation and/or supply of Offers, Deals, Events and Products is, for the purposes of
						these Terms, between you and the Venue, to the exclusion of BarM8. BarM8 is not liable in
						connection with any Offers, Deals, Events and Products provided, operated and/or supplied by a
						Venue. This includes, but is not limited to, any liability in relation to the quality of the
						food, beverages or service provided by the Venue; any allergic reaction or illness you suffer as
						a result of consuming the food or beverage provided by the Venue; any failure of the Venue to
						meet your dietary requirements; or any injury you sustain at the Venue.</p>
					<h5>3.14 Bookings policy</h5>
					<p>By using the App and/or Services, a Customer may request a Booking at one of the times displayed
						by a Venue on the App. We do not however guarantee and are not responsible for the performance
						of said Booking, the service provided at the Venue and/or any promotions related to a Booking,
						which are the sole responsibility and are to be provided and/or otherwise performed by the
						Venue. We are therefore not responsible for the service, eligibility, or termination of your
						reservation with the Venue. In the event of any doubt regarding a Booking, You and the Venue
						will default to the Venue’s own reservation or booking policy.
						Venues reserve the right to vacate Your table after a reasonable amount of time has passed. This
						remains at the sole discretion of the Venue</p>

					<h4>4. Order and Payment terms</h4>
					<h5>4.1 Payment via the app</h5>
					<p>You agree that all purchases made via the App will be paid for in accordance with these Terms.
					</p>
					<h5>4.2 Collection of payment on behalf of the Venue</h5>
					<p>BarM8 warrants that it has the right to collect payments for Products and Tickets that you order
						using our App and/or Services on behalf of participating Venues as its limited payment
						collection agent. When you pay the purchase price using our App and/or Services, you discharge
						your obligations to pay the Venue directly for any Products and Tickets you order.</p>
					<h5>4.3 Inclusion of taxes</h5>
					<p>You acknowledge and agree that all purchase prices specified, and payments collected, will be
						inclusive of all applicable taxes where required by law.</p>
					<h5>4.4 Acknowledgement of differences in prices</h5>
					<p>You acknowledge that the prices of Products and Tickets may vary from time to time, and may
						differ from the prices of the same items sold by the Venue by any method other than through the
						App.</p>
					<h5>4.5 Credit card surcharges for use of the App</h5>
					<p>You agree that you will pay in addition to the purchase price of Products and Tickets, an
						additional credit card surcharge, that will depend on the credit card selected in your chosen
						Payment Method.</p>
					<h5>4.6 Use of third-party payment providers</h5>
					<p>You acknowledge that BarM8 use third party payment providers including but not limited to Stripe,
						Tyro, Braintree, Square, Paypal, Hyperwallet, Apple Pay and Google Pay (Payment Providers). You
						agree that you will pay in addition to the purchase price of Products and Tickets, any
						additional fees charged by the Payment Providers. Details of your Payment Method are sent to the
						Payment Provider in a secure and encrypted format and will not be viewed, stored or collected by
						BarM8 or any party other than the Payment Provider</p>
					<h5>4.7 Indemnification against errors on behalf of Credit Card Issuer and Payment Provider</h5>
					<p>The processing of payments or credit cards are subject to the terms, conditions and privacy
						policies of your credit card issuer, and the Payment Providers in addition to these Terms. The
						terms and conditions and privacy policies for the Payment Providers can be accessed at their
						websites. You should review the Payment Provider’s terms of service and privacy policy upon
						registration of your Account on the App. BarM8 is not responsible for any errors by the Payment
						Provider or credit card issuer.</p>
					<h5>4.8 Indemnification against misuse of payment methods</h5>
					<p>You warrant that you are the authorised user of any Payment Method that you use in connection
						with the App and/or Services and you acknowledge that BarM8 is not liable for any unauthorised
						use of any Payment Method.</p>
					<h5>4.9 Order placement, handling and cancellations </h5>
					<p>You acknowledge that BarM8 will not place your order with the Venue until you have made full
						payment for the Products and/or Tickets through our App. You agree that if you submit an order,
						BarM8 delivers your order to the Venue once your payment has been authorised.</p>
					<p>You must pay for all Products that you order on the App, even if you leave the Venue prior to
						receiving the ordered Products or if the ordered Products do not arrive.</p>
					<p>Subject to Australian Consumer Law and the Venue’s refund policy, you are not entitled to change
						or cancel your order once it has been placed and you will not be entitled to a refund.</p>
					<h5>4.10 Order rejection</h5>
					<p>You agree that Venues have the sole discretion to reject or refuse your order at any time. If
						your order is rejected or cancelled by the Venue, you will receive a refund in accordance with
						the Venue’s refund policy</p>
					<h5>4.11 Responsibility for order details and indemnification against erroneous orders</h5>
					<p>You agree that is your responsibility to ensure that all orders for Products and Tickets through
						the App are correct and that you pay the correct amount at the time of payment. Once payment has
						been confirmed and your order received by the Venue, BarM8 will not be responsible and has no
						involvement in any disputes regarding any incorrect final purchase amounts accepted by the Venue
						or made by you. If you have any issue or complaint regarding the provision of goods or services
						by the Venue, you must deal directly with the Venue. A refund may be payable in accordance with
						the Venue’s refund policy.</p>

					<h4>5. Deals</h4>
					<h5>5.1 Nature of Deals; subject to T&C’s of the venue and these conditions</h5>
					<p>BarM8 may from time to time extend Deals on behalf of its partners, which may include, but not
						limited to, free items, discounts, bonus items or other incentives through the App. We agree to
						allow you to redeem these Deals subject to any terms and conditions imposed by the Venue and the
						following conditions:</p>
					<p>&nbsp (a) Deals must be redeemed as displayed, cannot be refunded for cash, cannot be redeemed in
						conjunction with any other promotions, deals or incentives offered by the Venue, can only be
						redeemed once and must be used before the expiry time and date;</p>
					<p>&nbsp (b) Deals advertised on the app are exclusively available through the App; </p>
					<p>&nbsp (c) BarM8 and the Venue reserves the right to cancel, withhold use, suspend or modify the
						terms of a Deal and any discount or benefit associated with it at any time and without notice;
					</p>
					<p>&nbsp (d) Deals may be limited in number and may be limited to certain times as specified on the
						App. Please note that not all Deals are shown to all customers at all times and may vary
						customer to customer. Confirmation of the Deal being claimed will be displayed on the App;</p>
					<p>&nbsp (e) Some Deals may require an accompanying purchase to be made in order to access or
						validate the Deal;</p>
					<p>&nbsp (f) Deals are issued on a ‘first claimed’ basis, and once the number of Deals on offer by a
						Venue have been claimed, no further Deals will be available on the App. </p>
					<h4>6. Content and access</h4>
					<h5>6.1 Express permission to use BarM8 property</h5>
					<p>Unless otherwise specifically noted in these Terms or on or in the App, images, trademarks,
						service marks, logos and icons displayed on the App are the property of BarM8, and/or its
						licensors and may not be used without BarM8’s prior written consent. Any unauthorised use of any
						photos, videos, text, links and/other information (Content) on the App, whether owned by BarM8
						or other parties, may violate copyright laws, trademarks laws, privacy and publicity laws and
						communications regulations and statutes.</p>
					<h5>6.2 Errors in information</h5>
					<p>You acknowledge and accept that the App content may include incorrect information, technical
						inaccuracies and typographical errors. You acknowledge and accept that the App and Services,
						will from time to time, change without notice to you and that the content of the App may not
						necessarily be accurate or up to date at the time you view it. You acknowledge that BarM8 bears
						no responsibility for the accuracy of information presented on the App and relinquish BarM8 from
						all liability pertaining to injuries or losses arising from such inaccuracies.</p>
					<h5>6.3 Responsibility to verify information</h5>
					<p>You are responsible for contacting us directly to ensure that any material or information on the
						App that you seek to rely on is accurate and current. BarM8 disclaims all liability for any
						direct or indirect loss or damage arising from your use of reliance on the App or Services to
						the full extent permitted by the law.</p>
					<h5>6.4 Best efforts to ensure information on the app is accurate</h5>
					<p>BarM8 makes all reasonable efforts to ensure that the information about Venues, Offers, Deals,
						Products, Events and Bookings on the App, Dashboard or Websites are accurate and correct,
						however we do not warrant that it is accurate, adequate or complete.</p>

					<h4>7. Prohibited Uses</h4>
					<h5>7.1 Agreement not to abuse the granted license</h5>
					<p>You agree that you will use the App in a manner consistent with any and all applicable laws and
						regulations. BarM8 reserves the right, but is not obligated, to investigate and terminate your
						use of the App if you have misused the App or any products or services access through the App,
						or behaved in a way that could be regarded as inappropriate or if your conduct is unlawful or
						illegal.</p>
					<h5>7.2 List of agreements</h5>
					<p>With respect to your use of and participation on the App, you agree that you will not:</p>
					<p>&nbsp (a) Impersonate any person or entity;</p>
					<p>&nbsp (b) Use any robot, spider, site search/retrieval application or other manual or automatic
						device or process to retrieve, index, “data mine” or in any way reproduce or circumvent the
						navigational structure or presentation of the App or its contents;</p>
					<p>&nbsp (c) post, distribute or reproduce in any way any copyrighted material, trademarks, or other
						proprietary information without obtaining the prior written consent of the owner of such
						proprietary rights;</p>
					<p>&nbsp (d) remove any copyright, trademark or other proprietary rights notices contained in the
						App;</p>
					<p>&nbsp (e) interfere with or disrupt any services provided through the App or the servers or
						networks connected to the App;</p>
					<p>&nbsp (f) post, email or otherwise transmit any material that contains software viruses or any
						other computer code, files or programs designed to interrupt, destroy or limit the functionality
						of any computer software or hardware or telecommunications equipment;</p>
					<p>&nbsp (g) forge headers or otherwise manipulate identifiers in order to disguise the origin of
						any information transmitted through the App; or</p>
					<p>&nbsp (h) “frame” or “mirror” any part of the App, without BarM8’s prior written authorisation or
						use meta tags or code or other devices containing any reference to BarM8 or the App in order to
						direct any person to any other website for any purpose.</p>

					<h4>8. Exclusions, indemnification and release</h4>
					<h5>8.1 Exclusion of Warranties</h5>
					<p>To the maximum extent allowed by law, the app or the service, and any BarM8 content are provided
						“as is” and “as available,” and at your sole risk. Although BarM8 uses reasonable efforts to
						ensure that the information contained on the app and through the service is as accurate as
						possible, BarM8 gives no warranty of any kind regarding the app or the service and/or BarM8
						content posted or otherwise made available therein. Further, BarM8 does not warrant the
						accuracy, completeness, currency or reliability of any BarM8 content that the results obtained
						from the use of the app or the service or BarM8 content will be accurate or reliable, or that
						the quality of the app or the service or BarM8 content will meet your expectations. To the
						maximum extent allowed by law, BarM8 expressly disclaims all warranties, representations,
						conditions, undertakings or other obligations including any implied warranties of
						merchantability, fitness for a particular purpose, non-infringement and any warranty that the
						app, the service or BarM8 content will be error-free or that such errors will be corrected.</p>
					<p>Any BarM8 content or other material downloaded or otherwise obtained through the use of the app
						or the service is done at your sole risk, and you will be solely responsible for any damage to
						your computer system or loss of data that results from the download of the app or any such BarM8
						content or material.</p>

					<h5>8.2 Other Disclaimers</h5>
					<p>The App and any products or services provided through the App may be temporarily unavailable from
						time to time for maintenance or other reasons. </p>
					<p>BarM8 assumes no responsibility for any error, omission, interruption, deletion, defect, delay in
						operation or transmission, communications line failure, theft or destruction or unauthorised
						access to, or alteration of, communications.</p>
					<p>BarM8 is not responsible for any technical malfunction or other problems of any telephone network
						or service, computer systems, servers or providers, computer or mobile phone equipment,
						software, failure of email or players on account of technical problems or traffic congestion on
						the internet, on the App, on any website or any combination thereof, including injury or damage
						to you or to any other person’s computer, mobile phone, or other hardware or software, related
						to or resulting from using or downloading the App or materials in connection with the App and/or
						in connection with any products or services offered through the App.
						BarM8 shall not be liable for any loss or damage you suffer as a result of the provision, or
						lack thereof, of goods and services by the Participating Restaurant.</p>
					<h5>8.3 Release and indemnification</h5>
					<p>You agree to release BarM8, its members, managers, officers, employees and agents, from any and
						all liability and obligations whatsoever in connection with or arising from your use of the App
						or the service provided through the App. If at any time you are not satisfied with the App or
						object to any material within the App, your sole remedy is cessation of use thereof. </p>
					<p>You agree to defend, indemnify and hold harmless BarM8, its officers, members, directors,
						employees and agents from and against any and all claims, liabilities, damages, losses or
						expenses, including legal fees and costs and expenses, arising out of or in any way connected
						with:</p>
					<p>&nbsp (a) Your access to or use of the App or any part thereof; </p>
					<p>&nbsp (b) Any ratings you publish via the App;</p>
					<p>&nbsp (c) A breach or alleged breach by you of any of your representations, warranties, covenants
						or obligations under these Terms of Use;</p>
					<p>&nbsp (d) Infringement or misappropriation of any intellectual property or other rights of BarM8
						or third parties by you;</p>
					<p>&nbsp (e) Any negligence or wilful misconduct by You</p>

					<h4>9. Governing law and miscellaneous items</h4>
					<p>The validity and effect of these Terms of Use shall be governed by and construed and enforced in
						accordance with the laws of Australia.</p>
					<p>You agree that your breach of the provisions of these Terms of Use would cause irreparable harm
						and significant injury to BarM8 which would be both difficult to ascertain and which would not
						be compensable by damages alone. As such, you agree that BarM8 has the right to enforce the
						provisions of these Terms of Use by injunction (without necessity of posting bond), specific
						performance or other equitable relief without prejudice to any other rights and remedies that
						BarM8 may have. </p>
					<p>BarM8 will be entitled to reasonable legal fees and fees of accountants and other professionals,
						and costs and expenses in addition to any other relief to which BarM8 may be entitled in any
						action at law or in equity.</p>


					<h4>10. Contact</h4>
					<p>For all queries regarding the terms above, please contact us at <a
							href="mailto:info@barm8.com.au">info@barm8.com.au</a> or by physical mail at:</p>
					<p>P. O. Box 440, Winston Hills, NSW, 2153, Australia</p>
				</div>
			</div>
		</div>
	</section>
	<div id='footer'>
		<div class='brand'><img src="logo.png"></img></div>
		<h1 class='download-tag'>Download Bar M8 free today</h1>
		<div class='container'>
			<div class='store-wrapper store-wrapper-footer'>
				<a href="https://apps.apple.com/au/app/barm8/id1402470106" target="_blank"><img src='appstore.svg'
						class='store-button-footer'></img></a>
				<a href="https://play.google.com/store/apps/details?id=com.barm8" target="_blank"><img
						src='googleplay.svg' class='store-button-footer'></img></a>
			</div>
			<br />
			<section id="social-footer">
				<ul class="social">
					<li>
						<a class="ease-all face-book" target="_blank" title="Facebook"
							href="https://www.facebook.com/barm8app/"><i class="fa fa-facebook"
								aria-hidden="true"></i></a>
					</li>
					<li>
						<a class="ease-all instagram" href="https://www.instagram.com/barm8app/" target="_blank"
							title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</li>
				</ul>
			</section>
			<div class='disc-link-wrapper'>
				<ul>
					<li class='disc-link'>
						<a href='https://barm8.com.au/contact' target='_blank'>Contact</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/terms' target='_blank'>Terms of Service</a>
					</li>
					<li class='divider'>
						|
					</li>
					<li class='disc-link'>
						<a href='https://barm8.com.au/privacy' target='_blank'>Privacy Policy</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-content">
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-logo">
							<a><img src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
									class="img-fluid"></a>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li m-b">
						<ul class="p-0">
							<li><a title="Facebook"><img src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
										class="icons"></a></li>
							<li><a title="Instagram"><img
										src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
										class="icons"></a></li>
						</ul>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 m-b">
						<div class="footer-menu">
							<ul>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/terms">Terms</a></li>
								<li><a href="/privacy">Privacy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer> -->


	<!-- <section class="copyright-section">
		<div class="copyright-text">
			<p>© Barm8 2020</p>
		</div>
	</section> -->


	<script type="text/javascript" src="views/w-site-new/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="views/w-site-new/js/bootstrap.min.js"></script>

</body>

</html>