<!DOCTYPE html>
<html>

<head>
	<title>Login</title>

	<link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="views/web-login/css/bootstrap.min.css">

	<!-- Goggle Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Source+Sans+Pro:wght@400;600&display=swap"
		rel="stylesheet">

	<!-- Font Css -->
	<link rel="stylesheet" type="text/css" href="views/web-login/css/font-awesome.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="views/web-login/css/style.css">

	<!-- Animation Css -->
	<link rel="stylesheet" href="views/web-login/css/animate.css">

	<script type="text/javascript" src="/../assets/js/toastr.min.js"></script>

	<link href="/../assets/css/toastr.min.css" rel="stylesheet">

	<style>
		 #loader {
            width: 50px;
            height: 50px;
            left: 50%;
            position: fixed;
            z-index: 9999;
            background: url("/../loader/loader.gif") no-repeat center center rgba(255, 255, 255, 0.67);
            background-size: 170px 138px;
            top: 50%;
            border-radius: 50%;
            background-color: black !important;
        }
	</style>

</head>

<body ng-app="app">
	<div class="loader" data-loader="dashboard">
        <div id="loader"> </div>
    </div>
	<script>
		 setTimeout(function () {
            $(".loader").fadeOut('slow', function () {
                $(this).css({ display: 'none' })
            });
        }, 500)
        angular
            .module('app', [])
            .controller('loginCtl', function ($scope, $http) {
                toastMsg = (isVaild, msg) => {
                    if (isVaild)
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                    toastr.options = { "closeButton": true, "progressBar": true, "timeOut": "5000" };
                }
                $scope.login = () => {
                    let email = $("#uname").val(),
                        password = $("#psw").val();
                    if (email && password) {
                        $('.loader').css({ display: 'block' });
                        $http({
                            method: "GET",
                            url: `https://www.barm8.com.au/api/Businesses/userLogin?params={"email":"${email}", "password": "${password}"}`
                        }).then((res) => {
                             console.log(JSON.stringify(res))
                            if (res && res.data && res.data.data) {
                                let { isSuccess, result } = res.data.data;
                                if (isSuccess) {
                                    let isAdmin = (email=='admin@barm8.com.au'? true : false)
                                    let userDetails = {
                                        "id": result.userId,
                                        "tokenId": result.id,
                                        "email": email,
                                        "businessName": result.business.businessName,
                                        "loginId": result.userId, isAdmin
                                    };
                                    $(".loader").fadeOut('slow', function () {
                                        $(this).css({ display: 'none' })
                                    });
                                    localStorage.removeItem("userSession");
                                    localStorage.setItem("userSession", JSON.stringify(userDetails));   
                                    var link = document.createElement('a');
                                    if(isAdmin) link.href = "/admin";
                                    else link.href = "/dashboard-home";
                                    document.body.appendChild(link);
                                    link.click();
                                } else {
                                    toastMsg(false, "Invaild email or password. Please try again!");
                                    $(".loader").fadeOut('slow', function () {
                                        $(this).css({ display: 'none' })
                                    });
                                }
                            } else {
                                toastMsg(false, "Invaild email or password. Please try again!");
                                $(".loader").fadeOut('slow', function () {
                                    $(this).css({ display: 'none' })
                                });
                            }
                        }, (err) => {
                            toastMsg(false, "Invaild email or password. Please try again!");
                            $(".loader").fadeOut('slow', function () {
                                $(this).css({ display: 'none' })
                            });
                        });
                    } else {
                        toastMsg(false, "Email and Password is required. Please try again!");
                        $(".loader").fadeOut('slow', function () {
                            $(this).css({ display: 'none' })
                        });
                    }
                }
            });
    </script>
	<div class="container-fluid login-outer" ng-controller="loginCtl">
		<div class="login-box">
			<div class="header-text">
				<div class="logo-section">
					<img src="views/web-login/images/logo.png">
				</div>
				<div class="form-section text-center">
					<h2>Welcome back!</h2>
					<p class="">Sign in to access and manage your venue’s details on the BarM8 </p>
					<form action="#" method="post">

						<div class="cc-form">
							<input type="email" placeholder="Email Adress" name="uname" id="uname" autocomplete="off" required>

							<input type="password" placeholder="Password" name="psw" id="psw" required autocomplete="off">
							<span class="psw"><a href="#"> Forgot your password?</a></span>
							<button type="button" ng-click="login()">Login</button>

						</div>
					</form>
				</div>

			</div><!-- End HeaderText -->
		</div><!-- End homeFullScreen -->

	</div>


	<!-- Main JS -->
	<script type="text/javascript" src="views/web-login/js/jquery-main.js"></script>

	<!-- Bootstrap JS -->
	<script type="text/javascript" src="views/web-login/js/bootstrap.min.js"></script>

	<!-- Animation JS -->
	<script type="text/javascript" src="views/web-login/js/wow.min.js"></script>

	<!-- Custom JS -->
	<script type="text/javascript" src="views/web-login/js/custom.js"></script>


</body>

</html>