<script>
    $(() => { $("#menuHours").css({ "opacity": "0.1" }); setTimeout(function () { $("#menuHours").css({ "opacity": "" }) }, 1000) }); function daysSelected(arg) { if ($(arg).attr('data-name') == 'Beer' && $(`#${$(arg).attr('id')}`).is(":checked")) { $(`#HHourSTime_SUN_${$(arg).attr('data-name')}`).removeAttr("disabled"); $(`#HHETime_SUN_${$(arg).attr('data-name')}`).removeAttr("disabled") } else { $(`#HHourSTime_SUN_${$(arg).attr('data-name')}`).attr("disabled", "true"); $(`#HHETime_SUN_${$(arg).attr('data-name')}`).attr("disabled", "true") } }
</script>
<style>
    .chosen-single {
        padding-top: 3px !important;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {
        border-color: #FF9800 !important;
    }

    .btn {
        border-radius: 21px;
    }

    .card {
        margin: 0rem 0 0rem 0
    }

    .box-shadow-2 {
        -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2)
    }

    .wrapper-content {
        padding: 20px 10px 0px !important
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {

        border-color: #4CAF50 !important;
    }

    @media (min-width: 768px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 100%;
            *width: 100%;
        }
    }

    @media (min-width: 992px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }

    /**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
    @media (min-width: 1200px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }

    .btnSeleted {
        background-color: #4caf50 !important;
    }
</style>
<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<div class="wrapper wrapper-content" id="menuHours" ng-controller="menuHoursCtl">
    <div class="m-t-sm" style="margin-top:3rem;" ng-show="isBusinessSelect">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'manageEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('manageEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12"
                style="margin-top: 0.6rem; margin-bottom: 10px;">
                <div class="row card" style="padding: 10px 2px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <div class="row">
                            <h3 style="margin-left:1rem;">Manage Menu Hours</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2 col-xl-2 col-lg-2">
                                <div class="form-group">
                                    <label>Select Menu</label>
                                    <select chosen="categories" id="category" class="form-control"
                                        ng-options="category.name for category in categories" ng-model="category"
                                        ng-change="categoryChange()"></select>
                                    <span id="category_err" style="color: red;display : none;">Please select the
                                        menu!</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-xl-3 col-lg-3">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 colxl-6">
                                        <div class="form-group">
                                            <label for="startTime">Start Time</label>
                                            <input type="text" class="form-control time" id="startTime">
                                            <span id="startTime_err" style="color: red;display : none;">Start
                                                Time is required!</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 colxl-6">
                                        <div class="form-group">
                                            <label for="endTime">End Time</label>
                                            <input type="text" class="form-control time" id="endTime">
                                            <span id="endTime_err" style="color: red;display : none;">Start Time
                                                is required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-6 col-xl-6 col-lg-6">
                                <label>Days</label>
                                <div class="row seven-cols">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-repeat="day in weekday">
                                        <script>
                                            $(".pop").popover({ trigger: "manual", html: true, animation: true })
                                                .on("mouseenter", function () {
                                                    var _this = this;
                                                    $(this).popover("show");
                                                    $(".popover").on("mouseleave", function () {
                                                        $(_this).popover('hide');
                                                    });
                                                }).on("mouseleave", function () {
                                                    var _this = this;
                                                    setTimeout(function () {
                                                        if (!$(".popover:hover").length) {
                                                            $(_this).popover("hide");
                                                        }
                                                    });
                                                });
                                        </script>
                                        <a href="javascript:;" class="pop" data-toggle="popover" data-placement="top"
                                            data-content="{{day.txt}}">
                                            <button class="btn btnBeforemenu daysBtn" data-dayname="{{day.val}}"
                                                data-selected="false" id="weekdays_{{day.val}}"
                                                style="border-radius: 3px;background-color:#757575;color:#fff;"
                                                ng-click="daysSelected('weekdays_', day.val , day.name)">{{day.name}}</button>
                                        </a>
                                    </div>
                                </div>
                                <span id="days_err" style="color: red;display : none;">Please select the
                                    day!</span>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 col-xl-1" style="margin-top: 1.5rem;">
                                <button ng-click="create()" id="menuHours_add_btn"
                                    style="border-radius: 3px;background-color:#4caf50; color:#fff;"
                                    class="btn pull-right"><i class="far fa-save"></i> Save</button>
                                <button ng-click="update()" id="menuHours_update_btn"
                                    style="border-radius: 3px;background-color:#4caf50; color:#fff;display:none;"
                                    class="btn pull-right"><i class="fas fa-pen"></i> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="menuHoursList && menuHoursList.length">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Menu</th>
                                        <th>Days</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr ng-repeat="menu in menuHoursList"
                                        ng-show="menu.sunday.value || menu.monday.value || menu.tuesday.value || menu.wednesday.value || menu.thursday.value || menu.friday.value || menu.saturday.value">
                                        <script> $(document).ready(() => { $('.pop').popover({ html: true, animation: true }) }); $(document).on("click", ".popover .close", function () { $(this).parents(".popover").popover('hide') })</script>
                                        <td>{{menu.menu}}</td>
                                        <td>
                                            <a href="javascript:;" ng-show="menu.sunday.value" data-html="true"
                                                id="popover_{{menu.sunday.id}}" data-title="Sunday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.sunday.startTime}} to {{menu.sunday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'sunday')"
                                                    data-menu="{{menu.menu}}" data-day="sunday"
                                                    data-menuid="{{menu.id}}" id="sunday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">S</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.monday.value" data-html="true"
                                                id="popover_{{menu.monday.id}}" data-title="Monday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.monday.startTime}} to {{menu.monday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'monday')"
                                                    data-menu="{{menu.menu}}" data-day="monday"
                                                    data-menuid="{{menu.id}}" id="monday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">M</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.tuesday.value" data-html="true"
                                                id="popover_{{menu.tuesday.id}}" data-title="Tuesday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.tuesday.startTime}} to {{menu.tuesday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'tuesday')"
                                                    data-menu="{{menu.menu}}" data-day="tuesday"
                                                    data-menuid="{{menu.id}}" id="tuesday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">T</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.wednesday.value" data-html="true"
                                                id="popover_{{menu.wednesday.id}}" data-title="Wednesday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.wednesday.startTime}} to {{menu.wednesday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'wednesday')"
                                                    data-menu="{{menu.menu}}" data-day="wednesday"
                                                    data-menuid="{{menu.id}}" id="wednesday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">W</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.thursday.value" data-html="true"
                                                id="popover_{{menu.thursday.id}}" data-title="Thursday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.thursday.startTime}} to {{menu.thursday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'thursday')"
                                                    data-menu="{{menu.menu}}" data-day="thursday"
                                                    data-menuid="{{menu.id}}" id="thursday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">T</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.friday.value" data-html="true"
                                                id="popover_{{menu.friday.id}}" data-title="Friday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.friday.startTime}} to {{menu.friday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'friday')"
                                                    data-menu="{{menu.menu}}" data-day="friday"
                                                    data-menuid="{{menu.id}}" id="friday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">F</button>
                                            </a>
                                            <a href="javascript:;" ng-show="menu.saturday.value" data-html="true"
                                                id="popover_{{menu.saturday.id}}" data-title="Saturday" class="pop"
                                                data-toggle="popover" data-placement="top"
                                                data-content="{{menu.saturday.startTime}} to {{menu.saturday.endTime}}">
                                                <button class="btn" ng-click="daysClick($index , 'saturday')"
                                                    data-menu="{{menu.menu}}" data-day="saturday"
                                                    data-menuid="{{menu.id}}" id="saturday_{{$index}}"
                                                    style="background-color: #757575;color: #fff;">S</button>
                                            </a>
                                        </td>

                                        <td>
                                            <span id="popover_{{menu.id}}" class="pull-right pop" data-toggle="popover"
                                                data-placement="top" data-content="Edit">
                                                <button ng-click="editMenuHours(menu.id , $index)"
                                                    data-menuid="{{menu.id}}" id="edit_{{$index}}" disabled="disabled"
                                                    style="padding: 7px 10px!important;background-color:#3949AB;color:#fff;"
                                                    class="btn"><i class="fas fa-pencil-alt"></i></button>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="pull-right pop" data-toggle="popover" data-placement="top"
                                                data-content="Delete">
                                                <button id="delete_{{$index}}" data-menuid="{{menu.id}}"
                                                    disabled="disabled"
                                                    style="padding: 7px 10px!important;background-color:#d50000;color:#fff;"
                                                    ng-click="deleteMenuHours(menu.id , $index)" class="btn">
                                                    <i class="fas fa-trash-alt"></i></button>
                                            </span>
                                        </td>
                                        <td ng-show="!menu.sunday.value && !menu.monday.value && !menu.tuesday.value && !menu.wednesday.value && !menu.thursday.value && !menu.friday.value && !menu.saturday.value"
                                            colspan="4" style="text-align: center;">No data</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 5 });
</script>
<style>
    .ui-timepicker-wrapper {
        width: 10.5em !important;
    }
</style>