<div class="row" style="margin-top: 4rem;margin-left: -0.5rem;margin-right: -0.5rem;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <h2>Special Notifictaions</h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4" style="margin-top: 0.8rem;">
                <button ng-click="createModalOpen()" class="btn  pull-right create-btn"
                    style="padding: 6px 29px !important;">Create new
                    notification</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 1rem;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span>Header</span></th>
                            <th><span>Body</span></th>
                            <th><span>Footer</span></th>
                            <th><span>Status</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in specialDatas | filter : filterTxt"
                            ng-mouseover="showTheMiddle($event, $index)" ng-mouseleave="hiddenTheMiddle($index)"
                            style="position: relative;">
                            <td>{{list.S_Message.header}}</td>
                            <td>{{list.S_Message.body}}</td>
                            <td>{{list.S_Message.footer}}</td>
                            <td>
                                <button class="btn btn-success" style="background-color: green;"
                                    ng-show="list.status=='Open'" ng-click="updateStaus(list.id)">
                                    Open
                                </button>
                                <button class="btn btn-success" style="background-color: red;"
                                    ng-show="list.status=='Closed'" ng-click="updateStaus(list.id)">
                                    Closed
                                </button>
                            </td>
                            <td class="middle_{{$index}}"
                                style="display: none;background-color:#ffffff00;padding: 4.5px !important;border-top: 0px solid #e7eaec;">
                                <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#3f51b5 !important;
                                        color:#fff !important;" ng-click="viewNotification(list.id)"
                                    data-placement="top" title="View">
                                    <i class="fas fa-eye"></i></button>
                                <a class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#2e7d32 !important;
                                            color:#fff !important;" ng-click="editNotification(list.id)"
                                    data-placement="top" title="Edit">
                                    <i class="fas fa-pencil-alt"></i></a>
                                <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#d50000 !important;
                                            color:#fff !important;" ng-click="delete(list.id)" data-placement="top"
                                    title="Delete">
                                    <i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr ng-show="specialDatas && specialDatas.length==0">
                            <td colspan="4" style="text-align: center;">
                                <span>No Data!</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal" tabindex="-1" id="createNewPopup" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                            <h3 class="modal-title" style="padding: 8px;">Create new notification</h3>
                        </div>
                        <div class="modal-body"
                            style="text-align: left !important;padding: 20px 30px 0px 30px !important;">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-header" class="required">Header</label>
                                        <input type="text" class="form-control custom-input" id="c-header">
                                        <span class="error" id="c-h-error">Header is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Body" class="required">Body</label>
                                        <textarea class="form-control" id="c-Body" style="border: 2px solid #ddd !important;
                                        font-size: 16px !important;" rows="3"></textarea>
                                        <span class="error" id="c-body-error">Body is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Footer" class="required">Footer</label>
                                        <input type="text" class="form-control custom-input" id="c-Footer">
                                        <span class="error" id="c-footer-error">Footer is required!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: right !important;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                    style="padding-right: 2rem;">
                                    <button type="button" class="btn btn-primary" id="createBtn"
                                        ng-click="submitNotification()"
                                        style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px;font-size:1.3rem;border:1px solid #4CAF50 !important;">Save
                                        & Preview</button>
                                    <button type="button" class="btn btn-secondary"
                                        style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size:1.3rem;"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="ViewNewPopup" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                            <h3 class="modal-title" style="padding: 8px;">View notification</h3>
                        </div>
                        <div class="modal-body"
                            style="text-align: left !important;padding: 20px 30px 0px 30px !important;">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-header" class="required">Header</label>
                                        <input type="text" class="form-control custom-input" disabled
                                            ng-model="viewNoti.S_Message.header" id="c-header">
                                        <span class="error" id="c-h-error">Header is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Body" class="required">Body</label>
                                        <textarea class="form-control" id="c-Body" ng-model="viewNoti.S_Message.body"
                                            disabled
                                            style="border: 2px solid #ddd !important;  font-size: 16px !important;"
                                            rows="3"></textarea>
                                        <span class="error" id="c-body-error">Body is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Footer" class="required">Footer</label>
                                        <input type="text" ng-model="viewNoti.S_Message.footer" disabled
                                            class="form-control custom-input" id="c-Footer">
                                        <span class="error" id="c-footer-error">Footer is required!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: right !important;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                    style="padding-right: 2rem;">
                                    <button type="button" class="btn btn-secondary"
                                        style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size:1.3rem;"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="editNewPopup" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                            <h3 class="modal-title" style="padding: 8px;">Edit notification</h3>
                        </div>
                        <div class="modal-body"
                            style="text-align: left !important;padding: 20px 30px 0px 30px !important;">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-header-up-s" class="required">Header</label>
                                        <input type="text" class="form-control custom-input"
                                            ng-model="editNoti.S_Message.header" id="c-header-up-s">
                                        <span class="error" id="c-h-error">Header is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Body-up-s" class="required">Body</label>
                                        <textarea class="form-control" id="c-Body-up-s"
                                            ng-model="editNoti.S_Message.body"
                                            style="border: 2px solid #ddd !important;  font-size: 16px !important;"
                                            rows="3"></textarea>
                                        <span class="error" id="c-body-error">Body is required!</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label for="c-Footer_up_s" class="required">Footer</label>
                                        <input type="text" ng-model="editNoti.S_Message.footer"
                                            class="form-control custom-input" id="c-Footer_up_s">
                                        <span class="error" id="c-footer-error">Footer is required!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: right !important;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                    style="padding-right: 2rem;">
                                    <button type="button" class="btn btn-primary" id="createBtn"
                                        ng-click="updateNotification(editNoti)"
                                        style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px;font-size:1.3rem;border:1px solid #4CAF50 !important;">Update</button>
                                    <button type="button" class="btn btn-secondary"
                                        style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size:1.3rem;"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="deleteConfirmPopup" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                            <h3 class="modal-title" style="padding: 8px;">Message</h3>
                        </div>
                        <div class="modal-body"
                            style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                    <h3>Do you want to proceed?</h3>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="confirmDeleteBtn" data-id=""
                                ng-click="confirmDelete()"
                                style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px; font-size: 1.4rem !important;">Yes</button>
                            <button type="button" class="btn btn-secondary"
                                style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size: 1.4rem !important;"
                                data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .create-btn {
        background-color: #1d951d;
        color: #fff;
        font-size: 1.2rem;
    }

    .error {
        color: #f44336 !important;
    }

    #c-h-error,
    #c-body-error,
    #c-footer-error {
        display: none;
    }

    .required:after {
        content: " *";
        color: red;
    }
</style>