<style>
    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .padding-space {
        padding-left: 0px;
        padding-right: 0px;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    .form-c {
        height: 40px;
    }

    .right {
        float: right;
    }

    .create-btn {
        background-color: #1d951d;
        color: #fff;
        font-size: 1.4rem;
    }

    .center {
        text-align: center;
    }

    .manage-txt {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    th>b {
        font-size: 1.2rem;
    }

    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 10.8px !important;
    }
</style>
<script>
    function SelectAllClk() {
        $(".tw-s-box").prop('checked', false);
        if ($("#selectAllCheck").is(':checked')) $(".tw-s-box").prop('checked', true);
        angular.element(document.getElementById('manageTakeaway')).scope().checkedOffers();
    }
    function checkBoxClick() {
        angular.element(document.getElementById('manageTakeaway')).scope().checkedOffers();
    }
    $("#_Takeaway_type").on('change', function () {
        angular.element(document.getElementById('manageTakeaway')).scope().getTakeaway('category');
    })
    $("#_takeaway_name").on('change', function () {
        angular.element(document.getElementById('manageTakeaway')).scope().getTakeaway('sTitle');
    })
    $("#_takeaway_view").on('change', function () {
        angular.element(document.getElementById('manageTakeaway')).scope().getTakeaway('view');
    })
</script>
<div class="wrapper wrapper-content" id="manageTakeaway" ng-controller="manageTakeawayCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row" ng-show="userDetails.isAdmin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 padding-space">
                <div class="row card eventCard" style="margin: 0rem 0 0rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'manageTakeaway');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('manageTakeaway')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!userDetails.isAdmin && takeawayList.length">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a ui-sref="create-takeaway" class="btn create-btn"
                    style="padding: 6px 29px !important;margin-top:0.5rem;margin-bottom:0.5rem;margin-left:-1rem;">Create
                    Takeaway Offer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12 card" style="margin-top: 0.5rem !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 padding-space">
                        <div class="row" style="margin: 0.5rem 0 0rem 0 !important;padding:5px;">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" ng-show="takeawayList.length==0">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                                                <p class="manage-txt">No current Takeaway offers found!</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                                                <br>
                                                <img src="assets/img/manage-img.png">
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12"
                                                style="text-align: center;margin-top:1rem;margin-bottom:1rem;">
                                                <a ui-sref="create-takeaway" class="btn create-btn"
                                                    style="padding: 6px 29px !important;">Create Takeaway
                                                    Offer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="takeawayList.length">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12"
                                        style="margin-bottom: 0.5rem;">
                                        <b class="manage-txt">Manage Takeaway Offer at your
                                            venue</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <button data-toggle="collapse" data-target="#filterCollapse"
                                            ng-show="takeawayList.length" class="btn" style="border-radius: 5%;padding: 4px 9px !important;
                                    background-color:#f9a141 !important;color:#fff !important;font-size: 20px;"
                                            title="Filter"><i class="fas fa-filter"></i> Filter</button>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <a ui-sref="create-takeaway" class="btn right create-btn"
                                            ng-show="userDetails.isAdmin && takeawayList.length"
                                            style="padding: 6px 29px !important;">Create Takeaway Offer</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div id="filterCollapse" class="collapse">
                                            <div class="row card" style="margin-bottom: 1rem;padding:10px 10px 20px 10px;
                                                margin-top:1rem;margin-bottom:1rem;">
                                                <div class="col-sm-6 col-xs-6 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="from-group">
                                                        <label for="_takeaway_view"
                                                            style="font-size: 16px;">View</label>
                                                        <select id="_takeaway_view" class="form-control custom-input">
                                                            <option selected value="7">7 days</option>
                                                            <option value="14">14 days</option>
                                                            <option value="All">All</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xs-6 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="from-group">
                                                        <label for="_Takeaway_type" style="font-size: 16px;">Takeaway
                                                            type</label>
                                                        <select id="_Takeaway_type" class="form-control custom-input">
                                                            <option selected value="All">All</option>
                                                            <option value="Food">Food</option>
                                                            <option value="Drinks">Drinks</option>
                                                            <option value="Event">Event</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xs-6 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="from-group">
                                                        <label for="_takeaway_name"
                                                            style="font-size: 16px;">Title</label>
                                                        <select id="_takeaway_name" class="form-control custom-input">
                                                            <option value="select">Select</option>
                                                            <option value="{{offer.titleTxt}}"
                                                                ng-repeat="offer in takeAwayNamesList">
                                                                {{offer.title}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="takeawayList.length>0">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 deleteAllDiv"
                        style="margin-top: 0.5rem;margin-bottom:0.5rem;display:none;">
                        <button class="btn right"
                            style="padding: 6px 20px !important;background-color:red; color: #fff; font-size: 16px;"
                            ng-click="DeleteToAll()">Delete
                            All</button>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 1rem;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-lg-1 col-xl-1" style="text-align: center;">
                                        <div class="form-check">
                                            <input class="form-check-input position-static" onclick="SelectAllClk()"
                                                type="checkbox" id="selectAllCheck" value="All">
                                        </div>
                                    </th>
                                    <th class="col-md-2 col-lg-2 col-xl-2"><b>Image</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Category</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Title</b></th>
                                    <th class="col-md-2 col-lg-2 col-xl-2"><b>Description</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Takeaway Value</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Date</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Start Time</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>End Time</b></th>
                                    <th class="col-md-1 col-lg-1 col-xl-1"><b>Status</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="takeaway in takeawayList" ng-mouseover="showTheMiddle($event, $index)"
                                    ng-mouseleave="hiddenTheMiddle($index)" style="position: relative;">
                                    <td class="col-md-1 col-lg-1 col-xl-1" style="text-align: center;">
                                        <div class="form-check">
                                            <input class="form-check-input tw-s-box" type="checkbox"
                                                id="_{{takeaway.id}}" value="{{takeaway.id}}" onclick="checkBoxClick()">
                                        </div>
                                    </td>
                                    <td class="col-md-2 col-lg-2 col-xl-2">
                                        <img ng-src="{{takeaway.img[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                            class="img-thumbnail" style="width: 100%;height:100%"
                                            alt="{{takeaway.img[0].fileName || 'No Image'}}"
                                            title="{{takeaway.img[0].fileName}}">
                                    </td>
                                    <td class="col-md-1 col-lg-1 col-xl-1"><b>{{takeaway.category}}</b></td>
                                    <td class="col-md-1 col-lg-1 col-xl-1"><b>{{takeaway.title}}</b></td>
                                    <td class="col-md-2 col-lg-2 col-xl-2"><b>{{takeaway.desc}}</b></td>
                                    <td class="col-md-1 col-lg-1 col-xl-1">
                                        <b ng-show="takeaway.price"> $ {{takeaway.price}}</b>
                                    </td>
                                    <td class="col-md-1 col-lg-1 col-xl-1">
                                        <b>{{takeaway.dateFormat}}</b>
                                    </td>
                                    <td class="col-md-1 col-lg-1 col-xl-1">
                                        <b>{{takeaway.startTime}}</b>
                                    </td>
                                    <td class="col-md-1 col-lg-1 col-xl-1">
                                        <b>{{takeaway.endTime}}</b>
                                    </td>
                                    <td class="col-md-1 col-lg-1 col-xl-1">
                                        <b class="btn" ng-click="updateStatus(takeaway.id, 'Pending')"
                                            ng-show="takeaway.status=='Pending'"
                                            style="background-color: red !important;color:#fff !important;">{{takeaway.status}}</b>
                                        <b class="btn" ng-click="updateStatus(takeaway.id, 'Live')"
                                            ng-show="takeaway.status=='Live'"
                                            style="background-color: green !important;color:#fff !important;padding: 5px 26px !important;">{{takeaway.status}}</b>
                                    </td>
                                    <td class="middle_{{$index}}"
                                        style="display: none;background-color:transparent;padding: 4.5px !important;margin-top:4rem;border: 0px solid #e7e7e7;">
                                        &nbsp;
                                        <button class="btn" style="border-radius: 50%;padding: 4px 7.5px !important;
                                        background-color: #3f51b5 !important;color:#fff !important;"
                                            ng-click="takeawayView(takeaway.id)" title="View"><i
                                                class="fas fa-eye"></i></button>
                                        &nbsp;
                                        <button class="btn" style="border-radius: 50%;padding: 4px 8px !important;
                                        background-color: #2e7d32 !important;color:#fff !important;"
                                            ng-click="editTakeaway(takeaway.id)" title="Edit"><i
                                                class="fas fa-pencil-alt"></i></button>
                                        &nbsp;
                                        <button class="btn" style="border-radius: 50%;padding: 4px 9px !important;
                                        background-color: #d50000 !important;color:#fff !important;"
                                            ng-click="delete(takeaway.id)" title="Delete"><i
                                                class="fas fa-trash"></i></button>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal" tabindex="-1" id="viewPopup" role="dialog">
                        <div class="modal-dialog modal-lg opacity-animate3" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                                    <div class="row">
                                        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 col-xl-10">
                                            <h3 class="modal-title" style="padding: 8px;">
                                                {{tyVObj.title}}</h3>
                                        </div>
                                        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2"
                                            style="text-align: right;">
                                            <button type="button" class="btn btn-secondary" style="background-color: #fff !important;
                                            border-radius: 41px;
                                            color: rgb(245,0,87) !important;
                                            text-align: right !important;
                                            padding: 4px 10px !important;" data-dismiss="modal"><i
                                                    class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body"
                                    style="padding: 20px 30px 0px 30px !important;text-align:left !important;">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <img ng-src="{{tyVObj.img[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                        class="img-thumbnail" style="width: 100%;height:100%"
                                                        alt="{{tyVObj.img[0].fileName || 'No Image'}}"
                                                        title="{{tyVObj.img[0].fileName}}">
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <th>Category</th>
                                                                <td>{{tyVObj.category}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Date</th>
                                                                <td> {{tyVObj.date | date:'dd-MMM-yyyy' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Start time</th>
                                                                <td>{{tyVObj.startTime}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>End Time</th>
                                                                <td>{{tyVObj.endTime}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Description</th>
                                                                <td>{{tyVObj.desc}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Status</th>
                                                                <td>
                                                                    <b class="btn" ng-show="tyVObj.status=='Pending'"
                                                                        style="background-color: red !important;color:#fff !important;">{{tyVObj.status}}</b>
                                                                    <b class="btn" ng-show="tyVObj.status=='Live'"
                                                                        style="background-color: green !important;color:#fff !important;">{{tyVObj.status}}</b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="text-align: right !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" id="deleteConfirmPopup" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                                    <h3 class="modal-title" style="padding: 8px;">Message</h3>
                                </div>
                                <div class="modal-body"
                                    style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                            <h3>Do you want to proceed?</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="confirmDeleteBtn"
                                        ng-click="confirmDelete()"
                                        style="background-color: #4CAF50 !important;padding: 4px 14px!important;border-radius: 3px;font-size:16px;color:#fff !important;">Yes</button>
                                    <button type="button" class="btn btn-secondary"
                                        style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 18px !important;font-size:16px;"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    input[type=checkbox] {
        zoom: 1.3;
    }

    .modal.fade .modal-dialog {
        opacity: 0;
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .modal.fade.in .modal-dialog {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    /* DIALOG CONTENT */
    .modal-content {
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
        box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    }

    /* DIALOG HEADER */
    .modal-header {
        min-height: 16px;
        padding: 24px;
        border-bottom: none;
    }

    .modal-title {
        font-weight: 500;
        font-size: 21px;
    }

    /* DIALOG BODY */
    .modal-body {
        padding: 0 24px;
    }

    .modal-body p {
        font-weight: 400;
        font-size: 14px;
        color: #212121;
    }

    .modal-body .lead {
        font-weight: 300;
        font-size: 16px;
        color: #757575;
    }

    .modal-body p:last-child,
    .modal-body .lead:last-child {
        margin-bottom: 0;
    }

    /* DIALOG FOOTER */
    .modal-footer {
        margin-top: 24px;
        padding: 8px 0;
        border-top: none;
    }

    .modal-footer .btn {
        height: 36px;
        margin-right: 8px;
        padding: 8px 10px;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: #009688;
        background-color: #fff;
    }

    .modal-footer .btn:focus {
        outline: none;
        box-shadow: none;
    }

    .modal-footer .btn:focus,
    .modal-footer .btn:hover {
        color: #00796B;
    }

    .modal-footer .btn+.btn {
        margin-left: 0;
    }

    .modal-footer .btn+.btn:last-child {
        margin-left: -4px;
    }


    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

    .btn-demo:focus {
        outline: none;
    }

    .demo-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background-color: #212121;
        text-align: center;
    }

    .demo-footer>a {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
    }
</style>