<style type="text/css">
    body {
        background-color: #f3f3f4 !important;
    }

    .chosen-container-single .chosen-single {
        border: 3px solid #ddd !important;
        line-height: 40px !important;
        min-height: 40px !important;
    }

    .chosen-container-single .chosen-single div {
        top: 8px !important;
    }

    .wrapper {
        height: 100%;
    }

    .tab-M-ch {
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tab-a-tag {
        color: #000 !important;
    }
</style>

<div id="analyticsId" ng-controller="specialAnalyticsCtl">
    <div class="wrapper wrapper-content animated fadeIn" id="specialAnalyticsCtl"
        style="margin-top:2.5rem;height: 100% important;">
        <div class="row card" ng-show="currentUser.isAdmin" style="padding:20px;margin: 0rem 0 0.5rem 0;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                <div class="autocomplete col-md-12" style="padding-right:0px;padding-left:0px;">
                    <input id="autocompleteBusiness" type="text" name="BusinessName" placeholder="Enter Business name">
                    <span id="businessErr" style="color:red;"></span>
                </div>
                <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                <script type="text/javascript">
                    autocomplete(document.getElementById("autocompleteBusiness"), 'analytics-special');
                </script>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <button type="button" id="businessSubmit" ng-click="BusinessSelected('analytics-special')"
                    class="btn btn-raised btn-primary businessSubmit" style="margin-bottom: 10px;border-radius:30px;">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
            </div>
        </div>
        <div class="row card" style="margin: 0rem 0 0.4rem 0 !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tab-M-ch">
                <ul class="nav nav-tabs" id="analyticsTab" role="tablist">
                    <li class="active col-md-4 col-sm-4 col-xs-4 col-lg-4 col-xl-4 tab-M-ch">
                        <a data-target="#DailySpecial" class="tab-a-tag" href="javascript:;" onclick="taggleFun(this);"
                            role="tab" data-toggle="tab">Daily Special</a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-xl-4 tab-M-ch">
                        <a data-target="#DrinkSpecial" onclick="taggleFun(this);" class="tab-a-tag" href="javascript:;"
                            role="tab" data-toggle="tab">Drink Special</a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-xl-4 tab-M-ch">
                        <a data-target="#LimitedOffer" onclick="taggleFun(this);" class="tab-a-tag" href="javascript:;"
                            role="tab" data-toggle="tab">Limited Offers</a>
                    </li>
                </ul>
                <!-- <div class="row" style="margin-top: 5px;">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Type</label>
                            <select ng-model="selectedItem" class="form-control custom-input"
                                ng-change="typeOnChange(selectedItem)"
                                ng-options="item.name for item in categoryDropList track by item.name">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='exclusive_Coupon_Offers'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Title</label>
                            <select class="form-control custom-input" id="offerName_s">
                                <option value="select" selected>Select an option</option>
                                <option value="{{selectedOffer.titleTxt}}"
                                    ng-repeat="selectedOffer in specialOffersList">
                                    {{selectedOffer.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='exclusive_Coupon_Offers'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Date</label>
                            <select class="form-control custom-input" ng-model="excluSpDate" id="d-s-eventOEx-date">
                                <option value="">Select an option</option>
                                <option ng-repeat="sd in exCouponDates" value="{{sd.id}}">
                                    {{sd.txt}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='daily_Specials'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Title</label>
                            <select class="form-control custom-input" ng-model="dailySpecialObj" id="daily-title-txt"
                                ng-change="dailyspecialOnChange(dailySpecialObj)">
                                <option selected="selected" value="">Select an option</option>
                                <option ng-repeat="d in specialListData track by d.titleTxt" value="{{d.titleTxt}}">
                                    {{d.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='daily_Specials'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Date</label>
                            <select class="form-control custom-input" id="dailySDateRange">
                                <option>Select an option</option>
                                <option ng-repeat="sd in specialSDates track by sd.id" value="{{sd.value}}"
                                    ng-selected="sd.id==eventSpDate" data-idvalue="{{sd.id}}">{{sd.txt}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='drinks_Specials'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Title</label>
                            <select class="form-control custom-input" id="special-title-ch-d" ng-model="DSTitleOChange"
                                ng-change="drinksSpecialOnChange(DSTitleOChange)">
                                <option selected="selected" value="">Select an option</option>
                                <option ng-repeat="da in drinksSpecialList" value="{{da.titleTxt}}">{{da.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-show="selectedItem._name=='drinks_Specials'">
                        <div class="form-group">
                            <label style="font-size: 1.2rem;">Offer Date</label>
                            <select class="form-control custom-input" id="special-date-O-Cl">
                                <option selected="selected" value="">Select an option</option>
                                <option ng-repeat="sd in specialDksDates" ng-selected="sd.id==todayId"
                                    value="{{sd.value}}" data-idvalue="{{sd.id}}">{{sd.txt}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row card" ng-show="chartShow">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row" ng-show="selectedItem._name != 'exclusive_Coupon_Offers'">
                    <div class="col-md-12">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
                        <div id="special-anly">
                        </div>
                    </div>
                    <!-- <div
                        class="{{visibleDailyChart ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12': 'col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'}}">
                        <canvas id="bar" class="chart chart-bar" ng-show="visibleDailyChart"
                            chart-colors="barHDayLiveChart.colours" height="80"
                            chart-data="barHDayLiveChart.data" chart-labels="barHDayLiveChart.labels"
                            chart-series="barHDayLiveChart.series"
                            chart-options="barHDayLiveChart.options"></canvas>
                        <canvas id="bar" class="chart chart-bar" ng-show="!visibleDailyChart"
                            chart-colors="barHDayLiveChart.colours" chart-data="barHDayLiveChart.data"
                            chart-labels="barHDayLiveChart.labels" chart-series="barHDayLiveChart.series"
                            chart-options="barHDayLiveChart.options"></canvas>
                    </div> -->
                    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div id="ageChartDrinksDaily">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div id="malefemaleDrinksDaily">
                        </div>
                    </div> -->
                </div>
                <div class="row" ng-show="selectedItem._name == 'exclusive_Coupon_Offers'">
                    <div class="col-md-12">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
                        <div id="exclusiveChart-1">
                        </div>
                    </div>
                    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <canvas id="ageExcChart"></canvas>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <canvas id="excluDoughnutChart"></canvas>
                    </div> -->
                </div>

            </div>
        </div>
        <div class="row card" ng-show="chartShow==false">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;padding:20px">
                <b style="font-size: 2rem;">No Data!</b>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    @media (max-width:800px) {
        #buttonMenu {
            margin-top: 10px;
        }

        .wrapper-content {
            padding: 20px 0px 10px;
        }
    }

    #page-wrapper {
        padding: 0 1px !important;
    }

    .active-a {
        background-color: #f9a141;
        color: #000000 !important;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    select option {
        color: #000;
        background-color: #fff;
    }

    .tab-M-ch>.nav>li.active {
        border-top: 4px solid #3e8e41 !important;
        border-left: 0px solid #3e8e41 !important;
    }
</style>
<script type="text/javascript">

    function taggleFun(a) {
        angular.element(document.getElementById('specialAnalyticsCtl')).scope().drinksSDateOnChange();
    }

    if ($(window).width() <= 800) {
        if ($('body').hasClass('pace-running')) {
            $('body').removeClass('pace-running');
        }
        if ($('body').hasClass('pace-done')) {
            $('body').removeClass('pace-done');
        }
    };

    $("#offerName_s").on('change', function () {
        if ($(this).val()) {
            angular.element(document.getElementById('specialAnalyticsCtl'))
                .scope().offerOnChange({ titleTxt: $(this).val() });
        }
    })

    $('.dDate').on('change', function () {
        angular.element(document.getElementById('specialAnalyticsCtl')).scope().drinksSDateOnChange();
    });
    $(".muDateSelection").on('change', function () {
        angular.element(document.getElementById('specialAnalyticsCtl')).scope().dailySDateOnChange();
    })

    $(".exDateSelect").on('change', function () {
        angular.element(document.getElementById('specialAnalyticsCtl')).scope().exSDateFandToOnChange();
    })

    $("#special-date-O-Cl").on('change', function () {
        let date = $("#special-date-O-Cl").val();
        let id = $(this).find(':selected').attr('data-idvalue');
        angular.element(document.getElementById('specialAnalyticsCtl')).scope().drinksSEventsOnChange({ id, date });
    })

    $("#d-s-eventOEx-date").on('change', function () {
        let id = $("#d-s-eventOEx-date").val();
        if (id) {
            angular.element(document.getElementById('specialAnalyticsCtl')).scope().excluSDateOffCh({ id });
        }
    });

    $("#dailySDateRange").on('change', function () {
        let date = $("#dailySDateRange").val();
        let id = $(this).find(':selected').attr('data-idvalue');
        if (id && date != 'today') {
            angular.element(document.getElementById('specialAnalyticsCtl')).scope().dailyDDOnChange({ id, date });
        } else if (id) {
            let tDate = new Date();
            date = `${tDate.getFullYear()}-${("0" + (tDate.getMonth() + 1)).slice(-2)}-${("0" + tDate.getDate()).slice(-2)}`;
            console.log({ id, date });
            angular.element(document.getElementById('specialAnalyticsCtl')).scope().dailyDDOnChange({ id, date });
        }
    });

</script>