<div class="col-md-6">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <table class="table-condensed" style="width:100%">
        <tbody>
          <tr>
            <td class="question">
              <input type="checkbox" id="column_1_all_day" class="columnSelect__all_day" onchange="meals_columnChange(this)" data-name="all_day" value="1" />
              <label for="column_1_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_2_all_day" class="columnSelect__all_day" onchange="meals_columnChange(this)" data-name="all_day" value="2" />
              <label for="column_2_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_3_all_day" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="all_day" value="3" />
              <label for="column_3_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_4_all_day" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="all_day" value="4" />
              <label for="column_4_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_5_all_day" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="all_day" value="5" />
              <label for="column_5_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_6_all_day" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="all_day" value="6" />
              <label for="column_6_all_day"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_7_all_day" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="all_day" value="7" />
              <label for="column_7_all_day"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <table class="table-condensed" style="margin-top:20px;">
        <tr>
          <td><label></label></td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_1_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="1" style="margin: 0px 0 0" />
            <label for="row_1_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_2_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="2" style="margin: 0px 0 0" />
            <label for="row_2_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_3_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="3" style="margin: 0px 0 0" />
            <label for="row_3_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_4_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="4" style="margin: 0px 0 0" />
            <label for="row_4_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_5_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="5" style="margin: 0px 0 0" />
            <label for="row_5_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_6_all_day" class="rowSelect_all_day" onchange="meals_rowChange(this)" data-name="all_day" value="6" style="margin: 0px 0 0" />
            <label for="row_6_all_day" style="margin-bottom:0px;"></label>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-11">
      <div id="datepicker-container">
        <div id="datepicker-center">
          <div id="datepicker_all_day"></div>
          <input type="hidden" id="hidden_all_day">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6" style="padding: 0px 17px;">
  <div class="row" style="padding-top: 22px;padding-bottom:20px;">
    <div class="col-md-12 question">
      <input type="checkbox" ng-model="meals_allday.isSelected" name="question_all_day" class="xClass" id="question_all_day" />
      <label for="question_all_day"> &nbsp;&nbsp;Allday</label>
    </div>
    <script>
      $(function () {
        $('.time').timepicker({ 'scrollDefault': 'now', 'step': 15, 'forceRoundTime': true, 'timeFormat': 'h:i A' });
      });
    </script>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="hidden" id="all_day_startTimehideen" />
        <input id="all_day_startTime" class="form-control time" ng-model="meals_allday.startTime" placeholder="Start Time" data-name="all_day" onchange="changeTime('startTime',this)" type="text" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="hidden" id="{{type.id}}_endTimehideen" />
        <input id="all_day_endTime" class="form-control time" ng-model="meals_allday.endTime" placeholder="End Time" data-name="all_day" onchange="changeTime('endTime',this)" type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control" ng-model="meals_allday.desc" placeholder="Description" rows="5" id="all_day_desc"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding:0px 20px;">
  <button type="button" ng-click="AlldayCreate()" class=" btn btn-primary pull-right"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Save</button>
</div>
<script type="text/javascript">
  $(function () {
    var selectedAllDayDateStore = [];
    $('#datepicker_all_day').datepicker();
    $('#datepicker_all_day').on('changeDate', function () {
      var date = $('#datepicker_all_day').datepicker('getFormattedDate');

      if (selectedAllDayDateStore.length > 0) {
        if (date != null || date != "" || date != undefined) {
          if (date.split('/')[0] == selectedAllDayDateStore[0].split('/')[0]) {
            selectedAllDayDateStore.push(date);
          }
          else {
            selectedAllDayDateStore = [];
            selectedAllDayDateStore.push(date);
          }
        }
      }
      else {
        selectedAllDayDateStore.push(date);
      }
      $('#datepicker_all_day .datepicker-days .table-condensed tbody').find('tr').each(function (tbody, tr) {

        $(tr).find('td').each(function (tr1, td) {
          $.each(selectedAllDayDateStore, function (dates, date) {
            if (('0' + date.split('/')[1]).slice(-2) == ('0' + $(td).html()).slice(-2)) {
              $("#datepicker_all_day .datepicker-days .table-condensed tbody tr:nth-child(" + (tbody + 1) + ") td:nth-child(" + (tr1 + 1) + ")").not('.old').not('.new').addClass('active');
            }
          });
        });
      });
      var items = $.map($("#datepicker_all_day .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
      if (items.length > 0) {
        var month = ($("#datepicker_all_day .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
        var year = ($("#datepicker_all_day .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
        var monthIndex = monthNames.indexOf(month) + 1;
        angular.element(document.getElementById('businessManager')).scope().alldaydateSelected(items, monthIndex, year);
      }
    });
  });
</script>
