<div class="col-md-6">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <table class="table-condensed" style="width:100%">
        <tbody>
          <tr>
            <td class="question">
              <input type="checkbox" id="column_1_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="1" />
              <label for="column_1_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_2_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="2" />
              <label for="column_2_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_3_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="3" />
              <label for="column_3_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_4_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="4" />
              <label for="column_4_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_5_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="5" />
              <label for="column_5_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_6_breakfast" class="columnSelect_all_day" onchange="meals_columnChange(this)" data-name="breakfast" value="6" />
              <label for="column_6_breakfast"></label>
            </td>
            <td class="question">
              <input type="checkbox" id="column_7_breakfast" class="columnSelect_breakfast" onchange="meals_columnChange(this)" data-name="breakfast" value="7" />
              <label for="column_7_breakfast"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <table class="table-condensed" style="margin-top:20px;">
        <tr>
          <td><label></label></td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_1_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="1" style="margin: 0px 0 0" />
            <label for="row_1_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_2_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="2" style="margin: 0px 0 0" />
            <label for="row_2_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_3_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="3" style="margin: 0px 0 0" />
            <label for="row_3_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_4_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="4" style="margin: 0px 0 0" />
            <label for="row_4_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_5_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="5" style="margin: 0px 0 0" />
            <label for="row_5_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
        <tr>
          <td class="question" style="text-align:center;">
            <input type="checkbox" id="row_6_breakfast" class="rowSelect_breakfast" onchange="meals_rowChange(this)" data-name="breakfast" value="6" style="margin: 0px 0 0" />
            <label for="row_6_breakfast" style="margin-bottom:0px;"></label>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-11">
      <div id="datepicker-container">
        <div id="datepicker-center">
          <div id="datepicker_breakfast"></div>
          <input type="hidden" id="hidden_breakfast">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6" style="padding: 0px 17px;">
  <div class="row" style="padding-top: 22px;padding-bottom:20px;">
    <div class="col-md-12 question">
      <input type="checkbox" ng-model="meals_breakfast.isSelected" name="question_breakfast" class="xClass" id="question_breakfast" />
      <label for="question_breakfast"> &nbsp;&nbsp;Breakfast</label>
    </div>
    <script>
      $(function () {
        $('.time').timepicker({ 'scrollDefault': 'now', 'step': 15, 'forceRoundTime': true, 'timeFormat': 'h:i A' });
      });
    </script>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="hidden" id="breakfast_startTimehideen" />
        <input id="breakfast_startTime" class="form-control time" ng-model="meals_breakfast.startTime" placeholder="Start Time" data-name="breakfast" onchange="changeTime('startTime',this)" type="text" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="hidden" id="breakfast_endTimehideen" />
        <input id="breakfast_endTime" class="form-control time" ng-model="meals_breakfast.endTime" placeholder="End Time" data-name="breakfast" onchange="changeTime('endTime',this)" type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control" ng-model="meals_breakfast.desc" placeholder="Description" rows="5" id="breakfast_desc"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding:0px 20px;">
  <button type="button" ng-click="BreakfastCreate()" class=" btn btn-primary pull-right"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Save</button>
</div>
<script type="text/javascript" >
  $(function () {
    var selectedBreakfastDateStore = [];
    $('#datepicker_breakfast').datepicker();
    $('#datepicker_breakfast').on('changeDate', function () {
      var date = $('#datepicker_breakfast').datepicker('getFormattedDate');
      if (selectedBreakfastDateStore.length > 0) {
        if (date != null || date != "" || date != undefined) {
          if (date.split('/')[0] == selectedBreakfastDateStore[0].split('/')[0]) {
            selectedBreakfastDateStore.push(date);
          }
          else {
            selectedBreakfastDateStore = [];
            selectedBreakfastDateStore.push(date);
          }
        }
      }
      else {
        selectedBreakfastDateStore.push(date);
      }
      $('#datepicker_breakfast .datepicker-days .table-condensed tbody').find('tr').each(function (tbody, tr) {

        $(tr).find('td').each(function (tr1, td) {
          $.each(selectedBreakfastDateStore, function (dates, date) {
            if (('0' + date.split('/')[1]).slice(-2) == ('0' + $(td).html()).slice(-2)) {
              $("#datepicker_breakfast .datepicker-days .table-condensed tbody tr:nth-child(" + (tbody + 1) + ") td:nth-child(" + (tr1 + 1) + ")").not('.old').not('.new').addClass('active');
            }
          });
        });
      });
      var items = $.map($("#datepicker_breakfast .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
      if (items.length > 0) {
        var month = ($("#datepicker_breakfast .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
        var year = ($("#datepicker_breakfast .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
        var monthIndex = monthNames.indexOf(month) + 1;
        angular.element(document.getElementById('businessManager')).scope().breakfastdateSelected(items, monthIndex, year);
      }
    });
  });
</script>
