<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap"
    rel="stylesheet">
    <title>Barm8 - Privacy policy</title>

    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 3rem;margin-bottom:1rem;">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>Privacy Policy </h2>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>BarM8 PTY LTD</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The BarM8 Website (the ‘Website’) and the BarM8 Mobile App (the ‘App’) severally is the BarM8 Digital Platform (the ‘Platform’). </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Privacy</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>At BarM8 Pty Ltd we respect your right to privacy and committed to safeguarding the privacy of users on the BarM8 Platform ('Platform'). We adhere to the Australian Privacy Principles contained in the Privacy Act 1988 (Cth). This policy sets out how we collect and treat your personal information.  </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>"Personal information" is information we hold which is identifiable as being about you.  </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Collection of personal information </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>BarM8 Pty Ltd will, from time to time, receive and store personal information you enter onto our Platform, BarM8, provided to us directly or given to us in other forms. </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>You may provide basic information such as your name, phone number, address and email address to enable us to send information, provide updates and process your product or service order. We may collect additional information at other times, including but not limited to, when you provide feedback, when you provide information about your personal or business affairs, change your content or email preference, respond to surveys and/or promotions, provide financial or credit card information, or communicate with our customer support. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>Additionally, we may also collect any other information you provide while interacting with us.  </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>How we collect your personal information </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>BarM8 Pty Ltd collects personal information from you in a variety of ways, including when you interact with us electronically or in person, when you access our Platform and when we provide our services to you. We may receive personal information from third parties. If we do, we will protect it as set out in this Privacy Policy.  </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Use of your personal information </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>BarM8 Pty Ltd may use personal information collected from you to provide you with information, updates and our services. We may also make you aware of new and additional products, services and opportunities available to you.  </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>We may use your personal information to improve our products and services and better understand your needs.   </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>The Application may make third party social media features available to its users. We cannot ensure the security of any information you choose to make public in a social media feature. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy. We may use your personal information to improve our products and services and better understand your needs.   </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>BarM8 Pty Ltd may contact you by a variety of measures including, but not limited to telephone, email, sms or mail.  </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Disclosure of your personal information </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this Policy. Personal information is only supplied to a third party when it is required for the delivery of our services.  </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>We may from time to time need to disclose personal information to comply with a legal requirement, such as a law, regulation, court order, subpoena, warrant, in the course of a legal proceeding or in response to a law enforcement agency request. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>We may also use your personal information to protect the copyright, trademarks, legal rights, property or safety of BarM8 Pty Ltd, its application, website and customers or third parties.  </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>Information that we collect may from time to time be stored, processed or transferred between parties located in countries outside of Australia.  </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>If there is a change of control in our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible at law our user databases, together with any personal information and non-personal information contained in those databases. This information may be disclosed to a potential purchaser under an agreement to maintain confidentiality. We would seek to only disclose information in good faith and where required by any of the above circumstances. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>By providing us with personal information, you consent to the terms of this Privacy Policy and the types of disclosure covered by this Policy. Where we disclose your personal information to third parties, we will request that the third party follow this Policy regarding handling your personal information. </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Security of your personal information  </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>BarM8 Pty Ltd is committed to ensuring that the information you provide to us is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The transmission and exchange of information is carried out at your own risk. We cannot guarantee the security of any information that you transmit to us, or receive from us. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.  </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Access to your personal information  </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>You may request details of personal information that we hold about you in accordance with the provisions of the Privacy Act 1988 (Cth). A small administrative fee may be payable for the provision of information. If you would like a copy of the information which we hold about you or believe that any information we hold on you is inaccurate, out of date, incomplete, irrelevant or misleading, please email us at <a href="mailto:info@barm8.com.au">info@barm8.com.au</a>.  </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>We reserve the right to refuse to provide you with information that we hold about you, in certain circumstances set out in the Privacy Act 1988 (Cth).   </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>BarM8 Platform  </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>When you use our Platform, we may collect certain information such as mobile unique device ID, the IP address of your mobile device, mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Platform. This information is used in an aggregated manner to analyse how people use our Platform, such that we can improve our service. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>We may from time to time use cookies on our Platform. Cookies are very small files which a website uses to identify you when you come back to the Platform and to store details about your use of the Platform. Cookies are not malicious programs that access or damage your computer, tablet or smartphone. Most devices automatically accept cookies but you can choose to reject cookies by changing your devise settings. However, this may prevent you from taking full advantage of our Platform. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>The Platform may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Application.  </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>Our Application may, from time to time, have links to other applications or websites not owned or controlled by us. These links are meant for your convenience only. Links to third party applications and websites do not constitute sponsorship or endorsement or approval of these third parties.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>Please be aware that BarM8 Pty Ltd is not responsible for the privacy practises of other such applications or websites. We encourage our users to be aware, when they leave our Platform or website, to read the privacy statements of each and every application or website that collects personal identifiable information. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>When you visit the Platform, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within to improve the user experience and display a location map with relevant advertisements. We will not share your current location with other users or partners.  </p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Complaints about privacy</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>Complaints about privacy If you have any complaints about our privacy practices, please feel free to send in details of your complaints to 110 George Street Parramatta, NSW 2150, Australia. We take complaints very seriously and will respond shortly after receiving written notice of your complaint.  </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Op out right</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>You can stop all collection of information by the Platform easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email at <a href="mailto:info@barm8.com.au">info@barm8.com.au</a>.    </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Changes to Privacy Policy</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>Please be aware that we may change this Privacy Policy in the future. We may modify this Privacy Policy at any time, in our sole discretion and all modifications will be effective immediately upon our posting of the modifications on our website or notice board. Please check back from time to time to review our Privacy Policy. </p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-content">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <div class="footer-logo">
                          <a href="/"><img
                                  src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
                                  class="img-fluid"></a>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li">
                      <ul>
                          <li><a title="Facebook"><img
                                      src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
                                      class="icons"></a></li>
                          <li><a title="Instagram"><img
                                      src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
                                      class="icons"></a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <div class="footer-menu">
                          <ul class="list-inline">
                              <li><a title="Terms and Conditions" href="/terms">Terms</a></li>
                              <li><a title="Privacy policy" href="/privacy">Privacy</a></li>
                              <li><a title="Contact us" href="/contact">Contact</a></li>
                          </ul>
                      </div>
                  </div>

              </div>
          </div>
      </div>

  </footer>

  <section class="copyright-section">
    <div class="copyright-text">
        <a href="/">
            <p>© Barm8 2020</p>
        </a>
    </div>
</section>

<style>
    a {
    text-decoration: none;
    }

  .footer {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: rgb(13, 40, 94);
          padding: 20px 0px;
      }

      .footer-menu {
          padding-top: 10px;
          padding-bottom: 10px;
      }

      .footer-menu a {
          margin: 8px 16px;
          color: rgb(255, 255, 255);
          font-size: 16px;
          line-height: 20px;
      }

      .copyright p {
          margin: 8px 16px;
          color: rgb(255, 255, 255);
          font-size: 16px;
          line-height: 20px;
          font-weight: 300;
      }

      .footer-content {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .footer-logo {
          max-width: 150px;
      }

      .footer {
          background-color: #fba919;
          padding: 15px 0;
      }

      .img-fluid {
          max-width: 100%;
          height: auto;
      }

      .footer {
          background-color: #fba919;
          padding: 15px 0;
      }

      .footer-menu ul li {
          float: right;
          color: #fff;
      }

      .footer-menu ul li {
          list-style-type: none;
      }

      .copyright-section {
          border-top: 1px solid #f7f7ff2b;
          background-color: #fba919;
          padding: 5px 0;
      }

      .copyright-text p {
          font-size: 17px;
          color: #fff;
          text-align: center;
          margin: 0;
      }

      body {
          font-family: 'Poppins', sans-serif;
      }

      .icons {
          max-width: 30px;
      }

      .icons-li ul {
          list-style-type: none;
          display: inline;
      }

      .icons-li ul li {
          display: inline;
          justify-content: flex-start;
          padding: 0 5px 0 5px;
      }
</style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>