

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <div class="container-fluid" style="overflow:hidden;background-color:#337ab7;padding-bottom: 36% !important;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 card " style="margin-top:10rem;padding-right:0px;padding-left:0px;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12">
              <a ui-sref="loginNew" title="Close" ui-sref-active="active" class="pull-right" style="color: #550605;">
                <i class="fas fa-times"></i>
              </a>
            </div>
            <div class="text-center">
              <h2 class="text-center">Reset Password?</h2>
              <div class="panel-body">

                <form action="<%= redirectUrl %>" method="post" id="resetpassword">
                    <div class="row">
                      <div class="form-group col-md-8 col-md-offset-2">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fas fa-lock"></i>
                          </span>
                          <input id="password"  name="newPassword" placeholder="New Password" class="form-control" type="password">
                      </div>
                        <span id="pwdError" style="color:#ff0000;display:none;">Password is required!.</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-8 col-md-offset-2">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fas fa-lock"></i>
                          </span>
                          <input id="confirmpassword" name="confirmation" placeholder="Confirm Password" class="form-control" type="password">
                      </div>
                        <span id="conpwdError" style="color:#ff0000;display:none;">Confirm Password is required!.</span>
                        <span id="conpwdmatchError" style="color:#ff0000;display:none;">Confirm Password does not match!.</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <button class="btn  btn-primary" onclick="changeFun()" id="btnClick" type="button">
                          <i class="fas fa-paper-plane"></i> &nbsp;Reset Password
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function changeFun() {
      if ($("#password").val() == "" || $("#password").val() == null || $("#password").val() == undefined) {
      $("#pwdError").css('display', 'block');
      }
      else {
      if ($("#confirmpassword").val() == "" || $("#confirmpassword").val() == null || $("#confirmpassword").val() == undefined) {
      $("#conpwdError").css('display', 'block');
      $("#pwdError").css('display', 'none');
      } else {
      if ($("#confirmpassword").val() == $("#password").val()) {
      $("#resetpassword").submit();
      }
      else {
      $("#conpwdmatchError").css('display', 'block');
      $("#conpwdError").css('display', 'none');
      $("#pwdError").css('display', 'none');
      }
      }
      }
      }
    </script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="insp/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,700italic,400italic,300italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
<!--<section>
  <form action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div>
        <label for="password">New password:</label>
        <input type="text" name="newPassword">
      </div>
      <div>
        <label for="confirmation">Confirm new password:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>
</section>-->


