<div class="wrapper wrapper-content" id="transactionSettingCtl" ng-controller="transactionSettingCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row" ng-show="userDetails.isAdmin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'transaction-settings');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('transaction-settings')"
                                id="businessSubmit" class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1rem;">
                        <div class="form-group">
                            <input id="drinks_order" class="all-checkbox" type="checkbox">
                            <label for="drinks_order" style="font-size: 1.3rem !important;">&nbsp;Drinks
                                Order</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 col-lg-6">
                                        <input id="drinks_order_absorb_fee" type="checkbox"
                                            class="chb-drinks all-checkbox">
                                        <label for="drinks_order_absorb_fee">&nbsp;Absorb
                                            fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="drinks_order_absorb_fee_txt" value="0" class="form-control"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="drinks_order_fixed_fee" type="checkbox"
                                            class="chb-drinks all-checkbox">
                                        <label for="drinks_order_fixed_fee">&nbsp;Fixed fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="drinks_order_fixed_fee_txt" class="form-control all-textbox"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>

                                            <span id="_drinks_order_fixed_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="drinks_order_perc_fee" type="checkbox"
                                            class="chb-drinks all-checkbox">
                                        <label for="drinks_order_perc_fee">&nbsp;Percentage fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="perc">
                                                <select class="form-control all-selectbox" id="drinks_order_per_select"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;padding: 6px 24px !important;">
                                                    <option value="select">Select</option>
                                                    <option value="1">1.00</option>
                                                    <option value="1.5">1.50</option>
                                                    <option value="2">2.00</option>
                                                    <option value="2.5">2.50</option>
                                                    <option value="3">3.00</option>
                                                    <option value="3.5">3.50</option>
                                                    <option value="4">4.00</option>
                                                    <option value="4.5">4.50</option>
                                                    <option value="5">5.00</option>
                                                </select>
                                            </div>
                                            <span id="_drinks_order_perc_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1rem;">
                        <div class="form-group">
                            <input id="meals_order" type="checkbox" class="all-checkbox" ng-model="meals_order_checked">
                            <label for="meals_order" style="font-size: 1.3rem !important;">&nbsp;Meals
                                Order</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 col-lg-6">
                                        <input id="meals_order_absorb_fee" type="checkbox"
                                            class="chb-meals all-checkbox">
                                        <label for="meals_order_absorb_fee">&nbsp;Absorb
                                            fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="meals_order_absorb_fee_txt" value="0" class="form-control"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="meals_order_fixed_fee" type="checkbox"
                                            class="chb-meals all-checkbox">
                                        <label for="meals_order_fixed_fee">&nbsp;Fixed fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="meals_order_fixed_fee_txt" class="form-control all-textbox"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>
                                            <span id="_meals_order_fixed_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="meals_order_perc_fee" type="checkbox" class="chb-meals all-checkbox">
                                        <label for="meals_order_perc_fee">&nbsp;Percentage fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="perc">
                                                <select class="form-control all-selectbox" id="meals_order_per_select"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;padding: 6px 24px !important;">
                                                    <option value="select">Select</option>
                                                    <option value="1">1.00</option>
                                                    <option value="1.5">1.50</option>
                                                    <option value="2">2.00</option>
                                                    <option value="2.5">2.50</option>
                                                    <option value="3">3.00</option>
                                                    <option value="3.5">3.50</option>
                                                    <option value="4">4.00</option>
                                                    <option value="4.5">4.50</option>
                                                    <option value="5">5.00</option>
                                                </select>
                                            </div>
                                            <span id="_meals_order_perc_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1rem;">
                        <div class="form-group">
                            <input id="event_ticket" class="all-checkbox" type="checkbox"
                                ng-model="event_ticket_checked">
                            <label for="event_ticket" style="font-size: 1.3rem !important;">&nbsp;Event
                                Ticketing</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 colmd-6 col-lg-6 col-xl-6">
                                        <input id="event_ticket_absorb_fee" type="checkbox"
                                            class="chb-event all-checkbox">
                                        <label for="event_ticket_absorb_fee">&nbsp;Absorb
                                            fee</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 colmd-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="event_ticket_absorb_fee_txt" ng-disabled="true" value="0"
                                                    class="form-control" type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="event_ticket_fixed_fee" type="checkbox"
                                            class="chb-event all-checkbox">
                                        <label for="event_ticket_fixed_fee">&nbsp;Fixed fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="event_ticket_fixed_fee_txt" class="form-control all-textbox"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;">
                                            </div>
                                            <span id="_event_ticket_fixed_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="event_ticket_perc_fee" type="checkbox"
                                            class="chb-event all-checkbox">
                                        <label for="event_ticket_perc_fee">&nbsp;Percentage fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="perc">
                                                <select class="form-control all-selectbox"
                                                    id="event_ticket_order_select"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;padding: 6px 24px !important;">
                                                    <option value="select">Select</option>
                                                    <option value="1">1.00</option>
                                                    <option value="1.5">1.50</option>
                                                    <option value="2">2.00</option>
                                                    <option value="2.5">2.50</option>
                                                    <option value="3">3.00</option>
                                                    <option value="3.5">3.50</option>
                                                    <option value="4">4.00</option>
                                                    <option value="4.5">4.50</option>
                                                    <option value="5">5.00</option>
                                                </select>
                                            </div>
                                            <span id="_event_ticket_perc_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1rem;">
                        <div class="form-group">
                            <input id="_takeaway_Special_offer" class="all-checkbox" type="checkbox"
                                ng-model="_takeaway_special_offer">
                            <label for="_takeaway_Special_offer"
                                style="font-size: 1.3rem !important;">&nbsp;Takeaway</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="_takeaway_url" type="checkbox" class="take_checkbox t_ch_box"
                                            name="take_checkbox" data-inputid="_takeaway_url_txt">
                                        <label for="_takeaway_url">&nbsp;URL for Ordering</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <input id="_takeaway_url_txt" class="form-control take-txt" type="text"
                                                placeholder="Enter URL for Orders"
                                                style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="_takeaway_phone_number" type="checkbox"
                                            class="take_checkbox t_ch_box" data-inputid="_takeaway_phone_number_txt"
                                            name="take_checkbox">
                                        <label for="_takeaway_phone_number">&nbsp;Phone no to
                                            Order</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <input id="_takeaway_phone_number_txt" class="form-control take-txt"
                                                type="text" placeholder="Enter phone number for Orders"
                                                style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="_takeaway_desc" name="take_checkbox"
                                            data-inputid="_takeaway_desc_txt" class="take_checkbox" type="checkbox">
                                        <label for="_takeaway_desc">&nbsp;Description</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <textarea id="_takeaway_desc_txt"
                                                placeholder="Enter short Description or instructions to Order"
                                                style="border: 2px solid #ddd !important;font-size: 1rem !important;"
                                                rows="2" class="form-control take-txt"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            </div>
            <div id="errorModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h4 class="modal-title">Modal Header</h4> -->
                        </div>
                        <div class="modal-body">
                            <p style="font-size:20px;">Set up connected account before proceeding!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="gotoAccounts()" style="color: rgb(250 250 250) !important;
                            background-color: #faa141 !important;
                            border-color: #faa141 !important;
                            font-size: 16px !important;" class="btn btn-default">Go to
                                account details</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1rem;">
                        <div class="form-group">
                            <input id="booking_reser_order" class="all-checkbox" ng-model="booking_reser_order_checked"
                                type="checkbox">
                            <label for="booking_reser_order" style="font-size: 1.3rem !important;">&nbsp;Booking
                                / Reservation</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <input id="reservation_order_absorb_fee" type="checkbox"
                                            class="chb-booking-reservation all-checkbox">
                                        <label for="reservation_order_absorb_fee">&nbsp;Absorb fee</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="reservation_order_absorb_fee_txt" ng-disabled="true"
                                                    value="0" class="form-control" type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="reservation_fixed_fee" type="checkbox"
                                            class="chb-booking-reservation all-checkbox">
                                        <label for="reservation_fixed_fee">&nbsp;Fixed
                                            fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="dollar">
                                                <input id="reservation_fixed_fee_txt" class="form-control all-textbox"
                                                    type="number"
                                                    style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                            </div>
                                            <span id="_booking_re_fixed_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="reservation_order_perc_fee" type="checkbox"
                                            class="chb-booking-reservation all-checkbox">
                                        <label for="reservation_order_perc_fee">&nbsp;Percentage fee</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="perc">
                                                <select class="form-control all-selectbox"
                                                    id="booking_reser_order_select"
                                                    style="border: 2px solid #ddd !important;font-size: 1.2rem !important;padding: 6px 24px !important;">
                                                    <option value="select">Select</option>
                                                    <option value="1">1.00</option>
                                                    <option value="1.5">1.50</option>
                                                    <option value="2">2.00</option>
                                                    <option value="2.5">2.50</option>
                                                    <option value="3">3.00</option>
                                                    <option value="3.5">3.50</option>
                                                    <option value="4">4.00</option>
                                                    <option value="4.5">4.50</option>
                                                    <option value="5">5.00</option>
                                                </select>
                                            </div>
                                            <span id="_booking_re_perc_fee_err"
                                                style="display: none; color: red;">Required!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="reservation_order_url" class="book-res" type="checkbox">
                                        <label for="reservation_order_url">&nbsp;URL for Booking</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="booking-reservation-url"
                                                style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                            <span id="url_error" style="color: red;display:none;">Please enter
                                                vaild url</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <input id="res_order_phone_number" class="book-res" type="checkbox">
                                        <label for="res_order_phone_number">&nbsp;Phone no to Book</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="booking_res_order_phone_number"
                                                style="border: 2px solid #ddd !important;font-size: 1rem !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-12 col-md-12 col-xl-12 col-lg-12"
                style="text-align:right !important;margin-top:1rem;">
                <button class="btn btn-primary" ng-click="saveAndUpdate()" id="create-btn"
                    style="font-size: 1.4rem;padding:4px 30px !important;background-color: #0fa509;border:1px solid #0fa509 !important;">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#drinks_order").on('change', function () {
        if (!$(this).is(':checked')) {
            $(".chb-drinks").prop('checked', false).prop('disabled', true);
            $("#drinks_order_fixed_fee_txt").val('');
            $("#drinks_order_per_select").val('select');
        } else {
            $(".chb-drinks").prop('disabled', false);
        }
    });
    $("#meals_order").on('change', function () {
        if (!$(this).is(':checked')) {
            $(".chb-meals").prop('checked', false).prop('disabled', false);
            $("#meals_order_fixed_fee_txt").val('');
            $("#meals_order_per_select").val('select');
        } else {
            $(".chb-meals").prop('disabled', false);
        }
    });
    $("#event_ticket").on('change', function () {
        if (!$(this).is(':checked')) {
            $(".chb-event").prop('checked', false).prop('disabled', true);
            $("#event_ticket_fixed_fee_txt").val('');
            $("#event_ticket_order_select").val('select');
        } else {
            $(".chb-event").prop('disabled', false);
        }
    });
    $("#booking_reser_order").on('change', function () {
        if (!$(this).is(':checked')) {
            $(".chb-booking-reservation").prop('checked', false).prop('disabled', true);
            $("#reservation_fixed_fee_txt").val('');
            $("#booking_reser_order_select").val('select');
        } else {
            $(".chb-booking-reservation").prop('disabled', false);
        }
    });


    $("#_takeaway_Special_offer").on('change', function () {
        if ($(this).is(':checked')) {
            $(".take_checkbox").prop('disabled', false);
        } else {
            $(".take_checkbox").prop('disabled', true);
        }
    })




    $(".t_ch_box").change(function () {
        $(".t_ch_box").prop('checked', false);
        $(this).prop('checked', true);
    });
    $(".chb-drinks").change(function () {
        $(".chb-drinks").prop('checked', false);
        $(this).prop('checked', true);
    });
    $(".book-res").change(function () {
        $(".book-res").prop('checked', false);
        $(this).prop('checked', true);
    });
    $(".chb-booking-reservation").change(function () {
        $(".chb-booking-reservation").prop('checked', false);
        $(this).prop('checked', true);
    });
    $(".chb-meals").change(function () {
        $(".chb-meals").prop('checked', false);
        $(this).prop('checked', true);
    });
    $(".chb-event").change(function () {
        $(".chb-event").prop('checked', false);
        $(this).prop('checked', true);
    });
</script>

<style>
    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .dollar {
        position: relative;
    }

    .dollar input {
        padding-left: 25px;
    }

    .dollar:before {
        position: absolute;
        content: "$";
        left: 8px;
        top: 9.5px;
    }

    .perc {
        position: relative;
    }

    .perc input {
        padding-left: 25px;
    }

    .perc:before {
        position: absolute;
        content: "%";
        left: 8px;
        top: 9.5px;
    }

    input[type=checkbox] {
        zoom: 1.2;
    }
</style>