<script>
    $(".upload__btn").on('click', function () {
        if (!$("#video").val()) imageAddClk('promotion')
        else $(".upload__btn").addClass('disabled');
    });

    $("#video").on('change', function () {
        $(".upload__btn").addClass('disabled');
    })

    $("#uploadFile").on('click', function () { $("#file").click() });
    function imageAddClk(data) {
        $(".imageBox").attr('background-image', '');
        $("#imageCropModal").modal({ backdrop: 'static', keyboard: !1 }); $(".action #btnCrop").data('name', '');
        $(".action #btnCrop").data('name', data); $("#file").data('name', ''); $("#file").data('name', data);
    }
    $(() => {
        $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 15 });
    })
</script>
<div class="wrapper wrapper-content" id="promotionEditCtl" ng-controller="promotionEditCtl">
    <div class="m-t-sm" style="margin-top:2.6rem;">
        <div class="row card" style="margin: 0.5rem 0 0rem 0 !important;padding:10px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-8 col-xs-12 col-lg-8">
                        <div class="row" style="margin-bottom: -2.5rem;">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <a href="#" onclick="history.back();">
                                    <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                                        class="fas fa-long-arrow-alt-left fa-4x"></i>
                                    <b class="back-txt" style="
                                    font-size: 1.2rem;color: #000;">&nbsp; Back to Overview</b>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 style="font-weight: 500;">Edit promotion</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label>Select sponsor name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" disabled="disabled"
                                                ng-model="editdataList.sponsorDetails.sponsorName">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label>Sponsor logo</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <img id="popul-log"
                                            ng-if="editdataList && editdataList.sponsorDetails && editdataList.sponsorDetails.sponsorLogo.path"
                                            src="{{editdataList.sponsorDetails.sponsorLogo.path}}"
                                            ng-src="{{editdataList.sponsorDetails.sponsorLogo.path}}"
                                            data-toggle="tooltip" data-placement="top" class="card"
                                            style="width: 160px;height:90px;object-fit: contain;padding:10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="promotion-title" style="font-size: 1.2rem;">Promotion
                                        title</label>
                                    <input type="text" class="form-control custom-input" ng-model="editdataList.title"
                                        id="promotion-title">
                                    <span id="promotion-title-err" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="promotion-desc" style="font-size: 1.2rem;">Description</label>
                                    <textarea id="promotion-desc" class="form-control" ng-model="editdataList.desc"
                                        style="border: 2px solid #ddd !important;
                                    font-size: 16px !important;" name="promotion-desc" rows="4"></textarea>
                                    <span id="promotion-description-err" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="promotion-start-date" style="font-size: 1.2rem;">Start
                                        date</label>
                                    <input type="date" class="form-control custom-input"
                                        ng-model="editdataList.startDate" id="promotion-start-date">
                                    <span id="promotion-start-date-err" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="promotion-start-time" style="font-size: 1.2rem;">Start
                                        time</label>
                                    <input type="text" class="form-control custom-input time"
                                        ng-model="editdataList.startTime" id="promotion-start-time">
                                    <span id="promotion-start-time-err" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="promotion-end-date" style="font-size: 1.2rem;">End date</label>
                                    <input type="date" class="form-control custom-input" ng-model="editdataList.endDate"
                                        id="promotion-end-date">
                                    <span id="promotion-end-date-err" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="promotion-end-time" style="font-size: 1.2rem;">End time</label>
                                    <input type="text" class="form-control custom-input time"
                                        ng-model="editdataList.endTime" id="promotion-end-time">
                                    <span id="promotion-end-time-err" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6"
                                ng-show="editdataList.video.length==0 && editdataList.isImage==false">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <label>Upload video
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <input type="file" class="form-control custom-input" id="video"
                                            accept="video/mp4,video/x-m4v,video/*">
                                        <span style="color: gray;">Upload video for you sport
                                            (maximum file size 15mb)</span>
                                        <span style="color: red;display: none;" id="video_size_error">Maximum
                                            file size 20mb!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6"
                                ng-show="editdataList.videoThumbnail.length==0 && editdataList.isImage==false">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <label>Upload video thumbnail
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <input type="file" class="form-control custom-input" id="video-thumbnail"
                                            accept="image/jpg,image/png,image/jpeg,image/gif">
                                        <span style="color: gray;">Upload video for you sport
                                            (maximum file size 20mb)</span>
                                        <span style="color: red;display: none;" id="video_size_error">Maximum
                                            file size 20mb!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">

                                    <div class="col-xs-6 col-sm-6 col-md-5 col-xl-4 col-lg-4"
                                        ng-show="editdataList.isImage==false && editdataList.video.length">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <label style="font-size: 1.2rem;">Video</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <div class="profile-pic img-container-1">
                                                    <video ng-if="editdataList.video[0].path" muted loop="true"
                                                        autoplay="true" controls controlsList="nodownload">
                                                        <source src="{{editdataList.video[0].path}}" type="video/mp4">
                                                        <source src="{{editdataList.video[0].path}}" type="video/ogg">
                                                    </video>
                                                    <div class="edit">
                                                        <a class="btn" id="delete_{{editdataList.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="deleteVideo(editdataList.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-5 col-xl-4 col-lg-4"
                                        ng-show="editdataList.videoThumbnail && editdataList.videoThumbnail.length">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <label style="font-size: 1.2rem;">Video thumbnail</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <div class="profile-pic img-container-1">
                                                    <img ng-src="{{editdataList.videoThumbnail[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{{editdataList.videoThumbnail[0].fileName || 'No Image'}}"
                                                        class="img-thumbnail" style="width: 240px;height:140px"
                                                        alt="{{editdataList.videoThumbnail[0].fileName || 'No Image'}}">
                                                    <div class="edit">
                                                        <a class="btn" id="delete_{{editdataList.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="deleteVideoThumbnail(editdataList.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="editdataList.isImage==true && editdataList.primaryImg.length">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                <label style="font-size: 1.2rem;">Primary Image</label>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <p style="font-size: 1.02rem;">
                                    <i>(Image size is 700*350)</i>
                                </p>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-4 col-xl-4 col-lg-4">
                                <div class="profile-pic img-container-1">
                                    <img ng-src="{{editdataList.primaryImg[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                        data-toggle="tooltip" data-placement="top"
                                        title="{{editdataList.primaryImg[0].fileName || 'No Image'}}"
                                        class="img-thumbnail" style="width: 240px;height:140px"
                                        alt="{{editdataList.primaryImg[0].fileName || 'No Image'}}">
                                    <div class="edit"><a class="btn" id="delete_{{editdataList.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                            ng-click="deletePrimaryImg(editdataList.id)"
                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="editdataList.isImage==true && editdataList.primaryImg.length==0">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 1.5rem;">
                                <label>Primary image
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <p style="font-size: 1.02rem;">
                                    <i>(Image size is 700*350)</i>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <input type="file" class="form-control custom-input" id="pPrimaryImgCnt"
                                        accept="image/jpg,image/png,image/jpeg,image/gif">
                                    <span style="color: red;display: none;" id="image_err">Image is
                                        required</span>
                                    <span style="color: red;display: none;" id="image_w_p_h">Incorrect
                                        the width or height!</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" style="margin-top: 1rem;"
                                ng-show="editdataList.isImage==true">
                                <label style="font-size: 1.2rem;">Secondary Image</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4"
                                ng-show="editdataList.isImage==true && editdataList.secondaryImg.length"
                                style="margin-top: 1rem;" ng-repeat="img in editdataList.secondaryImg">
                                <div class="profile-pic img-container-1">
                                    <img ng-src="{{img.path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                        data-toggle="tooltip" data-placement="top"
                                        title="{{img.fileName || 'No Image'}}" class="img-thumbnail"
                                        style="width: 320px;height:170px" alt="{{img.fileName || 'No Image'}}">
                                    <div class="edit"><a class="btn" id="delete_{{editdataList.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                            ng-click="deleteSecondaryImg(editdataList.id, img.fileName)"
                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4"
                                ng-show="editdataList.isImage == true && (editdataList.secondaryImg.length==0 || editdataList.secondaryImg.length<5)">
                                <div class="row">
                                    <div class="col-xw-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label>Secondary images</label>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <p style="font-size: 1.02rem;">
                                            <i>(Image size is 600*450)</i>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <input type="file" class="form-control custom-input"
                                                data-imgcnt="{{editdataList.secondaryImg.length}}" id="pSecondaryCnt"
                                                accept="image/jpg,image/png,image/jpeg,image/gif" multiple>
                                            <span style="color: red;display: none;" id="image_w_s_h">Incorrect
                                                the width or height!</span>
                                            <span style="color: red;display: none;" id="image_w_s_h_max"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 col-xl-12"
                        style="margin-top:1rem;text-align:right;">
                        <button class="btn btn-primary" ng-click="updatePromotion()" id="update-btn"
                            style="font-size: 1.4rem;padding:20px;padding: 6px 50px !important;background-color: #1db842 !important;border: 1px solid #1db842 !important;">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<script>

    $("#select-sponsor").on('change', function () {
        $("#popul-log").attr('src', $(this).find(':selected').attr('data-img'));
    })

    $("#pPrimaryImgCnt").on('change', function () {
        let imageCnt = $("#pPrimaryImgCnt").val().length;
        $("#video").prop('disabled', false);
        if (imageCnt) $("#video").prop('disabled', true);
        $("#update-btn").prop('disabled', true);
        let h, w;
        $("#image_w_p_h").css({ display: 'none' });
        let reader = new FileReader();
        reader.onload = () => {
            let tmpImgNode = document.createElement("img");
            tmpImgNode.onload = function () {
                h = this.naturalHeight;
                w = this.naturalWidth;
                if (h == 350 && w == 700) {
                    $("#video").prop('disabled', false);
                    $("#update-btn").prop('disabled', false);
                } else {
                    $("#image_w_p_h").css({ display: 'block' });
                }
            };
            tmpImgNode.src = reader.result;
        };
        reader.readAsDataURL($("#pPrimaryImgCnt")[0].files[0]);
    });

    $("#video-thumbnail").on('change keypress', function () {
        videoThumbnail = $("#video-thumbnail").val().length;
        $("#pPrimaryImgCnt,#pSecondaryCnt").prop('disabled', false);
        if (videoThumbnail) {
            $("#pPrimaryImgCnt,#pSecondaryCnt").prop('disabled', true);
        }

        $("#update-btn").prop('disabled', true);

        let h, w;
        $("#image_w_thu_s_h").css({ display: 'none' });
        let reader = new FileReader();
        reader.onload = () => {
            let tmpImgNode = document.createElement("img");
            tmpImgNode.onload = function () {
                h = this.naturalHeight;
                w = this.naturalWidth;
                if (h == 350 && w == 700) {
                    $("#update-btn").prop('disabled', false);
                } else {
                    $("#image_w_thu_s_h").css({ display: 'block' });
                }
            };
            tmpImgNode.src = reader.result;
        };
        reader.readAsDataURL($("#video-thumbnail")[0].files[0]);
    });

    $("#pSecondaryCnt").on('change keypress', function () {
        let imageCnt = $("#pSecondaryCnt").val().length;
        let imagePrvCnt = Number($("#pSecondaryCnt").attr('data-imgcnt'));
        $("#video").prop('disabled', false);
        if (imageCnt) $("#video").prop('disabled', true);

        $("#update-btn").prop('disabled', true);

        $("#image_w_s_h_max").css({ display: 'none' });

        var numFiles = $(this).get(0).files.length;

        if (numFiles + imagePrvCnt <= 5) {
            let h, w;
            $("#image_w_s_h").css({ display: 'none' });
            let reader = new FileReader();
            reader.onload = () => {
                let tmpImgNode = document.createElement("img");
                tmpImgNode.onload = function () {
                    h = this.naturalHeight;
                    w = this.naturalWidth;
                    if ((h == 450 && w == 600) || (h == 600 && w == 600)) {
                        $("#video").prop('disabled', false);
                        $("#update-btn").prop('disabled', false);
                    } else {
                        $("#image_w_s_h_max").css({ display: 'block' }).html(`Maximum ${Math.abs(imagePrvCnt - 5)} images allowed!`);
                    }
                };
                tmpImgNode.src = reader.result;
            };
            reader.readAsDataURL($("#pSecondaryCnt")[0].files[0]);
        } else {
            $("#image_w_s_h_max").css({ display: 'block' }).html(`Maximum ${Math.abs(imagePrvCnt - 5)} images allowed!`);
        }
    });

    function formatBytes(bytes, decimals, binaryUnits) {
        if (bytes == 0) {
            return '0 Bytes';
        }
        var unitMultiple = (binaryUnits) ? 1024 : 1000;
        var unitNames = (unitMultiple === 1024) ? // 1000 bytes in 1 Kilobyte (KB) or 1024 bytes for the binary version (KiB)
            ['Bytes', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'] :
            ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        var unitChanges = Math.floor(Math.log(bytes) / Math.log(unitMultiple));
        return parseFloat((bytes / Math.pow(unitMultiple, unitChanges)).toFixed(decimals || 0)) + ' ' + unitNames[unitChanges];
    }

    $("#video").on('change', function () {
        $("#video_size_error").css("display", "none");
        let size = formatBytes(this.files[0].size);

        $("#update-btn").prop("disabled", false);
        $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", false);

        if (size) size = size.split(' ');

        if (size[1] == "MB" || size[1] == "KB" || size[1] == "Bytes") {
            if (size[1] == "MB") {
                if (Number(size[0]) <= 15) {
                    $("#update-btn").prop("disabled", false);
                    $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", true);
                    $("#video_size_error").css("display", "none");
                } else {
                    $("#update-btn").prop("disabled", true);
                    $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", false);
                    $("#video_size_error").css("display", "block");
                }
            } else if (size[1] == "KB" || size[1] == "Bytes") {
                $("#update-btn").prop("disabled", false);
                $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", true);
                $("#video_size_error").css("display", "none");
            } else {
                $("#update-btn").prop("disabled", true);
                $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", false);
                $("#video_size_error").css("display", "block");
            }
        } else {
            $("#update-btn").prop("disabled", true);
            $("#pSecondaryCnt,#pPrimaryImgCnt").prop("disabled", false);
            $("#video_size_error").css("display", "block");
        }

    })
    $(function () {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("input[type='date']").attr('min', today);
    });
</script>
<style type="text/css">
    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .card {
        margin: 0rem 0 0rem 0
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px
        }
    }

    #page-wrapper {
        padding: 0 0px !important;
    }

    input,
    input::-webkit-input-placeholder,
    textarea::placeholder {
        font-size: 1rem;
        font-weight: 500;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .img-container-1 {
        width: 100%;
        margin: auto;
        /*centers the div horizontally*/
        position: relative;
        /*Required for the overlay effect because below in the "overlay" class it is set to position: absolute, so that class is absolute positioned relative to this container class*/
    }

    /* .image {
  display: block;
  width: 100%; 
} */

    .i-overlay {
        position: absolute;
        /*See above comment in container class for position: relative*/
        bottom: 0;
        /*sets the overlay to the bottom of the container*/
        background: rgba(0, 0, 0, 0.5);
        /* Black see-through */
        width: 100%;
        /*takes up 100% width of the container*/
        transition: .5s ease-out;
        opacity: 0;
        /*Sets it to originally not be visible until below hover conditions*/
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .img-container-1 .i-overlay {
        opacity: 1;
        /*Makes overlay visible when the container div is hovered*/
    }

    .profile-pic {
        position: relative;
        display: inline-block;
    }

    .profile-pic:hover .edit {
        display: block;
    }

    .edit {
        padding-top: 13px;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    .edit a {
        color: #000;
    }
</style>