<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<div class="wrapper wrapper-content" id="createNewHappenings" ng-controller="whatsoncreateCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row b-selection" ng-show="userDetails.isAdmin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                    <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                        style="padding-right:0px;padding-left:0px;">
                        <input id="autocompleteBusiness" type="text" ng-disabled="!userDetails.isAdmin"
                            name="BusinessName" placeholder="Enter Business name">
                        <span id="businessErr" style="color:red;"></span>
                    </div>
                    <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                    <script
                        type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'createNewEventFirst');</script>
                    <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                        <button type="button" ng-click="BusinessSelected('createNewEventFirst')"
                            ng-show="userDetails.isAdmin" id="businessSubmit"
                            class="btn btn-raised btn-primary businessSubmit">
                            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="v-h">Create New Event</h2>
                        <b style="font-weight: 400;font-size: 1.1rem;">Let’s get started.</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t">
                        <b style="font-weight: 400;font-size: 1.1rem;">First some basic information.</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                <div class="form-group">
                                    <label for="category" class="required">Category - Select a category to which
                                        this event
                                        belongs.</label>
                                    <select data-placeholder="Select an option" chosen="happeningsCategory"
                                        id="_happenings_category" class="form-control custom-input"
                                        ng-options="event.name for event in happeningsCategory" ng-model="event"
                                        ng-change="happingsChange(event);"></select>
                                    <span id="_whatson_category_Error" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                <div class="form-group">
                                    <label for="_whatson_title" class="required">Title - What do you want to
                                        name this
                                        event?</label>
                                    <input type="text" class="form-control custom-input" id="_whatson_title"
                                        placeholder="Enter title of the event">
                                    <span id="_whatson_title_error" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="isTicktedShow">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            <label for="_happenings_title">Are you
                                                selling tickets to this event? </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="_selling_ticket" data-val="yes"
                                                class="styled-checkbox yes_no" id="_selling_ticket_yes">
                                            <label style="font-size: 14px!important;" for="_selling_ticket_yes">&nbsp;
                                                Yes</label>
                                            &nbsp; &nbsp;
                                            <input type="checkbox" name="_selling_ticket" data-val="no"
                                                class="styled-checkbox yes_no" id="_selling_ticket_no">
                                            <label style="font-size: 14px!important;" for="_selling_ticket_no">&nbsp;
                                                No</label>
                                            <span id="_whatson_title_error" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div id="ticketedYN">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <input type="checkbox" name="_ticket_option" data-val="_ticket_barm8"
                                                    class="styled-checkbox ticket_check" id="_ticket_barm8">
                                                <label style="font-size: 14px!important;" for="_ticket_barm8">&nbsp;
                                                    Barm8 Ticketing</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <input type="checkbox" name="_ticket_option"
                                                    data-val="third_party_ticket" class="styled-checkbox ticket_check"
                                                    id="_ticket_third_party">
                                                <label style="font-size: 14px!important;"
                                                    for="_ticket_third_party">&nbsp;
                                                    Third Party Ticketing</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <label for="_ticket_url">URL</label>
                                                <input type="text" disabled class="form-control custom-input"
                                                    id="_ticket_url">
                                                <span id="_ticket_url_error" style="color: red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ticketBookingEn">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="form-group">
                                                <input type="checkbox" name="_ticket_enabled_booked_en"
                                                    data-val="_ticket_barm8" class="styled-checkbox"
                                                    id="_ticket_enabled_booked">
                                                <label style="font-size: 14px!important;"
                                                    for="_ticket_enabled_booked">&nbsp;Do you wish to enable
                                                    Book now</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-b">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
                                <button ng-click="createContinue()" class="btn btn-s">CONTINUE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(() => {
        $("#ticketedYN,#ticketBookingEn").css({ display: 'none' })
    })
    $(".yes_no").change(function () {
        $(".yes_no").prop('checked', false);
        $("#ticketedYN,#ticketBookingEn").css({ display: 'none' })
        $(this).prop('checked', true);
        if ($("#_selling_ticket_no").is(':checked')) {
            $("#_ticket_barm8,#_ticket_third_party").prop('checked', false);
            $("#ticketBookingEn").css({ display: 'block' })
        } else {
            $("#ticketedYN").css({ display: 'block' })
        }
    });
    $(".ticket_check").change(function () {
        if ($("#_selling_ticket_yes").is(':checked')) {
            $(".ticket_check").prop('checked', false);
            $(this).prop('checked', true);
            if ($("#_ticket_third_party").is(':checked')) $("#_ticket_url").prop('disabled', false);
            else $("#_ticket_url").val('').prop('disabled', true);
        } else {
            $(this).prop('checked', false);
        }
    });
</script>
<style>
    input,
    input::-webkit-input-placeholder,
    textarea::placeholder {
        font-size: 1rem;
        font-weight: 500;
    }

    .m-t-1 {
        margin-top: 1rem;
    }

    .m-t {
        margin-top: 5px;
    }

    .m-t-b {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }

    .chosen-container-single .chosen-single {
        border: 2px solid #ddd !important;
        line-height: 30px !important;
        min-height: 40px !important;
    }

    .chosen-container-single .chosen-single div {
        top: 6px !important;
    }

    .styled-checkbox {
        position: absolute;
        opacity: 0
    }

    .styled-checkbox+label {
        position: relative;
        cursor: pointer;
        padding: 0
    }

    .styled-checkbox+label:before {
        content: "";
        margin-right: 5px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .12);
        background: #fafafa
    }

    .styled-checkbox:hover+label:before {
        background: rgba(0, 0, 0, .87)
    }

    .styled-checkbox:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .12)
    }

    .styled-checkbox:checked+label:before {
        background: rgba(0, 0, 0, .87)
    }

    .styled-checkbox:disabled+label {
        color: #b8b8b8;
        cursor: auto
    }

    .styled-checkbox:checked+label:after {
        content: "";
        position: absolute;
        left: 3px;
        top: 6px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .chosen-single {
        padding-top: 3px !important;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .v-h {
        font-weight: 600;
    }

    .v-h-1 {
        color: gray;
    }
</style>