<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<div class="wrapper wrapper-content" id="happenings" ng-controller="whatsonTriviaEventsCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row b-selection">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a href="#" onclick="history.back();" class="btn btn-s m-b">Back </a>
                    </div>
                </div>
                <div class="row card">
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 style="font-weight: 400;margin-left:1rem;">{{title}}</h2>
                    </div> -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <div class="col-sm-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <a class="nav-item nav-link active event-tab-header create-h-p c-event"
                                        data-toggle="tab" data-target="#nav-whatson-details" href="javascript:;"
                                        role="tab" aria-controls="nav-home" aria-selected="true">
                                        <span style="color: #000;font-size: 16px;">DETAILS</span>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade event-tab-content active in" id="nav-whatson-details"
                                role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <h2 class="v-h">Your Event Details</h2>
                                        <span class="manage-txt">Enter details of your Event for users to see on
                                            the Barm8 app.</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12"
                                        style="margin-top: 0.3rem;">
                                        <label>Description - Provide details of the Event
                                            here.</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                        <div class="form-group">
                                            <textarea class="form-control custom-textarea"
                                                placeholder="Including any details about prizes, teams and themes."
                                                rows="4" id="desc"></textarea>
                                            <span id="desc-error" style="color: red;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 class="v-h">Your Event Images</h2>
                                        <span class="manage-txt">Upload a Primary image and a Secondary image
                                            for your Event</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12"
                                        style="margin-top: 0.5rem;">
                                        <label>Primary image for your event</label>
                                        <p class="c-p-1">(For the best results we recommend uploading an
                                            image
                                            that is
                                            700*350
                                            pixels in size)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group" ng-show="primEvnImg.length==0">
                                            <input type="file" id="ticketEventImg" accept="image/png, image/jpeg"
                                                style="display: none;">
                                            <div class="drag-img-up" id="drag-drop-img"
                                                onclick="$('#ticketEventImg').trigger('click'); return false;">
                                                <img src="https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/add-image-icon.svg"
                                                    class="def-img">
                                                <p>Drag & drop or click to add image.</p>
                                                <span>JPEG or PNG</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="primEvnImg.length">
                                            <div class="img-content">
                                                <div class="content-overlay"></div>
                                                <img class="content-image" ng-src="primEvnImg[0].path"
                                                    src="{{primEvnImg[0].path}}"
                                                    style="box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);border-radius: 4px;">
                                                <div class="content-details fadeIn-bottom">
                                                    <button class="btn replaceScnryImg" ng-click="replaceImg()"
                                                        title="Replace"><i
                                                            class="fas fa-image"></i>&nbsp;Replace</button>
                                                    <button class="btn btn-danger" ng-click="imageDelete(primEvnImg)"
                                                        title="Remove"><i
                                                            class="far fa-trash-alt"></i>&nbsp;Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group img-c-s" style="margin-bottom: 0px;">
                                            <input type="file" id="ticketEventImg"
                                                accept="image/png, image/jpeg" style="display: none;">
                                            <button class="btn btn-primary"
                                                style="font-size: 1.25rem;padding:8px 10px !important;border-radius: 4px !important;"
                                                onclick="$('#ticketEventImg').trigger('click'); return false;">Choose
                                                Image file</button>
                                        </div> -->
                                        <script>
                                            $("#ticketEventImg").on('change', function (e) {
                                                angular.element(document.getElementById('happenings')).scope().clickImageSection(e.target.files[0]);
                                            })
                                        </script>
                                        <div class="form-group img-h-s" style="margin-bottom: 0px;display:none;">
                                            <div class="profile-pic" style="padding: 5px;">
                                                <img src="" class="img-resposive img-bkg" id="img-pre"
                                                    style="width: 306px;height: 180px;">
                                                <div class="edit">
                                                    <a class="btn" id="delete_i_index" data-toggle="tooltip"
                                                        data-placement="top" title="Delete"
                                                        style="background-color: #fff;color:#d50000;padding: 5px 10px!important;border-radius:25px;"
                                                        href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <link rel="stylesheet" href="/views/whatson-event/upload-img.css">
                                <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
                                <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
                                <div class="modal" id="image-crop-md" tabindex="-1" role="dialog">
                                    <div class="modal-dialog opacity-animate3 modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row page">
                                                    <div class="box-2">
                                                        <div class="result"></div>
                                                    </div>
                                                    <div class="box-2 img-result hide">
                                                        <img class="cropped" src="" alt="">
                                                    </div>
                                                    <div class="box">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"
                                                        style="text-align: left;">
                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                        <button class="btn btn-primary" id="crop-btn"
                                                            style="background-color: #388e3c !important; color: #fff;
                                                    border: 1px solid #388e3c !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Crop</button>
                                                        <button class="btn btn-primary" id="modalClose"
                                                            style="background-color: #d32f2f !important; color: #fff;
                                                    border: 1px solid #d32f2f !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <label>Secondary image for your event
                                        </label>
                                        <p class="c-p-1">(For the best results we recommend uploading an
                                            image
                                            that is
                                            600*450
                                            pixels in size)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <!-- <div class="form-group img-c-s-s" style="margin-bottom: 0px;">
                                            <input type="file" id="ticketEventSeImg"
                                                accept="image/png, image/jpeg" style="display: none;">
                                            <button class="btn btn-primary"
                                                style="font-size: 1.25rem;padding:8px 10px !important;border-radius: 4px !important;"
                                                onclick="$('#ticketEventSeImg').trigger('click'); return false;">Choose
                                                Image file</button>
                                        </div> -->
                                        <div class="form-group" ng-show="!seEvImg || seEvImg.length==0">
                                            <input type="file" id="ticketEventSeImg" accept="image/png, image/jpeg"
                                                style="display: none;">
                                            <div class="drag-img-up" id="drag-drop-img"
                                                onclick="$('#ticketEventSeImg').trigger('click'); return false;">
                                                <img src="https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/add-image-icon.svg"
                                                    class="def-img">
                                                <p>Drag & drop or click to add image.</p>
                                                <span>JPEG or PNG</span>
                                            </div>
                                        </div>
                                        <script>
                                            $("#ticketEventSeImg").on('change', function (e) {
                                                angular.element(document.getElementById('happenings')).scope().clickImgSecond(e.target.files[0]);
                                            })
                                        </script>
                                        <div class="form-group" ng-show="seEvImg && seEvImg.length">
                                            <div class="img-content">
                                                <div class="content-overlay"></div>
                                                <img class="content-image" ng-src="seEvImg[0].path"
                                                    src="{{seEvImg[0].path}}"
                                                    style="box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);border-radius: 4px;">
                                                <div class="content-details fadeIn-bottom">
                                                    <button class="btn replaceScnryImg" ng-click="replaceImg()"
                                                        title="Replace"><i
                                                            class="fas fa-image"></i>&nbsp;Replace</button>
                                                    <button class="btn btn-danger" ng-click="imageDelete(seEvImg)"
                                                        title="Remove"><i
                                                            class="far fa-trash-alt"></i>&nbsp;Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group img-h-s-s"
                                            style="margin-bottom: 0px;display:none;">
                                            <div class="profile-pic" style="padding: 5px;">
                                                <img src="" class="img-resposive img-bkg" id="img-second-pre"
                                                    style="width: 260px;height: 200px;">
                                                <div class="edit">
                                                    <a class="btn" id="delete_i_s_index" data-toggle="tooltip"
                                                        data-placement="top" title="Delete"
                                                        style="background-color: #fff;color:#d50000;padding: 5px 10px!important;border-radius:25px;"
                                                        href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <link rel="stylesheet" href="/views/whatson-event/upload-img-second.css">
                                <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
                                <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
                                <div class="modal" id="image-crop-second-md" tabindex="-1" role="dialog">
                                    <div class="modal-dialog opacity-animate3 modal-lg" role="document"
                                        style=" max-width: 685px;">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row page_1">
                                                    <div class="box-2">
                                                        <div class="result-second"></div>
                                                    </div>
                                                    <div class="box-2 img-result hide">
                                                        <img class="cropped" src="" alt="">
                                                    </div>
                                                    <div class="box">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"
                                                        style="text-align: left;">
                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                        <button class="btn btn-primary" id="crop-s-btn"
                                                            style="background-color: #388e3c !important; color: #fff;
                                                    border: 1px solid #388e3c !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Crop</button>
                                                        <button class="btn btn-primary" id="modalClose_second"
                                                            style="background-color: #d32f2f !important; color: #fff;
                                                    border: 1px solid #d32f2f !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <h2 class="v-h">Your Event Schedule</h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <label for="select_dates" class="manage-txt">Select Dates &amp;
                                            Time</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="form-group calendar">
                                                    <label for="events_start_date">Date</label>
                                                    <input type="text" class="form-control custom-input date"
                                                        id="events_start_date">
                                                    <span id="events_start_date_err" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="modal" id="myCalendarModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                                                                    style="margin-top:7.4rem;">
                                                                    <div ng-repeat="v in [1, 2, 3, 4, 5, 6]"
                                                                        style="display: flex; flex-flow: column; justify-content: space-between;margin-left:15px;">
                                                                        <input type="checkbox" id="_row_c_{{v}}"
                                                                            data-i="{{v}}" name="r-s-check"
                                                                            style="margin-top: 18px;"
                                                                            onclick="setRChecked(this)">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"
                                                                    style="padding-left: 0px;padding-right:0px;">
                                                                    <div style="display: flex;">
                                                                        <div style="padding:2px 11.5px;"
                                                                            ng-repeat="s in ['_1_col_ck', '_2_col_ck', '_3_col_ck', '_4_col_ck', '_5_col_ck', '_6_col_ck', '_7_col_ck']">
                                                                            <input type="checkbox" id="_row_c_{{s}}"
                                                                                data-i="{{$index+1}}" name="c-cal-check"
                                                                                style="margin-top: 16px;"
                                                                                onclick="setChecked(this)">
                                                                            <!-- ng-click="setChecked(this)" -->
                                                                        </div>
                                                                    </div>
                                                                    <div id="datepicker_dd_s"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer" style="text-align: right !important;">
                                                            <button type="button" class="btn btn-s"
                                                                onclick="AddCdatesDSpe()">Save</button>
                                                            <button type="button" class="btn btn-r"
                                                                data-dismiss="modal">Close</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="form-group time_i">
                                                    <label for="events_regis_time">Registration
                                                        Closes</label>
                                                    <input type="text" class="form-control time custom-input"
                                                        id="events_regis_time" placeholder="09:00 AM">
                                                    <span id="events_regis_time_err" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="form-group time_i">
                                                    <label for="events_start_time">Event Starts</label>
                                                    <input type="text" class="form-control time custom-input"
                                                        id="events_start_time" placeholder="07:30 PM">
                                                    <span id="events_start_time_err" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="form-group">
                                                    <label for="events_start_time">Entry</label>
                                                    <select class="form-control custom-input" id="trivia_entry">
                                                        <option value="select">Select</option>
                                                        <option value="Paid">Paid</option>
                                                        <option value="Free">Free</option>
                                                    </select>
                                                    <span id="trivia_entry_err" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="form-group">
                                                    <div class="dollar">
                                                        <label for="entry_Fee">Entry fee</label>
                                                        <input type="number" class="form-control custom-input"
                                                            id="entry_Fee" disabled>
                                                    </div>
                                                    <span id="entry_Fee_err" style="color: red;"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                                style="margin-bottom: 1rem;">
                                                <button class="btn pull-right btn-s" ng-click="addDates()"> Add
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="eventDates && eventDates.length">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <div class="table-responsive card">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Event Date</th>
                                                                <th>Registration Closes</th>
                                                                <th>Event Starts</th>
                                                                <th>Entry</th>
                                                                <th>Entry Fee</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="dates in eventDates">
                                                                <td>{{dates.dateFormat}}</td>
                                                                <td>{{dates.registrationTime}}</td>
                                                                <td>{{dates.startTime}}</td>
                                                                <td>{{dates.entryType}}</td>
                                                                <th>{{dates.entryFee}}</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-check" style="margin-top: 5px;">
                    <input class="form-check-input" type="checkbox" id="isBookingEnabled">
                    <label class="form-check-label" for="isBookingEnabled">Is Booking required for this
                        event?</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <button class="btn btn-s pull-right" ng-click="saveEvents()" id="finsihTicket_btn">Save
                    and Preview</button>
                <div class="form-check pull-right" style="margin-right: 1rem;margin-top:0.5rem;">
                    <input class="form-check-input" type="checkbox" id="trivia-live">
                    <label class="form-check-label" for="trivia-live">Go
                        Live</label>
                </div>
            </div>
        </div>
    </div>

</div>


<script>


    $(function () {

        $('#datepicker_dd_s').datepicker({ startDate: new Date(), multidate: true, format: "dd-mm-yyyy" });
        $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 30 });
        // $(".happenings-btn").on('click', function () {
        //     $(".happenings-btn").each(function () {
        //         $(this).removeClass('active-happen');
        //     });
        //     $(this).addClass('active-happen')
        // })
    });

    $("#events_start_date").on('click', function () {
        $("#myCalendarModal .datepicker-days .table-condensed tbody tr td").not('.old').not('.new').not('.disabled').removeClass('active');
        $('input[name^="r-s-check"]:checked').each(function (i) {
            $(this).prop('checked', false);
        });
        $('input[name^="c-cal-check"]:checked').each(function (i) {
            $(this).prop('checked', false);
        });
        $("#events_start_date").val('');
        $('#myCalendarModal').modal({
            show: 'true'
        });
    })

    //$('#datepicker_dd_s').datepicker({ multidate: true, startDate: new Date(), todayHighlight: false });

    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];


    var AddCdatesDSpe = () => {
        var items = $.map($("#myCalendarModal .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
        var month = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
        var year = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
        var monthIndex = monthNames.indexOf(month) + 1;
        var datesAdd = [];
        $.each(items, function (key, val) {
            datesAdd.push(`${val}-${monthIndex}-${year}`);
        });
        $('#myCalendarModal').modal('hide');
        let stVa = '';
        for (let val of datesAdd) stVa += `${val},`;
        $("#events_start_date").val(stVa.replace(/,(?=\s*$)/, ''));
    }

    var setChecked = (e) => {
        //  alert($(e).attr('data-i'));
        if ($(e).prop("checked")) {
            $(`#myCalendarModal .datepicker table tbody tr td:nth-child(${$(e).attr('data-i')})`)
                .not('.old')
                .not('.new')
                .not('.disabled')
                .addClass('active');
            // $(e).prop('checked', true);
            var items = $.map($("#myCalendarModal .datepicker .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
            var month = ($("#myCalendarModal .datepicker .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
            var year = ($("#myCalendarModal .datepicker .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
            var monthIndex = monthNames.indexOf(month) + 1;
            var datesAdd = [];
            $.each(items, function (key, val) {
                datesAdd.push(new Date(parseInt(year), parseInt((monthIndex - 1)), parseInt(val)));
            });
            $('#datepicker_hh_s').datepicker('setDates', datesAdd);
        }
        else {
            $(`#myCalendarModal .datepicker table tbody tr td:nth-child(${$(e).attr('data-i')})`).removeClass('active');
            //  $(e).prop('checked', false);
            var items = $.map($("#myCalendarModal .datepicker .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
            var month = ($("#myCalendarModal .datepicker .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
            var year = ($("#myCalendarModal .datepicker .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
            var monthIndex = monthNames.indexOf(month) + 1;
            var datesAdd = [];
            $.each(items, function (key, val) {
                datesAdd.push(new Date(parseInt(year), parseInt((monthIndex - 1)), parseInt(val)));
            });
            $('#datepicker_hh_s').datepicker('setDates', datesAdd);
        }
    }

    var setRChecked = (e) => {
        let i = $(e).attr('data-i');
        if ($(e).prop("checked")) {
            $("#myCalendarModal .datepicker-days .table-condensed tbody tr:nth-child(" + i + ") td").not('.old').not('.new').not('.disabled').addClass('active');
            var items = $.map($("#myCalendarModal .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
            var month = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
            var year = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
            var monthIndex = monthNames.indexOf(month) + 1;
            var datesAdd = [];
            $.each(items, function (key, val) {
                datesAdd.push(new Date(parseInt(year), parseInt((monthIndex - 1)), parseInt(val)));
            });
            $('#datepicker_hh_s').datepicker('setDates', datesAdd);
        } else {
            $("#myCalendarModal .datepicker-days .table-condensed tbody tr:nth-child(" + i + ") td").not('.old').not('.new').not('.disabled').removeClass('active');
            var items = $.map($("#myCalendarModal .datepicker-days .table-condensed tbody tr .active"), function (ele) { return $(ele).text(); });
            var month = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[0];
            var year = ($("#myCalendarModal .datepicker-days .table-condensed thead  .datepicker-switch").text()).split(" ")[1];
            var monthIndex = monthNames.indexOf(month) + 1;
            var datesAdd = [];
            $.each(items, function (key, val) {
                datesAdd.push(new Date(parseInt(year), parseInt((monthIndex - 1)), parseInt(val)));
            });
            $('#datepicker_hh_s').datepicker('setDates', datesAdd);
        }
    }




    $("#trivia_entry").on('change', function () {
        if ($(this).val() == 'Paid') {
            $("#entry_Fee").val('');
            $("#entry_Fee").prop("disabled", false);
        } else {
            $("#entry_Fee").val(0);
            $("#entry_Fee").prop("disabled", true);
        }
    });
</script>
<style>
    .m-b {
        margin-bottom: 0.5rem;
    }

    @media (min-width: 768px) {
        #myCalendarModal .modal-dialog {
            max-width: 335px !important;
        }
    }

    .datepicker.dropdown-menu th,
    .datepicker.datepicker-inline th,
    .datepicker.dropdown-menu td,
    .datepicker.datepicker-inline td {
        padding: 8px 10px !important;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .form-control {
        font-size: 15px !important;
    }

    .btn-primary.disabled,
    .btn-primary.disabled:hover,
    .btn-primary.disabled:focus,
    .btn-primary.disabled:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled],
    .btn-primary[disabled]:hover,
    .btn-primary[disabled]:focus,
    .btn-primary[disabled]:active,
    .btn-primary.active[disabled],
    fieldset[disabled] .btn-primary,
    fieldset[disabled] .btn-primary:hover,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary:active,
    fieldset[disabled] .btn-primary.active {
        background-color: #fba919;
        border-color: #fba919;
    }

    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active[disabled],
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active.disabled:hover[disabled] {
        background-color: #faa141 !important;
    }

    .datepicker table tr td.active,
    .datepicker table tr td.active:hover,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled:hover {
        background-color: #faa141;
        background-image: -moz-linear-gradient(top, #faa141, #faa141);
        background-image: -ms-linear-gradient(top, #faa141, #faa141);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa141), to(#faa141));
        background-image: -webkit-linear-gradient(top, #faa141, #faa141);
        background-image: -o-linear-gradient(top, #faa141, #faa141);
        background-image: linear-gradient(top, #faa141, #faa141);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa141', endColorstr='#faa141', GradientType=0);
        border-color: #faa141 #faa141 #faa141;
        border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }

    .c-p-1 {
        font-size: 15px;
        color: gray;
    }

    .chosen-single {
        padding-top: 3px !important;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .m-t-h-1 {
        margin-top: 1rem;
    }

    .active-happen {
        background-color: #000 !important;
        border-radius: 2px;
        padding: 12px 35px !important;
        color: #f9a141;
    }

    .active-happen:active {
        color: #f9a141 !important;
    }

    .active-happen:focus {
        color: #f9a141 !important;
    }

    .happenings-btn {
        background-color: rgb(217, 217, 217);
        border-radius: 2px;
        padding: 12px 35px !important;
    }

    .no-ticket-p {
        font-size: 1.5rem;
        font-size: 400;
    }

    .m-t-h-2 {
        margin-top: 2rem;
    }

    .m-t-h {
        margin-top: 4rem;
    }

    .center {
        text-align: center;
    }

    .no-ticket-img {
        width: 6rem;
    }

    input[type="checkbox"] {
        width: 16px;
        /*Desired width*/
        height: 16px;
        /*Desired height*/
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd !important;
    }

    .project-tab .nav-item {
        padding: 20px 20px 8px 20px;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab .nav-item {
        text-transform: uppercase;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #f9a141;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #f9a141;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }


    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd !important;
    }

    .project-tab .nav-item {
        padding: 20px 20px 8px 20px;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab .nav-item {
        text-transform: uppercase;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #f9a141;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #f9a141;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .tab-div {
        background-color: #e7eaec69;
        padding: 20px 40px 12px 20px;
    }

    .event-tab-header {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .label {
        font-size: 16px !important;
    }

    .img-box {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        width: 255px;
        height: 125px;
        border-radius: 4px;
    }

    .dollar {
        display: block;
        position: relative;
    }

    .dollar input {
        padding-left: 20px;
    }

    .dollar:before {
        position: absolute;
        content: "$";
        left: 5px;
        top: 35px;
        font-size: 16px;
        color: #999;
    }

    .manage-txt {
        font-size: 1.3526rem;
        color: #000 !important;
    }

    .v-h {
        font-weight: 600;
    }

    .v-h-1 {
        color: gray;
    }

    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }

    .btn-r {
        color: #000;
        border: 3px solid red !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-r:hover {
        color: #fff !important;
        background: red !important;
    }

    .btn-r:active {
        letter-spacing: 1px;
    }


    .def-img {
        width: 79px;
        height: 79px;
    }

    .drag-img-up {
        padding: 20px;
        border: 1px dotted gray;
        text-align: center;
    }

    .drag-img-up span {
        color: gray;
    }

    .img-container {
        padding: 0 0 0.5rem 0;
        float: left;
        width: 50%;
    }

    @media screen and (max-width: 640px) {
        .img-container {
            display: block;
            width: 100%;
        }
    }

    @media screen and (min-width: 900px) {
        .img-container {
            width: 33.33333%;
        }
    }

    .img-container .title {
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px;
    }

    .img-content {
        position: relative;
        width: 100%;
        max-width: 300px;
    }

    .img-content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .img-content:hover .content-overlay {
        opacity: 1;
    }

    .content-image {
        width: 100%;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .img-content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content-details button {
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
    }

    .content-details p {
        color: #fff;
        font-size: 0.8em;
    }

    .time_i {
        display: block;
        position: relative;
    }

    .time_i input {
        padding-left: 40px;
    }

    .time_i:before {
        font-family: 'FontAwesome';
        content: '\f017';
        position: absolute;
        left: 10px;
        top: 33px;
        font-size: 20px;
        color: #000;
    }

    .calendar {
        display: block;
        position: relative;
    }

    .calendar input {
        padding-left: 40px;
    }

    .calendar:before {
        font-family: 'FontAwesome';
        content: '\f133';
        position: absolute;
        left: 10px;
        top: 33px;
        font-size: 20px;
        color: #000;
    }
</style>