<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<div class="wrapper wrapper-content" id="createSportsScheduleCtl" ng-controller="createSportsScheduleCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <a href="#" onclick="history.back();">
                                    <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                                        class="fas fa-long-arrow-alt-left fa-4x"></i>
                                    <b class="back-txt">Back to Overview</b>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <b class="manage-txt">Create sports schedule</b>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="_sports_title">Sports
                                            </label>
                                            <select class="form-control custom-input" id="sports_name">
                                                <option value="select">Select</option>
                                                <option ng-repeat="sl in sportsList" data-id="{{sl.id}}"
                                                    value="{{sl._name}}">
                                                    {{sl.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                        <span class="input-group" style="display: flow-root !important;">
                                            <label for="_sports_sponsor">Sponsor
                                            </label>
                                            <button type="button"
                                                style="display: flex;justify-content: space-between;align-items: center;"
                                                class="form-control custom-input dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <b class="spon-show"
                                                    style="text-align: left;font-weight:400;display:flex;"
                                                    data-id="">Select</b>
                                                <b
                                                    style="text-align: right;font-weight:200 !important;display:inline-block;font-size:10px !important">
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </b>
                                            </button>

                                            <ul
                                                class="dropdown-menu {{sponsorList && sponsorList.length>7?'drop-down-h-c':''}}">
                                                <li ng-if="sponsorList && sponsorList.length==0">
                                                    <a>No Data!</a>
                                                </li>
                                                <li ng-repeat="sponsor in sponsorList" ng-click="sponsorClick(sponsor)">
                                                    <a href="javascript:;" class="sp-sc-a"
                                                        title="{{sponsor.sponsorName}}" style="padding:0px 20px;">
                                                        <img class="l-img" style="margin: 0px 20px;"
                                                            data-sponsor-name="{{sponsor.sponsorName}}"
                                                            src="{{sponsor.sponsorLogo.path}}">
                                                        {{sponsor.sponsorName}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="competition">Competition</label>
                                            <select class="form-control custom-input" id="sp_competion" disabled>
                                                <option value="select">Select</option>
                                                <option ng-repeat="sl in competitionList" data-id="{{sl.id}}"
                                                    value="{{sl._name}}">
                                                    {{sl.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="competition">Round <span
                                                    style="color:gray;font-size:14px;">(optional)</span></label>
                                            <select class="form-control custom-input" id="sp_round">
                                                <option value="select">Select</option>
                                                <option ng-repeat="n in [] | range:30" value="{{n}}">
                                                    {{n}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Multiple selection</legend>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                                    <label for="sport-date">Date</label>
                                                    <input type="date" id="sport-date"
                                                        class="form-control custom-input">
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                                    <label for="sport-date">Time</label>
                                                    <input type="text" id="sport-time"
                                                        class="form-control custom-input time">
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="input-group-lg input-group-xl input-group-md">
                                                        <span class="input-group-btn" style="width: 45%;">
                                                            <label>Team</label>
                                                            <button type="button"
                                                                style="display: flex;justify-content: space-between;align-items: center;"
                                                                class="form-control custom-input dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <b style="text-align: left;font-weight:400;display:flex;"
                                                                    class="team-a-tag">Select</b>
                                                                <b
                                                                    style="text-align: right;font-weight:200 !important;display:inline-block;font-size:10px !important">
                                                                    <span
                                                                        class="glyphicon glyphicon-chevron-down"></span>
                                                                </b>
                                                            </button>

                                                            <ul class="dropdown-menu {{teamList && teamList.length>7?'drop-down-h-c':''}}"
                                                                style="width: 100%;">
                                                                <li ng-if="teamList && teamList.length==0">
                                                                    <a>No Data!</a>
                                                                </li>
                                                                <li ng-repeat="team in teamList"
                                                                    ng-if="teamList && teamList.length"
                                                                    ng-click="teamClk(team, 'a')">
                                                                    <a href="javascript:;" class="sp-sc-a"
                                                                        title="{{team.name}}">
                                                                        <img class="l-img"
                                                                            data-team-name="{{team.name}}"
                                                                            src="{{team.img.path}}">{{team.name}}</a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                        <span class="input-group-addon"
                                                            style="margin-top:10px;width: 5%;border: 0px solid #E5E6E7;">
                                                            <label><i>vs</i></label>
                                                        </span>
                                                        <span class="input-group-btn" style="width: 45%;">
                                                            <label>Team</label>
                                                            <button type="button"
                                                                style="display: flex;justify-content: space-between;align-items: center;"
                                                                class="form-control custom-input dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <b class="team-b-tag"
                                                                    style="text-align: left;font-weight:400;display:flex;">Select</b>
                                                                <b
                                                                    style="text-align: right;font-weight:200 !important;display:inline-block;font-size:10px !important">
                                                                    <span
                                                                        class="glyphicon glyphicon-chevron-down"></span>
                                                                </b>
                                                            </button>

                                                            <ul
                                                                class="dropdown-menu {{teamList && teamList.length>7?'drop-down-h-c':''}}">
                                                                <li ng-if="teamList && teamList.length==0">
                                                                    <a>No Data!</a>
                                                                </li>
                                                                <li ng-repeat="team in teamList"
                                                                    ng-if="teamList && teamList.length"
                                                                    ng-click="teamClk(team, 'b')">
                                                                    <a href="javascript:;" class="sp-sc-a"
                                                                        title="{{team.name}}">
                                                                        <img class="l-img"
                                                                            data-team-name="{{team.name}}"
                                                                            src="{{team.img.path}}">{{team.name}}</a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                                    <button class="btn btn-outline pull-right" id="schedule_add_btn"
                                                        ng-click="addSportsDateTime()" disabled
                                                        style="border-radius: 3px;padding: 4px 25px!important;font-size: 1.4rem; border: 1px solid#43a047 !important;margin-bottom:10px;margin-top:10px;background-color: #43a047 !important;color: #fff !important;">Add</button>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="addSDAndTime && addSDAndTime.length">
                                                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="ew in addSDAndTime">

                                                                <td
                                                                    class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
                                                                    <img src="{{ew.teamA.path}}"
                                                                        style="width: 110px;height:94px;object-fit:contain;">
                                                                </td>
                                                                <td
                                                                    class="col-xs-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
                                                                    <span
                                                                        style="font-size: 1.2rem;">{{ew.teamA.name}}</span>
                                                                </td>
                                                                <td
                                                                    class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                            <b><span
                                                                                    style="font-size: 1.2rem;">{{ew.dateTxt}}</span></b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                            <b>
                                                                                <span
                                                                                    style="font-size: 1.4rem;">{{ew.time}}</span>
                                                                                <span
                                                                                    style="font-size: 1.4rem;color:gray;">{{ew.timeTxt}}</span>
                                                                            </b>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td
                                                                    class="col-xs-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
                                                                    <span
                                                                        style="font-size: 1.2rem;">{{ew.teamB.name}}</span>
                                                                </td>
                                                                <td class="col-xs-2 col-sm-2 col-md-2 col-xl-2 col-lg-2"
                                                                    style="text-align: right;">
                                                                    <img src="{{ew.teamB.path}}"
                                                                        style="width: 110px;height:94px;object-fit:contain;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <button class="btn btn-outline pull-right" id="sports_add_btn"
                                            ng-click="createSportsSchedule()" disabled
                                            style="border-radius: 3px;padding: 4px 25px!important;font-size: 1.4rem; border: 1px solid#43a047 !important;margin-bottom:10px;margin-top:10px;background-color: #43a047 !important;color: #fff !important;">Save
                                            & Preview</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="addNewcategory" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                <h3 class="modal-title" style="padding: 8px;">Add new</h3>
            </div>
            <div class="modal-body" style="text-align: left !important;padding: 20px 30px 0px 30px !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label id="label_add_new_category" for="_add_new_category">Category</label>
                            <input type="text" class="form-control" id="_add_new_category">
                            <span id="_add_new_category_err" style="color: red;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: right !important;">
                <button type="button" class="btn btn-primary"
                    onclick="angular.element(document.getElementById('CreateSports')).scope().CategorySaveBtn()"
                    style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px;">Save</button>
                <button type="button" class="btn btn-secondary"
                    style="background-color: red !important;border-radius: 3px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    $("#sports_name").on('change', function () {
        $("#sp_competion").prop('disabled', true);
        if ($("#sports_name").val()) {
            $("#sp_competion").prop('disabled', false);
            angular.element(document.getElementById('createSportsScheduleCtl')).scope().getCompetition();
        }
    })
    $("#sp_competion").on('change', function () {
        if ($("#sp_competion").val()) {
            angular.element(document.getElementById('createSportsScheduleCtl')).scope().getTeam();
        }
    })

    $(function () {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("input[type='date']").attr('min', today);
    });
    $(function () {
        $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 5 });
    });
</script>
<style>
    .l-img {
        object-fit: contain;
        width: 60px;
        height: 35px;
    }

    .drop-down-h-c {
        max-height: 20rem;
        height: 20rem;
        overflow: auto;
    }

    .dropdown-menu>li>.sp-sc-a {
        display: block;
        padding: 4px 8px !important;
    }

    .Toolbar {
        position: relative;
        display: table;
    }

    .Toolbar>div {
        display: table-cell;
        padding-right: 8px;
        vertical-align: top;
        padding-right: 30px;
    }

    .Toolbar .btn-group,
    .btn-group-vertical {
        vertical-align: inherit;
    }

    .input-group-addon,
    .input-group-btn {
        width: 0%;
        white-space: nowrap;
        vertical-align: middle;
    }


    fieldset.scheduler-border {
        border: 2px solid #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #ddd;
        box-shadow: 0px 0px 0px 0px #ddd;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 1px !important;
        border: 0;
        border-top: 1px solid #443737b5 !important;
    }

    .chosen-single {
        padding-top: 3px !important;
    }

    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 15rem !important;
        height: 20rem !important;
        max-height: 20rem !important;
    }
</style>