<style>
    .chosen-single {
        padding-top: 3px !important;
    }

    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }
</style>
<div class="wrapper wrapper-content" id="CreateSports" ng-controller="CreateSportsCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row" ng-show="userDetails.isAdmin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'manageEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('manageEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <a href="#" onclick="history.back();">
                                    <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                                        class="fas fa-long-arrow-alt-left fa-4x"></i>
                                    <b class="back-txt">Back to Overview</b>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <b class="manage-txt">Create Sports</b>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for="sports_name" class="required">Sports
                                            </label>
                                            <select class="form-control custom-input" id="sports_name">
                                                <option value="select">Select</option>
                                                <option ng-repeat="sl in sportsList" data-id="{{sl.id}}"
                                                    value="{{sl._name}}">
                                                    {{sl.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for="sp_competion" class="required">Competition</label>
                                            <select class="form-control custom-input" id="sp_competion" disabled>
                                                <option value="select">Select</option>
                                                <option ng-repeat="sl in competitionList" data-id="{{sl.id}}"
                                                    value="{{sl._name}}">
                                                    {{sl.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group">
                                            <label for="sp_date" class="required">Select Date</label>
                                            <select class="form-control custom-input" id="sp_date" disabled>
                                                <option value="select">Select</option>
                                                <option ng-repeat="sl in matchDatesList" data-id="{{sl.id}}"
                                                    value="{{sl.date}}">
                                                    {{sl.dateTxt}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Select Fixtures</legend>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="input-group-lg input-group-xl input-group-md">
                                                            <span class="input-group-btn" style="display: contents;">
                                                                <button type="button"
                                                                    style="display: flex;justify-content: space-between;align-items: center;"
                                                                    class="form-control custom-input dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <b class="match-show"
                                                                        style="text-align: left;font-weight:400;display:flex;">Select</b>
                                                                    <b
                                                                        style="text-align: right;font-weight:200 !important;display:inline-block;font-size:10px !important">
                                                                        <span
                                                                            class="glyphicon glyphicon-chevron-down"></span>
                                                                    </b>
                                                                </button>

                                                                <ul
                                                                    class="dropdown-menu {{matchList && matchList.length>7?'drop-down-h-c':''}}">
                                                                    <li ng-if="matchList && matchList.length==0">
                                                                        <a>No Data!</a>
                                                                    </li>
                                                                    <li ng-repeat="team in matchList"
                                                                        ng-if="matchList && matchList.length"
                                                                        ng-click="selectMacthClick(team)"
                                                                        style="padding:5px;border-bottom:2px solid #8080802e;">
                                                                        <div
                                                                            class="row {{team.isSelected?'disabledbutton':''}}">
                                                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"
                                                                                style="text-align: center;">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                                                        <img class="l-img"
                                                                                            data-team-name="{{team.sportsTeamA.name}}"
                                                                                            src="{{team.sportsTeamA.img.path}}">
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                                                        <b style="margin-top: 0.5tem;">{{team.sportsTeamA.name}}
                                                                                        </b>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                                                                                style="text-align: center;margin-top: 1rem;">
                                                                                <b
                                                                                    style=" font-size: 1.2rem;color:gray;">
                                                                                    <i>VS</i>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"
                                                                                style="text-align: center;">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                                        <img class="l-img"
                                                                                            data-team-name="{{team.sportsTeamB.name}}"
                                                                                            src="{{team.sportsTeamB.img.path}}">
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                                        <b>{{team.sportsTeamB.name}}
                                                                                        </b>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                        ng-show="matchesData && matchesData.length">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <label>Fixtures</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr ng-repeat="list in matchesData"
                                                            ng-mouseover="showTheMiddle($event, $index)"
                                                            ng-mouseleave="hiddenTheMiddle($index)"
                                                            style="position: relative;">
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"
                                                                        style="text-align: center;">
                                                                        <div class="row">
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                                                <img class="l-img"
                                                                                    data-team-name="{{list.sportsTeamA.name}}"
                                                                                    src="{{list.sportsTeamA.img.path}}">
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                                                <b style="margin-top: 0.5tem;">{{list.sportsTeamA.name}}
                                                                                </b>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                                                                        style="text-align: center;margin-top: 1rem;">
                                                                        <b style=" font-size: 1.2rem;color:gray;">
                                                                            <i>VS</i>
                                                                        </b>
                                                                    </div>
                                                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"
                                                                        style="text-align: center;">
                                                                        <div class="row">
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                                <img class="l-img"
                                                                                    data-team-name="{{list.sportsTeamB.name}}"
                                                                                    src="{{list.sportsTeamB.img.path}}">
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                                <b>{{list.sportsTeamB.name}}
                                                                                </b>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="middle_{{$index}}"
                                                                style="display: none;background-color:#ffffff00;padding: 4.5px !important;margin-top:1.5rem;border-top: 0px solid #e7eaec;">
                                                                <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#d50000 !important;
                                                color:#fff !important;" ng-click="selectMacthDelete($index)"
                                                                    data-placement="top" title="Delete">
                                                                    <i class="far fa-trash-alt"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="sports_desc" class="required">Description</label>
                                <textarea class="form-control" disabled style="border: 2px solid #ddd !important;
                                font-size: 16px !important;" id="sports_desc" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <label for="sports_desc">Primary image <span
                                        style="color: gray;">(optional)</span></label>
                                <div class="pri-image">
                                    <input type="file" class="form-control custom-input" id="primary-img"
                                        accept="image/gif, image/jpeg, image/png">
                                    <span style="color: gray;">Image size 700*350</span>
                                    <span style="color: red;display: none;" id="p_img_width_height">Incorrect
                                        the width or height!</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <label for="sports_desc">Secondary image <span
                                        style="color: gray;">(optional)</span></label>
                                <div class="secon-image">
                                    <input type="file" class="form-control custom-input" id="secondary-img"
                                        accept="image/gif, image/jpeg, image/png">
                                    <span style="color: gray;">Image size 600*450</span>
                                    <span style="color: red;display: none;"
                                        id="secon_img_width_height">Incorrect
                                        the width or height!</span>
                                </div>
                            </div> -->

                        </div>
                        <div class="row" style="margin-bottom: 2rem;margin-top:3rem;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <button class="btn btn-outline pull-right" id="sports_add_btn" ng-click="createSports()"
                                    disabled
                                    style="border-radius: 3px;padding: 4px 25px!important;font-size: 1.4rem; border: 1px solid#43a047 !important;background-color: #43a047 !important;color: #fff !important;">Save
                                    & Preview</button>
                                <!-- <div class="checkbox pull-right" style="margin-right: 2rem;">
                                    <label><input type="checkbox" id="sports_btn_status" value="">Go
                                        Live</label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#sports_name").on('change', function () {
            $("#sp_competion,#sports_add_btn").prop('disabled', true);
            if ($("#sports_name").val()) {
                $("#sp_competion").prop('disabled', false);
                angular.element(document.getElementById('CreateSports')).scope().getCompetition();
            }
            if ($("#sports_desc").val().length) {
                $("#sports_add_btn").prop('disabled', false);
            }
        })

        $("#sp_competion").on('change', function () {
            $("#sp_date,#sports_add_btn").prop('disabled', true);
            if ($("#sp_competion").val()) {
                $("#sp_date").prop('disabled', false);
                angular.element(document.getElementById('CreateSports')).scope().getMatchDates();
            }
            if ($("#sports_desc").val().length) {
                $("#sports_add_btn").prop('disabled', false);
            }
        })

        $("#sp_date").on('change', function () {
            $("#sports_desc,#sports_add_btn").prop('disabled', true);
            $(`.match-show`).attr('data-id', '').html('Select');
            if ($("#sp_date").val()) {
                $("#sports_desc").prop('disabled', false);
                angular.element(document.getElementById('CreateSports')).scope().getMatch();
            }
            if ($("#sports_desc").val().length) {
                $("#sports_add_btn").prop('disabled', false);
            }
        })

        $("#sports_desc").on('change keypress', function () {
            $("#sports_add_btn").prop('disabled', true);
            if ($("#sports_desc").val().length) {
                $("#sports_add_btn").prop('disabled', false);
            }
        })

    })


    $(function () {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("input[type='date']").attr('min', today);
    });

    $("#primary-img").on('change', function () {
        let h, w;
        $("#sports_add_btn").attr('disabled', true);
        $("#p_img_width_height").css({ display: 'none' });
        let reader = new FileReader();
        reader.onload = () => {
            let tmpImgNode = document.createElement("img");
            tmpImgNode.onload = function () {
                h = this.naturalHeight;
                w = this.naturalWidth;
                if (h == 350 && w == 700) {
                    if ($("#sports_desc").val()) $("#sports_add_btn").attr('disabled', false);
                } else {
                    $("#sports_add_btn").attr('disabled', true);
                    $("#p_img_width_height").css({ display: 'block' });
                }
            };

            tmpImgNode.src = reader.result;
        };
        reader.readAsDataURL($("#primary-img")[0].files[0]);
    });

    $("#secondary-img").on('change', function () {
        let h, w;
        $("#sports_add_btn").attr('disabled', true);
        $("#secon_img_width_height").css({ display: 'none' });
        let reader = new FileReader();
        reader.onload = () => {
            let tmpImgNode = document.createElement("img");
            tmpImgNode.onload = function () {
                h = this.naturalHeight;
                w = this.naturalWidth;
                if (h == 450 && w == 600) {
                    if ($("#sports_desc").val()) $("#sports_add_btn").attr('disabled', false);
                } else {
                    $("#sports_add_btn").attr('disabled', true);
                    $("#secon_img_width_height").css({ display: 'block' });
                }
            };

            tmpImgNode.src = reader.result;
        };
        reader.readAsDataURL($("#secondary-img")[0].files[0]);
    });
</script>
<style>
    .disabledbutton {
        pointer-events: none !important;
        opacity: 0.1;
        cursor: auto !important;
    }

    .child-active {
        background-color: red;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1em !important;
        font-weight: normal !important;
        text-align: left !important;
    }

    .required:after {
        content: " *";
        color: red;
    }

    .l-img {
        object-fit: contain;
        width: 90px;
        height: 65px;
    }

    .drop-down-h-c {
        max-height: 20rem;
        height: 20rem;
        overflow: auto;
    }

    .dropdown-menu>li>.sp-sc-a {
        display: block;
        padding: 4px 8px !important;
    }

    .dropdown-menu {
        width: 100%;
    }

    .Toolbar {
        position: relative;
        display: table;
    }

    .Toolbar>div {
        display: table-cell;
        padding-right: 8px;
        vertical-align: top;
        padding-right: 30px;
    }

    .Toolbar .btn-group,
    .btn-group-vertical {
        vertical-align: inherit;
    }

    .input-group-addon,
    .input-group-btn {
        width: 0%;
        white-space: nowrap;
        vertical-align: middle;
    }


    fieldset.scheduler-border {
        border: 2px solid #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #ddd;
        box-shadow: 0px 0px 0px 0px #ddd;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 1px !important;
        border: 0;
        border-top: 1px solid #443737b5 !important;
    }
</style>