<script>
    $(function () {
        $('#datepicker_happenings').datepicker({ startDate: new Date(), autoclose: true, format: "dd-mm-yyyy" });
    });
    $(() => { $("#happenings").css({ "opacity": "0.1" }); setTimeout(function () { $("#happenings").css({ "opacity": "" }) }, 200) });
</script>
<style>
    .chosen-single {
        padding-top: 3px !important;
    }

    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    th>span {
        font-size: 16px;
    }
</style>
<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<div class="wrapper wrapper-content" id="ManageSports" ng-controller="ManageSportsCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;" ng-show="isBusinessSelect">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" ng-show="userDetails.isAdmin">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'manageEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('manageEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit" style="border:1px solid #4caf50;">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" ng-show="!userDetails.isAdmin">
                <button class="btn btn-primary pull-left" ui-sref="create-sports"
                    style="margin-bottom: 1rem;margin-top: 1rem;border:1px solid #4caf50;background-color: #4caf50;color:#fff; font-size: 20px;border-radius:2px;">
                    Create new sports </button>
            </div>
        </div>
        <div class="row card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <b class="manage-txt">Manage the sports events available at your venue</b>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12" style="margin-top: 0.3rem;">
                                <p class="manage-txt-1">Enter the details of your offer below for users to see
                                    on the BarM8 app.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                <button data-toggle="collapse" data-target="#filterCollapse" class="btn" style="border-radius: 5%;padding: 4px 9px !important;
                            background-color:#f9a141 !important;color:#fff !important;font-size: 20px;"
                                    title="Filter"><i class="fas fa-filter"></i> Filter</button>

                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6" ng-show="userDetails.isAdmin">
                                <button class="btn btn-primary pull-right" ui-sref="create-sports"
                                    style="margin-bottom: 0.5rem;border:1px solid #4caf50;background-color: #4caf50;color:#fff; font-size: 20px;border-radius:2px;">
                                    Create new sports </button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="filterCollapse" class="collapse">
                                    <div class="row" style="margin-bottom: 1rem;">
                                        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4">
                                            <div class="from-group">
                                                <label for="_happenings_category_f"
                                                    style="font-size: 16px;">Category</label>
                                                <select id="_happenings_category_f" class="form-control custom-input">
                                                    <option value="select">All</option>
                                                    <option ng-repeat="li in SportsCategoryList" value="{{li.id}}">
                                                        {{li.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="sportsD.length==0">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                        <br>
                        <br>
                        <img src="assets/img/manage-img.png">
                        <br>
                    </div>
                </div>
                <div class="row" ng-show="sportsD.length==0">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                        <p class="manage-txt">No Sports Found!</p>
                    </div>
                </div>
                <div class="row" ng-show="sportsD.length==0">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                        <p class="manage-txt">Click Create New sports to get started.</p>
                    </div>
                </div>
                <div class="row" ng-show="sportsD && sportsD.length">
                    <div class="col- xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 2rem;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Sports Name</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Competition</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Sponsor</span>
                                    </th>
                                    <th class="col-sm-5 col-xs-5 col-md-5 col-lg-5 col-xl-5">
                                        <span>Teams</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Primary image</span>
                                    </th>
                                    <th class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>Description</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Status</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in sportsD" ng-mouseover="showTheMiddle($event, $index)"
                                    ng-mouseleave="hiddenTheMiddle($index)" style="position: relative;">
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>{{list.sportsScheduleForAdmin.sportsSchedule.name}}</span>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>{{list.sportsScheduleForAdmin.competitionSchedule.name}}</span>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <img ng-if="list && list.sportsScheduleForAdmin && list.sportsScheduleForAdmin.sponsorDetails && list.sportsScheduleForAdmin.sponsorDetails.sponsorLogo && list.sportsScheduleForAdmin.sponsorDetails.sponsorLogo.path"
                                            src="{{list.sportsScheduleForAdmin.sponsorDetails.sponsorLogo.path}}"
                                            style="width: 90px;height:40px;object-fit:contain;">
                                        <span ng-if="!list.sportsScheduleForAdmin.sponsorDetails.sponsorLogo.path">No
                                            Sponsor</span>
                                    </td>
                                    <td class="col-sm-5 col-xs-5 col-md-5 col-lg-5 col-xl-5">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                style="text-align: center;">
                                                <img src="{{list.sportsScheduleForAdmin.sportsTeamA.img.path}}"
                                                    style="width: 99px;height:99px;object-fit:contain;">
                                                <br>
                                                <div style="text-align: center;">
                                                    <span>{{list.sportsScheduleForAdmin.sportsTeamA.name}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                style="text-align: center;">
                                                <p style="font-weight: 400;font-size:1.2rem;">
                                                    {{list.sportsScheduleForAdmin.dateTxt}}
                                                </p>
                                                <p style="font-size: 1.3rem;font-weight:400;">
                                                    <i>VS</i>
                                                </p>
                                                <p style="font-weight: 400;font-size:1.2rem;color:gray;">
                                                    {{list.sportsScheduleForAdmin.time}}&nbsp;{{list.sportsScheduleForAdmin.timeTxt}}
                                                </p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                style="text-align: center;">
                                                <img src="{{list.sportsScheduleForAdmin.sportsTeamB.img.path}}"
                                                    style="width: 99px;height:99px;object-fit:contain;">
                                                <div style="text-align: center;">
                                                    <span>{{list.sportsScheduleForAdmin.sportsTeamB.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <img ng-if="list && list.primaryImg && list.primaryImg.length"
                                            src="{{list.primaryImg[0].path}}"
                                            style="width: 77px;height:77px;object-fit:contain;">
                                        <span ng-if="list.primaryImg.length==0 || !list.primaryImg">No
                                            Image</span>
                                    </td>
                                    <td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>{{list.fullDesc}}</span>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <b class="btn" ng-click="updateStatus(list.id)" ng-show="list.status=='Pending'"
                                            style="background-color: red !important;color:#fff !important;border-radius: 2px !important;">{{list.status}}</b>
                                        <b class="btn" ng-click="updateStatus(list.id)" ng-show="list.status=='Live'"
                                            style="background-color: green !important;color:#fff !important;padding: 5px 26px !important;border-radius: 2px !important;">{{list.status}}</b>
                                    </td>
                                    <td class="middle_{{$index}}"
                                        style="display: none;background-color:#ffffff00;padding: 4.5px !important;margin-top:3.5rem;border-top: 0px solid #e7eaec;">
                                        <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#3f51b5 !important;
                                        color:#fff !important;" ng-click="viewSports(list.id , list.ownerId)"
                                            data-placement="top" title="View">
                                            <i class="fas fa-eye"></i></button>
                                        <a class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#2e7d32 !important;
                                            color:#fff !important;" ng-click="editSports(list.id)" data-placement="top"
                                            title="Edit">
                                            <i class="fas fa-pencil-alt"></i></a>
                                        <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#d50000 !important;
                                            color:#fff !important;" ng-click="delete(list.id)" data-placement="top"
                                            title="Delete">
                                            <i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr ng-if="sportsD && sportsD.length==0">
                                    <td colspan="7" style="text-align: center;">
                                        <b>No Data</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal" tabindex="-1" id="viewPopup" role="dialog" style="top: 0px!important;">
                    <div class="modal-dialog modal-lg modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title" style="padding: 8px;">View Sports</h3>
                            </div>
                            <div class="modal-body"
                                style="padding: 20px 30px 0px 20px !important;text-align:left !important;">

                                <div class="row" ng-show="viewSportsD">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="form-group">
                                                    <label for="_sports_date"
                                                        style="font-size: 16px !important;">Sports</label>
                                                    <input type="text" disabled="disabled"
                                                        class="form-control custom-input"
                                                        ng-model="viewSportsD.sportsScheduleForAdmin.sportsSchedule.name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="form-group">
                                                    <label for="_sports_start_time"
                                                        style="font-size: 16px !important;">Competition</label>
                                                    <input type="text" disabled="disabled"
                                                        class="form-control custom-input"
                                                        ng-model="viewSportsD.sportsScheduleForAdmin.competitionSchedule.name">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="form-group">
                                                    <label for="_sports_dec"
                                                        style="font-size: 16px !important;">Description </label>
                                                    <textarea class="form-control" disabled="disabled" style="border: 2px solid #ddd !important;
                                                    font-size: 16px !important;"
                                                        rows="4">{{viewSportsD.fullDesc}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="form-group">
                                                    <label for="_sports_status">Status </label>
                                                    <input type="text" disabled="disabled"
                                                        class="form-control custom-input" ng-model="viewSportsD.status">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                <div class="row" style="margin-top: 1rem;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12"
                                                        style="text-align: center;">
                                                        <label>Teams</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                        style="text-align: center;">
                                                        <img src="{{viewSportsD.sportsScheduleForAdmin.sportsTeamA.img.path}}"
                                                            style="width: 99px;height:99px;object-fit:contain;">
                                                        <br>
                                                        <div style="text-align: center;">
                                                            <span>{{viewSportsD.sportsScheduleForAdmin.sportsTeamA.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                        style="text-align: center;">
                                                        <p style="font-weight: 400;font-size:1.2rem;">
                                                            {{viewSportsD.sportsScheduleForAdmin.dateTxt}}
                                                        </p>
                                                        <p style="font-size: 1.3rem;font-weight:400;">
                                                            <i>VS</i>
                                                        </p>
                                                        <p style="font-weight: 400;font-size:1.2rem;color:gray;">
                                                            {{viewSportsD.sportsScheduleForAdmin.time}}&nbsp;{{viewSportsD.sportsScheduleForAdmin.timeTxt}}
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                        style="text-align: center;">
                                                        <img src="{{viewSportsD.sportsScheduleForAdmin.sportsTeamB.img.path}}"
                                                            style="width: 99px;height:99px;object-fit:contain;">
                                                        <div style="text-align: center;">
                                                            <span>{{viewSportsD.sportsScheduleForAdmin.sportsTeamB.name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: center;margin-top: 1rem;">
                                            <div class="col-xw-12 col-ms-12 col-md-12 col-xl-12 col-lg-12">
                                                <label for="category">Sponsor</label>
                                                <div>
                                                    <img ng-src="{{viewSportsD.sportsScheduleForAdmin.sponsorDetails.sponsorLogo.path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{{viewSportsD.sportsScheduleForAdmin.sponsorDetails.fileName || 'No Image'}}"
                                                        style="width: 200px; height: 100px; object-fit: contain;"
                                                        alt="{{viewSportsD.sportsScheduleForAdmin.sponsorDetails.fileName || 'No Image'}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 1rem;text-align:center;">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <label for="category">Primary Image </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <div>
                                                            <img ng-src="{{viewSportsD.primaryImg[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="{{viewSportsD.primaryImg[0].fileName || 'No Image'}}"
                                                                style="width: 200px; height: 100px; object-fit: contain;"
                                                                alt="{{viewSportsD.primaryImg[0].fileName || 'No Image'}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <label for="category">Secondary Image </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <div>
                                                            <img ng-src="{{viewSportsD.secondaryImg[0].path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="{{viewSportsD.secondaryImg[0].fileName || 'No Image'}}"
                                                                style="width: 200px; height: 100px; object-fit: contain;"
                                                                alt="{{viewSportsD.secondaryImg[0].fileName || 'No Image'}}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="text-align: right !important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="deleteConfirmPopup" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                <h3 class="modal-title" style="padding: 8px;">Message</h3>
            </div>
            <div class="modal-body" style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h3>Do you want to proceed?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteBtn" data-id=""
                    onclick="angular.element(document.getElementById('ManageSports')).scope().confirmDelete()"
                    style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px; font-size: 1.4rem !important;">Yes</button>
                <button type="button" class="btn btn-secondary"
                    style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size: 1.4rem !important;"
                    data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#_happenings_category_f").on('change', function () {
        angular.element(document.getElementById('ManageSports')).scope().getSports();
    })
</script>
<style>
    .in-progress {
        vertical-align: middle;
        display: table-cell;
        width: 120px;
        background-color: rgb(197, 90, 17);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
    }

    .in-live {
        vertical-align: middle;
        display: table-cell;
        width: 120px;
        background-color: #3e9e02;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
        font-size: 16px !important;
    }

    .popover-content {
        padding: 14px 29px !important;
    }

    .popover {
        max-width: 290px !important;
    }


    @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
            max-width: 1200px;
        }
    }
</style>