<div class="wrapper wrapper-content" id="manageSportsScheduleCtl" ng-controller="manageSportsScheduleCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row card">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <a href="#" onclick="history.back();">
                            <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                                class="fas fa-long-arrow-alt-left fa-4x"></i>
                            <b class="back-txt">Back to Overview</b>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <button data-toggle="collapse" data-target="#filterCollapse" class="btn" style="border-radius: 5%;padding: 4px 9px !important;
                    background-color:#f9a141 !important;color:#fff !important;font-size: 20px;" title="Filter"><i
                                class="fas fa-filter"></i> Filter</button>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <button class="btn btn-primary pull-right" ui-sref="create-sports-scheduling" style="margin-bottom: 0.5rem;border:1px solid #4caf50;
                            background-color: #4caf50;
                            color:#fff; font-size: 20px;border-radius:2px;">
                            Create new sport schedule</button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="filterCollapse" class="collapse">
                            <div class="row card" style="margin-bottom: 1rem;padding:20px;">
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="from-group">
                                        <label for="sports_name" style="font-size: 16px;">Select sport</label>
                                        <select id="sports_name" class="form-control custom-input">
                                            <option value="choose">select</option>
                                            <option ng-repeat="sl in sportsList" data-id="{{sl.id}}"
                                                value="{{sl._name}}">
                                                {{sl.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="from-group">
                                        <label for="sp_competion" style="font-size: 16px;">Select
                                            competition</label>
                                        <select id="sp_competion" class="form-control custom-input">
                                            <option value="choose">select</option>
                                            <option ng-repeat="sl in competitionList" data-id="{{sl.id}}"
                                                value="{{sl._name}}">
                                                {{sl.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col- xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 1rem;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>Sports Name</span>
                                    </th>
                                    <th class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>Competition</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Sponsor</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Round</span>
                                    </th>
                                    <th class="col-sm-5 col-xs-5 col-md-5 col-lg-5 col-xl-5">
                                        <span>Teams</span>
                                    </th>
                                    <th class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span>Status</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in scheduleAllData" ng-mouseover="showTheMiddle($event, $index)"
                                    ng-mouseleave="hiddenTheMiddle($index)" style="position: relative;">
                                    <script>
                                        $(document).ready(() => {
                                            $('[data-toggle="tooltip"]').tooltip();
                                            $(".pop").popover({ trigger: "manual", html: true, animation: true })
                                                .on("mouseenter", function () {
                                                    var _this = this;
                                                    $(this).popover("show");
                                                    $(".popover").on("mouseleave", function () { $(_this).popover('hide'); });
                                                }).on("mouseleave", function () {
                                                    var _this = this;
                                                    setTimeout(function () {
                                                        if (!$(".popover:hover").length) $(_this).popover("hide");
                                                    });
                                                });
                                        });

                                    </script>
                                    <td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>{{list.sportsSchedule.name}}</span>
                                    </td>
                                    <td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 col-xl-2">
                                        <span>{{list.competitionSchedule.name}}</span>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <span
                                            ng-if="list && list.sponsorDetails && list.sponsorDetails.sponsorLogo && list.sponsorDetails.sponsorLogo.path">
                                            <img src="{{list.sponsorDetails.sponsorLogo.path}}"
                                                style="width: 90px;height:40px;object-fit:contain;">
                                        </span>
                                        <span ng-if="!list.sponsorDetails.sponsorLogo.path">No Sponsor</span>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1"
                                        style="text-align: center;">
                                        <span ng-if="list.round!=0">
                                            {{list.round}}
                                        </span>
                                        <span ng-if="list.round==0">
                                            <i>NA</i>
                                        </span>
                                    </td>
                                    <td class="col-sm-5 col-xs-5 col-md-5 col-lg-5 col-xl-5"
                                        style="text-align: center;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <img src="{{list.sportsTeamA.img.path}}"
                                                            style="width: 99px;height:99px;object-fit:contain;">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        {{list.sportsTeamA.name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                style="text-align: center;">
                                                <p style="font-weight: 400;font-size:1.2rem;">{{list.dateTxt}}
                                                </p>
                                                <p style="font-size: 1.3rem;font-weight:400;">
                                                    <i>VS</i>
                                                </p>
                                                <p style="font-weight: 400;font-size:1.2rem;color:gray;">
                                                    {{list.time}}&nbsp;{{list.timeTxt}}
                                                </p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <img src="{{list.sportsTeamB.img.path}}"
                                                            style="width: 99px;height:99px;object-fit:contain;">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <span>{{list.sportsTeamB.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                                        <b class="btn" ng-click="updateStatus(list.id)" ng-show="list.status=='Pending'"
                                            style="background-color: red !important;color:#fff !important;border-radius: 2px !important;">{{list.status}}</b>
                                        <b class="btn" ng-click="updateStatus(list.id)" ng-show="list.status=='Live'"
                                            style="background-color: green !important;color:#fff !important;padding: 5px 26px !important;border-radius: 2px !important;">{{list.status}}</b>
                                    </td>
                                    <td class="middle_{{$index}}"
                                        style="display: none;background-color:#ffffff00;padding: 4.5px !important;margin-top:3.5rem;border-top: 0px solid #e7eaec;">
                                        <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#3f51b5 !important;
                                        color:#fff !important;" ng-click="viewSportsSchedule(list.id)"
                                            data-placement="top" title="View">
                                            <i class="fas fa-eye"></i></button>
                                        <a class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#2e7d32 !important;
                                            color:#fff !important;" ng-click="editSports(list.id)" data-placement="top"
                                            title="Edit">
                                            <i class="fas fa-pencil-alt"></i></a>
                                        <button class="btn" data-toggle="tooltip" style="padding: 6px 10px!important;background-color:#d50000 !important;
                                            color:#fff !important;" ng-click="delete(list.id)" data-placement="top"
                                            title="Delete">
                                            <i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr ng-if="scheduleAllData && scheduleAllData.length==0">
                                    <td colspan="7" style="text-align: center;">
                                        <b>No Data</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id="viweSportsPopup" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                                <h3 class="modal-title" style="padding: 8px;">View</h3>
                            </div>
                            <div class="modal-body"
                                style="padding: 20px 30px 0px 30px !important;text-align:left !important">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="sports_v">Sports</label>
                                            <input id="sports_v" type="text" disabled class="form-control custom-input"
                                                ng-model="scheduleASView.sportsSchedule.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="sports_c">Competition</label>
                                            <input id="sports_c" type="text" disabled class="form-control custom-input"
                                                ng-model="scheduleASView.competitionSchedule.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="sports_d_te">Date</label>
                                            <input id="sports_d_te" type="text" disabled
                                                class="form-control custom-input" ng-model="scheduleASView.dateTxt">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="sports_d_time">Time</label>
                                            <input id="sports_d_time" type="text" disabled
                                                class="form-control custom-input" ng-model="scheduleASView.timeDataTxt">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="form-group">
                                            <label for="sports_v_round">Round</label>
                                            <input id="sports_v_round" type="text" disabled
                                                class="form-control custom-input" ng-model="scheduleASView.round">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row card">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12"
                                                        style="text-align: center;margin-bottom:1rem;margin-top:1rem;">
                                                        <label>Teams</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4">
                                                        <div class="row">
                                                            <div
                                                                class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                                <img src="{{scheduleASView.sportsTeamA.img.path}}"
                                                                    style="width: 99px;height:99px;object-fit:contain;">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div
                                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                {{scheduleASView.sportsTeamA.name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                        style="text-align: center;">
                                                        <p style="font-weight: 400;font-size:1.2rem;">
                                                            {{scheduleASView.dateTxt}}
                                                        </p>
                                                        <p style="font-size: 1.3rem;font-weight:400;">
                                                            <i>VS</i>
                                                        </p>
                                                        <p style="font-weight: 400;font-size:1.2rem;color:gray;">
                                                            {{scheduleASView.time}}&nbsp;{{scheduleASView.timeTxt}}
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4 col-lg-4"
                                                        style="text-align: right;">
                                                        <div class="row">
                                                            <div
                                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                <img src="{{scheduleASView.sportsTeamB.img.path}}"
                                                                    style="width: 99px;height:99px;object-fit:contain;">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div
                                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                <span>{{scheduleASView.sportsTeamB.name}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="text-align: right !important;">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <button type="button" class="btn btn-secondary"
                                            style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size: 1.4rem !important;"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="deleteConfirmPopup" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                <h3 class="modal-title" style="padding: 8px;">Message</h3>
            </div>
            <div class="modal-body" style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h3>Do you want to proceed?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteBtn" data-id=""
                    onclick="angular.element(document.getElementById('manageSportsScheduleCtl')).scope().confirmDelete()"
                    style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px; font-size: 1.4rem !important;">Yes</button>
                <button type="button" class="btn btn-secondary"
                    style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;font-size: 1.4rem !important;"
                    data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#sports_name").on('change', function () {
        $("#sp_competion").prop('disabled', true);
        if ($("#sports_name").val()) {
            $("#sp_competion").prop('disabled', false);
            angular.element(document.getElementById('manageSportsScheduleCtl')).scope().getCompetition();
            angular.element(document.getElementById('manageSportsScheduleCtl')).scope().getAllData();
        }
    })
    $("#sp_competion").on('change', function () {
        if ($("#sp_competion").val()) {
            angular.element(document.getElementById('manageSportsScheduleCtl')).scope().getAllData();
        }
    })
</script>
<style>
    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    th>span {
        font-size: 16px;
    }

    th {
        text-align: center;
    }

    td>span {
        font-size: 1rem;
    }
</style>