<style>
    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    input[type="checkbox"] {
        width: 14px;
        /*Desired width*/
        height: 14px;
        /*Desired height*/
        cursor: pointer !important;
    }

    input[type="checkbox"],
    input[type="checkbox"]+label {
        cursor: pointer !important;
    }

    hr {
        margin-top: 0.35em !important;
        margin-bottom: 0.35em !important;
        border-width: 1px;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }
</style>
<div class="wrapper wrapper-content" id="userUpdateCtl" ng-controller="userUpdateCtl">
    <div class="m-t-sm" style="margin-top:3rem;">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                <a href="#" onclick="history.back();">
                    <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                        class="fas fa-long-arrow-alt-left fa-4x"></i>
                    <b class="back-txt">Back to Overview</b>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 style="margin-top: -20px !important;">User Contact Details</h2>
                    </div>
                </div>
                <div class="row card" style="margin: 0rem 0 1rem 0 !important;">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row" style="margin-top: 0.5rem;">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="firstName" style="font-size: 1.2rem;">First Name</label>
                                    <input type="text" class="form-control custom-input" ng-model="venueUP.firstName"
                                        id="firstName">
                                    <span id="firstNameErr" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="lastName" style="font-size: 1.2rem;">Last Name</label>
                                    <input type="text" class="form-control custom-input" ng-model="venueUP.lastName"
                                        id="lastName">
                                    <span id="lastNameErr" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="email" style="font-size: 1.2rem;">Email</label>
                                    <input type="text" class="form-control custom-input" ng-model="venueUP.email"
                                        id="email">
                                    <span id="emailErr" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="phoneNo" style="font-size: 1.2rem;">Phone</label>
                                    <input type="text" class="form-control custom-input" id="phoneNo"
                                        ng-model="venueUP.phoneNo">
                                    <span id="phoneNoErr" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 style="margin-top: 0px !important;">User Permissions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3"
                        ng-repeat="list in venueUP.venuePermissions">
                        <!-- Admin -->
                        <div class="row card" ng-if="list._name=='is_this_user_an_admin'">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                style="padding: 47px 5px 40px 5px !important;">
                                <div class="form-group" style="text-align: center;">
                                    <input type="checkbox" id="{{list._name}}" ng-checked="list.isChecked"
                                        onclick="clickFunc(this)">
                                    <label for="{{list._name}}" style="font-size: 1.2rem;">&nbsp;
                                        {{list.name}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- user -->
                        <div class="row card" ng-show="list._name!='is_this_user_an_admin'">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 0.8rem;">
                                <b style="font-size: 1.3rem;">{{list.name}}</b>
                                <hr>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" style="margin-bottom: 12px !important;">
                                    <input type="checkbox" id="{{list._name}}_create" class="is-a-ch"
                                        ng-checked="list.isCreate">
                                    <label for="{{list._name}}_create" style="font-size: 1.1rem;">&nbsp;
                                        Create</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" style="margin-bottom: 12px !important;">
                                    <input type="checkbox" id="{{list._name}}_edit" class="is-a-ch"
                                        ng-checked="list.isEdit">
                                    <label for="{{list._name}}_edit" style="font-size: 1.1rem;">&nbsp;
                                        Edit</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" style="margin-bottom: 12px !important;">
                                    <input type="checkbox" id="{{list._name}}_delete" class="is-a-ch"
                                        ng-checked="list.isDelete">
                                    <label for="{{list._name}}_delete" style="font-size: 1.1rem;">&nbsp;
                                        Delete</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
                <button class="btn" ng-click="updateUser()"
                    style="font-size: 1.4rem;padding:5px 30px !important; background-color: green; color: #fff !important;">Update</button>
            </div>
        </div>
    </div>
</div>
<script>
    function clickFunc(e) {
        if ($(e).prop('checked')) {
            $(".is-a-ch").prop('checked', true);
        } else $(".is-a-ch").prop('checked', false);
    }
</script>