<div class="wrapper wrapper-content" id="updatebistroHourCtl" ng-controller="updatebistroHourCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 card">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <a href="#" onclick="history.back();">
                            <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                                class="fas fa-long-arrow-alt-left fa-4x"></i>
                            <b class="back-txt">Back to Overview</b>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <b class="manage-txt">Edit bistro hour</b>
                    </div>
                </div>
                <div class="row" style="margin-top: 2rem;">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="form-group">
                                    <label for="menu">Menu</label>
                                    <input type="text" class="form-control custom-input" aria-disabled="true" disabled
                                        id="menu" ng-model="bistroData.menu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <b style="font-size: 1.3rem;">Select Days</b>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <div class="row" ng-repeat="(k, v) in bistroData" ng-if="days.includes(k)">
                                    <script>
                                        $(() => {
                                            $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 15 });
                                        });
                                    </script>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-check form-group" style="padding:7px 0px;">
                                            <label class="form-check-label" style="font-size: 1.055rem !important;">
                                                <input class="form-check-input" name="days" value="{{k| capitalize}}"
                                                    type="checkbox" ng-checked="v.startTime && v.endTime">
                                                {{k| capitalize}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time"
                                                id="_start_time_{{k| capitalize}}" value="{{v.startTime}}">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_{{k| capitalize}}"
                                                value="{{v.endTime}}">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-check form-group" style="padding:7px 0px;">
                                            <label class="form-check-label"
                                                style="font-size: 1.055rem !important;">
                                                <input class="form-check-input" name="days" value="Monday"
                                                    type="checkbox"
                                                    ng-checked="bistroData.monday.startTime && bistroData.monday.endTime">
                                                Monday
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time" id="_start_time_Monday"
                                                ng-model="bistroData.monday.startTime">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Monday"
                                                ng-model="bistroData.monday.endTime">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check form-group" style="padding:7px 0px;">
                                    <label class="form-check-label" style="font-size: 1.055rem !important;">
                                        <input class="form-check-input" name="days" value="Tuesday"
                                            type="checkbox"
                                            ng-checked="bistroData.tuesday.startTime && bistroData.tuesday.endTime">
                                        Tuesday
                                    </label>
                                </div>
                                <div class="form-check form-group" style="padding:7px 0px;">
                                    <label class="form-check-label" style="font-size: 1.055rem !important;">
                                        <input class="form-check-input" name="days" value="Wednesday"
                                            type="checkbox"
                                            ng-checked="bistroData.wednesday.startTime && bistroData.wednesday.endTime">
                                        Wednesday
                                    </label>
                                </div>
                                <div class="form-check form-group" style="padding:7px 0px;">
                                    <label class="form-check-label" style="font-size: 1.055rem !important;">
                                        <input class="form-check-input" name="days" value="Thursday"
                                            type="checkbox"
                                            ng-checked="bistroData.thursday.startTime && bistroData.thursday.endTime">
                                        Thursday
                                    </label>
                                </div>
                                <div class="form-check form-group" style="padding:7px 0px;">
                                    <label class="form-check-label" style="font-size: 1.055rem !important;">
                                        <input class="form-check-input" name="days" value="Friday"
                                            type="checkbox"
                                            ng-checked="bistroData.friday.startTime && bistroData.friday.endTime">
                                        Friday
                                    </label>
                                </div>
                                <div class="form-check form-group" style="padding:7px 0px;">
                                    <label class="form-check-label" style="font-size: 1.055rem !important;">
                                        <input class="form-check-input" name="days" value="Saturday"
                                            type="checkbox"
                                            ng-checked="bistroData.saturday.startTime && bistroData.saturday.endTime">
                                        Saturday
                                    </label>
                                </div> -->
                            </div>
                            <!-- <div class="col-xs-4 col-md-4 col-xl-4 col-lg-4">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">


                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time" id="_start_time_Tuesday"
                                                ng-model="bistroData.tuesday.startTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time"
                                                id="_start_time_Wednesday"
                                                ng-model="bistroData.wednesday.startTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time" id="_start_time_Thursday"
                                                ng-model="bistroData.thursday.startTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time" id="_start_time_Friday"
                                                ng-model="bistroData.friday.startTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="Start time"
                                                class="form-control custom-input time" id="_start_time_Saturday"
                                                ng-model="bistroData.saturday.startTime">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 col-xl-4 col-lg-4">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">


                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Tuesday"
                                                ng-model="bistroData.tuesday.endTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Wednesday"
                                                ng-model="bistroData.wednesday.endTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Thursday"
                                                ng-model="bistroData.thursday.endTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Friday"
                                                ng-model="bistroData.friday.endTime">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 8px;">
                                            <input type="text" placeholder="End time"
                                                class="form-control custom-input time" id="_end_time_Saturday"
                                                ng-model="bistroData.saturday.endTime">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 1rem;">
                        <button class="btn btn-primary pull-right" id="updatebtn" ng-click="updateBistro()"
                            style="background-color: #4caf50; font-size: 1.2rem;">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>

<script>



    $(".form-check-input").on('change', function () {
        let day = $(this).val();
        if (day && $(this).prop("checked") == false) {
            $(`#_end_time_${day},#_start_time_${day}`).val('');
        }
    });
</script>

<style>
    th>b {
        font-size: 1.2rem;
    }

    .m-l-r {
        margin-left: 6.5px;
        margin-right: 6.5px;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .card {
        position: relative;
        margin: .5rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .cardRadius {
        position: relative;
        margin: .5rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 0px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    @media(min-width:768px) {
        .cCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .cCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .cCard {
            padding: 20px;
        }
    }

    .tCard {
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }


    input[type=checkbox]:checked:after {
        background: green !important;
        color: black !important;
    }

    .card {
        position: relative;
        margin: 0rem 0 1rem 0 !important;
    }
</style>