<div class="wrapper wrapper-content" id="createbistroHourCtl" ng-controller="createbistroHourCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row" ng-show="userDetails.isAdmin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" style="padding-left: 0px;padding-right:0px;">
                <div class="row card cCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'create-bistroHours');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('create-bistroHours')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12"
                style="margin: 0rem 0 0.5rem -1rem !important;">
                <a class="btn btn-s" href="#" onclick="history.back();">
                    <span>Back</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 card">
                <div class="row" style="margin-top: 0.8rem;">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <b class="manage-txt">Bistro Hours</b>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <p style="color: gray;">Bistro hours is creating and assigning service periods or
                            Menus. For example, if
                            your venue has Lunch menu, select Lunch from the dropdown below, then select the
                            days and the start and end time for the service period or Lunch Menu.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <label>Select Menu</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 col-md-2 col-xl-2 col-lg-2">
                                <div class="form-group">
                                    <select class="form-control custom-input" id="selectedMenu">
                                        <option selected>Select an option</option>
                                        <option ng-repeat="menu in menus" value="{{menu.name}}"
                                            ng-disabled="menu.disabled">{{menu.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-2 col-xl-2 col-lg-2">
                                <script>
                                    $(() => {
                                        $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 15 });
                                    });
                                </script>
                                <div class="form-group" style="margin-bottom: 8px;">
                                    <input type="text" placeholder="Start time" class="form-control custom-input time"
                                        id="_start_time">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-2 col-xl-2 col-lg-2">
                                <div class="form-group" style="margin-bottom: 8px;">
                                    <input type="text" placeholder="End time" class="form-control custom-input time"
                                        id="_end_time">
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 col-xl-5">
                                <div class="row">
                                    <div class="btn-p-s pop">
                                        <button ng-repeat="day in days" data-toggle="popover" data-placement="top"
                                            data-content="{{day.time || day.day}}"
                                            class="btn pop day-btn-s btnBeforemenu"
                                            ng-class="day.isSeleced ? 'day-btn-diasbled' :'daysBtn oHoursDaysBtn day-btn-s'"
                                            data-dayname="{{day.val}}" data-selected="false" id="weekdays_{{day.val}}"
                                            ng-click="!day.isSeleced && daysSelected('weekdays_', day.val , day.name)">{{day.name}}
                                            <script>
                                                $(".pop").popover({ trigger: "manual", html: true, animation: true })
                                                    .on("mouseenter mouseover", function () {
                                                        var _this = this;
                                                        $(this).popover("show");
                                                        $(".popover").on("mouseleave", function () {
                                                            $(_this).popover('hide');
                                                        });
                                                    }).on("mouseleave", function () {
                                                        var _this = this;
                                                        setTimeout(function () {
                                                            if (!$(".popover:hover").length) {
                                                                $(_this).popover("hide");
                                                            }
                                                        });
                                                    });
                                            </script>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1 col-xl-1" style="margin-bottom: 1rem;">
                                <button class="btn btn-s pull-right" id="createbtn"
                                    ng-click="createBistro()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                            data-parent="#accordion" data-target="#bistroCollapse" href="javascript:;"
                            aria-expanded="true" aria-controls="bistroCollapse">
                            <h4 class="panel-title">
                                <a role="button">
                                    Manage Bistro Hours
                                </a>
                            </h4>
                        </div>
                        <div id="bistroCollapse" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><b>Booking</b></th>
                                            <th><b>Menu</b></th>
                                            <th><b>Sunday</b></th>
                                            <th><b>Monday</b></th>
                                            <th><b>Tuesday</b></th>
                                            <th><b>Wednesday</b></th>
                                            <th><b>Thursday</b></th>
                                            <th><b>Friday</b></th>
                                            <th><b>Saturday</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in bistros" ng-mouseover="showTheMiddle($event, $index)"
                                            ng-mouseleave="hiddenTheMiddle($index)" style="position: relative;">
                                            <td style="text-align: center;">
                                                <input type="checkbox" id="isLive_{{data.id}}" ng-model="data.isAppLive"
                                                    ng-change="updateiSLive(data.id)">
                                            </td>
                                            <td>{{data.menu}}</td>
                                            <td>
                                                <span ng-show="data.sunday.startTime && data.sunday.endTime">
                                                    {{data.sunday.startTime}} -
                                                    {{data.sunday.endTime}}
                                                </span>
                                                <span ng-show="!data.sunday.startTime || !data.sunday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.monday.startTime && data.monday.endTime">
                                                    {{data.monday.startTime}} -
                                                    {{data.monday.endTime}}
                                                </span>
                                                <span ng-show="!data.monday.startTime || !data.monday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.tuesday.startTime && data.tuesday.endTime">
                                                    {{data.tuesday.startTime}} -
                                                    {{data.tuesday.endTime}}
                                                </span>
                                                <span ng-show="!data.tuesday.startTime || !data.tuesday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.wednesday.startTime && data.wednesday.endTime">
                                                    {{data.wednesday.startTime}} -
                                                    {{data.wednesday.endTime}}
                                                </span>
                                                <span ng-show="!data.wednesday.startTime || !data.wednesday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.thursday.startTime && data.thursday.endTime">
                                                    {{data.thursday.startTime}} -
                                                    {{data.thursday.endTime}}
                                                </span>
                                                <span ng-show="!data.thursday.startTime || !data.thursday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.friday.startTime && data.friday.endTime">
                                                    {{data.friday.startTime}} -
                                                    {{data.friday.endTime}}
                                                </span>
                                                <span ng-show="!data.friday.startTime || !data.friday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-show="data.saturday.startTime && data.saturday.endTime">
                                                    {{data.saturday.startTime}} -
                                                    {{data.saturday.endTime}}
                                                </span>
                                                <span ng-show="!data.saturday.startTime || !data.saturday.endTime">
                                                    <i>NA</i>
                                                </span>
                                            </td>
                                            <td class="middle_{{$index}}"
                                                style="display: none;background-color: rgba(250, 250, 250, 0);padding: 4.5px !important;margin-top:2px;border: 0px solid #e7eaec;">
                                                <button class="btn" style="border-radius: 50%;padding: 4px 9px !important;
                                    background-color: #d50000 !important;color:#fff !important;"
                                                    ng-click="deleteBistroHours(data.id)" title="Delete"><i
                                                        class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr ng-show="bistros && bistros.length==0">
                                            <td colspan="8">
                                                <div class="row">
                                                    <div class="col-md-12"
                                                        style="text-align: center;margin-top:1rem;margin-bottom:1rem;">
                                                        <span>No Data!</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal" id="deleteConfirm" tabindex="-1" role="dialog">
                    <div class="modal-dialog opacity-animate3 modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="margin-top: 10px;
                        margin-left: 26px;">
                                <!-- <h2 class="modal-title"  style="font-size: 19px;font-weight: 700;">View Bistro Hours</h2> -->
                                <!-- <button type="button" class="close" style="margin-top: -7px;
                          margin-right: 7px;" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h3>Do you want to proceed?</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmDeleteBtn" data-id=""
                                    ng-click="confirmDelete()" style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px;
                          border:1px solid #4CAF50;font-size: 20px;">Yes</button>
                                <button type="button" class="btn btn-secondary" style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;
                          border:1px solid red;font-size:20px;" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>

<script>
    $("#selectedMenu").on('change', function () {
        if ($("#selectedMenu").val() && $("#selectedMenu").val() != 'Select an option') {
            $(".form-check-input").prop('disabled', false);
            angular.element(document.getElementById('createbistroHourCtl')).scope().getMenus($(this).val())
        }
        else $(".form-check-input").prop('disabled', true);
    })

    $(document).ready(function () {
        $('input[type=checkbox]').on('change click', function () {
            $(`#_start_time`).prop('disabled', true);
            $(`#_end_time`).prop('disabled', true);
            if ($('input[type=checkbox]:checked').length) {
                $(`#_start_time`).prop('disabled', false);
                $(`#_end_time`).prop('disabled', false);
            }
        });
    })
    $("#_start_time,#_end_time").on('change', function () {
        $("#createbtn").prop('disabled', true);
        if ($("#_start_time").val() && $(`#_end_time`).val()) $("#createbtn").prop('disabled', false);
    })
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>

<style>
    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }

    .panel-heading a:before {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        transition: all 0.5s;
    }

    .panel-heading.active a:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .btn-p-s {
        display: flex;
        justify-content: space-between;
    }

    .day-btn-diasbled {
        border-radius: 3px;
        background-color: red !important;
        border: 1px solid red !important;
    }

    .day-btn-s {
        border-radius: 3px;
        background-color: #757575;
        color: #fff;
        max-width: 50px;
        width: 100%;
    }

    th>b {
        font-size: 1.2rem;
    }

    .m-l-r {
        margin-left: 6.5px;
        margin-right: 6.5px;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .card {
        position: relative;
        margin: .5rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .cardRadius {
        position: relative;
        margin: .5rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 0px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    @media(min-width:768px) {
        .cCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .cCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .cCard {
            padding: 20px;
        }
    }

    .tCard {
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }


    input[type=checkbox]:checked:after {
        background: green !important;
        color: black !important;
    }

    .card {
        position: relative;
        margin: 0rem 0 1rem 0 !important;
    }

    input[type=checkbox] {
        zoom: 1.3;
    }
</style>