<script>
    $(".whatson-tab-header").on('click', function () {
        $('.whatson-tab-header.active').each(function () {
            $(this).removeClass('active');
        });
        $(this).addClass('active');
        $("#whatsImageSection").css({ display: 'block' });
        $("#HappeningsVideo,#foodcategory,#drinkscategory").css({ display: 'none' });
        if ($(this).data('category') == 'Happiness') {
            $("#whatsImageSection").css({ display: 'none' });
            $("#HappeningsVideo").css({ display: 'block' });
        }
        $(".uploader__box").first().removeClass('m-t-s');

        if ($(this).data('category') == 'Food Menu') {
            $("#foodcategory").css({ display: 'block' });
            $(".uploader__box").first().addClass('m-t-s');
        }
        if ($(this).data('category') == 'Drinks Menu') {
            $("#drinkscategory").css({ display: 'block' });
            $(".uploader__box").first().addClass('m-t-s');
        }
    });
    jQuery(document).ready(function ($) {

        function bytesToSize(bytes) {
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes == 0) return '0 Byte';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        }
        $('.fileuploader-btn').on('click', function () {
            $('.fileuploader').click();
        });
        $('.fileuploader').change(function () {
            var files = $('.fileuploader').prop('files');
            for (let i = 0; i < files.length; i++) {
                console.log(files[i]);
                var reader = new FileReader();
                reader.onload = function (file) {
                    let sizes = bytesToSize(file.total);
                    if (sizes) {
                        sizes = sizes.split(' ');
                        if (sizes[0] < 12) {
                            $(".upload-happenings").css({ display: 'block' })
                            $("#happenings_video_tag").append(`<div class="col-xs-3 col-sm-3 col-md-3 col-xl-3 col-lg-3"><video style="object-fit:cover;" width="320" height="240" class="card" controls><source src="${file.target.result}" type="video/mp4"></video></div>`);
                        } else {
                            toastr.error("File size should be less than 12 MB!");
                            toastr.options = { "closeButton": true, "progressBar": true, "timeOut": "5000" };
                        }
                    }
                }
                reader.readAsDataURL(files[i]);
            }
        });

    });



</script>
<style>
    .video-stream {
        width: 260px !important;
        height: 220px !important;
        -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        object-fit: cover;
        border-radius: 5px;
    }

    .profile-pic {
        position: relative;
        display: inline-block;
    }

    .profile-pic:hover .edit {
        display: block;
    }

    .edit {
        padding-top: 13px;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    .edit a {
        color: #000;
    }

    .tab-div {
        background-color: #fff !important;
        padding: 20px 40px 12px 20px;
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd !important;
    }

    .project-tab .nav-item {
        padding: 20px 20px 8px 20px;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab .nav-item {
        text-transform: uppercase;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #f9a141;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #f9a141;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .tab-div {
        background-color: #e7eaec69;
        padding: 20px 40px 12px 20px;
    }

    .chosen-single {
        padding-top: 3px !important;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {
        border-color: #FF9800 !important;
    }

    .btn {
        border-radius: 21px;
    }

    .card {
        margin: 0rem 0 0rem 0
    }

    .box-shadow-2 {
        -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2)
    }

    .wrapper-content {
        padding: 20px 10px 0px !important
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {

        border-color: #4CAF50 !important;
    }

    @media (min-width: 768px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 100%;
            *width: 100%;
        }
    }

    @media (min-width: 992px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }

    /**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
    @media (min-width: 1200px) {

        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1,
        .seven-cols .col-xs-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }

    .btnSeleted {
        background-color: #4caf50 !important;
    }

    .nav a {
        color: #f9a141;
        padding: 5px 30px;
        text-decoration: none;
    }

    #HappeningsVideo {
        display: none;
    }

    .nav-item {
        font-size: 16px;
    }

    .m-t-s {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
</style>
<div class="wrapper wrapper-content" id="whatsonCtl" ng-controller="whatsonCtl">
    <div class="m-t-sm" style="margin-top:3rem;" ng-show="isBusinessSelect">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'manageEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('manageEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link href="css/preview-img.css" rel="stylesheet" type="text/css">
        <div class="row" style="margin-top: 0.5rem;">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 tab-div">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <!-- <a class="nav-item nav-link active whatson-tab-header" id="nav-event-tab-eat"
                                    data-toggle="tab" data-target="#nav-whats-eat" href="javascript:;"
                                    role="tab" aria-controls="nav-home" data-category="Eat"
                                    aria-selected="true"><i class="fas fa-utensils"></i> &nbsp; Eat</a>
                                <a class="nav-item nav-link whatson-tab-header" id="nav-ticket-tab-drinks"
                                    data-toggle="tab" data-target="#nav-whats-drinks" href="javascript:;"
                                    role="tab" aria-controls="nav-ticket-type" data-category="Drinks"
                                    aria-selected="false"><i class="fas fa-cocktail"></i> &nbsp; Drinks</a> -->
                                <!-- <a class="nav-item nav-link whatson-tab-header" id="nav-ticket-tab-happiness"
                                    data-toggle="tab" data-target="#nav-drinks-happiness" href="javascript:;"
                                    role="tab" aria-controls="nav-ticket-type" data-category="Happiness"
                                    aria-selected="false"><i class="far fa-calendar-alt"></i> &nbsp;
                                    Profile Video</a> -->
                                <a class="nav-item nav-link whatson-tab-header" id="nav-food-menu-tab" data-toggle="tab"
                                    data-target="#nav-food-menu" href="javascript:;" role="tab"
                                    aria-controls="nav-ticket-type" data-category="Food Menu" aria-selected="false"><i
                                        class="fas fa-utensils"></i> &nbsp;
                                    Food Menu</a>
                                <a class="nav-item nav-link whatson-tab-header" id="nav-drinks-menu-tab"
                                    data-toggle="tab" data-target="#nav-drinks-menu" href="javascript:;" role="tab"
                                    aria-controls="nav-ticket-type" data-category="Drinks Menu" aria-selected="false"><i
                                        class="fas fa-cocktail"></i> &nbsp;
                                    Drinks Menu</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12" disabled="disabled"
                        id="whatsImageSection">
                        <div class="uploader__box">
                            <select id="foodcategory"
                                style="width: 11rem;max-width:11rem;font-size: 16px!important;display: none;margin:auto;top:3rem"
                                class="form-control" placeholder="Select the Category">
                                <option>Select</option>
                                <option ng-repeat="food in foodSubCategory" value="{{food.id}}">{{food.name}}
                                </option>
                            </select>
                            <select id="drinkscategory"
                                style="width: 11rem;max-width:11rem;font-size: 16px!important;display: none;margin:auto;top:3rem"
                                class="form-control" placeholder="Select the Category">
                                <option>Select</option>
                                <option ng-repeat="drinks in drinksSubCategory" value="{{drinks.id}}">
                                    {{drinks.name}}</option>
                            </select>
                            <div class="uploader__box js-uploader__box l-center-box">
                                <div class="uploader__contents">
                                    <label class="button button--secondary" for="fileinput">Select Files</label>
                                    <input id="fileinput" class="uploader__file-input" type="file" multiple
                                        value="Select Files">
                                </div>
                                <input class="button button--big-bottom" type="button" value="Upload Selected Files">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 col-xl-12" id="HappeningsVideo">
                        <div class="row uploader__box" style="margin-bottom:0.5rem;margin-left:-0px;margin-right:-0px;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <input type="file" class="fileuploader" multiple style="display: none;">
                                <button class="button button--secondary fileuploader-btn" style="padding: 0.8em 2.5em;max-width: 24em;
                        font-size: 12px;font-weight: 600;">Select Videos</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" id="happenings_video_tag"> </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 upload-happenings"
                                style="text-align: right;display:none;">
                                <button class="btn" id="video_H_btn" ng-click="uploadVideo()"
                                    style="margin-bottom: 1rem;font-size:20px;
                                background-color:green !important;color:#fff !important; border-radius:2px;">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card" style="margin-bottom: 2rem;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade event-tab-content active in" id="nav-whats-eat" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row" ng-if="whatsonEat && whatsonEat.length==0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 style="text-align: center;">No Image</h2>
                                    </div>
                                </div>
                                <div class="row" ng-if="whatsonEat && whatsonEat.length>0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                                ng-repeat="whats in whatsonEat">
                                                <div class="profile-pic" style="padding: 5px;">
                                                    <script>  $(() => { $('[data-toggle="tooltip"]').tooltip(); });</script>
                                                    <img ng-src="{{whats.path}}" alt="{{whats.fileName}}"
                                                        style="-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                                                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);"
                                                        class="img-thumbnail">
                                                    <div class="edit">
                                                        <a class="btn" id="delete_{{whats.id}}" data-toggle="tooltip"
                                                            data-placement="top" title="Delete"
                                                            ng-click="delete(whats.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade event-tab-content" id="nav-whats-drinks" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row" ng-if="whatsonDrinks && whatsonDrinks.length==0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 style="text-align: center;">No Image</h2>
                                    </div>
                                </div>
                                <div class="row" ng-if="whatsonDrinks && whatsonDrinks.length>0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                                ng-repeat="whats in whatsonDrinks">
                                                <script>  $(() => { $('[data-toggle="tooltip"]').tooltip(); });</script>
                                                <div class="profile-pic">
                                                    <img ng-src="{{whats.path}}" alt="{{whats.fileName}}"
                                                        style="-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                                                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);"
                                                        class="img-thumbnail">
                                                    <div class="edit"><a class="btn" id="delete_{{whats.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="delete(whats.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade event-tab-content" id="nav-drinks-happiness" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row" ng-if="whatsonHappiness && whatsonHappiness.length==0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 style="text-align: center;">No Videos</h2>
                                    </div>
                                </div>
                                <div class="row" ng-if="whatsonHappiness && whatsonHappiness.length>0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                                ng-repeat="whats in whatsonHappiness">
                                                <script>  $(() => { $('[data-toggle="tooltip"]').tooltip(); });</script>
                                                <div class="profile-pic">
                                                    <video controls="controls" class="video-stream"
                                                        x-webkit-airplay="allow" data-youtube-id="N9oxmRT2YWw"
                                                        src="{{whats.path}}"></video>
                                                    <div class="edit"><a class="btn" id="delete_{{whats.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="delete(whats.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade event-tab-content" id="nav-food-menu" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row" ng-if="whatsonFoodMenu && whatsonFoodMenu.length==0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 style="text-align: center;">No Image</h2>
                                    </div>
                                </div>
                                <div class="row" ng-if="whatsonFoodMenu && whatsonFoodMenu.length>0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                                style="padding-top: 2rem;text-align:center;"
                                                ng-repeat="whats in whatsonFoodMenu">
                                                <script>  $(() => { $('[data-toggle="tooltip"]').tooltip(); });</script>
                                                <div class="profile-pic img-container-1">
                                                    <img ng-src="{{whats.path}}" alt="{{whats.fileName}}"
                                                        class="img-thumbnail"
                                                        style="-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                                                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);width: 300px; height: 180px;object-fit:cover;">
                                                    <div class="i-overlay">{{whats.whatsOnSubCategory.name}}
                                                    </div>
                                                    <div class="edit"><a class="btn" id="delete_{{whats.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="delete(whats.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade event-tab-content" id="nav-drinks-menu" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row" ng-if="whatsonDrinksMenu && whatsonDrinksMenu.length==0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h2 style="text-align: center;">No Image</h2>
                                    </div>
                                </div>
                                <div class="row" ng-if="whatsonDrinksMenu && whatsonDrinksMenu.length>0">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row" style="padding: 10px;">
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"
                                                style="padding-top: 2rem;text-align:center;"
                                                ng-repeat="whats in whatsonDrinksMenu">
                                                <script>  $(() => { $('[data-toggle="tooltip"]').tooltip(); });</script>
                                                <div class="profile-pic img-container-1">
                                                    <img ng-src="{{whats.path}}" alt="{{whats.fileName}}"
                                                        class="img-thumbnail"
                                                        style="-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);width: 300px; height: 180px;object-fit:cover;
                                                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);">
                                                    <div class="i-overlay">{{whats.whatsOnSubCategory.name}}
                                                    </div>
                                                    <div class="edit"><a class="btn" id="delete_{{whats.id}}"
                                                            data-toggle="tooltip" data-placement="top" title="Delete"
                                                            ng-click="delete(whats.id)"
                                                            style="background-color: #fff;color:#d50000;padding: 5px 10px!important;"
                                                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="/js/js/preview-img.js"></script>
                            <script>
                                (function () {
                                    var options = {};
                                    $('.js-uploader__box').uploader(options);
                                }());
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .img-container-1 {
        width: 90%;
        margin: auto;
        /*centers the div horizontally*/
        position: relative;
        /*Required for the overlay effect because below in the "overlay" class it is set to position: absolute, so that class is absolute positioned relative to this container class*/
    }

    /* .image {
  display: block;
  width: 100%; 
} */

    .i-overlay {
        position: absolute;
        /*See above comment in container class for position: relative*/
        bottom: 0;
        /*sets the overlay to the bottom of the container*/
        background: rgba(0, 0, 0, 0.5);
        /* Black see-through */
        width: 100%;
        /*takes up 100% width of the container*/
        transition: .5s ease-out;
        opacity: 0;
        /*Sets it to originally not be visible until below hover conditions*/
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .img-container-1 .i-overlay {
        opacity: 1;
        /*Makes overlay visible when the container div is hovered*/
    }
</style>