<style>
    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    input[type="checkbox"] {
        width: 14px;
        /*Desired width*/
        height: 14px;
        /*Desired height*/
        cursor: pointer !important;
    }

    input[type="checkbox"],
    input[type="checkbox"]+label {
        cursor: pointer !important;
    }

    hr {
        margin-top: 0.35em !important;
        margin-bottom: 0.35em !important;
        border-width: 1px;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }
</style>
<div class="wrapper wrapper-content" id="vanueAccountListCtl" ng-controller="vanueAccountListCtl">
    <div class="m-t-sm" style="margin-top:3rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script type="text/javascript">
                            autocomplete(document.getElementById("autocompleteBusiness"), 'venueAccounts');
                        </script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6" id="AUTO_BUS_0">
                            <button type="button" ng-click="BusinessSelected('venueAccounts')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12 col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h2>Accounts</h2>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" style="padding: 20px;" ng-show="isStripeShow">
                        <button class="btn btn-primary" ng-click="createStripeAccount()"
                            style="background-color: #f9a141 !important;color:#fff !important;font-size:20px;">
                            Connect with stripe
                        </button>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" style="padding: 20px;"
                        ng-repeat="stripedata in stripeAccountsdata">
                        <div class="row" ng-show="stripedata.stripe_test_data && appConfigMode.stripeMode == false">
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_email" style="font-size:16px;">Email</label>
                                    <input id="account_email" class="form-control custom-input" ng-disabled="true"
                                        ng-model="stripedata.stripe_test_data.email">
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Stripe Mode</label>
                                    <input class="form-control custom-input" id="account_type" ng-disabled="true"
                                        value="Test">

                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Account type</label>
                                    <input class="form-control custom-input" id="account_type" ng-disabled="true"
                                        ng-model="stripedata.stripe_test_data.type">

                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Status</label>
                                    <input ng-if="stripedata.stripe_test_data.charges_enabled"
                                        class="form-control custom-input" id="account_type_test" ng-disabled="true"
                                        value="Active">
                                    <input ng-if="!stripedata.stripe_test_data.charges_enabled"
                                        class="form-control custom-input" id="account_type_test" ng-disabled="true"
                                        value="Inactive">
                                </div>
                            </div>
                        </div>
                        <div class="row"
                            ng-show="stripedata.stripe_test_data && stripedata.stripe_test_data.charges_enabled==false && appConfigMode.stripeMode == false">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-12" style="text-align: right;">
                                <button class="btn btn-primary" ng-click="createStripeAccount()"
                                    style="background-color: #f9a141 !important;color:#fff !important;font-size:20px;">Connect
                                    with stripe</button>
                            </div>
                        </div>
                        <div class="row" ng-show="stripedata.stripe_live_data && appConfigMode.stripeMode">
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_email" style="font-size:16px;">Email</label>
                                    <input id="account_email" class="form-control custom-input" ng-disabled="true"
                                        ng-model="stripedata.stripe_live_data.email">

                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Stripe Mode</label>
                                    <input class="form-control custom-input" id="account_type" ng-disabled="true"
                                        value="Live">
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Account type</label>
                                    <input class="form-control custom-input" id="account_type" ng-disabled="true"
                                        ng-model="stripedata.stripe_live_data.type">
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="account_type" style="font-size:16px;">Status</label>
                                    <input ng-if="stripedata.stripe_live_data.charges_enabled"
                                        class="form-control custom-input" id="account_type_live" ng-disabled="true"
                                        value="Active">
                                    <input ng-if="!stripedata.stripe_live_data.charges_enabled"
                                        class="form-control custom-input" id="account_type_live" ng-disabled="true"
                                        value="Inactive">
                                </div>
                            </div>
                        </div>
                        <div class="row"
                            ng-show="stripedata.stripe_live_data && stripedata.stripe_live_data.charges_enabled==false && appConfigMode.stripeMode">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-12" style="text-align: right;">
                                <button class="btn btn-primary" ng-click="createStripeAccount()"
                                    style="background-color: #f9a141 !important;color:#fff !important;font-size:20px;">Connect
                                    with stripe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>