@font-face {
    font-family:"urbane-rounded";
    src:url("https://use.typekit.net/af/56b30b/00000000000000003b9b1a85/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/56b30b/00000000000000003b9b1a85/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/56b30b/00000000000000003b9b1a85/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style:normal;font-weight:500;
    }
    
    @font-face {
    font-family:"urbane-rounded";
    src:url("https://use.typekit.net/af/a703c2/00000000000000003b9b1a88/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/a703c2/00000000000000003b9b1a88/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/a703c2/00000000000000003b9b1a88/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-style:normal;font-weight:600;
    }
    
    @font-face {
    font-family:"urbane-rounded";
    src:url("https://use.typekit.net/af/6c5f14/00000000000000003b9b1a89/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/6c5f14/00000000000000003b9b1a89/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/6c5f14/00000000000000003b9b1a89/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style:normal;font-weight:300;
    }
    
    .tk-urbane-rounded { font-family: "urbane-rounded",sans-serif; }
  body {
      font-family: "urbane-rounded", sans-serif !important;
      font-size: 13px !important;
  }

  


  .wel-txt-1{
    margin: 0 0 0px !important;
  }

  .forgot-txt{
    color: #ffa643 !important;
    text-decoration: none !important;
  }

  .btn-login{
    padding: 1rem 8rem;
    color: #000;
    background-color: #ffa643;
    font-size: 2.5rem;
    border-radius: 0.5rem;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  .m-t-l-b{
      margin-top: 2rem;
      margin-bottom: 4rem;
  }

@media (min-width:1025px) {
    .logoImg {
        margin: 0 auto;
        display: block;
        padding-top: 1%;
        max-height: 9.5rem;
        margin-left: 0rem;
        margin: 1rem 0rem 0rem 5rem;
    }
    .login-bg-screen{
        background-color: #000000d6;
        min-width: 500px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20rem;
        padding: 2rem 9rem;
    }
    .wel-txt{
        font-size: 3.5rem;
        color: #fff;
    }
    .wel-txt-2,.wel-txt-1{
        font-size: 2rem;
        color: #fff;
    }
    .m-t-w{
        margin-top: 2rem;
   }
   .m-t-w-1{
    margin-top: 3rem;
}
.m-t-e-p{
    margin-top: 1rem;
}
}

@media (min-width: 1281px) {
    .logoImg {
        margin: 0 auto;
        display: block;
        padding-top: 1%;
        max-height: 9.5rem;
        margin-left: 0rem;
        margin: 1rem 0rem 0rem 5rem;
    }
    .login-bg-screen{
        background-color: #000000d6;
        min-width: 500px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 25rem;
        padding: 2rem 9rem;
    }
    .wel-txt{
        font-size: 3.8rem;
        color: #fff;
    }
    .wel-txt-2,.wel-txt-1{
        font-size: 2.2rem;
        color: #fff;
    }
    .m-t-w{
        margin-top: 2rem;
   }
   .m-t-w-1{
    margin-top: 3rem;
    }
    .m-t-e-p{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .logoImg {
        margin: 0 auto;
        display: block;
        padding-top: 1%;
        max-height: 9.5rem;
        margin-left: 0rem;
        margin: 1rem 0rem 0rem 5rem;
    }
    .login-bg-screen{
        background-color: #000000d6;
        min-width: 500px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 25rem;
        padding: 2rem 9rem;
    }
    .wel-txt{
        font-size: 4rem;
        color: #fff;
    }
    .wel-txt-2,.wel-txt-1{
        font-size: 2.5rem;
        color: #fff;
    }
    .m-t-w{
        margin-top: 2rem;
   }
   .m-t-w-1{
    margin-top: 3rem;
   }
   .m-t-e-p{
    margin-top: 1rem;
}
}

@media screen and (min-width: 1600px) {
    .logoImg {
        margin: 0 auto;
        display: block;
        padding-top: 1%;
        max-height: 9.5rem;
        margin-left: 0rem;
        margin: 1rem 0rem 0rem 5rem;
    }
    .login-bg-screen{
        background-color: #000000d6;
        min-width: 500px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 25rem;
        padding: 2rem 9rem;
    }
    .wel-txt{
        font-size: 4rem;
        color: #fff;
    }
    .wel-txt-2,.wel-txt-1{
        font-size: 2.5rem;
        color: #fff;
    }
    .m-t-w{
        margin-top: 2rem;
   }
   .m-t-w-1{
    margin-top: 3rem;
    }
    .m-t-e-p{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1900px) {
    .logoImg {
        margin: 0 auto;
        display: block;
        padding-top: 1%;
        max-height: 9.5rem;
        margin-left: 0rem;
        margin: 1rem 0rem 0rem 5rem;
    }
    .login-bg-screen{
        background-color: #000000d6;
        min-width: 500px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 25rem;
        padding: 2rem 9rem;
    }
    .wel-txt{
        font-size: 4rem;
        color: #fff;
    }
    .wel-txt-2,.wel-txt-1{
        font-size: 2.5rem;
        color: #fff;
    }
    .m-t-w{
         margin-top: 2rem;
    }

    .m-t-w-1{
        margin-top: 3rem;
    }

    .m-t-e-p{
        margin-top: 1rem;
    }
}

.form-row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-row .form-group {
    padding: 15px 15px 0;
    align-self: flex-end;
}

.form-group {
    position: relative;
    padding-top: 15px;
    margin-bottom: 10px;
}

.form-control {
    border: 0;
    border-radius: 0;
    padding: 10px 10px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    font-size: 2rem;
     color: #ffa643;
}

.form-control:not(textarea) {
    height: 44px;
}

.form-control+label {
    position: absolute;
    z-index: 1;
    top: 25px;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    left: 10px;
    right: 10px;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-control:focus+label {
    color: #fff;
}

.form-control:focus+label,
.form-control.has-value+label {
    font-size: 0.75rem;
    top: -5px;
}

.no-js .form-control+label {
    font-size: 0.75rem;
    top: 0;
}

.form-row .form-control+label {
    left: 25px;
    right: 25px;
    text-align: left;
    font-size: medium;
}

.form-row .line {
    left: 15px;
    right: 15px;
}

.line {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #dddddd87;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1);
}

.line:after {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    background: #fff;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.form-control:focus~.line:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

select.form-control:not([size]):not([multiple]) {
    height: 44px;
}