@media (min-width: 480px) and (max-width:767px){
	.mob-img{
		display: block;
	}
	.top-sec{
		min-height: 0;
	}
	.top-sec::after{
		display: none;
	}

	.header-right{
		margin-right: 0;
	}

	.top-sec-details h1{
		font-size: 39px;
	}

	.top-sec-details h4{
		font-size: 19px;
	}
	.download-apps img{
		width: 48%;
	}
	.lap-img{
		display: none;
	}
	.sec{
		min-height: 35vh;
	}

	.left-side-img-1{
		margin-left: 104px;
		margin-right: 0;
	}

	.left-side-img{
		margin-left: 104px;
		margin-right: 0;
	}

	.header-title{
		margin-top: 55px;
		font-size: 37px;
	}

	.detail-text{
		font-size: 21px;
	}

	.sec.two{
		background-image: url(../images/mobile-home-page/section2-bg.png) !important;
		background-size: contain;
		background-position: 0px 100px;
	}

	.sec.three{
		background-image: url(../images/mobile-home-page/section3-bg.png) !important;
		background-size: contain;
		background-position: 0px 100px;
	}

	.sec.four{
		background-image: url(../images/mobile-home-page/section4-bg.png) !important;
		background-size: contain;
		background-position: 0px -30px;
	}

	.sec.five{
		background-image: url(../images/mobile-home-page/section5-bg.png) !important;
		background-size: contain;
		
	}

	/*.sec.two{
		height: 555px;
	}

	.sec.three{
		height: 555px;
	}
	.sec.four{
		height: 555px;
	}
	.sec.five{
		height: 555px;
	}*/

	.right-side-img{
		position: relative;
    
    bottom: 400px;
    margin-left: 110px;
	}

	.content-ml-auto{
		position: relative;
    	top: 420px;
    	margin-left: 0;
	}

	.btn-get-started{
		margin-bottom: 50px;
	}

	.partner_section-banner{
		background-image: url(../images/partner/video.png) !important;
		background-size: contain;
		background-position: top;
		min-height: 0;
		background-position: 0px 150px;
	}

	.partner_slider-content{
		padding: 400px 0px 0px 0px;
	}

	.partner_slider-content h1{
		font-size: 31px;
		    line-height: 35px;
	}

	.partner_slider-content p{
		font-size: 18px;
	}

	.partner-btn-groups{
		display: block;
		text-align: center;
	}

	.btn-partners{
		border-radius: 30px;
    	padding: 16px 40px;
    	font-weight: 600;
    	width: 300px;
    	font-size: 21px;
	}

	.play-video-btn{
		max-width: 300px;
		margin-left: 0;
		margin-top: 20px;
		border-radius: 30px;
    	padding: 16px 40px;
    	font-weight: 600;
    	width: 300px;
    	font-size: 20px;
	}

	.service-head h1{
		font-size: 39px;
	}

	.section-image{
		background-size: contain;
		min-height: 36vh;
	}

	.section-image-content h2{
		font-size: 37px;
	}

	.section-steps .title{
		text-align: center;
	}

	.title h4{
		font-size: 33px;
	}

	.section-content-signup{
		background-image: url(../images/partner/section3-bg.png) !important;
		background-size: contain;
		background-position: 0px 80px;
		min-height: 0;
	}

	.left-side-img-5{
		margin-left: 97px;
		margin-bottom: 36px;
	}

	.signup-form{
		margin-bottom: 50px;
	}

	.header-text .form-section p{
		font-size: 17px;
	}


	.footer-content{
		display: block;
	}
	.footer-logo{
		margin-left: 150px;
	}
	.icons-li{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 4px;
    	margin-bottom: 15px;
	    width: 50%;
	}
	.footer-menu{
		margin-left: 100px;
	}

	.form-section{
		max-width: 430px;
	}

	form button{
		border-radius: 15px;
	}
}



@media (min-width: 320px) and (max-width:479px){
	.order{
		order: 2;
	}
	.mob-img{
		display: block;
	}
	.top-sec{
		min-height: 0;
	}
	.top-sec::after{
		display: none;
	}

	.header-right{
		margin-right: 0;
	}

	.top-sec-details h1{
		font-size: 39px;
	}

	.top-sec-details h4{
		font-size: 19px;
	}
	.download-apps img{
		width: 48%;
	}
	.lap-img{
		display: none;
	}
	.sec{
		min-height: 35vh;
	}

	.left-side-img-1{
		/* margin-left: 60px; */
		margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
	}

	.left-side-img{
		/* margin-left: 60px;
		margin-right: 0; */
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	.header-title{
		margin-top: 55px;
		font-size: 37px;
	}

	.detail-text{
		font-size: 21px;
	}

	.sec.two{
		background-image: url(../images/mobile-home-page/section2-bg.png) !important;
		background-size: contain;
		background-position: 0px 100px;
	}

	.sec.three{
		background-image: url(../images/mobile-home-page/section3-bg.png) !important;
		background-size: contain;
		background-position: 0px 100px;
	}

	.sec.four{
		background-image: url(../images/mobile-home-page/section4-bg.png) !important;
		background-size: contain;
		background-position: 0px -30px;
	}

	.sec.five{
		background-image: url(../images/mobile-home-page/section5-bg.png) !important;
		background-size: contain;
		
	}

	/*.sec.two{
		height: 555px;
	}

	.sec.three{
		height: 555px;
	}
	.sec.four{
		height: 555px;
	}
	.sec.five{
		height: 555px;
	}*/

	.right-side-img{
		/* position: relative;
    
    bottom: 530px;
    margin-left: 60px; */
	
    display: flex;
    align-items: center;
    justify-content: center;
	}

	.content-ml-auto{
		/* position: relative;
    	top: 420px; */
    	margin-left: 0;
	}

	.btn-get-started{
		margin-bottom: 50px;
	}

	.partner_section-banner{
		background-image: url(../images/partner/video.png) !important;
		background-size: contain;
		background-position: top;
		min-height: 0;
		background-position: 0px 150px;
	}

	.partner_slider-content{
		padding: 330px 0px 0px 0px;
	}

	.partner_slider-content h1{
		font-size: 31px;
		    line-height: 35px;
	}

	.partner_slider-content p{
		font-size: 18px;
	}

	.partner-btn-groups{
		display: block;
		text-align: center;
	}

	.btn-partners{
		border-radius: 30px;
    	padding: 16px 40px;
    	font-weight: 600;
    	width: 300px;
    	font-size: 21px;
	}

	.play-video-btn{
		max-width: 300px;
		margin-left: 0;
		margin-top: 20px;
		border-radius: 30px;
    	padding: 16px 40px;
    	font-weight: 600;
    	width: 300px;
    	font-size: 20px;
	}

	.service-head h1{
		font-size: 39px;
	}

	.section-image{
		background-size: contain;
		min-height: 36vh;
	}

	.section-image-content h2{
		font-size: 37px;
	}

	.section-steps .title{
		text-align: center;
	}

	.title h4{
		font-size: 33px;
	}

	.section-content-signup{
		background-image: url(../images/partner/section3-bg.png) !important;
		background-size: contain;
		background-position: 0px 80px;
		min-height: 0;
	}

	.left-side-img-5{
		margin-left: 97px;
		margin-bottom: 36px;
	}

	.signup-form{
		margin-bottom: 50px;
	}

	.header-text .form-section p{
		font-size: 17px;
	}

	.footer{
		text-align: center !important;
	}


	.footer-content{
		display: block;
	}
	.footer-logo{
		/*margin-left: 150px;*/
		display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
	}
	.icons-li{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 4px;
    	margin-bottom: 15px;
	    width: 50%;
	}
	.footer-menu{
		/*margin-left: 100px;*/
	}

	.form-section{
		max-width: 430px;
	}

	form button{
		border-radius: 15px;
		    padding: 6px 31px;
	}
	.contact-details{
		padding: 0px 0px 0px 25px;
	}


}

.par-txt{
	 color:#fff !important;
	 margin-bottom: 1rem !important;
}

.sub-header{
	text-align: center;
	margin-bottom: 1rem;
}

.section-content-signup{
	margin-bottom: 1rem;
}