<script>
  $(() => {
    $(".event-menu").on('click', function () {
      if ($(".event-sub-menu").hasClass('in')) {
        $(".event-menu").html(`<i class="far fa-calendar-alt"></i> <span
                            class="nav-label"> &nbsp; Events</span>
                          <i class="fas fa-angle-right pull-right"></i>`)
      }
      else {
        $(".event-menu").html(`<i class="far fa-calendar-alt"></i> <span
                            class="nav-label"> &nbsp; Events</span>
                            <i class="fas fa-angle-down pull-right"></i>`)
      }
      $(".event-sub-menu").toggleClass('in slowDown')
    })
    $(".meals-menu").on('click', function () {
      if ($(".meals-sub-menu").hasClass('in')) {
        $(".meals-menu").html(`<i class="far fa-calendar-alt"></i> <span
                            class="nav-label"> &nbsp; Menu</span>
                          <i class="fas fa-angle-right pull-right"></i>`)
      } else {
        $(".meals-menu").html(`<i class="far fa-calendar-alt"></i> <span
                            class="nav-label"> &nbsp; Menu</span>
                            <i class="fas fa-angle-down pull-right"></i>`)
      }
      $(".meals-sub-menu").toggleClass('in slowDown')
    })
    $(".drinks-menu").on('click', function () {
      if ($(".drinks-sub-menu").hasClass('in')) {
        $(".drinks-menu").html(`<i class="fas fa-cocktail"></i> 
      <span  class="nav-label"> &nbsp; Drinks Menu</span> <i class="fas fa-angle-right pull-right"></i>`)
      }
      else {
        $(".drinks-menu").html(`<i class="fas fa-cocktail"></i> 
       <span  class="nav-label"> &nbsp; Drinks Menu</span>  <i class="fas fa-angle-down pull-right"></i>`)
      }
      $(".drinks-sub-menu").toggleClass('in slowDown')
    })
  })
</script>
<div id="wrapper">
  <nav class="navbar-default navbar-static-side sidenav" id="navSidebar" role="navigation"
    style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">

    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right; ">
              <span><i class="fas fa-times" style="cursor:pointer;" id="menuCloseIcon"></i></span>
            </div>
            <span class="barm8Font barM8Style"> Bar M8 </span>
          </div>
        </li>
        <li>
          <a ui-sref="dashboard" class="menuClk"> <i class="fas fa-user-plus"></i>&nbsp;Business Manager</a>
        </li>
        <li>
          <a ui-sref="analytics" class="menuClk"><i class="fas fa-chart-bar"></i> &nbsp;Business Analytics</a>
        </li>
        <li>
          <a ui-sref="business" class="menuClk" ng-show="currentUser.email=='admin@barm8.com.au'">
            <i class="fas fa-list"></i>
            &nbsp;Business List
          </a>
        </li>
        <li>
          <a onclick="scanHistoryMenuClk()" class="menuClk"><i class="fas fa-qrcode"></i> &nbsp; Id Scans <i
              id="scanHistoryIcon" class="fas fa-angle-right pull-right"></i></a>
          <ul class="nav nav-second-level collapse" id="scanHistoryMenu" aria-expanded="false" style="height: 0px;">
            <li><a ui-sref="id-scan-report"><i class="fas fa-chart-bar"></i> &nbsp; Reports</a></li>
            <li><a ui-sref="id-scan-vip-list"><i class="fas fa-star"></i> &nbsp; VIP List</a></li>
            <li><a ui-sref="id-scan-ban-list"><i class="fas fa-ban"></i> &nbsp; Ban List</a></li>
            <li><a ui-sref="scan-ids-details"><i class="fas fa-book"></i> &nbsp; Scan History</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" aria-expanded="false" class="event-menu"><i class="far fa-calendar-alt"></i>
            <span class="nav-label"> &nbsp; Events</span>
            <i class="fas fa-angle-right pull-right"></i>
          </a>
          <ul class="nav nav-second-level collapse event-sub-menu" aria-expanded="false">
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="manage-events">Manage Events</a></li>
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="create-events">Create New Events</a></li>
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="event-booking" class="menuClk">Event
                Booking</a></li>
          </ul>
        </li>
        <li><a ui-sref="happenings" class="menuClk"><i class="far fa-calendar-alt"></i> &nbsp;Happenings</a></li>
        <li>
          <a href="javascript:;" aria-expanded="false" class="meals-menu"> <i class="fas fa-utensils"></i>
            <span class="nav-label"> &nbsp; Menus</span>
            <i class="fas fa-angle-right pull-right"></i>
          </a>
          <ul class="nav nav-second-level collapse meals-sub-menu" aria-expanded="false">
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="menu-hours">Menu Hours</a></li>
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="menu-manager">Menu Manager</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" aria-expanded="false" class="drinks-menu"> <i class="fas fa-cocktail"></i>
            <span class="nav-label"> &nbsp; Drinks Menu</span>
            <i class="fas fa-angle-right pull-right"></i>
          </a>
          <ul class="nav nav-second-level collapse drinks-sub-menu" aria-expanded="false">
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="drinks-menu">Add Drinks Menu</a></li>
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="drinks-manager">Drinks Manager</a></li>
            <li><a style="padding: 6px 20px 6px 25px;" ui-sref="drinks-order">Drinks Orders</a></li>
          </ul>
        </li>
        <li><a ui-sref="venue-images" class="menuClk"><i class="far fa-images"></i> &nbsp;Venue Images</a></li>
        <li><a ui-sref="orders" class="menuClk"><i class="fas fa-shopping-cart"></i> &nbsp;Orders</a></li>
        <li><a ui-sref="profile" class="menuClk"><i class="fas fa-user"></i> &nbsp;Profile</a></li>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg topBar" style="min-height: 270px;">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top white-bg navbarTop" role="navigation"
        style="margin-bottom: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " id="minimize" href="javascript:;"><i
              class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a ui-sref="logout" id="logout" style="text-align:right !important;  color: #ed5565 !important;">
              <i class="fas fa-sign-out-alt"></i> Log out
            </a>
          </li>

        </ul>
      </nav>

    </div>


    <style>
      .card {
        position: relative;
        margin: 0rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .form-group {
        margin-bottom: 0px;
      }

      #map {
        min-height: 275px;
        width: 100%;
        height: 100%
      }

      .upload__img {
        border-radius: 0px;
        width: 25.6875rem;
        height: 17.6875rem;
        margin-top: -12px;
      }


      .dropzone .tools {
        /*top: -60px !important;*/
        right: 5px !important;
      }

      .upload__btn:after {
        line-height: 0rem !important;
      }

      .dropzone:after {
        bottom: 52% !important;
      }

      .btn-del {
        margin-top: -12.2rem;
        margin-left: 17.5rem;
      }

      .spaceintopandbottom {
        padding-top: 5px;
        padding-bottom: 10px;
      }

      select.Country_list {
        height: 34px;
        color: #121313;
        padding-left: 1%;
        font-size: 16px;
      }

      .upload__wrap {
        padding-bottom: 0rem !important;
        margin-bottom: 0rem !important;
      }

      @media (max-width:749px) {
        #upload__btn__wrap1 {
          width: 256.875px;
        }

        .upload__btn {
          width: 256.875px !important;
        }

        .btn-del {
          margin-top: -10.2rem;
          margin-left: 14.5rem;
        }
      }

      .row {
        padding: 5px 0px;
      }

      #editProfile .btn {
        border-radius: 50px;
      }

      #imageCropModal .btn {
        border-radius: 50px;
      }

      .minimalize-styl-2 {
        background-color: #E91E63 !important;
      }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/modalcustom.css" />
    <!--file Upload File-->
    <link rel="stylesheet" type="text/css" href="assets/css/single-img.css" />
    <script type="text/javascript" src="/assets/js/single-imgdrag_drop.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCRYyaP1xJP9WYzxy9zE7BefTnau-mfA&libraries=places&callback=initAutocomplete"></script>
    <script type="text/javascript">
      //let autocomplete, place;
      function initAutocomplete() {
        let autocomplete = new google.maps.places.Autocomplete(/** @type {!HTMLInputElement} */(document.getElementById('location')));
        autocomplete.addListener('place_changed', function () {
          let place = autocomplete.getPlace();
          console.log(JSON.stringify(place));
          $("#lat").val(place.geometry.location.lat);
          $("#lng").val(place.geometry.location.lng);
        });
      }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCRYyaP1xJP9WYzxy9zE7BefTnau-mfA&libraries=places&callback=initAutocomplete"></script>
    <div class="row card" style="margin-top:5rem;">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 style="margin-top: 10px;margin-left:20px;color:#f9a141;">Profile</h1>
      </div>
    </div>

    <div class="row" id="editProfile" ng-controller="activateProfileCtl">
      <div class="col-md-12" ng-if="userId=='5a311184dddca04a93b5f2f5' || useremail=='admin@barm8.com.au'"
        ng-show="dropDownShow">
        <div class="row card" style="padding:20px;margin-right:2px !important;margin-left:2px !important;">
          <div class="col-md-12">
            <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
            <div class="autocomplete col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"
              style="padding-right:0px;padding-left:0px;">
              <input id="autocompleteBusiness" type="text" name="BusinessName" placeholder="Enter Business name">
              <span id="businessErr" style="color:red;"></span>
            </div>
            <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
            <script type="text/javascript">
              autocomplete(document.getElementById("autocompleteBusiness"), 'profileUpdate');
            </script>
            <div class="autocomplete col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"
              style="padding-right:0px;padding-left:34px;     padding-top: 4px;">
              <button type="button" ng-click="BusinessSelected('Profile')" id="autocompleteBusiness"
                class="btn btn-raised btn-primary"
                style="margin-bottom: 10px;border-radius:30px;background-color:#4caf50 !important;"> <i
                  class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
        <div class="row card"
          style="padding: 20px 20px 0px 20px;margin-right:2px !important;margin-left:2px !important;">
          <div class="row">
            <div class="col-md-12">
              <h1 style="color:#feae43;margin-top:0px;">Business Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputName" class="control-label">Venue Name</label>
                <input type="text" class="form-control focus" id="venuename" name="businessName"
                  ng-model="business.businessName" placeholder="">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">ABN</label>
                <input type="text" class="form-control focus" id="abn" name="abn" placeholder="" autocomplete="off"
                  ng-model="business.abn">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Address Line 1</label>
                <input type="text" class="form-control focus" name="addressLine1" id="address1" placeholder=""
                  ng-model="business.addressLine1">
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Address Line 2</label>
                <input type="text" class="form-control focus" name="addressLine2" id="address2" placeholder=""
                  autocomplete="off" ng-model="business.addressLine2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="suburb" class="control-label">Suburb</label>
                <input type="text" id="suburb" class="form-control focus" name="suburb" placeholder=""
                  autocomplete="off" required ng-model="business.suburb">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">ZipCode</label>
                <input type="text" class="form-control focus" name="zipCode" id="postal_code" placeholder=""
                  autocomplete="off" ng-model="business.zipCode">
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">State</label>
                <input type="text" class="form-control focus" name="state" id="state" placeholder="" autocomplete="off" ng-model="business.state">
              </div>
            </div>-->

            <input type="hidden" id="hiddenCountry" ng-model="business.state" />
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Select State</label>
                <select class="Country_list form-control" name="state" id="state">
                  <option value="state" selected="selected">State</option>

                  <option name="State" value="state">State</option>
                  <option value="ACT">ACT</option>
                  <option value="NSW">NSW</option>
                  <option value="NT">NT</option>
                  <option value="QLD">QLD</option>
                  <option value="SA">SA</option>
                  <option value="TAS">TAS</option>
                  <option value="VIC">VIC</option>
                  <option value="WA">WA</option>

                </select>
              </div>
            </div>


            <input type="hidden" id="hiddenCountry" ng-model="business.country" />
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Select Country</label>
                <select class="Country_list form-control" name="country" id="country">
                  <option value="country">Country</option>
                  <option value="Australia" selected="selected"> Australia</option>
                  <option value="UK">UK</option>
                  <option value="HongKong">HongKong</option>
                  <option value="US">US</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="phone" class="control-label">Mobile</label>
                <input type="text" id="phone" class="form-control focus" name="phone" placeholder="" autocomplete="off"
                  required ng-model="business.phone">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="phone" class="control-label">Landline</label>
                <input type="text" id="landline" class="form-control focus" name="phone" placeholder=""
                  autocomplete="off" required ng-model="business.landline">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:15px;">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="website" class="control-label">Website Url</label>
                <input type="text" id="website" name="website" ng-model="business.website" class="form-control focus">
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom:10px;">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label" style="padding-top: 6px;">Profile image</label>
              <div class="upload #{className}" ng-show="!business.imageUrl">
                <div class="upload__wrap" id="media-list">
                  <div class="upload__btn card dropzone" data-width="300" data-ajax="false" id="upload__btn__wrap1"
                    style="margin: 0rem 0 1rem 0;height: 153px; width: 287.875px;">
                    <!--<input class="upload__input" id="upload__btn1" onchange="imagechange()" type="file" ng-model="business.image" name="img_upload" accept="image/jpeg,image/png" />-->
                  </div>
                </div>
              </div>
              <div ng-show="business.imageUrl">
                <img ng-src="https://barm8-space1.sgp1.digitaloceanspaces.com{{ business.imageUrl }}"
                  class="img-responsive"
                  style="width: 288px;height: 153px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);" />
                <div class="btn btn-danger btn-del" ng-click="imgDelete(business.id,userId,business.imageUrl)"
                  style="position: absolute !important;" title="Delete"><i class="glyphicon glyphicon-trash"></i></div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-group">
                    <label for="website" class="control-label">Enter Location</label>
                    <input type="text" id="location" name="location" class="form-control focus">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label for="lat" class="control-label">Latitude</label>
                    <input type="text" id="lat" class="form-control focus" name="Latitude" placeholder=""
                      autocomplete="off" required ng-model="business.location.lat">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="form-group">
                    <label for="lng" class="control-label">Longitude</label>
                    <input type="text" class="form-control focus" name="Longitude" id="lng" placeholder=""
                      autocomplete="off" ng-model="business.location.lng">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row card"
          style="padding: 20px 20px 0px 20px;margin-right:2px !important;margin-left:2px !important;">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
              <h1 style="color:#feae43;margin-top:0px;">Account Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="contact1" class="control-label">Contact 1</label>
                <input type="text" name="contact1" ng-model="business.contact1" id="contact1"
                  class="form-control focus">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="contact2" class="control-label">Contact 2</label>
                <input type="text" name="contact2" ng-model="business.contact2" id="contact2"
                  class="form-control focus">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-xl-6 col-lg-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Email</label>
                <input type="email" class="form-control focus" name="email" id="inputEmail" placeholder=""
                  autocomplete="off" required ng-model="business.email">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-xl-6 col-lg-6">
              <div class="form-group">
                <label for="inputPassword" class="control-label">Password</label>
                <input type="password" class="form-control focus" name="inputPassword" id="inputPassword" placeholder=""
                  autocomplete="off" required ng-model="business.password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
              <div class="form-group">
                <span class="has-error control-label"
                  ng-show="businessForm.name.$invalid && businessForm.name.$dirty">Content is required. </span>
                <div class="col-md-12" style="padding:10px 18px 10px 0px;">
                  <button type="button" ng-click="updateProfile()" ng-disabled="Form.businessName.$invalid"
                    class="btn btn-raised btn-primary pull-right" style="margin-bottom: 10px;"> <i class="fa fa-check"
                      aria-hidden="true"></i>&nbsp;&nbsp;Update</button>

                </div>
              </div>
            </div>
          </div>
          <div id="imageCropModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content animated fadeIn">
                <div class="modal-header" style="padding: 5px 4px 0px 0px !important;">
                  <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                    style="padding: 2px 7px !important;" title="Close"><i class="fa fa-times"
                      aria-hidden="true"></i></button>
                  <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                  <!--<h4 class="modal-title">Modal Header</h4>-->
                </div>
                <div class="modal-body" style="padding: 5px 0px 5px 0px;">
                  <style>
                    .upload__btn:after {
                      font-size: 2.5rem !important;
                    }

                    .container {
                      position: inherit;
                      top: 10%;
                      left: 0%;
                      right: 0;
                      bottom: 0;
                    }

                    .action {
                      width: 599px;
                      height: 30px;
                      margin: 10px 0;
                    }

                    .cropped>img {
                      margin-right: 10px;
                    }

                    .imageBox {
                      position: relative;
                      height: 347px;
                      width: 600px;
                      border: 1px solid #aaa;
                      background: #fff;
                      overflow: hidden;
                      background-repeat: no-repeat;
                      cursor: move;
                    }

                    .imageBox .thumbBox {
                      position: absolute;
                      top: 39%;
                      left: 22%;
                      width: 534px;
                      height: 280px;
                      margin-top: -100px;
                      margin-left: -100px;
                      box-sizing: border-box;
                      border: 1px solid rgb(102, 102, 102);
                      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
                      background: none repeat scroll 0% 0% transparent;
                    }

                    .imageBox .spinner {
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      text-align: center;
                      line-height: 400px;
                      background: rgba(0, 0, 0, 0.7);
                    }

                    @media (min-width: 768px) {
                      .modal-dialog {
                        width: 632px;
                        margin: 30px auto;
                      }
                    }
                  </style>
                  <script type="text/javascript" src="/assets/js/cropimage.js"></script>
                  <div class="container">
                    <div class="imageBox">
                      <div class="thumbBox"></div>
                      <div class="spinner" style="display: none">Loading...</div>
                    </div>
                    <div class="action">
                      <input type="file" id="file" style="float:left; width: 250px;display:none;">
                      <button type="button" id="uploadFile" class="btn btn-success" style="float:left;"><i
                          class="fas fa-upload"></i> Upload Image</button>
                      <button type="button" class="btn btn-primary" id="btnCrop" data-name=""
                        style="float: right;background-color:#4caf50 !important;"><i class="fas fa-crop"></i>&nbsp;
                        Crop</button>
                      <button type="button" class="btn btn-primary" id="btnZoomIn"
                        style="float: right;background-color:#e91e63 !important;margin-right:5px;padding: 4px 10px !important;"><i
                          class="fas fa-plus"></i></button>
                      <button type="button" class="btn btn-primary" id="btnZoomOut"
                        style="float: right;background-color:#009688 !important;padding: 4px 10px !important;margin-right:5px;"><i
                          class="fas fa-minus"></i></button>
                    </div>
                    <div class="cropped">

                    </div>
                  </div>
                  <script type="text/javascript" src="/assets/js/cropimageProfile.js"></script>
                </div>
                <div class="modal-footer" style="padding: 0px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div id="msgShow" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content animated fadeIn">
          <div class="modal-header">
            <a href="javascript:void(0)" class="close" ng-click="modalClose(msg)" data-dismiss="modal">
              &times;
            </a>

            <!--<h4 class="modal-title">Modal Header</h4>-->
          </div>
          <div class="modal-body">
            <h4 id="msgTxt">{{ successMsg }}</h4>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>-->
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
      @media (max-width:800px) {
        .wrapper-content {
          padding: 20px 0px 10px;
        }
      }

      .btn-del {
        margin-top: -10.2rem;
        margin-left: 17.5rem;
      }
    </style>
    <script type="text/javascript">

      $(function () {
        $("#upload__btn__wrap1").on('click', function () {
          imageAddClk('Profile');
        });
        $("#uploadFile").on('click', function () {
          $("#file").click();
        });
        function imageAddClk(data) {
          $("#imageCropModal").modal({ backdrop: 'static', keyboard: false });
          $(".action #btnCrop").data('name', '');
          $(".action #btnCrop").data('name', data);
          $("#file").data('name', '');
          $("#file").data('name', data);
        }
      });

      $(function () {
        $("#country option[value='" + $("#hiddenCountry").val() + "']").attr('selected', 'selected');
      });
      function imagechange() {
        var data = $('#upload__btn1')[0].files[0];
        angular.element(document.getElementById('editProfile')).scope().imageChangeData(data);
      }

      $(document).ready(function () {
        $('img[src=""]').hide();
        $('img:not([src=""])').show();
      });
      $(document).on('change', 'img', function () {
        $('img[src=""]').hide();
        $('img:not([src=""])').show();
      });
    </script>
  </div>
</div>