<script>
  $(() => {
    $("#editProfile").css({ "opacity": "0.1" });
    setTimeout(function () { $("#editProfile").css({ "opacity": "" }); }, 1000);
  });

</script>
<div id="wrapper">
  <div ng-include="'views/barm8-menus.html'"></div>
  <div id="page-wrapper" class="gray-bg topBar" style="min-height: 270px;">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top white-bg navbarTop" role="navigation"
        style="margin-bottom: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" style="background-color: #f9a141 !important;"
            id="minimize" href="javascript:;">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a ui-sref="logout" id="logout" style="text-align:right !important;  color: #363636 !important;">
              <i class="fas fa-sign-out-alt"></i> Log out
            </a>
          </li>
        </ul>
      </nav>

    </div>
    <style type="text/css">
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active,
      .btn-primary.active,
      .open .dropdown-toggle.btn-primary,
      .btn-primary:active:focus,
      .btn-primary:active:hover,
      .btn-primary.active:hover,
      .btn-primary.active:focus {

        border-color: #f9a141;
      }

      .btn:focus,
      .btn:hover {
        color: #fff !important;
        text-decoration: none;
      }

      .card {
        position: relative;
        margin: 0rem 0 1rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .form-group {
        margin-bottom: 0px;
      }

      #map {
        min-height: 275px;
        width: 100%;
        height: 100%
      }

      .upload__img {
        border-radius: 0px;
        width: 25.6875rem;
        height: 17.6875rem;
        margin-top: -12px;
      }


      .dropzone .tools {
        /*top: -60px !important;*/
        right: 5px !important;
      }

      .upload__btn:after {
        line-height: 7rem !important;
      }

      .dropzone:after {
        bottom: 52% !important;
      }

      .btn-del {
        margin-top: -12.2rem;
        margin-left: 17.5rem;
      }

      .spaceintopandbottom {
        padding-top: 5px;
        padding-bottom: 10px;
      }

      select.Country_list {
        height: 34px;
        color: #121313;
        padding-left: 1%;
        font-size: 16px;
      }

      .upload__wrap {
        padding-bottom: 0rem !important;
        margin-bottom: 0rem !important;
      }

      @media (max-width:749px) {
        #upload__btn__wrap1 {
          width: 256.875px;
        }

        .upload__btn {
          width: 256.875px !important;
        }

        .btn-del {
          margin-top: -10.2rem;
          margin-left: 14.5rem;
        }
      }

      .row {
        padding: 5px 0px;
      }

      #editProfile .btn {
        border-radius: 50px;
      }

      #imageCropModal .btn {
        border-radius: 50px;
      }

      .minimalize-styl-2 {
        background-color: #E91E63 !important;
      }

      label {
        font-size: 16px !important;
      }

      .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
      }

      .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
      }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/modalcustom.css" />
    <!--file Upload File-->
    <link rel="stylesheet" type="text/css" href="assets/css/single-img.css" />
    <script type="text/javascript" src="/assets/js/single-imgdrag_drop.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCRYyaP1xJP9WYzxy9zE7BefTnau-mfA&libraries=places&callback=initAutocomplete"></script>
    <script type="text/javascript">
      //let autocomplete, place;
      function initAutocomplete() {
        let autocomplete = new google.maps.places.Autocomplete(/** @type {!HTMLInputElement} */(document.getElementById('location')));
        autocomplete.addListener('place_changed', function () {
          let place = autocomplete.getPlace();
          $("#lat").val(place.geometry.location.lat);
          $("#lng").val(place.geometry.location.lng);
        });
      }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCRYyaP1xJP9WYzxy9zE7BefTnau-mfA&libraries=places&callback=initAutocomplete"></script>

    <div class="row" id="editProfile" ng-controller="eprofile" style="margin-top:3.5em;">
      <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
        <div class="row card"
          style="padding: 20px 20px 0px 20px;margin-right:2px !important;margin-left:2px !important;margin-bottom:5px;">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
              <a href="#" onclick="history.back();">
                <i style="color: #ff9800 !important;vertical-align: -0.4em !important;"
                  class="fas fa-long-arrow-alt-left fa-4x"></i>
                <b class="back-txt">Back to Overview</b>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
              <b class="manage-txt">Update venue</b>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputName" class="control-label">Venue</label>
                <input type="text" class="form-control custom-input" id="venuename" name="businessName"
                  ng-model="business.businessName" style="font-size: 16px!important;" placeholder="">
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="inputEmail" class="control-label">ABN</label>
                <input type="text" style="font-size: 16px!important;" class="form-control custom-input" id="abn"
                  name="abn" placeholder="" autocomplete="off" ng-model="business.abn">
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="inputVenueCapacity" class="control-label">Venue Capacity</label>
                <input type="number" style="font-size: 16px!important;" class="form-control custom-input"
                  id="inputVenueCapacity" name="inputVenueCapacity" placeholder="" autocomplete="off"
                  ng-model="business.venueCapacity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Address Line 1</label>
                <input type="text" style="font-size: 16px!important;" class="form-control custom-input"
                  name="addressLine1" id="address1" placeholder="" ng-model="business.addressLine1">
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Address Line 2</label>
                <input type="text" style="font-size: 16px!important;" class="form-control custom-input"
                  name="addressLine2" id="address2" placeholder="" autocomplete="off" ng-model="business.addressLine2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="suburb" class="control-label">Suburb</label>
                <input type="text" style="font-size: 16px!important;" id="suburb" class="form-control custom-input"
                  name="suburb" placeholder="" autocomplete="off" required ng-model="business.suburb">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Postcode</label>
                <input type="text" style="font-size: 16px!important;" class="form-control custom-input" name="zipCode"
                  id="postal_code" placeholder="" autocomplete="off" ng-model="business.zipCode">
              </div>
            </div>
          </div>
          <div class="row">
            <input type="hidden" id="hiddenCountry" ng-model="business.state" />
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">State</label>
                <select class="Country_list form-control custom-input" ng-model="business.state"
                  style="font-size: 16px!important;" name="state" id="state">
                  <option name="State" value="state">State</option>
                  <option value="ACT">ACT</option>
                  <option value="NSW">NSW</option>
                  <option value="NT">NT</option>
                  <option value="QLD">QLD</option>
                  <option value="SA">SA</option>
                  <option value="TAS">TAS</option>
                  <option value="VIC">VIC</option>
                  <option value="WA">WA</option>
                </select>
              </div>
            </div>

            <input type="hidden" id="hiddenCountry" ng-model="business.country" />
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Country</label>
                <select class="Country_list form-control custom-input" name="country" style="font-size: 16px!important;"
                  id="country">
                  <option value="country">Country</option>
                  <option value="Australia" selected="selected"> Australia</option>
                  <option value="UK">UK</option>
                  <option value="HongKong">HongKong</option>
                  <option value="US">US</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="phone" class="control-label">Mobile</label>
                <input type="text" id="phone" style="font-size: 16px!important;" class="form-control custom-input"
                  name="phone" placeholder="" autocomplete="off" required ng-model="business.phone">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="phone" class="control-label">Landline</label>
                <input type="text" id="landline" style="font-size: 16px!important;" class="form-control custom-input"
                  name="phone" placeholder="" autocomplete="off" required ng-model="business.landline">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="website" class="control-label">Venue Website</label>
                <input type="text" id="website" style="font-size: 16px!important;" name="website"
                  ng-model="business.website" class="form-control custom-input">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="venueInformation" class="control-label">Venue Information</label>
                <textarea class="form-control" style="font-size: 16px!important;    border: 2px solid #ddd !important;"
                  id="venueInformation" name="website" rows="4" ng-model="business.venueInformation"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xl-6">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-group">
                    <label for="website" class="control-label">Enter Location</label>
                    <input type="text" style="font-size: 16px!important;" id="location" name="location"
                      class="form-control custom-input">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="lat" class="control-label">Latitude</label>
                <input type="text" id="lat" style="font-size: 16px!important;" class="form-control custom-input"
                  name="Latitude" placeholder="" autocomplete="off" required ng-model="business.location.lat">
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="lng" class="control-label">Longitude</label>
                <input type="text" style="font-size: 16px!important;" class="form-control custom-input" name="Longitude"
                  id="lng" placeholder="" autocomplete="off" ng-model="business.location.lng">
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom:10px;">
            <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 col-xl-2">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                  <label class="control-label" style="padding-top: 6px;">Primary image</label>
                </div>
              </div>
              <link rel="stylesheet" href="/views/venue/upload-img.css">
              <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
              <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
              <div class="modal" id="image-crop-md" tabindex="-1" role="dialog">
                <div class="modal-dialog opacity-animate3 modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row page">
                        <div class="box-2">
                          <div class="result"></div>
                        </div>
                        <div class="box-2 img-result hide">
                          <img class="cropped" src="" alt="">
                        </div>
                        <div class="box">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="text-align: left;">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                          <button class="btn btn-primary" id="crop-btn"
                            style="background-color: #388e3c !important; color: #fff;
                                  border: 1px solid #388e3c !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Crop</button>
                          <button class="btn btn-primary" id="modalClose"
                            style="background-color: #d32f2f !important; color: #fff;
                                  border: 1px solid #d32f2f !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="business.primaryImage.length==0 || !business.primaryImage">
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="upload #{className}">
                    <!-- <input type="file" id="primary-image" class="form-control custom-input"
                      accept="image/jpg,image/png,image/jpeg,image/gif">
                    <span style="color: gray;">Image size 700*300</span>
                    <span style="color: red;display: none;" id="image_err_pr">Image is
                      required</span>
                    <span style="color: red;display: none;" id="image_pr_width_height">Incorrect the
                      width or height!</span> -->
                    <div class="form-group img-c-s" style="margin-bottom: 0px;">
                      <input type="file" id="primaryImage" accept="image/png, image/jpeg" style="display: none;">
                      <button class="btn btn-primary"
                        style="font-size: 1.25rem;padding:8px 10px !important;border-radius: 4px !important;border-color: #ff9800 !important;"
                        onclick="$('#primaryImage').trigger('click'); return false;">Choose
                        Image file</button>
                    </div>
                    <script>
                      $("#primaryImage").on('change', function (e) {
                        angular.element(document.getElementById('editProfile')).scope().clickImageSection(e.target.files[0]);
                      })
                    </script>
                    <div class="form-group img-h-s" style="margin-bottom: 0px;">
                      <div class="profile-pic" style="padding: 5px;">
                        <img src="" class="img-resposive img-bkg" id="img-pre" style="width: 300px;height: 150px;">
                        <div class="edit">
                          <a class="btn" id="delete_i_index" data-toggle="tooltip" data-placement="top" title="Delete"
                            style="background-color: #fff;color:#d50000 !important;padding: 5px 10px!important;border-radius:25px;"
                            href="javascript:;"><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="business.primaryImage && business.primaryImage.length>0">
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="profile-pic">
                    <img ng-src="business.primaryImage[0].path" src="{{business.primaryImage[0].path}}"
                      ng-click="image_click($event.target ,0)" class="img-responsive"
                      style="width: 208px;height: 103px;box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);border-radius: 4px;" />
                    <div class="edit"><a class="btn" id="delete_{{business.primaryImage[0].id}}" data-toggle="tooltip"
                        data-placement="top" title="Delete"
                        ng-click="imgDelete(business.primaryImage[0], 'primaryImage')"
                        style="background-color: #fff;color:#d50000;padding: 5px 10px!important;" href="javascript:;"><i
                          class="far fa-trash-alt"></i></a></div>

                    <div id="myNav_0" class="overlay">
                      <a href="javascript:void(0)" class="closebtn" ng-click="closeNav(0)">&times;</a>
                      <div class="overlay-content" id="over-id">
                        <img src="{{business.primaryImage[0].path}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 col-xl-2" ng-repeat="data in business.secondaryImage">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label class="control-label" style="padding-top: 6px;">
                    <span ng-show="$first">Secondary image</span>
                    <span ng-show="!$first">Image</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div ng-show="data.path" class="profile-pic">
                    <img src="{{data.path}}" class="img-responsive" ng-click="image_click($event.target ,$index)"
                      style="width: 208px;height: 103px;box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);;object-fit: cover;webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);    border-radius: 4px;" />
                    <div class="edit"><a class="btn" id="delete_{{data.id}}" data-toggle="tooltip" data-placement="top"
                        title="Delete" ng-click="imgDelete(data, 'secondaryImage')"
                        style="background-color: #fff;color:#d50000;padding: 5px 10px!important;" href="javascript:;"><i
                          class="far fa-trash-alt"></i></a>
                    </div>

                    <div id="myNav_{{$index}}" class="overlay">
                      <a href="javascript:void(0)" class="closebtn" ng-click="closeNav($index)">&times;</a>
                      <div class="overlay-content" id="over-id">
                        <img src="{{data.path}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="img-c-s-se">

            </div>
            <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 col-xl-2 ad-new-img"
              ng-show="!business.secondaryImage || business.secondaryImage && business.secondaryImage.length<5">
              <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12 col-xl-12">
                  <label class="control-label" style="padding-top: 6px;">Add image</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12 col-xl-12" ng-show="!data.fileName">
                  <!-- <input type="file" id="secondary-image" multiple class="form-control custom-input"
                      data-count="{{business.secondaryImage.length}}" accept="image/jpg,image/png,image/jpeg,image/gif">
                    <span style="color: gray;">Image size 700*875</span>
                    <span style="color: red;display: none;" id="image_err">Image is
                      required</span>
                    <span style="color: red;display: none;" id="image_se_width_height">Incorrect the
                      width or height!</span>
                    <span style="color: red;display: none;" id="image_file_cnt">Max 5 files are allowed!</span> -->
                  <div class="form-group img-c-s-s" style="margin-bottom: 0px;">
                    <input type="file" id="secondaryImage" accept="image/png, image/jpeg" style="display: none;">
                    <button class="btn btn-primary"
                      style="font-size: 1.25rem;padding:8px 10px !important;border-radius: 4px !important;border-color: #ff9800 !important;"
                      onclick="$('#secondaryImage').trigger('click'); return false;">Choose
                      Image file</button>
                  </div>
                  <script>
                    $("#secondaryImage").on('change', function (e) {
                      angular.element(document.getElementById('editProfile')).scope().clickImgSecond(e.target.files[0]);
                    })
                  </script>
                </div>
              </div>
            </div>
          </div>
          <link rel="stylesheet" href="/views/venue/upload-img-second.css">
          <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
          <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
          <div class="modal" id="image-crop-second-md" tabindex="-1" role="dialog">
            <div class="modal-dialog opacity-animate3 modal-lg" role="document" style=" max-width: 760px;width: 760px;">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row page_1">
                    <div class="box-2">
                      <div class="result-second"></div>
                    </div>
                    <div class="box-2 img-result hide">
                      <img class="cropped" src="" alt="">
                    </div>
                    <div class="box">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="text-align: left;">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                      <button class="btn btn-primary" id="crop-s-btn"
                        style="background-color: #388e3c !important; color: #fff;
                              border: 1px solid #388e3c !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Crop</button>
                      <button class="btn btn-primary" id="modalClose_second"
                        style="background-color: #d32f2f !important; color: #fff;
                              border: 1px solid #d32f2f !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 col-xl-2" ng-repeat="video in business.videos">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                  <label>Video</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12">
                  <div class="profile-pic">
                    <video controls="controls" class="video-stream" x-webkit-airplay="allow" src="{{video.path}}"
                      style="width: 288px;height: 153px;object-fit: cover;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);"></video>

                    <div class="edit"><a class="btn" id="delete_{{video.id}}" data-toggle="tooltip" data-placement="top"
                        title="Delete" ng-click="imgDelete(video, 'video')"
                        style="background-color: #fff;color:#d50000;padding: 5px 10px!important;" href="javascript:;"><i
                          class="far fa-trash-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 col-xl-2">
              <label class="control-label" style="padding-top: 6px;">Videos</label>
              <div class="upload #{className}" ng-show="!business.videos || business.videos.length<=5">
                <input type="file" id="videos" data-videocnt="{{business.videos.length}}" multiple
                  class="form-control custom-input" name="file[]" multiple accept="video/*">
                <span style="color: gray;">Video size is below 12MB!</span>
                <span style="color: red;display: none;" id="video_se_width_height">Try to upload file less than
                  12MB!</span>
                <span style="color: red;display: none;" id="video_file_cnt">Max 5 files are allowed!</span>
              </div>

            </div>
          </div>
        </div>

        <div class="row card"
          style="padding: 20px 20px 20px 20px;margin-right:2px !important;margin-left:2px !important;margin-bottom:5px;">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
              <h1 style="margin-top:0px;font-size: 20px;font-weight: 400;">IBeacon Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="eddystoneNameSpaceId" class="control-label">Eddystone Namespace Id</label>
                <input type="text" style="font-size: 16px!important;" id="eddystoneNameSpaceId"
                  class="form-control custom-input" name="eddystoneNameSpaceId" placeholder="" autocomplete="off"
                  required ng-model="business.eddystoneNameSpaceId">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="eddystoneInstanceId" class="control-label">Eddystone Instance Id</label>
                <input type="text" style="font-size: 16px!important;" id="eddystoneInstanceId"
                  class="form-control custom-input" name="eddystoneInstanceId" placeholder="" autocomplete="off"
                  required ng-model="business.eddystoneInstanceId">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
              <div class="form-group">
                <label for="eddystoneUrl" class="control-label">Eddystone Url</label>
                <input type="text" style="font-size: 16px!important;" id="eddystoneUrl"
                  class="form-control custom-input" name="eddystoneUrl" placeholder="" autocomplete="off" required
                  ng-model="business.eddystoneUrl">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for="iBeaconId" class="control-label">IBeacon Id</label>
                <input type="text" style="font-size: 16px!important;" id="iBeaconId" class="form-control custom-input"
                  name="iBeaconId" placeholder="" autocomplete="off" required ng-model="business.iBeaconId">
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="majorId" class="control-label">Major Id</label>
                <input type="text" style="font-size: 16px!important;" id="majorId" class="form-control custom-input"
                  name="majorId" placeholder="" autocomplete="off" required ng-model="business.majorId">
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="minorId" class="control-label">Minor Id</label>
                <input type="text" style="font-size: 16px!important;" id="minorId" class="form-control custom-input"
                  name="minorId" placeholder="" autocomplete="off" required ng-model="business.minorId">
              </div>
            </div>
          </div>
        </div>

        <div class="row card" style="margin: 0rem 0 0.5rem 0 !important;">
          <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 style="margin-top:10px;font-size: 1.5rem;font-weight: 400;">Features</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" style="margin-top: 0.4rem;margin-bottom:0.4rem;"
                ng-repeat="features in venueFeaturesData">
                <div class="form-group">
                  <input type="checkbox" name="_features" class="styled-checkbox" value="{{features.name}}"
                    data-namefeatures="{{features._name}}" id="_features_{{features._name}}">
                  <label for="_features_{{features._name}}">&nbsp;{{features.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row card" style="margin: 0rem 0 0.5rem 0 !important;">
          <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 style="margin-top:10px;font-size: 1.5rem;font-weight: 400;">Bar Type</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" style="margin-top: 0.4rem;margin-bottom:0.4rem;"
                ng-repeat="barType in barTypeData">
                <div class="form-group">
                  <input type="checkbox" name="_bar_type" class="styled-checkbox" value="{{barType.name}}"
                    data-namefeatures="{{barType._name}}" id="_bar_type_{{barType._name}}">
                  <label for="_bar_type_{{barType._name}}">&nbsp;{{barType.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row card" style="margin: 0rem 0 0.5rem 0 !important;">
          <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 style="margin-top:10px;font-size: 1.5rem;font-weight: 400;">Venue Tags</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" style="margin-top: 0.4rem;margin-bottom:0.4rem;"
                ng-repeat="venuetag in venueTagData">
                <div class="form-group">
                  <input type="checkbox" name="_venue_tag" class="styled-checkbox" value="{{venuetag.name}}"
                    data-namefeatures="{{venuetag._name}}" id="_venue_tag_{{venuetag._name}}">
                  <label for="_venue_tag_{{venuetag._name}}">&nbsp;{{venuetag.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row card"
          style="padding: 20px 20px 20px 20px;margin-right:2px !important;margin-left:2px !important;margin-bottom:5px;">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12">
              <h1 style="margin-top:0px;font-size: 20px;font-weight: 400;">Account Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 col-xl-4">
              <div class="form-group">
                <label for="contact1" class="control-label">Contact</label>
                <input type="text" name="contact1" ng-model="business.contact1" id="contact1"
                  class="form-control custom-input" style="font-size: 16px!important;">
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 col-xl-4">
              <div class="form-group">
                <label for="inputEmail" class="control-label">Email</label>
                <input type="email" class="form-control custom-input" name="email" id="inputEmail" placeholder=""
                  autocomplete="off" required ng-model="business.email" style="font-size: 16px!important;">
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 col-xl-4">
              <div class="form-group">
                <label for="inputRole" class="control-label">Role</label>
                <input type="role" class="form-control custom-input" style="font-size: 16px!important;" name="inputRole"
                  id="inputRole" placeholder="" autocomplete="off" required ng-model="business.role">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4 col-lg-4">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control custom-input" style="font-size: 16px!important;"
                  id="password">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4 col-lg-4">
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control custom-input" style="font-size: 16px!important;"
                  id="confirm_password">
                <span id="confirm-password-err" style="color: red;"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="button" ng-click="updateProfile()" id="update_btn" class="btn btn-primary pull-right"
              style="margin-bottom: 10px;font-size: 20px;    border-radius: 2px;"> <i class="fa fa-check"
                aria-hidden="true"></i>&nbsp;&nbsp;Update</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

      function getReadableFileSizeString(fileSizeInBytes) {
        var i = -1;
        var byteUnits = ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        do {
          fileSizeInBytes = fileSizeInBytes / 1024;
          i++;
        } while (fileSizeInBytes > 1024);

        return `${Math.max(fileSizeInBytes).toFixed(1)}_${byteUnits[i]}`;
      };

      $("#primary-image").on('change', function () {
        let h, w;
        $("#image_pr_width_height").css({ display: 'none' });
        let reader = new FileReader();
        reader.onload = () => {
          let tmpImgNode = document.createElement("img");
          tmpImgNode.onload = function () {
            h = this.naturalHeight;
            w = this.naturalWidth;
            if (h == 300 && w == 700) {
              $("#update_btn").removeAttr('disabled');
            } else {
              $("#update_btn").attr('disabled', true);
              $("#image_pr_width_height").css({ display: 'block' });
            }
          };

          tmpImgNode.src = reader.result;
        };
        reader.readAsDataURL($("#primary-image")[0].files[0]);
      });


      $("#secondary-image").on('change', function () {
        $("#image_file_cnt").css({ display: 'none' })
        let files = $("#secondary-image").prop('files');
        let fiCnt = Number($("#secondary-image").attr('data-count') || 0)
        fiCnt = fiCnt + files.length;
        if (fiCnt >= 6) {
          $("#image_file_cnt").css({ display: 'block' });
          $("#update_btn").removeAtr('disabled');
        }
        let h, w;
        $("#image_se_width_height").css({ display: 'none' });
        if (files) {
          for (let ind in files) {
            let reader = new FileReader();
            reader.onload = () => {
              let tmpImgNode = document.createElement("img");
              tmpImgNode.onload = function () {
                h = this.naturalHeight;
                w = this.naturalWidth;
                if (h == 875 && w == 700) {
                  $("#update_btn").removeAttr('disabled');
                } else {
                  $("#update_btn").attr('disabled', true);
                  $("#image_se_width_height").css({ display: 'block' });
                }
              };

              tmpImgNode.src = reader.result;
            };
            reader.readAsDataURL($("#secondary-image")[0].files[ind]);
          }
        }

      });

      let units = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

      function niceBytes(x) {

        let l = 0, n = parseInt(x, 10) || 0;

        while (n >= 1024 && ++l) {
          n = n / 1024;
        }
        //include a decimal point and a tenths-place digit if presenting
        //less than ten of KB or greater units
        return (n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l]);
      }

      $("#videos").on('change', function () {
        let files = $("#videos").prop('files');

        $("#video_se_width_height,#video_file_cnt").css({ display: 'none' });
        $("#update_btn").removeAttr('disabled');
        let cnt = Number($("#videos").attr('data-videocnt'));
        cnt = cnt + files.length;
        if (cnt <= 5) {
          for (let file of files) {

            let fSize = niceBytes(file.size);

            if (fSize) {
              let sIzE = fSize.split(' ');
              if (sIzE[1] == 'MB' && sIzE[0] > 12) {
                $("#update _b tn").attr('disabl ed', true);
                $("#video_se_width_height").css({ display: 'block' })
              }
            }
          }
        } else {
          $("#update_btn").attr('disabled', true);
          $("#video_file_cnt").css({ display: 'block' })
        }

      })

      $(function () {
        $("#country option[value='" + $("#hiddenCountry").val() + "']").attr('selected', 'selected');
      });
      function imagechange() {
        var data = $('#upload__btn1')[0].files[0];
        angular.element(document.getElementById('editProfile')).scope().imageChangeData(data);
      }

      $(document).ready(function () {
        $('img[src=""]').hide();
        $('img:not([src=""])').show();
      });
      $(document).on('change', 'img', function () {
        $('img[src=""]').hide();
        $('img:not([src=""])').show();
      });

      $(document).ready(function () {
        $('input[name="_venue_tag"]').on('click', function () {
          if ($('input[name="_venue_tag"]:checked').length > 8) $(this).prop('checked', false);
        })
      })
    </script>
  </div>
</div>
<style>
  @media (max-width:800px) {
    .wrapper-content {
      padding: 20px 0px 10px;
    }
  }

  .btn-del {
    margin-top: -10.2rem;
    margin-left: 17.5rem;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .tg-list {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .tg-list-item {
    margin: 0 2em;
  }

  .tgl {
    display: none;
  }

  .tgl,
  .tgl:after,
  .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl+.tgl-btn {
    box-sizing: border-box;
  }

  .tgl::-moz-selection,
  .tgl:after::-moz-selection,
  .tgl:before::-moz-selection,
  .tgl *::-moz-selection,
  .tgl *:after::-moz-selection,
  .tgl *:before::-moz-selection,
  .tgl+.tgl-btn::-moz-selection {
    background: none;
  }

  .tgl::selection,
  .tgl:after::selection,
  .tgl:before::selection,
  .tgl *::selection,
  .tgl *:after::selection,
  .tgl *:before::selection,
  .tgl+.tgl-btn::selection {
    background: none;
  }

  .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .tgl+.tgl-btn:after,
  .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }

  .tgl+.tgl-btn:after {
    left: 0;
  }

  .tgl+.tgl-btn:before {
    display: none;
  }

  .tgl:checked+.tgl-btn:after {
    left: 50%;
  }

  .tgl-light+.tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .tgl-light:checked+.tgl-btn {
    background: #9FD6AE;
  }

  .tgl-ios+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
  }

  .tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }

  .tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
  }

  .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
  }

  .tgl-ios+.tgl-btn:active:after {
    padding-right: .8em;
  }

  .tgl-ios:checked+.tgl-btn {
    background: #86d993;
  }

  .tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
  }

  .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -.8em;
  }

  .btn-primary.disabled,
  .btn-primary.disabled:hover,
  .btn-primary.disabled:focus,
  .btn-primary.disabled:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled],
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled]:active,
  .btn-primary.active[disabled],
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #faa141;
    border-color: #fba919;
  }

  #page-wrapper {
    padding: 0 10px !important;
  }

  .styled-checkbox {
    position: absolute;
    opacity: 0
  }

  .styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0
  }

  .styled-checkbox+label:before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .12);
    background: #fafafa
  }

  .styled-checkbox:hover+label:before {
    background: rgba(0, 0, 0, .87)
  }

  .styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .12)
  }

  .styled-checkbox:checked+label:before {
    background: rgba(0, 0, 0, .87)
  }

  .styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto
  }

  .styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 6px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .profile-pic {
    position: relative;
    display: inline-block;
  }

  .profile-pic:hover .edit {
    display: block;
  }

  .edit {
    padding-top: 13px;
    padding-right: 13px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .edit a {
    color: #000;
  }
</style>