<style type="text/css">
    body {
        background-color: #f3f3f4 !important
    }

    .card {
        position: relative;
        margin: 0rem 0 0rem 0;
        background-color: #fff;
        -webkit-transition: -webkit-box-shadow .25s;
        transition: -webkit-box-shadow .25s;
        transition: box-shadow .25s;
        transition: box-shadow .25s, -webkit-box-shadow .25s;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    #eventBookingView .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #eventBookingView .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

    .boxShow {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
</style>
<script>
    
    $(() => { $("#wrapper").css({ "opacity": "0.1" }); setTimeout(function () { $("#wrapper").css({ "opacity": "" }) }, 1000) });
</script>
<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css" />
<style>
    .modal {
        top: 0px !important;
    }

    .modal-header .close {
        margin-top: -31px !important;
        margin-right: 15px !important;
    }

    .modal-body {
        text-align: inherit !important;
    }

    .list-group-item.active,
    .list-group-item.active:focus,
    .list-group-item.active:hover {
        z-index: 2;
        color: #fff;
        background-color: #f9a141 !important;
        border-color: #f9a141 !important;
    }

    .list-group-item {
        padding: 6px 8px !important;
    }
</style>
<div id="wrapper">
    <div ng-include="'views/barm8-menus.html'"></div>
    <div id="page-wrapper" class="gray-bg topBar" style="min-height: 270px;" ng-controller="eventBookingCtl">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg navbarTop" role="navigation"
                style="margin-bottom: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                        style="background-color: #f9a141 !important;" id="minimize" href="javascript:;">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="logout" id="logout"
                            style="text-align:right !important;  color: #363636 !important;">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="orders">
            <div class="m-t-sm" style="margin-top:2.5rem;" ng-show="isBusinessSelect">
                <div class="row">
                    <div class="col-md-12 card"
                        style="padding:20px;margin-right:2px !important;margin-left:2px !important;">
                        <div class="row">
                            <div class="col-md-12 ordercard">
                                <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                                <div class="autocomplete col-sm-8 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                                    style="padding-right:0px;padding-left:0px;">
                                    <input id="autocompleteBusiness" type="text" name="BusinessName"
                                        placeholder="Enter Business name">
                                    <span id="businessErr" style="color:red;"></span>
                                </div>
                                <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                                <script
                                    type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'eventbooking');</script>
                                <div class="autocomplete col-sm-4 col-xs-4 col-md-6 col-lg-6 col-xl-6 auto-btn">
                                    <button type="button" ng-click="BusinessSelected('BusinessManager')"
                                        id="businessSubmit" class="btn btn-raised btn-primary businessSubmit">
                                        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 card"
                                style="padding:10px 10px 0px 10px;margin: 0rem 0 1rem 0;">
                                <h4>Filter</h4>
                                <div class="row seven-cols">
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_Type_filter_list">Events</label>
                                            <select class="form-control" id="event_Type_filter_list"
                                                ng-init="eventId='select'" ng-model="eventId">
                                                <option value="select">Select</option>
                                                <option ng-repeat="event in events" value="{{event.id}}">{{event.title}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_filter_date">Date</label>
                                            <input type="text" class="form-control" placeholder="dd/mm/yyyy"
                                                id="event_filter_date">
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_filter_date">Ticket Group</label>
                                            <select class="form-control" id="event_Type_filter_list"
                                                ng-init="eventTicketGroupId='select'" ng-model="eventTicketGroupId">
                                                <option value="select">Select</option>
                                                <option ng-repeat="group in ticketgroups" value="{{group.id}}">
                                                    {{group.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_filter_date">Ticket Type</label>
                                            <select class="form-control" id="event_Type_filter_list"
                                                ng-init="eventTicketTypeId='select'" ng-model="eventTicketTypeId">
                                                <option value="select">Select</option>
                                                <option ng-repeat="type in ticketTypes" value="{{type.id}}">
                                                    {{type.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_filter_bookingId">Booking ID</label>
                                            <input type="text" class="form-control" placeholder="B00123"
                                                id="event_filter_bookingId">
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="event_filter_customer">Customer</label>
                                            <input type="text" class="form-control" placeholder="Name or Contact"
                                                id="event_filter_customer">
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-primary searchBtn"
                                            style="margin-top: 20px;" ng-click="searchClk()"><i
                                                class="fas fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="eventBookingView">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header boxShow" style="background-color: #000!important;color:#fff;">
                                <h2 class="modal-title"> &nbsp; <i class="fas fa-ticket-alt"></i> Booking Details</h2>
                                <button type="button" class="close btn" style="background-color: #fff;color: red;"
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <ul class="list-group boxShow">
                                                    <li class="list-group-item active">
                                                        <h3>Booking Detail</h3>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Booking Id
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.bid}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Ticket Group
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.eventTicketGroup.name}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Ticket Type
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.eventTicketType.name}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                No of Tickets
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.totalQty}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Total Amount
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.totalAmt}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Status
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.status}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <ul class="list-group boxShow">
                                                    <li class="list-group-item active">
                                                        <h3>Customer Detail</h3>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Name
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.customer.firstName}} &nbsp;
                                                                {{bookingDetails.customer.lastName}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Gender
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.customer.gender | capitalize}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Mobile
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.customer.mobile}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Email
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.customer.email}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Address
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                <div class="row">
                                                                    <div
                                                                        class="col-sm-12 col-xs-12 col-md-12 col-xl-12">
                                                                        {{bookingDetails.customer.addressLine1}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div
                                                                        class="col-sm-12 col-xs-12 col-md-12 col-xl-12">
                                                                        {{bookingDetails.customer.addressLine2}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Postcode
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.customer.postCode}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <ul class="list-group boxShow">
                                                    <li class="list-group-item active">
                                                        <h3>Event Detail</h3>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Event Name
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.events.title}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Event Date
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.eventDates.date}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Time
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.eventDates.startTime}} to
                                                                {{bookingDetails.eventDates.endTime}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Organiser Name
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.events.organiser.name}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Artists
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.events.artist}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Age Restrict
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.events.ageRestrict}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Venue
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        {{bookingDetails.events.venue.name}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        {{bookingDetails.events.venue.address}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        {{bookingDetails.events.venue.city}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        {{bookingDetails.events.venue.state}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        {{bookingDetails.events.venue.zip}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <ul class="list-group boxShow">
                                                    <li class="list-group-item active">
                                                        <h3>Payment Details</h3>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Status
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                {{bookingDetails.eventPayments.status}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Payment Date
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                NA
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-xs-6">
                                                                Payment Time
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-6">
                                                                NA
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="eventBooking && eventBooking.length">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12 card"
                        style="padding-left: 0px; padding-right: 0px;">
                        <div class="table-responsive">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Booking Id</th>
                                        <th>Booking Date</th>
                                        <th>Customer Name</th>
                                        <th>Total Qty</th>
                                        <th>Total Amount</th>
                                        <th>Payment Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="booking in eventBooking">
                                        <td>{{booking.bid}}</td>
                                        <td>{{booking.date | date}}</td>
                                        <td>{{booking.customer.firstName}} &nbsp; {{booking.customer.lastName}}</td>
                                        <td>{{booking.totalQty}}</td>
                                        <td>$ {{booking.totalAmt}}</td>
                                        <td>{{booking.eventPayments.status}}</td>
                                        <td> <button class="btn btn-primary" ng-click="viewBooking(booking.id)"
                                                style="background-color: #f9a141!important;"><i class="fas fa-eye"></i>
                                                View</button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#event_filter_date').datepicker({ format: "dd-mm-yyyy", todayHighlight: !0, autoclose: !0 });
        $('#event_filter_date').val((('0' + ((new Date()).getDate())).slice(-2) + '-' + ('0' + ((new Date()).getMonth() + 1)).slice(-2) + '-' + (new Date()).getFullYear()))
    });
</script>