
<div id="wrapper">
    <div ng-include="'views/barm8-menus.html'"></div>
    <div id="page-wrapper" class="gray-bg topBar" style="min-height: 270px;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg navbarTop" role="navigation"
                style="margin-bottom: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                        style="background-color: #f9a141 !important;" id="minimize" href="javascript:;">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="logout" id="logout"
                            style="text-align:right !important;  color: #363636 !important;">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content" id="orders">
            <div class="row" style="margin-top: 3rem;">
                <div class="col-md-12">
                    <button type="button" ui-sref="orders" class="btn btn-danger pull-right"><i
                            class="fas fa-arrow-left"></i>&nbsp; Back</button>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-12 card">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in products">
                                    <td>{{item.mealsDashSubLine.menu}}</td>
                                    <td>{{item.qty}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>