<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="description" content="Bar M8">
<meta name="keywords" content="Bar M8">
<meta name="author" content="Bar M8">
<title>Bar M8</title>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var link = document.createElement('a');
            var deviceDetect = navigator.platform;
            var appleDevicesArr = ['MacIntel', 'MacPPC', 'Mac68K', 'Macintosh', 'iPhone',
                'iPod', 'iPad', 'iPhone Simulator', 'iPod Simulator', 'iPad Simulator', 'Pike v7.6 release 92', 'Pike v7.8 release 517'];
            if (appleDevicesArr.includes(deviceDetect)) link.href = 'https://apps.apple.com/au/app/barm8/id1402470106';
            else link.href = 'https://play.google.com/store/apps/details?id=com.barm8';
            document.body.appendChild(link);
            link.click();
        });
    </script>
</body>
</html>