<div id="wrapper" ng-controller="scanIdsController">
    <div ng-include="'views/barm8-menus.html'"></div>
    <div id="page-wrapper" class="gray-bg topBar" style="min-height: 270px;padding:0 5px;">

        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg navbarTop" role="navigation"
                style="margin-bottom: 0;box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                        style="background-color: #f9a141 !important;" id="minimize" href="javascript:;">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="logout" id="logout"
                            style="text-align:right !important;  color: #363636 !important;">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row" style="margin:3.5rem 5px 5px 5px;" ng-show="userDetails.isAdmin">
            <div class="row card" style="padding:20px;">
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                    <div class="autocomplete col-md-12" style="padding-right:0px;padding-left:0px;">
                        <input id="autocompleteBusiness" type="text" name="BusinessName"
                            placeholder="Enter Business name">
                        <span id="businessErr" style="color:red;"></span>
                    </div>
                    <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                    <script type="text/javascript">
                        autocomplete(document.getElementById("autocompleteBusiness"), 'scansBusiness');
                    </script>
                </div>
                <div class="col-xs-2 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <button type="button" id="businessSubmit" ng-click="BusinessSelected('scans')"
                        class="btn btn-raised btn-primary businessSubmit"
                        style="margin-bottom: 10px;border-radius:30px;"> <i class="fa fa-check"
                            aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                </div>
            </div>
        </div>
        <style ng-show="!userDetails.isAdmin">
            .dateFilter_1 {
                margin-top: 4rem !important;
            }
        </style>
        <div class="row card dateFilter_1" style="margin: -0.9rem 5px 1rem 5px;">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                        <h2 style="font-weight: 400;">Filter</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                <div class="form-group">
                                    <label for="dateFilter" style="font-size: 15px;font-weight:600">Select the
                                        date</label>
                                    <input type="date" class="form-control" id="dateFilter">
                                    <span id="date_filter_err" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                <button class="btn btn-primary" style="margin-top: 2rem;background-color:#4caf50 !important;
                                 border: 1px solid #4caf50 !important;border-radius:2px;font-size: 18px;"
                                    ng-click="Filter()">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-xl-6">
                        <div class="row" style="margin-top: 1.2rem;">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="text-align: right;">
                                <b for="currentVisitCount" style="font-size: 1.2rem;">Number of customers scan count :
                                    <span>{{venueVisitData.currentVisitCnt}}</span></b>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="text-align: center;">
                                <div class="form-group">
                                    <button class="btn btn-primary" ng-click="resetClk()" ng-disabled="resetButtonDis"
                                        style="border-radius: 2px;background-color: #faa141 !important;font-size:1.3rem;">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card" style="margin: -0.5rem 5px 1rem 5px;">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12" style="padding-right:0px;padding-left:0px;">
                <div class="table-responsive table-wrapper-scroll-y"
                    style="display: block;max-height: 40rem;overflow-y: auto;">
                    <table class="table table-hover table-borderless" style="position: relative;">
                        <thead>
                            <tr>
                                <th><b style="font-size: 1.2rem;">Scan Date</b></th>
                                <th><b style="font-size: 1.2rem;">Scan In Time</b></th>
                                <th><b style="font-size: 1.2rem;">Scan Out Time</b></th>
                                <th><b style="font-size: 1.2rem;">First Name</b></th>
                                <th><b style="font-size: 1.2rem;">Last Name</b></th>
                                <th><b style="font-size: 1.2rem;">Mobile</b></th>
                                <th><b style="font-size: 1.2rem;">Email</b></th>
                                <th><b style="font-size: 1.2rem;">Table No</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in customerDetails" ng-click="addTableNo(detail.id)">
                                <td><b>{{ detail.scanInTime | date : "dd-MMM-yyyy" }}</b></td>
                                <td><b>{{ detail.scanInTimeTxt }}</b></td>
                                <td><b>{{ detail.scanOutTimeTxt || 'N\A' }}</b></td>
                                <td><b>{{ detail.customer.firstName }}</b></td>
                                <td><b>{{ detail.customer.lastName }}</b></td>
                                <td><b>{{ detail.customer.mobile }}</b></td>
                                <td><b>{{ detail.customer.email }}</b></td>
                                <td><b>{{detail.tableNo|| 'N\A'}}</b></td>
                            </tr>
                            <tr ng-show="customerDetails.length==0" style="text-align: center;">
                                <td colspan="8"><b style="font-size: 1.4rem;">No Data</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="tableNoUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" style="font-weight: 600;font-size: 20px;">Update the table number</h2>
                    </div>
                    <div class="modal-body" style="padding: 20px 30px 0px 30px;">
                        <div class="row">
                            <div
                                class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-xl-offset-2 col-xl-8 col-lg-offset-2 col-lg-8">
                                <div class="form-group">
                                    <label for="tableNo" style="font-size: 15px !important;">Enter the table
                                        number</label>
                                    <input type="text" class="form-control" id="tableNo">
                                    <span style="color: #dd2c00 !important;font-size: 16px!important;"
                                        id="table_no_err"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding: 7px 7px 25px 7px;">
                        <button type="button" class="btn btn-success" style="border-radius: 2px;border: 1px solid #5cb85c;
                    background-color: #5cb85c;padding: 4px 24px !important;" id="update_table_no_btn"
                            ng-click="updateTableNo()">Save</button>
                        <button type="button" class="btn btn-danger"
                            style="border-radius: 2px;padding: 4px 20px !important;" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div id="resetModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <b style="font-size: 1rem;">Are you sure you want reset the count to zero?</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="confirm_reset()" style="border-radius: 1px !important;background-color:#14a518 !important;
                        color:#fff !important;">Yes</button>
                        <button type="button" class="btn btn-default" style="border-radius: 1px !important;background-color:#dd2c00 !important;
                        color:#fff !important" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


        <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css" />

        <script type="text/javascript">
            $(() => {
                $("#page-wrapper").css({ "opacity": "0.1" });
                setTimeout(function () { $("#page-wrapper").css({ "opacity": "" }); }, 500);
            });
            $(() => {
                $('#scanHistoryMenu').addClass('in');
                $('ul#scanHistoryMenu li:nth-child(4)').addClass('liactive');
            });
        </script>

        <style type="text/css">
            .modal-header {
                padding: 10px !important;
                border-bottom: 0px solid #e5e5e5 !important;
                background-color: #faa141;
            }

            .modal-body {
                text-align: left !important;
            }

            #DivToShow {
                display: block;
                position: absolute;
                z-index: 99999999999;
            }

            .tableHover {
                position: relative;
            }

            .liactive {
                color: #000 !important;
                background-color: #f9a141 !important;
                border-color: #f9a141 !important;
            }

            .datepicker table tr td.today,
            .datepicker table tr td.today:hover,
            .datepicker table tr td.today.disabled,
            .datepicker table tr td.today.disabled:hover {
                color: #fff !important;
                background-color: #FFC107 !important;
                border-color: #FFC107 !important;
            }

            .card {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                background-color: #ffffff;
            }

            #business {
                height: 100vh !important;
            }

            .h1,
            .h2,
            .h3,
            h1,
            h2,
            h3 {
                margin-top: 0px;
                margin-bottom: 10px;
            }

            .modal-content {
                border-radius: 0px;
            }

            .modal-header {
                padding: 0px;
                border-bottom: 0px solid #e5e5e5;
            }

            .modal-footer {
                padding: 7px;
                text-align: right;
                border-top: 0px solid #e5e5e5;
            }

            /*.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background-color: #4CAF50;
        color: #676a6c;
      }

      .nav-tabs > li > a:hover {
        border-color: #F44336 #E91E63 #E91E63;
      }*/
            @media (max-width:799px) {
                #title {
                    padding: 20px 0px 54px 0px;
                }
            }

            @media (min-width:800px) {
                #title {
                    padding: 15px 0px 10px 0px;
                }
            }

            .material-checkbox {
                position: relative;
                display: inline-block;
                color: rgba(0, 0, 0, 0.87);
                cursor: pointer;
                font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
                font-size: 14px;
                line-height: 18px;
            }

            .material-checkbox>input {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                position: absolute;
                z-index: -1;
                left: -15px;
                top: -15px;
                display: block;
                margin: 0;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                background-color: rgba(0, 0, 0, 0.42);
                outline: none;
                opacity: 0;
                transform: scale(1);
                -ms-transform: scale(0);
                /* Graceful degradation for IE */
                transition: opacity 0.5s, transform 0.5s;
            }

            .material-checkbox>input:checked {
                background-color: #2196f3;
            }

            .material-checkbox:active>input {
                opacity: 1;
                transform: scale(0);
                transition: opacity 0s, transform 0s;
            }

            .material-checkbox>input:disabled {
                opacity: 0;
            }

            .material-checkbox>input:disabled+span {
                cursor: initial;
            }

            .material-checkbox>span::before {
                content: "";
                display: inline-block;
                margin-right: 17px;
                border: solid 2px rgba(0, 0, 0, 0.42);
                border-radius: 2px;
                width: 21px;
                height: 21px;
                vertical-align: -4px;
                transition: border-color 0.5s, background-color 0.5s;
            }

            .material-checkbox>input:checked+span::before {
                border-color: #4CAF50;
                background-color: #4CAF50;
            }

            .material-checkbox>input:active+span::before {
                border-color: #2196f3;
            }

            .material-checkbox>input:checked:active+span::before {
                border-color: transparent;
                background-color: rgba(0, 0, 0, 0.42);
            }

            .material-checkbox>input:disabled+span::before {
                border-color: rgba(0, 0, 0, 0.26);
            }

            .material-checkbox>input:checked:disabled+span::before {
                border-color: transparent;
                background-color: rgba(0, 0, 0, 0.26);
            }

            .material-checkbox>span::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 2px;
                width: 7px;
                height: 15px;
                border: solid 2px transparent;
                border-left: none;
                border-top: none;
                transform: translate(5.5px, 1px) rotate(45deg);
                -ms-transform: translate(5.5px, 2px) rotate(45deg);
            }

            .material-checkbox>input:checked+span::after {
                border-color: #fff;
            }

            .nav-tabs {
                border-bottom: 0px solid #ddd;
            }

            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary.active,
            .open .dropdown-toggle.btn-primary,
            .btn-primary:active:focus,
            .btn-primary:active:hover,
            .btn-primary.active:hover,
            .btn-primary.active:focus {
                border-color: #f9a141;
            }

            .btn:focus,
            .btn:hover {
                color: #fff !important;
                text-decoration: none;
            }

            .btn-primary.disabled,
            .btn-primary.disabled:hover,
            .btn-primary.disabled:focus,
            .btn-primary.disabled:active,
            .btn-primary.disabled.active,
            .btn-primary[disabled],
            .btn-primary[disabled]:hover,
            .btn-primary[disabled]:focus,
            .btn-primary[disabled]:active,
            .btn-primary.active[disabled],
            fieldset[disabled] .btn-primary,
            fieldset[disabled] .btn-primary:hover,
            fieldset[disabled] .btn-primary:focus,
            fieldset[disabled] .btn-primary:active,
            fieldset[disabled] .btn-primary.active {
                background-color: #faa141 !important;
                border-color: #faa141 !important;
            }
        </style>
    </div>
</div>