<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap"
        rel="stylesheet">

    <title>Barm8 - terms and conditions</title>

    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 3rem;margin-bottom:1rem;">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h2>Terms and Conditions</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Terms of Use</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The BarM8 Website (the ‘Website’) and the BarM8 Mobile App (the ‘App’) severally is the BarM8 Digital Platform (the ‘Platform’). The Platform provides a medium for Bars and Pubs (the ‘Venues’) to promote its Offerings like Happy-Hour, Meal Specials, Trivia Nights, Events etc. (the ‘Services’) in real-time and gives access to ‘Patrons’ looking for offers via the BarM8 App.    </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The Platform Terms of Use apply to <a href="https://barm8.com.au/">www.barm8.com.au</a> and BarM8 Mobile App operated by BarM8 Pty Ltd (ABN 62 619 996 459). </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>Terms of Use will be revised from time-to-time without notice and any revision will take effect when posted on the Website. Accessing the Website or Downloading the App, registering and accepting the Terms where required, reading or browsing the contents will be regarded as your acceptance of the Terms of Use.   </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Use of Services and Conduct</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>Access to Services offered by the Platform requires an Account to be registered by the Venue and the Patron (the ‘User’). Account registration will require you must provide accurate Business and/or Personal information. You must be 18 years or above to be eligible to register. By completing the registration and accepting the Terms, you are inducted as a member of BarM8 Platform.    </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>As a member of the Platform, you agree to use the services diligently and responsible for all of your activity in connection with accessing the Platform including protecting the confidentiality of your login/password and/or email address. Any illegal, fraudulent, abusive or otherwise illegal activity may be grounds for immediate termination of your access to the Platform. You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain personal data from any Platform user. You agree to immediately notify BarM8 of any security breach including unauthorised use of your login/password or email address. You must comply with all applicable local, state, national and international laws and regulations that relate to your use of or activities on this Platform. We reserve the right to report potentially criminal activity to appropriate law enforcement agencies. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Service, Fee, Payment & Refund</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The Services provided by the Platform is Hyper-Local and in Real-Time. Via BarM8 Manager Web portal, Venues upload up-to-the-minute Offers, Deals, Promotions and is accessible by the Patrons via the BarM8 App. The Platform is maintained by BarM8 Pty Ltd or 
            <br>
            The Service Fee is Subscription based and payable in quarterly installments.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p style="margin-bottom: 0rem;">The Payment for the Service (the 'Service Fee') can be made by way of: </p>
          <ol type="a">
            <li>Electronic funds transfer ('EFT') to nominated bank account </li>
            <li>Credit Card Payment ('Credit Card') </li>
            <li>PayPal Australia Pty Limited (ABN 93 111 195 389) ('PayPal')</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>In the event your financial institution returns or denies a request for payment of the Service Fee or is unpaid for any other reason, you are liable for any costs, including bank fees and charges associated with the Service Fee. BarM8 will give written notice before changing the Service Fee.
            BarM8 will provide a refund of the Service Fee in the event it is unable to continue to provide the level of Service deemed appropriate. 
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Copyright and Intellectual Property</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>
            <ol type="1">
            <li>The Platform, the Services and all of the related products of BarM8 are subject to copyright. The material on the Platform is protected by copyright under the laws of Australia and through international treaties. Unless otherwise indicated, all rights (including copyright) in the Services and compilation of the Platform (including but not limited to text, graphics, logos, button icons, video  images, audio clips, Application, code, scripts, design elements and interactive features) or the Services are owned or controlled for these purposes, and are reserved by BarM8 or its contributors.</li>
            <li>All trademarks, service marks and trade names are owned, registered and/or licensed by BarM8, who grants to you a worldwide, non-exclusive, royalty-free, revocable license whilst you are a Member to: 
              <br>
                <ol type="a">
                  <li>use the Application pursuant to the Terms; </li>
                  <li>copy and store the Application and the material contained in the Application in your device's cache memory; and </li>
                  <li>print pages from the Application for your own personal and non-commercial use. BarM8 does not grant you any other rights whatsoever in relation to the Platform or the Services. All other rights are expressly reserved by BarM8. </li>
                </ol>
            </li>
            <li>BarM8 retains all rights, title and interest in and to the Platform and all related Services. Nothing you do on or in relation to the Platform will transfer any: 
              <ol type="a">
                <li>business name, trading name, domain name, trade mark, industrial design, patent, registered design or copyright, or </li>
                <li>a right to use or exploit a business name, trading name, domain name, trade mark or industrial design, or </li>
                <li>a thing, system or process that is the subject of a patent, registered design or copyright (or an adaptation or modification of such a thing, system or process), to you. </li>
              </ol>
            </li>
            <li>
              You may not, without the prior written permission of BarM8 and the permission of any other relevant rights owners: broadcast, republish, up-load to a third party, transmit, post, distribute, show or play in public, adapt or change in any way the Services or third party Services for any purpose, unless otherwise provided by these Terms. This prohibition does not extend to materials on the Application which are freely available for re-use or are in the public domain. 
            </li>
            <li>
              Where you broadcast, publish, upload, transmit, post or distribute Your Content on the Platform, then you grant to BarM8 a non-exclusive, transferrable, perpetual, royalty-free, irrevocable, worldwide licence to broadcast, republish, upload to a third party, transmit, post, distribute, show or play in public, adapt or change Your Content.
            </li>
          </ol></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Privacy</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The Happiest Hour takes your privacy seriously and any information provided through your use of the Website and/or Services are subject to The Happiest Hour's Privacy Policy, which is available on the Website.
            BarM8 takes your privacy seriously and any information provided through your use of the Platform and/or Services are subject to BarM8's Privacy Policy, which is available on the Platform.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
         <h4>General Disclaimer</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ol type="1">
            <li>Nothing in the Terms limits or excludes any guarantees, warranties, representations or conditions implied or imposed by law, including the Australian Consumer Law (or any liability under them) which by law may not be limited or excluded. </li>
            <li>Subject to this clause, and to the extent permitted by law: 
              <ol type="a">
                <li>all terms, guarantees, warranties, representations or conditions which are not expressly stated in the Terms are excluded; and </li>
                <li>BarM8 we will not be liable for any special, indirect or consequential loss or damage (unless such loss or damage is reasonably foreseeable resulting from our failure to meet an applicable Consumer Guarantee), loss of profit or opportunity, or damage to goodwill arising out of or in connection with the Services or these Terms (including as a result of not being able to use the Services or the late supply of the Services), whether at common law, under contract, tort (including negligence), in equity, pursuant to statute or otherwise. </li>
              </ol>  
            </li>
            <li> Use of the Platform and the Services is at your own risk. Everything on the Platform and the Services is provided to you "as is" and "as available" without warranty or condition of any kind. None of the affiliates, directors, officers, employees, agents, contributors and licensors of BarM8 make any express or implied representation or warranty about the Services or any products or Services (including the products or Services of BarM8) referred to on the Platform. This includes (but is not restricted to) loss or damage you might suffer as a result of any of the following: 
              <ol type="a">
                <li>failure of performance, error, omission, interruption, deletion, defect, failure to correct defects, delay in operation or transmission, computer virus or other harmful component, loss of data, communication line failure, unlawful third party conduct, or theft, destruction, alteration or unauthorised access to records; </li>
                <li>the accuracy, suitability or currency of any information on the Platform, the Services, or any of its Services related products (including third party material and advertisements on the Application); </li>
                <li>costs incurred as a result of you using the Platform, the Services or any of the products of BarM8; and </li>
                <li>the Services or operation in respect to links which are provided for your convenience. </li>
              </ol>
            </li>
            <li>
              You acknowledge that BarM8 Platform and the Services are only intended to facilitate the interactions between the Patron and the Venue and does not offer any services other than the Services and BarM8 holds no liability to you as a result of any conduct of the Members or the misuse of Your Content by any party (including other Members)
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Limitation of liability</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ol type="1">
            <li>BarM8's total liability arising out of or in connection with the Services or these Terms, however arising, including under contract, tort (including negligence), in equity, under statute or otherwise, will not exceed the resupply of the Services to you. </li>
            <li>You expressly understand and agree that BarM8, its affiliates, employees, agents, contributors and licensors shall not be liable to you for any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by you, however caused and under any theory of liability. This shall include, but is not limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation and any other intangible loss. </li>
            <li>You acknowledge and agree that BarM8 holds no liability for any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by you as a result of providing Your Content to the Platform. </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Termination of Contract</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ol type="1">
            <li>If you want to terminate the Terms, you may do so by providing BarM8 with 30 days' notice of your intention to terminate by sending notice of your intention to terminate to BarM8 via email to <a href="mailto:info@barm8.com.au">info@barm8.com.au</a> or the 'Contact Us' link on our homepage.  </li>
            <li>BarM8 may at any time, terminate the Terms with you if: 
              <ol type="a">
                <li>you have breached any provision of the Terms or intend to breach any provision; </li>
                <li>BarM8 is required to do so by law;  </li>
                <li>BarM8 is transitioning to no longer providing the Services to Members in the country in which you are resident or from which you use the service; or </li>
                <li>the provision of the Services to you by Barm8 is, in the opinion of BarM8 , no longer commercially viable.  </li>
              </ol>
            </li>
            <li>Subject to local applicable laws, BarM8 reserves the right to discontinue or cancel your membership at any time and may suspend or deny, in its sole discretion, your access to all or any portion of the Platform or the Services without notice if you breach any provision of the Terms or any applicable law or if your conduct impacts BarM8's name or reputation or violates the rights of those of another party.  </li>
            <li>When the Terms come to an end, all of the legal rights, obligations and liabilities that you and BarM8 have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and the provisions of this clause shall continue to apply to such rights, obligations and liabilities indefinitely. </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Indemnity </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>You agree to indemnify BarM8, its affiliates, employees, agents, contributors, third party content providers and licensors from and against:  </p>
          <ol type="a">
            <li>all actions, suits, claims, demands, liabilities, costs, expenses, loss and damage (including legal fees on a full indemnity basis) incurred, suffered or arising out of or in connection with Your Content; </li>
            <li>any direct or indirect consequences of you accessing, using or transacting on the Application or attempts to do so; and/or </li>
            <li>any breach of the Terms.</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Dispute Resolution</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ol type="1">
            <li>Compulsory: If a dispute arises out of or relates to the Terms, either party may not commence any Tribunal or Court proceedings in relation to the dispute, unless the following clauses have been complied with (except where urgent interlocutory relief is sought). </li>
            <li>Notice: A party to the Terms claiming a dispute ('Dispute') has arisen under the Terms, must give written notice to the other party detailing the nature of the dispute, the desired outcome and the action required to settle the Dispute.  </li>
            <li>
              Resolution: On receipt of that notice ('Notice') by that other party, the parties to the Terms ('Parties') must: 
              <ol  type="a">
                <li>Within 14 days of the Notice endeavour in good faith to resolve the Dispute expeditiously by negotiation or such other means upon which they may mutually agree; </li>
                <li>If for any reason whatsoever, 14 days after the date of the Notice, the Dispute has not been resolved, the Parties must either agree upon selection of a mediator or request that an appropriate mediator be appointed by the President of the Australian Mediation Association or his or her nominee; </li>
                <li>The Parties are equally liable for the fees and reasonable expenses of a mediator and the cost of the venue of the mediation and without limiting the foregoing undertake to pay any amounts requested by the mediator as a pre-condition to the mediation commencing. The Parties must each pay their own costs associated with the mediation; </li>
                <li>The mediation will be held in New South Wales, Australia. </li>
              </ol>
            </li>
            <li>
              Confidential: All communications concerning negotiations made by the Parties arising out of and in connection with this dispute resolution clause are confidential and to the extent possible, must be treated as "without prejudice" negotiations for the purpose of applicable laws of evidence. 
            </li>
            <li>
              Termination of Mediation: If 6 weeks have elapsed after the start of a mediation of the Dispute and the Dispute has not been resolved, either Party may ask the mediator to terminate the mediation and the mediator must do so.
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Venue and Jurisdiction </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The Services offered by BarM8 is intended to be viewed by residents of Australia. In the event of any dispute arising out of or in relation to the Application, you agree that the exclusive venue for resolving any dispute shall be in the courts of New South Wales, Australia.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Governing Law </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>The Terms are governed by the laws of New South Wales, Australia. Any dispute, controversy, proceeding or claim of whatever nature arising out of or in any way relating to the Terms and the rights created hereby shall be governed, interpreted and construed by, under and pursuant to the laws of New South Wales, Australia, without reference to conflict of law principles, notwithstanding mandatory rules. The validity of this governing law clause is not contested. The Terms shall be binding to the benefit of the parties hereto and their successors and assigns.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Independent Legal Advice </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>Both parties confirm and declare that the provisions of the Terms are fair and reasonable and both parties having taken the opportunity to obtain independent legal advice and declare the Terms are not against public policy on the grounds of inequality or bargaining power or general grounds of restraint of trade.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Severance </h4>
        </div>
      </div>
      <div class="row" style="margin-bottom: 3rem;">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p>If any part of these Terms is found to be void or unenforceable by a Court of competent jurisdiction, that part shall be severed and the rest of the Terms shall remain in force.</p>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-content">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <div class="footer-logo">
                          <a href="/"><img
                                  src="https://barm8.com.au/views/home-website/assets/images/barm_login_logo.png"
                                  class="img-fluid"></a>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12 text-center icons-li">
                      <ul>
                          <li><a title="Facebook"><img
                                      src="https://barm8.com.au/views/contact-us/assets/facebook.svg"
                                      class="icons"></a></li>
                          <li><a title="Instagram"><img
                                      src="https://barm8.com.au/views/contact-us/assets/instagram.svg"
                                      class="icons"></a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <div class="footer-menu">
                          <ul class="list-inline">
                              <li><a title="Terms and Conditions" href="/terms">Terms</a></li>
                              <li><a title="Privacy policy" href="/privacy">Privacy</a></li>
                              <li><a title="Contact us" href="/contact">Contact</a></li>
                          </ul>
                      </div>
                  </div>

              </div>
          </div>
      </div>

  </footer>

  <section class="copyright-section">
    <div class="copyright-text">
        <a href="/">
            <p>© Barm8 2020</p>
        </a>
    </div>
</section>

  <style>
    a {
    text-decoration: none;
    }

    .footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: rgb(13, 40, 94);
            padding: 20px 0px;
        }

        .footer-menu {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .footer-menu a {
            margin: 8px 16px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 20px;
        }

        .copyright p {
            margin: 8px 16px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
        }

        .footer-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-logo {
            max-width: 150px;
        }

        .footer {
            background-color: #fba919;
            padding: 15px 0;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .footer {
            background-color: #fba919;
            padding: 15px 0;
        }

        .footer-menu ul li {
            float: right;
            color: #fff;
        }

        .footer-menu ul li {
            list-style-type: none;
        }

        .copyright-section {
            border-top: 1px solid #f7f7ff2b;
            background-color: #fba919;
            padding: 5px 0;
        }

        .copyright-text p {
            font-size: 17px;
            color: #fff;
            text-align: center;
            margin: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .icons {
            max-width: 30px;
        }

        .icons-li ul {
            list-style-type: none;
            display: inline;
        }

        .icons-li ul li {
            display: inline;
            justify-content: flex-start;
            padding: 0 5px 0 5px;
        }
  </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>