<div class="row" style="margin-top: 4.2rem;margin-left: -0.5rem;margin-right: -0.5rem;" id="feedBackSe">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <h2 class="v-h"> Feedback</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 1rem;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span>Date</span></th>
                            <th><span>Venue Name</span></th>
                            <th><span>Customer Name</span></th>
                            <th><span>Offer Type</span></th>
                            <th><span>Offer Title</span></th>
                            <th><span>Offer Date</span></th>
                            <th><span>Feedback</span></th>
                            <th><span>Status</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in feedbacks | filter : filterTxt">
                            <td>{{list.dateStr}} @ {{list.time}}</td>
                            <td>{{list.business.businessName}} </td>
                            <td>{{list.customer.firstName}}&nbsp;{{list.customer.lastName}} &nbsp;
                                <span data-toggle="popover" data-placement="top" data-content="{{list.cusDetails}}"
                                    class="pop"><i class="fas fa-info"></i></span>
                                <script>
                                    $(".pop").popover({ trigger: "manual", html: true, animation: true })
                                        .on("mouseenter mouseover", function () {
                                            var _this = this;
                                            $(this).popover("show");
                                            $(".popover").on("mouseleave", function () {
                                                $(_this).popover('hide');
                                            });
                                        }).on("mouseleave", function () {
                                            var _this = this;
                                            setTimeout(function () {
                                                if (!$(".popover:hover").length) {
                                                    $(_this).popover("hide");
                                                }
                                            });
                                        });
                                </script>
                            </td>
                            <td>
                                <span ng-show="list.isLimitedOffer">Limited Offer</span>
                                <span ng-show="list.isDailySpecial">Daily Specials</span>
                                <span ng-show="list.isDrinksSpecial">Drink Specials</span>
                            </td>
                            <td>
                                <span ng-show="list.isLimitedOffer">{{list.exclusiveOffer.title}}</span>
                                <span ng-show="list.isDailySpecial">{{list.dailySpecial.title}}</span>
                                <span ng-show="list.isDrinksSpecial">{{list.happyHourDashDay.title}}</span>
                            </td>
                            <td>
                                <span ng-show="list.isLimitedOffer">{{list.exclusiveOffer.offerDateTxt}}</span>
                                <span ng-show="list.isDailySpecial">{{list.dailySpecial.dateFormat}}</span>
                                <span ng-show="list.isDrinksSpecial">{{list.happyHourDashDay.dateFormat}}</span>
                            </td>
                            <td>{{list.msg}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle"
                                        style="background-color: green;border:1px solid green;color:#fff;"
                                        data-toggle="dropdown" ng-show="list.status=='Open'">
                                        Open
                                    </button>
                                    <button class="btn dropdown-toggle"
                                        style="background-color: red;border:1px solid red;color:#fff;"
                                        data-toggle="dropdown" ng-show="list.status=='Closed'">
                                        Closed
                                    </button>
                                    <div class="dropdown-menu">
                                        <span class="dropdown-header" ng-hide="list.status=='Closed'"
                                            ng-click="updateStaus(list.id, 'Closed')">Closed</span>
                                        <span class="dropdown-header" ng-hide="list.status=='Open'"
                                            ng-click="updateStaus(list.id, 'Open')">Open</span>
                                    </div>
                                </div>
                            </td>

                            <!-- <td class="middle_{{$index}}"
                                style="display: none;background-color: rgba(250, 250, 250, 0);padding: 4.5px !important;border: 0px solid #e7eaec;">
                                <button class="btn" style="border-radius: 50%;padding: 4px 9px !important;
                            background-color: #d50000 !important;color:#fff !important;"
                                    ng-click="deleteRequest(cus.id)" title="Delete"><i
                                        class="fas fa-trash"></i></button>
                                &nbsp;
                            </td> -->
                        </tr>
                        <tr ng-show="feedbacks.length==0">
                            <td colspan="7" style="text-align: center;"><span>No Data!</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal" tabindex="-1" id="statusConfirmPopup" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                                <h3 class="modal-title" style="padding: 8px;">Message</h3>
                            </div>
                            <div class="modal-body"
                                style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <h3>Do you want to proceed?</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmStatusBtn" data-id=""
                                    ng-click="confirmStatus()" style="background-color: #4CAF50 !important;padding: 4px 12px!important;border-radius: 3px;
                                    border:1px solid #4CAF50;font-size: 20px;">Yes</button>
                                <button type="button" class="btn btn-secondary" style="background-color: red !important;border-radius: 3px;color:#fff !important;padding:4px 14px !important;
                                    border:1px solid red;font-size:20px;" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dropdown-menu {
        min-width: 120px !important;
    }

    .dropdown-menu>span {
        padding: 10px 10px !important;
        font-size: 1.2rem !important;
        font-weight: 400 !important;
        cursor: pointer;
    }

    .v-h {
        font-weight: 600;
    }

    .v-h-1 {
        color: gray;
    }

    .c-p-1 {
        font-size: 15px;
        color: gray;
    }
</style>