<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<div class="wrapper wrapper-content" id="happeningsEdit" ng-controller="happeningsEditCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" ng-show="userDetails.isAdmin">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'editManageEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('editManageEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row" ng-show="whatsOnEvents && whatsOnEvents.length>0">
                    <div class="col-sm-12 col-xs-12 col-md-8 col-xl-8 col-lg-8">
                        <h2 class="v-h">Manage your upcoming events by selecting an event below
                        </h2>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                        <button class="btn btn-s pull-right" style="margin-top: 1rem;" ui-sref="create-whats-on">
                            Create Events</button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="c-p-1" style="margin-top:0.5rem;">You can View, Edit or Delete an event for a
                            single day or multiple
                            days. Simply click on Edit icon, make the change and click
                            Update or Update-all. You can also use Edit option to change the in App Status of
                            the event by clicking on Pending to go Live
                            and vice versa. Click Update to make a single change or Update-all for multiple days
                            for which the event is scheduled.</p>
                    </div>
                    <!-- <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12" style="margin-top: 0.3rem;">
                        <p class="manage-txt-1">Need help setting up your events? Reach out at <a
                                href="mailto:help@barm8.com.au">help@barm8.com.au</a> and we’ll get you sorted!
                        </p>
                    </div> -->
                </div>
                <div class="row" ng-show="whatsOnEvents.length==0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="v-h">Your upcoming Events</h2>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="c-p-1">Upcoming events will appear on your venue profile for users to
                            discover. To create an event, click Create new event button. Once created the
                            event will appear here as "Pending" in the App Status column. If the details look
                            correct and you are ready to make the event "Live" on the App, click the red
                            "Pending" button and it will change to green "Live". The event is now visible on the
                            App.</p>
                    </div>
                </div>
                <!-- <div class="row" style="margin-bottom: 0.5rem;"
                    ng-show="whatsOnEvents && whatsOnEvents.length>0">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <button class="btn btn-primary" style="border-radius: 5%;padding: 4px 9px !important;
                        background-color:#f9a141 !important;color:#fff !important;font-size: 20px;"
                            title="Filter" data-toggle="collapse" data-target="#filterCollapse" role="button"
                            aria-expanded="false" aria-controls="filterCollapse">
                            <i class="fas fa-filter"></i> Filter
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <button class="btn btn-s pull-right" ui-sref="create-whats-on">
                            Create new Event</button>
                    </div>
                </div> -->
                <div class="row" ng-show="whatsOnEvents.length==0" style="margin-bottom: 1rem;">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                        <br>
                        <img src="assets/img/manage-img.png">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                            <p class="manage-txt">No Scheduled Events!</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-ms-12 colmd-12 col-lg-12 col-xl-12 center">
                        <button class="btn btn-s" ui-sref="create-whats-on">
                            Create new event</button>
                    </div>
                </div>
                <div class="row" ng-show="whatsOnEvents && whatsOnEvents.length>0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="collapse in" id="filterCollapse">
                                    <div class="row card" style="padding:5px;margin: 0.5rem 0 0.5rem 0 !important;">
                                        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 col-xl-4">
                                            <div class="from-group">
                                                <label for="_happenings_s_view">View</label>
                                                <select id="_happenings_s_view" class="form-control custom-input">
                                                    <option selected value="All">All</option>
                                                    <option value="7">7 days</option>
                                                    <option value="14">14 days</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="f-category">Category</label>
                                                <select name="category" class="form-control custom-input"
                                                    id="f-category">
                                                    <option value="select">All</option>
                                                    <option ng-repeat="category in happeningsCategoryF"
                                                        value="{{category.id}}">{{category.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="f-title">Title</label>
                                                <select name="title" class="form-control custom-input" id="f-title">
                                                    <option value="select">All</option>
                                                    <option ng-repeat="ti in whatsOnETitle"
                                                        ng-selected="ti.titleTxt==selectedTitle"
                                                        value="{{ti.titleTxt}}">
                                                        {{ti.title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="f-type">Type</label>
                                                <select name="category" class="form-control custom-input"
                                                    id="f-type">
                                                    <option value="select">All</option>
                                                    <option value="Non-ticketed">Non-ticketed</option>
                                                    <option value="Ticketed">Ticketed</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
                                            style="text-align: center !important">
                                            <button class="btn btn-primary" ng-click="filterEvents()"
                                                style="background-color: #f9a141 !important;border-radius: 2px;margin-top:2rem;font-size:18px !important;"><i
                                                    class="fa fa-search" aria-hidden="true"></i>
                                                &nbsp; Search</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0.5rem;">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 deleteAllDiv"
                                style="margin-top: 0.5rem;margin-bottom:0.5rem;display:none;">
                                <button class="btn right btn-r" ng-click="DeleteToAll()">Delete
                                    All</button>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Select All</span>
                                                <br>
                                                <div style="text-align: center;">
                                                    <input class="form-check-input position-static"
                                                        onclick="SelectAllClk()" type="checkbox" id="selectAllCheck"
                                                        value="All">
                                                </div>
                                            </th>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Date</span>
                                            </th>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Category</span>
                                            </th>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Title</span>
                                            </th>
                                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <span>Description</span>
                                            </th>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Type</span>
                                            </th>
                                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <span>Image</span>
                                            </th>
                                            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <span>Video</span>
                                            </th>
                                            <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>Status</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in whatsOnEvents"
                                            ng-mouseover="showTheMiddle($event, $index)"
                                            ng-mouseleave="hiddenTheMiddle($index)" style="position: relative;">
                                            <td class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1"
                                                style="text-align: center;">
                                                <div class="form-check">
                                                    <input class="form-check-input tw-s-box" type="checkbox"
                                                        id="_{{list.id}}" value="{{list.id}}" onclick="checkBoxClick()">
                                                </div>
                                            </td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>
                                                    {{list.date | date : "EEE, dd MMM , y"}}
                                                </span>
                                            </td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>{{list.happeningsCategory.name}}</span>
                                            </td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span>{{list.title}} </span>
                                            </td>
                                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <span>{{list.fullDesc}}</span>
                                            </td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span ng-show="list.isTicketedEvent">Ticketed</span>
                                                <span ng-show="!list.isTicketedEvent">Non-ticketed</span>
                                            </td>

                                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <img ng-src="{{list.primaryImg.path || 'https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/default.png' }}"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="{{list.primaryImg.fileName || 'No Image'}}"
                                                    class="img-thumbnail"
                                                    style="width: 200px;height:100px;object-fit:contain;"
                                                    alt="{{list.primaryImg.fileName || 'No Image'}}"
                                                    title="{{list.primaryImg.fileName}}">
                                            </td>
                                            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

                                                <video ng-if="list.primaryVideo.path" muted loop="true" autoplay="true"
                                                    controls class="card" width="340" height="280">
                                                    <source src="{{list.primaryVideo.path}}" type="video/mp4">
                                                    <source src="{{list.primaryVideo.path}}" type="video/ogg">
                                                </video>
                                                <div ng-if="!list.primaryVideo.path" class="card" style="padding:30px;">
                                                    <b style="font-size: 1.4rem;">No video</b>
                                                </div>
                                            </td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                <span ng-show="list.status=='Pending'"
                                                    ng-click="updateStatus(list.id, 'Pending')" style="cursor: pointer;"
                                                    class="in-progress">{{list.status}}</span>
                                                <span ng-show="list.status=='Live'"
                                                    ng-click="updateStatus(list.id, 'Live')" style="cursor: pointer;"
                                                    class="in-live">{{list.status}}</span>
                                            </td>
                                            <td class="middle_{{$index}}"
                                                style="display: none;background-color:#ffffff00;padding: 4.5px !important; margin-top: 3.5rem;border: 0px solid #e7eaec !important;">
                                                &nbsp;
                                                <button ng-click="gotoView(list.id)" class="btn" style="border-radius: 50%;padding: 4px 7.5px !important;
                                                background-color: #3f51b5 !important;color:#fff !important;"
                                                    title="View"><i class="fas fa-eye"></i></button>
                                                &nbsp;
                                                <button ng-click="gotoEdit(list.id)" class="btn" style="border-radius: 50%;padding: 4px 8px !important;
                                                background-color: #2e7d32 !important;color:#fff !important;"
                                                    ng-click="couponEdit(list.id)" title="Edit"><i
                                                        class="fas fa-pencil-alt"></i></button>
                                                &nbsp;
                                                <button class="btn" style="border-radius: 50%;padding: 4px 9px !important;
                                                background-color: #d50000 !important;color:#fff !important;"
                                                    ng-click="deleteHappenings(list.id)" title="Delete"><i
                                                        class="fas fa-trash"></i></button>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="deleteConfirmPopup" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                <h3 class="modal-title" style="padding: 8px;">Message</h3>
            </div>
            <div class="modal-body" style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h3>Do you want to proceed?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-r" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-s" id="confirmDeleteBtn" data-id=""
                    onclick="angular.element(document.getElementById('happeningsEdit')).scope().confirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="deleteAllConfirmPopup" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FF9800;color:#fff;">
                <h3 class="modal-title" style="padding: 8px;">Message</h3>
            </div>
            <div class="modal-body" style="text-align: center !important;padding: 20px 30px 0px 30px !important;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <h3 style="font-size: 18px;">Do you want to proceed?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center !important;">
                <button type="button" class="btn btn-s" id="confirmDeleteBtn" data-id=""
                    onclick="angular.element(document.getElementById('happeningsEdit')).scope().confirmDeleteAll()">Yes</button>
                <button type="button" class="btn btn-r" ng-click="deleteAllNo()" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#_happenings_date').datepicker({ startDate: new Date() });
    });
    $("#f-category,#f-title,#_happenings_s_view").on('change', function () {
        angular.element(document.getElementById('happeningsEdit')).scope().filterEvents();
    })
    function checkBoxClick() {
        angular.element(document.getElementById('happeningsEdit')).scope().checkedOffers();
    }
    function SelectAllClk() {
        $(".tw-s-box").prop('checked', false);
        if ($("#selectAllCheck").is(':checked')) $(".tw-s-box").prop('checked', true);
        angular.element(document.getElementById('happeningsEdit')).scope().checkedOffers();
    }
</script>
<style>
    .right {
        float: right;
    }

    input[type=checkbox] {
        zoom: 1.3;
    }

    .v-h {
        font-weight: 600;
    }

    .v-h-1 {
        color: gray;
    }

    .c-p-1 {
        font-size: 15px;
        color: gray;
    }

    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }

    .btn-r {
        color: #000;
        border: 3px solid red !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-r:hover {
        color: #fff !important;
        background: red !important;
    }

    .btn-r:active {
        letter-spacing: 1px;
    }

    .event-tab-header {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .popover-content {
        padding: 14px 29px !important;
    }

    .popover {
        max-width: 290px !important;
    }

    .md-switch-container {
        height: 20px;
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer
    }

    .md-switch-container .md-transition {
        transition: all 100ms linear
    }

    .md-switch-container .md-switch-track {
        width: 34px;
        height: 14px;
        border-radius: 34px;
        background: #9e9e9e;
        transition: all 100ms linear
    }

    .md-switch-container .md-switch-handle {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        border-radius: 100%;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
        transition: all 100ms linear
    }

    .md-switch-container .md-switch-label {
        margin-left: 10px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none
    }

    .md-switch-container.checked .md-switch-track {
        background: rgba(76, 175, 80, .47)
    }

    .md-switch-container.checked .md-switch-handle {
        left: 14px;
        background: #4CAF50
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd !important;
    }

    .project-tab .nav-item {
        padding: 20px 20px 8px 20px;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab .nav-item {
        text-transform: uppercase;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #f9a141;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #f9a141;
        font-size: 16px;
        font-weight: 400;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .tab-div {
        background-color: #e7eaec69;
        padding: 20px 40px 12px 20px;
    }

    .mt-event {
        margin-top: 2rem;
    }

    hr {
        border-top: 1px solid #999;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .label-sub {
        font-size: 10px;
        margin: 0 0 0px;
    }

    .col-padding {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .box-shadow-2 {
        -webkit-box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2);
        box-shadow: 0 10px 18px 0 rgba(62, 57, 107, .2)
    }

    .img-box {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        width: 150px;
        height: 85px;
        border-radius: 4px;
    }

    .in-progress {
        vertical-align: middle;
        display: table-cell;
        width: 120px;
        background-color: rgb(197, 90, 17);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
    }

    .in-live {
        vertical-align: middle;
        display: table-cell;
        width: 120px;
        background-color: #3e9e02;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
        font-size: 16px !important;
    }

    .table-hover {
        cursor: pointer;
    }

    th>span {
        font-size: 16px !important;
    }

    td>span {
        font-size: 14px !important;
    }

    .img-thumbnail {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .chosen-single {
        padding-top: 3px !important;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }
</style>