<style>
    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    #page-wrapper {
        padding: 0 0px;
    }
</style>

<div class="wrapper wrapper-content" id="manageRequestPokerCtl" ng-controller="manageRequestPokerCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card eventCard" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <link rel="stylesheet" type="text/css" href="assets/businessAC/css/autocomplete.css" />
                        <div class="autocomplete col-sm-12 col-xs-8 col-md-6 col-lg-6 col-xl-6"
                            style="padding-right:0px;padding-left:0px;">
                            <input id="autocompleteBusiness" type="text" name="BusinessName"
                                placeholder="Enter Business name">
                            <span id="businessErr" style="color:red;"></span>
                        </div>
                        <script type="text/javascript" src="assets/businessAC/js/autocomplete.js"></script>
                        <script
                            type="text/javascript">autocomplete(document.getElementById("autocompleteBusiness"), 'managePokerEvent');</script>
                        <div class="autocomplete col-sm-12 col-xs-4 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" ng-click="BusinessSelected('managePokerEvent')" id="businessSubmit"
                                class="btn btn-raised btn-primary businessSubmit">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <button class="btn btn-primary"
                                            style="border-radius: 5%;padding: 4px 9px !important;
                                        background-color:#f9a141 !important;color:#fff !important;font-size: 20px;margin-bottom:1rem;margin-top:1rem;"
                                            title="Filter" data-toggle="collapse" data-target="#filterCollapse"
                                            role="button" aria-expanded="false" aria-controls="filterCollapse">
                                            <i class="fas fa-filter"></i> Filter
                                        </button>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="collapse" id="filterCollapse">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="form-group">
                                                        <label for="f-date"
                                                            style="font-size: 16px !important;">Date</label>
                                                        <input type="Date" class="form-control"
                                                            style="font-size: 16px !important;" id="f-date"
                                                            placeholder="Date">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="form-group">
                                                        <label for="f-date"
                                                            style="font-size: 16px !important;">Name</label>
                                                        <input type="text" class="form-control" id="name_f"
                                                            style="font-size: 16px!important;">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                                    style="text-align: center !important">
                                                    <button class="btn btn-primary" ng-click="filterRequestEvents()"
                                                        style="background-color: #f9a141 !important;border-radius: 2px;margin-top:2rem;font-size:18px !important;"><i
                                                            class="fa fa-search" aria-hidden="true"></i>
                                                        &nbsp; Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12" style="margin-bottom: 1rem;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>Date</span>
                                            </th>
                                            <th>
                                                <span>Time</span>
                                            </th>
                                            <th>
                                                <span>Event Title</span>
                                            </th>
                                            <th>
                                                <span>Player</span>
                                            </th>
                                            <th>
                                                <span>Contact</span>
                                            </th>
                                            <th>
                                                <span>Transaction Type</span>
                                            </th>
                                            <th>
                                                <span>Amount</span>
                                            </th>
                                            <th>
                                                <span>Status</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in requestDataForWhats" ng-click="changeStatus(list.id)"
                                            data-toggle="modal" data-target="#eventsViewModal"
                                            style="text-align: center;">
                                            <td>
                                                <span>
                                                    {{list.requestFormat | date : "EEE, dd MMM , y"}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{list.arrival.time}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{list.whatsOnReservation.happenings.title}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>{{list.customer.firstName}} &nbsp; {{list.customer.lastName}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>{{list.customer.mobile}}</span>
                                            </td>
                                            <td>
                                                <span ng-if="list.isReBuy">Re-Buy</span>
                                                <span ng-if="list.isBuyIn">Buy-In</span>
                                                <span ng-if="list.isAddOn">Add-On</span>
                                                <span ng-if="list.isReEntry">Re-Entry</span>
                                            </td>
                                            <td>
                                                <span>$ {{list.totalAmt || 0}}</span>
                                            </td>
                                            <td>
                                                <!-- ng-show="list.status=='Pending'" -->
                                                <!-- <button 
                                                style="background-color:red;    border-radius: 2px !important;  padding: 0px 14px !important;  font-size: 20px;border: 1px solid red !important;"
                                                class="btn btn-primary">Pending</button> -->
                                                <button ng-if="list.paymentStatus=='succeeded'"
                                                    style="background-color:#4CAF50;    border-radius: 2px !important;  padding: 0px 14px !important;  font-size: 20px;border: 1px solid #4CAF50 !important;"
                                                    class="btn btn-primary">Paid</button>
                                                <button ng-if="list.paymentStatus!='succeeded'"
                                                    style="background-color:red;    border-radius: 2px !important;  padding: 0px 8px !important;  font-size: 20px;border: 1px solid red !important;"
                                                    class="btn btn-primary">Failed</button>
                                            </td>
                                        </tr>
                                        <tr ng-show="requestDataForWhats && requestDataForWhats.length==0">
                                            <td colspan="8" style="font-size: 1.8rem !important;">
                                                <center><span>No Data!</span></center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal left fade" id="eventsViewModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" style="top: 0px!important;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background-color: #f57c00 !important;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <ul>
                                            <li style="margin-top:10px;color:#fff !important;"><span
                                                    style="font-size:20px;">Poker</span></li>
                                        </ul>
                                    </h4>
                                </div>
                                <div class="modal-body" style="text-align:left !important;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:left !important;"><span>Event</span></th>
                                                        <th style="text-align:right !important;"><span>Player</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-12 col-xl-12 col-xs-12 col-lg-12 col-md-12">
                                                                    <span> <b>Date :</b>
                                                                        {{triviaEvent.whatsOnReservation.happenings.dateFormat}}</span>
                                                                </div>
                                                                <div
                                                                    class="col-sm-12 col-xl-12 col-xs-12 col-lg-12 col-md-12">
                                                                    <span> <b>Time :</b>
                                                                        {{triviaEvent.whatsOnReservation.happenings.startTime}}</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row" style="text-align: right;">
                                                                <div
                                                                    class="col-sm-12 col-xl-12 col-xs-12 col-lg-12 col-md-12">
                                                                    <span> <b>Name :</b>&nbsp;
                                                                        {{triviaEvent.customer.firstName}}
                                                                        {{triviaEvent.customer.lastName}}</span>
                                                                </div>
                                                                <div
                                                                    class="col-sm-12 col-xl-12 col-xs-12 col-lg-12 col-md-12">
                                                                    <span> <b>Mobile :</b>
                                                                        {{triviaEvent.customer.mobile}}</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <h2 style="font-size: 1.4rem; font-weight: 700;">Transaction details</h2>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:left !important;"><span>Date</span></th>
                                                        <th style="text-align:left !important;"><span>Time</span></th>
                                                        <th style="text-align:left !important;"><span>Type</span></th>
                                                        <th style="text-align:left !important;"><span>Price</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>{{triviaEvent.arrival.date}}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{triviaEvent.arrival.time}}</span>
                                                        </td>
                                                        <td>
                                                            <span ng-show="triviaEvent.isAddOn">Add-On</span>
                                                            <span ng-show="triviaEvent.isReBuy">Re-Buy</span>
                                                            <span ng-show="triviaEvent.isReEntry">Re-Entry</span>
                                                            <span ng-show="triviaEvent.isBuyIn">Buy-In</span>
                                                        </td>
                                                        <td>
                                                            <span>$&nbsp;{{triviaEvent.price | number: 2}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr ng-show="triviaEvent.subTotalAmt">
                                                        <td colspan="2">

                                                        </td>
                                                        <td colspan="1">
                                                            <span>Sub Total Price</span>
                                                        </td>
                                                        <td><span
                                                                style="font-size: 1rem;font-weight:600;">$&nbsp;{{triviaEvent.subTotalAmt
                                                                | number: 2}}</span> </td>
                                                    </tr>
                                                    <tr ng-show="triviaEvent.serviceFee">
                                                        <td colspan="2">

                                                        </td>
                                                        <td colspan="1">
                                                            <span>Service Fee</span>
                                                        </td>
                                                        <td><span
                                                                style="font-size: 1rem;font-weight:600;">$&nbsp;{{triviaEvent.serviceFee
                                                                | number: 2}}</span> </td>
                                                    </tr>
                                                    <tr ng-show="triviaEvent.totalAmt">
                                                        <td colspan="2">

                                                        </td>
                                                        <td colspan="1">
                                                            <span>Total Price</span>
                                                        </td>
                                                        <td><span
                                                                style="font-size: 1rem;font-weight:600;">$&nbsp;{{triviaEvent.totalAmt
                                                                | number: 2}}</span></td>
                                                    </tr>
                                                    <tr>
                                                        <script>
                                                            $(document).ready(() => {
                                                                $('.pop').popover({ html: true, animation: true })
                                                            });
                                                            // $(document).on("mouseleave",".popover .close", function () {
                                                            //     $(this).parents(".popover").popover('hide')
                                                            // })
                                                            $(document).on('mouseleave', '#popover', function () {
                                                                $('.popover').popover('hide');
                                                            });
                                                        </script>
                                                        <style>
                                                            .popover {
                                                                max-width: 325px !important;

                                                            }
                                                        </style>
                                                        <td colspan="2">

                                                        </td>
                                                        <td colspan="1">
                                                            <span>Status</span>
                                                            <span data-html="true" id="popover"
                                                                data-title="Payment Details <a href='#' class='close' style='color:red;' title='Close' data-dismiss='alert'>&times;</a>"
                                                                class="pop" data-toggle="popover" data-placement="top"
                                                                data-trigger="hover"
                                                                data-content="{{ triviaEvent | happeningSDTRVAIInDIv : triviaEvent }}"><i
                                                                    class="fas fa-question-circle"></i></span>
                                                        </td>
                                                        <td>
                                                            <span
                                                                style="font-size: 1rem;font-weight:600;padding: 0px 2px;border-radius: 4px;background-color:red;color:#fff;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"
                                                                ng-if="triviaEvent.paymentStatus=='failed'">Failed</span>
                                                            <span
                                                                style="font-size: 1rem;font-weight:600;padding: 0px 6px;border-radius: 4px;background-color:green;color:#fff;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"
                                                                ng-if="triviaEvent.paymentStatus=='succeeded'">Paid</span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="!triviaEvent" style="text-align: center;">
                                                        <td colspan="4">
                                                            <span style="font-size: 1.2rem; font-weight: 500;">No
                                                                Data!</span>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .disable {
        pointer-events: none;
        cursor: default;
    }

    #wrapper {
        width: 100%;
        overflow-x: inherit;
    }

    th>span {
        font-size: 16px !important;
    }

    th {
        text-align: center !important;
    }

    .table-bordered>thead>tr>th,
    .table-bordered>thead>tr>td {
        background-color: #fff !important;
    }

    .close {
        font-size: 33px !important;
        color: rgb(250, 250, 250) !important;
    }

    #eventsViewModal.left .modal-dialog,
    #eventsViewModal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 620px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    #eventsViewModal.left .modal-content,
    #eventsViewModal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    #eventsViewModal.left .modal-body,
    #eventsViewModal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    #eventsViewModal.left.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    #eventsViewModal.left.fade.in .modal-dialog {
        right: 0;
    }

    #eventsViewModal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    #eventsViewModal.right.fade.in .modal-dialog {
        right: 0;
    }

    tr>td {
        cursor: pointer !important;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
        position: relative;
    }

    .modal-footer {
        border-radius: 0;
        bottom: 0px;
        position: absolute;
        width: 100%;
        background-color: #ddd !important;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
</style>