<style>
    .in-pending {
        vertical-align: middle;
        display: table-cell;
        width: 100px;
        background-color: red;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
    }

    .in-done {
        vertical-align: middle;
        display: table-cell;
        width: 100px;
        background-color: green;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
    }

    .in-waitlist {
        vertical-align: middle;
        display: table-cell;
        width: 100px;
        background-color: #091d8d;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px 0px;
    }
</style>
<script>
    $(function () {
        $('#_happenings_date').datepicker({ startDate: new Date() });
    });
    $(() => { $("#businessManager").css({ "opacity": "0.1" }); setTimeout(function () { $("#businessManager").css({ "opacity": "" }) }, 1000) }); function daysSelected(arg) { if ($(arg).attr('data-name') == 'Beer' && $(`#${$(arg).attr('id')}`).is(":checked")) { $(`#HHourSTime_SUN_${$(arg).attr('data-name')}`).removeAttr("disabled"); $(`#HHETime_SUN_${$(arg).attr('data-name')}`).removeAttr("disabled") } else { $(`#HHourSTime_SUN_${$(arg).attr('data-name')}`).attr("disabled", "true"); $(`#HHETime_SUN_${$(arg).attr('data-name')}`).attr("disabled", "true") } }
</script>
<style>
    .chosen-single {
        padding-top: 3px !important;
    }

    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }
</style>
<link href="/assets/datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/assets/bootstrap-datepicker.min.js"></script>
<div class="wrapper wrapper-content" id="happeningsManager" ng-controller="whatsOnReservationCtl">
    <div class="m-t-sm" style="margin-top:2.5;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 style="font-weight: 400;">{{happeningsData.title}} –
                            {{happeningsData.happeningsDates[0].startTime}} on
                            {{happeningsData.happeningsDates[0].date | date : "EEE, dd MMM , y"}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="row card" style="margin: 0rem 0 0.5rem 0 !important;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h4 style="font-size: 1.6rem;font-weight: 400;">Filter</h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="form-group">
                                    <label for="party-size" style="font-size: 1.4rem;font-weight: 400;">Party
                                        Size</label>
                                    <input type="text" class="form-control" id="party-size">
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="form-group">
                                    <label for="r-status" style="font-size: 1.4rem;font-weight: 400;">Status</label>
                                    <input type="text" class="form-control" id="r-status">
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <div class="form-group" style="text-align: right;">
                                    <button class="btn btn-primary"
                                        style="background-color: #091d8d !important;margin-top:2.4rem;"><i
                                            class="fa fa-search" aria-hidden="true"></i>
                                        &nbsp; Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg- col-xl-12">
                <div class="row card">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="R_S_L_1">
                        <div class="table-responsive">
                            <table class="table table-hover" id="reservationTable">
                                <thead>
                                    <tr>
                                        <th>Request Recvd. Date</th>
                                        <th>Request Recvd. Time</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Party Size</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in requestDetails" ng-click="reservationView(data.id)">
                                        <td>{{data.request.countryFormat | date : "EEE, dd MMM , y"}}</td>
                                        <td>{{data.request.time}}</td>
                                        <td>{{data.customer.firstName}} {{data.customer.lastName}}</td>
                                        <td>{{data.customer.mobile}}</td>
                                        <td>{{data.partySize}}</td>
                                        <td>
                                            <span ng-if="data.status=='new'" class="in-pending">PENDING</span>
                                            <span ng-if="data.status=='confirmed'" class="in-done">Confirmed</span>
                                            <span ng-if="data.status=='waitList'" class="in-waitlist">Waitlist</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="display: none;" id="R_S_L_V_2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12"
                                style="margin-top: 1rem;margin-bottom:1rem;">
                                <table class="table table-bordered table-hover"
                                    style="box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);">
                                    <tbody>
                                        <tr>
                                            <th colspan="2">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <h4 style="font-weight: 400;font-size:18px;">Request details
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn pull-right" data-toggle="tooltip"
                                                            data-placement="top" title="Close" ng-click="closeView()"
                                                            style="background-color: red;margin-top:5px;color: #fff; padding: 2px 7px 1px 7px!important;"><i
                                                                class="fas fa-times"
                                                                style="font-size: 1rem;"></i></button>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td>{{requestObj.customer.firstName}} {{requestObj.customer.lastName}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Contact</b></td>
                                            <td>{{requestObj.customer.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Party Size</b></td>
                                            <td>{{requestObj.partySize}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Request Recevied</b></td>
                                            <td>{{requestObj.request.time}} {{requestObj.request.countryFormat | date :
                                                "EEE, dd MMM , y"}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <button class="btn btn-primary"
                                                            ng-disabled="requestObj.status!='new'"
                                                            ng-click="statusUpdate(requestObj.id,'confirmed')"
                                                            style="background-color: green !important;border-radius: 2px;">
                                                            &nbsp; Confirm</button>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                                        style="text-align: right;">
                                                        <button class="btn btn-primary"
                                                            ng-disabled="requestObj.status!='new'"
                                                            ng-click="statusUpdate(requestObj.id, 'waitList')"
                                                            style="background-color: #091d8d !important;border-radius: 2px;">
                                                            &nbsp; Waitlist</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="modal" id="confirmPopup" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                style="background-color: #f9a141;    padding: 10px !important;
                                        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
                                                <h3 class="modal-title" style="color: #fff;">Message</h3>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                        <h4 ng-if="whatsOnStatus=='confirmed'" style="font-size: 18px;">
                                                            Are you sure you want to
                                                            Confirm?
                                                        </h4>
                                                        <h4 ng-if="whatsOnStatus=='waitList'" style="font-size: 18px;">
                                                            Are you sure you want to
                                                            Waitlist?
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" ng-click="confirmBtn()"
                                                    id="reservationConfirmBtn"
                                                    style="background-color: #43a047 !important;padding: 4px 20px!important;font-size: 18px;    border-radius: 2px;color: #fff !important;">Yes</button>
                                                <button type="button" class="btn btn-secondary"
                                                    style="background-color: #e64a19 !important;font-size: 18px;    border-radius: 2px;color: #fff !important;"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>