<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<div class="wrapper wrapper-content" id="exclusiveOffer" ng-controller="EditExclusiveOfferCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-space">
                <div class="row c-1">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12" style="margin-bottom: 0.5rem;">
                        <button class="btn btn-s" style="padding: 6px 20px !important;"
                            onclick="window.history.go(-1); return false;">Back</button>
                    </div>
                </div>
                <div class="row card c-1">
                    <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-10">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <h2 class="v-h">Your Offer Details</h2>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                <span class="manage-txt">Enter details of your Limited Offer for users to see
                                    on
                                    the
                                    BarM8 app.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="offerTypeCategory">Type - Select Offer
                                        Type</label>
                                    <input type="text" class="form-control custom-input" ng-model="offerType" disabled
                                        id="offerTypeCategory">
                                </div>
                                <div class="form-group">
                                    <label for="offer_category">Category</label>
                                    <input type="text" id="offer_category" disabled ng-model="subOfferType"
                                        class="form-control custom-input">
                                </div>
                                <div class="form-group">
                                    <label for="title">Title - What do you want to name this offer?</label>
                                    <input type="text" id="title" class="form-control form-c custom-input"
                                        style="font-size: 15px !important;" ng-model="editOffer.title">
                                </div>
                                <div class="form-group">
                                    <label for="desc">Description - Tell us a bit about your offer (max.
                                        100
                                        characters)</label>
                                    <textarea class="form-control" id="desc" style="border: 2px solid #ddd !important;
                                    font-size: 16px !important;" ng-model="editOffer.desc" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="name">Offers per Customer - Min</label>
                                            <input type="number" id="perCustomerCntMin" placeholder="Min"
                                                class="form-control form-c custom-input"
                                                ng-model="editOffer.minCustomer">
                                            <span id="per-customer-err-min" style="color: red;"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="name">Offers per Customer - Max</label>
                                            <input type="number" id="perCustomerCntMax" placeholder="Max"
                                                class="form-control form-c custom-input"
                                                ng-model="editOffer.maxCustomer">
                                            <span id="per-customer-err-max" style="color: red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <label for="name">Offer Value</label>
                                    <br>
                                    <div class="dollar">
                                        <input type="number" id="price" class="form-control form-c custom-input"
                                            id="price" ng-model="editOffer.price">
                                    </div>
                                    <span id="price-err" style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card c-1">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-xl-10 col-lg-10" style="margin-bottom: 1rem;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 cl-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <h2 class="v-h">Your Offer Image</h2>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <span class="required manage-txt">Upload an image of your Daily
                                            Special</span>
                                        &nbsp; <span style="color: gray;cursor:pointer;" data-toggle="popover"
                                            data-index="0" data-placement="top"
                                            data-content='Inbuilt cropping tool is available to resize image'><i
                                                class="fas fa-info"></i></span>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                                        <label style="font-size:1rem !important; color: gray;">
                                            <i>(For the best results we recommend uploading an image 300*300
                                                pixels in size)</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 cl-xl-4 col-lg-4">
                                <div ng-show="editOffer.img && editOffer.img.length==0">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <input type="file" id="primary-img" accept="image/png, image/jpeg"
                                            style="display: none;">
                                        <div class="drag-img-up" id="drag-drop-img"
                                            onclick="$('#primary-img').trigger('click'); return false;">
                                            <img src="https://barm8-space1.sgp1.digitaloceanspaces.com/default-img/add-image-icon.svg"
                                                class="def-img">
                                            <p>Drag & drop or click to add image.</p>
                                            <span>JPEG or PNG</span>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(() => {
                                            $('[data-toggle="popover"]').popover({ html: !0, animation: !0, trigger: "hover" });
                                        });
                                        $("#primary-img").on('change', function (e) {
                                            angular.element(document.getElementById('exclusiveOffer')).scope().clickImageSection(e.target.files[0]);
                                        })
                                        $("#replace-i-img").on('change', function (e) {
                                            angular.element(document.getElementById('exclusiveOffer')).scope().imgReplaceSection(e.target.files[0]);
                                        })
                                        $(document).ready(function () {
                                            var holder = document.getElementById('drag-drop-img');
                                            holder.ondragover = function () { return false; };
                                            holder.ondrop = function (e) {
                                                e.preventDefault();
                                                angular.element(document.getElementById('exclusiveOffer')).scope().clickImageSection(e.dataTransfer.files[0]);
                                            };
                                        });
                                    </script>
                                </div>
                                <link rel="stylesheet" href="/views/Exclusive_Offers/offer-img-crop.css">
                                <link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
                                <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>
                                <div class="modal" id="image-crop-md" tabindex="-1" role="dialog">
                                    <div class="modal-dialog opacity-animate3 modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row page">
                                                    <div class="box-2">
                                                        <div class="result"></div>
                                                    </div>
                                                    <div class="box-2 img-result hide">
                                                        <img class="cropped" src="" alt="">
                                                    </div>
                                                    <div class="box">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    </div>
                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"
                                                        style="text-align: right;">
                                                        <button class="btn btn-primary" id="crop-btn"
                                                            style="background-color: #388e3c !important; color: #fff;
                                border: 1px solid #388e3c !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;">Crop</button>
                                                        <button class="btn btn-primary" id="modalClose"
                                                            style="background-color: #d32f2f !important; color: #fff;
                                border: 1px solid #d32f2f !important;padding: 6px 10px !important;font-size: 1.45rem;border-radius: 4px !important;margin-right:1rem;">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="editOffer.img && editOffer.img.length">
                                    <div class="img-content">
                                        <div class="content-overlay"></div>
                                        <img class="content-image" ng-src="editOffer.img[0].path"
                                            src="{{editOffer.img[0].path}}"
                                            style="box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);border-radius: 4px;">
                                        <div class="content-details fadeIn-bottom">
                                            <input type="file" id="replace-i-img" accept="image/png, image/jpeg"
                                                style="display: none;">
                                            <button class="btn replaceScnryImg"
                                                onclick="$('#replace-i-img').trigger('click'); return false;"
                                                title="Replace"><i class="fas fa-image"></i>&nbsp;Replace</button>
                                            <button class="btn btn-danger" ng-click="imageDelete(editOffer.id)"
                                                title="Remove"><i class="far fa-trash-alt"></i>&nbsp;Remove</button>
                                        </div>
                                    </div>
                                    <!-- <div class="profile-pic" style="padding: 5px;">
                                        <img ng-src="{{editOffer.img[0].path}}" alt="{{editOffer.img[0].path}}"
                                            style="-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                                width: 100%;height:100%;" class="img-thumbnail">
                                        <div class="edit"><a class="btn" id="delete_{{editOffer.id}}"
                                                data-toggle="tooltip" data-placement="top" title="Delete"
                                                ng-click="imageDelete(editOffer.id)"
                                                style="background-color: #fff;color:#d50000;padding: 5px 10px!important;border-radius: 50px;"
                                                href="javascript:;"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card c-1">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-x-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="v-h">Your Offer Availability</h2>
                            </div>
                            <div class="col-x-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <span class="manage-txt">Select Dates & Time</span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 0.5rem;">
                                <div class="calendar">
                                    <label for="Offer_date_edit" class="required">Date</label>
                                    <input type="date" readonly ng-model="editOffer.offerDate" disabled
                                        id="Offer_date_edit" class="form-control form-c custom-input">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label>Redeem time</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Start time" class="time form-control custom-input"
                                        id="Offer_start_time_edit" ng-model="editOffer.startTimeTxt">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <input type="text" placeholder="End time" class="time form-control custom-input"
                                        id="Offer_end_time_edit" ng-model="editOffer.offerExpiryTimeTxt">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12"
                        style="text-align: right;margin-bottom:1rem !important;">
                        <!-- <button class="btn btn-success" id="updatedBtn" ng-click="updateOffer()"
                            style="background-color: #5cb85c !important;padding: 4px 36px !important;font-size:22px;">Update</button>
                        <div class="checkbox pull-right" style="margin-right: 1rem;">
                            <label><input type="checkbox" id="updatetoAllSameTitle" value="">Update to
                                all</label>
                        </div> -->

                        <button class="btn btn-s pull-right" ng-click="updateOffer()" id="updateBtn">Update</button>
                        <button class="btn btn-primary pull-right" style="background-color: #fff; color: gray;border:1px solid #fff;font-size: 16px;
                        padding: 6.5px 10px !important;border-radius:0px !important;">OR</button>
                        <button class="btn btn-s pull-right" ng-click="updateAllOffer()" id="updateBtn">Update
                            all</button>

                        <button class="btn btn-s pull-right" style="margin-right: 2rem;" ng-show="statusEV=='Live'"
                            ng-click="updateStatus(statusEV)">Live</button>
                        <button class="btn btn-r pull-right" style="margin-right: 2rem;" ng-show="statusEV=='Pending'"
                            ng-click="updateStatus(statusEV)">Pending</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="/assets/css/jquery.timepicker.min.css" type="text/css" rel="stylesheet" />
<script src="/assets/js/jquery.timepicker.min.js"></script>
<script>
    $(function () {
        $('.time').timepicker({ 'scrollDefault': 'now', 'timeFormat': 'h:i a', 'step': 5 });
    });
    function updateOffersDt(id) {
        angular.element(document.getElementById('exclusiveOffer')).scope().updateOffersDt(id);
    }
    function editOffersDtFrC(id) {
        angular.element(document.getElementById('exclusiveOffer')).scope().editOffersDt(id);
    }
    function SetMinDate() {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        $('#Offer_date_edit').attr('min', now.getFullYear() + "-" + (month) + "-" + (day));
    }
    SetMinDate();
</script>

<style>
    .def-img {
        width: 79px;
        height: 79px;
    }

    .drag-img-up {
        padding: 20px;
        border: 1px dotted gray;
        text-align: center;
    }

    .drag-img-up span {
        color: gray;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .padding-space {
        padding-left: 0px;
        padding-right: 0px;
    }


    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.3526rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    .form-c {
        height: 40px;
    }

    input,
    input::-webkit-input-placeholder,
    textarea::placeholder {
        font-size: 1rem;
        font-weight: 500;
    }

    .profile-pic {
        position: relative;
        display: inline-block;
    }

    .profile-pic:hover .edit {
        display: block;
    }

    .edit {
        padding-top: 13px;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    .edit a {
        color: #000;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .profile-pic {
        position: relative;
        display: inline-block;
    }


    .edit {
        padding-top: 13px;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .edit a {
        color: #000;
    }

    .ui-timepicker-wrapper {
        overflow-y: auto;
        max-height: 300px;
        width: 11em;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .card {
        position: relative;
        margin: 0rem 0 0.5rem 0;
    }

    .padding-space {
        padding-left: 0px;
        padding-right: 0px;
    }

    .datepicker td,
    .datepicker th {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
    }

    .img-container {
        padding: 0 0 0.5rem 0;
        float: left;
        width: 50%;
    }

    @media screen and (max-width: 640px) {
        .img-container {
            display: block;
            width: 100%;
        }
    }

    @media screen and (min-width: 900px) {
        .img-container {
            width: 33.33333%;
        }
    }

    .img-container .title {
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px;
    }

    .img-content {
        position: relative;
        width: 100%;
        max-width: 300px;
    }

    .img-content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .img-content:hover .content-overlay {
        opacity: 1;
    }

    .content-image {
        width: 100%;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .img-content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content-details button {
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
    }

    .content-details p {
        color: #fff;
        font-size: 0.8em;
    }

    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }

    .btn-r {
        color: #000;
        border: 3px solid red !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-r:hover {
        color: #fff !important;
        background: red !important;
    }

    .btn-r:active {
        letter-spacing: 1px;
    }
</style>