<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.">
    <meta name="keywords"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <meta name="author"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <title>Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars
        Pubsand Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose.
        It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.</title>
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,700italic,400italic,300italic'
        rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="views/web-site/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <script>
        function mobileView(width = 700) {
            if (width <= 700) {
                $(".desktop-div").css('display', 'none');
                $("#partners-btn-id").css('display', 'none');
                $(".mobile-div").css('display', 'block');
            }
            else {
                $(".desktop-div").css('display', 'block');
                $("#partners-btn-id").css('display', 'inline');
                $(".mobile-div").css('display', 'none')
            }
        }

        $(document).ready(function () {
            var width = $(window).width();
            mobileView(width);
            $(window).resize(function () {
                width = $(window).width();
                mobileView(width);
            });
        });

        $(document).ready(function () {
            $(window).resize(function () {
                if ($(window).width() >= 800) {
                    $(".container-fluid").css('height', '100%');
                } else $(".container-fluid").css('height', '100%');
            });
            if ($(window).width() >= 800) {
                $(".container-fluid").css('height', '100%');
            } else $(".container-fluid").css('height', '100%');

            $('.navbarSideButton').on('click', function () {
                $('#navbarSide').addClass('reveal');
                $('.overlay').show();
            });

            $('.overlay').on('click', function () {
                $('#navbarSide').removeClass('reveal');
                $('.overlay').hide();
            });
            $(".close-icon").on('click', function () {
                $('#navbarSide').removeClass('reveal');
                $('.overlay').hide();
            })
        });
        (function () {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style')
                msViewportStyle.appendChild(
                    document.createTextNode(
                        '@-ms-viewport{width:auto!important}'
                    )
                )
                document.head.appendChild(msViewportStyle)
            }
        }())
    </script>

    <nav class="navbar navbar-light navbar-static bg-faded" role="navigation" style="z-index: 99999 !important;">
        <ul class="navbar-side" id="navbarSide" style="overflow: auto;">
            <li class="navbar-side-item" style="text-align: right">
                <a href="javascript:;" style="font-size: 2.5rem;color:#000;margin-right: 2rem;" class="close-icon"><i
                        class="fas fa-times"></i></a>
            </li>
            <li class="navbar-side-item menu-slider-1">
                <a target="_blank" href="/partners" class="side-link"
                    style="color:#000 !important;"><b>PARTNERS</b></a>
            </li>
            <li class="navbar-side-item menu-slider-1">
                <a href="#" class="side-link" style="color:#000 !important;"><b>LATEST UPDATES</b></a>
            </li>
            <li class="navbar-side-item menu-slider-1">
                <a href="#" class="side-link" style="color:#000 !important;"><b>TEAM</b></a>
            </li>
            <li class="navbar-side-item menu-slider-1">
                <a target="_blank" href="/login" class="side-link"
                    style="color:#000 !important;"><b>LOGIN</b></a>
            </li>
        </ul>
        <div class="overlay"></div>
    </nav>

    <nav class="navbar-fixed-top navbar-default">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                <img class="logoImg" src="views/web-site/images/barm_login_logo.png">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: right;">
                <div class="right-parners-menu">
                    <a target="_blank" href="/partners" class="btn partner-btn"
                        id="partners-btn-id">partners</a>
                    <a href="javascript:;" class="navbarSideButton"><i class="fas fa-bars" style="color:#fff;font-size: 3rem;
                margin-top: 10px;"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid desktop-div">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="section-1-header">we’re
                            for good
                            times.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-1-p-1">The <span class="barm8-txt">BarM8</span> app makes discovering new bars, and
                            all</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-1-p-2">the great stuff they have going on, easy.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-1-p-2-1">Free with no subscription, it’s the smart way to</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-1-p-2-2">socialise in Sydney.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8">
                        <div class="form-group">
                            <button class="btn down-btn">DOWNLOAD FREE TODAY</button>
                        </div>
                    </div>
                </div>
                <div class="row m-t-2">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 img-center">
                                <img class="play-store" src="views/web-site/images/apple_store.png">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 img-center">
                                <img class="app-store" src="views/web-site/images/play_store.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <img class="slider-1-mobil-1" src="views/web-site/images/mobile-img.png">
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-div" style="background-color: #faa141 !important;">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-2-h-1">
                            Discover the best of Sydney’s</p>
                        <p class="s-2-h-2"
                            style="margin: -15px 0 0px;">
                            bars, pubs and clubs</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-s-2">
                        <p class="s-2-p-txt-1">
                            Whether it’s for mates, dates or a space to catch the game,
                        </p>
                        <p class="s-2-p-txt-1">
                            BarM8 makes finding a venue for any situation simple. We
                        </p>
                        <p class="s-2-p-txt-1">
                            showcase nearby bars and their offerings so you get the best
                        </p>
                        <p class="s-2-p-txt-1">
                            of Sydney’s bars, pubs and clubs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <img class="slider-2-mobil-2" src="views/web-site/images/mobile-img.png">
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-div" style="background-color: #fff !important;margin-top: 0rem;">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-3-h-1">
                            Going out hasn’t been this easy,</p>
                        <p class="s-3-h-2"
                            style="margin: -15px 0 0px;">
                            ever.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3-t-1">
                        <p class="s-3-p-1">Stop searching through websites and social media to see</p>
                        <p class="s-3-p-1">what’s on around you. Sign up for events, grab tickets to</p>
                        <p class="s-3-p-1">local gigs or even book a table for when you’re feeling a bit</p>
                        <p class="s-3-p-1">peckish, with the <span class="barm8-txt" style="color: #000;">BarM8</span> app.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <img class="slider-2-mobil-2" src="views/web-site/images/mobile-img.png">
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-div" style="background-color: #000 !important;margin-top: 0rem;">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p class="s-4-h-1">
                            Score exclusive deals and get</p>
                        <p class="s-4-h-2"
                            style="margin: -15px 0 0px;">
                            treated like the VIP you are</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-4-t-1">
                        <p class="s-4-p-1">Choose from a host of exclusive offers across our partner</p>
                        <p class="s-4-p-1">venues. Claim it, save it for later or share it with your mates</p>
                        <p class="s-4-p-1">– it’s up to you! Just show your coupon at the counter to</p>
                        <p class="s-4-p-1">redeem your offer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <img class="slider-2-mobil-2" src="views/web-site/images/mobile-img.png">
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-div" style="background-color: #000 !important;margin-top: 0rem;">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-h-5-t-1">
                        <p class="s-5-h-1" >own a venue? join us!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-5-t-1">
                        <p class="s-5-p-1">Looking to reach the thousands of customers who</p>
                        <p class="s-5-p-1">work or live near your venue? BarM8 is a customer</p>
                        <p class="s-5-p-1">engagement platform for bars, pubs and clubs which</p>
                        <p class="s-5-p-1">connects patrons to venues and all the offerings they</p>
                        <p class="s-5-p-1">have going on.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-5-t-1">
                        <p class="s-5-p-1">For more information, check out our Partner section.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-5-b-t-1" style="text-align: center;">
                        <button class="btn join-btn" >JOIN US</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>