<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.">
    <meta name="keywords"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <meta name="author"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <title>Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars
        Pubsand Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose.
        It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.</title>
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="views/web-site/static/ff-nort-webfont.css" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" class="next-head" />
    <title class="next-head">Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars</title>
    <link rel="stylesheet" href="views/web-site/_next/static/css/commons.8e1f5642.chunk.css" />
    <link rel="stylesheet" href="views/web-site/_next/static/css/styles.f81db6bb.chunk.css" />
    <link rel="stylesheet" href="views/web-site/css/style.css">
   
    
   
    <style>
        .bqBXnG {
            display: inline-block;
            position: absolute;
            left: 50px;
            background: rgba(0, 0, 0, 0) url(views/web-site/images/barm_login_logo.png) no-repeat scroll center center / contain !important;
            transition: all 0.2s ease 0s;
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
   
     <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T7CFFLN');</script>
<!-- End Google Tag Manager -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7CFFLN" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div id="__next">
        <main id="outer-container">
            <div class="styles__NavContainer-sc-12xjteb-0 ipGdkK">
                <div title="Home" class="styles__Logo-sc-12xjteb-1 bqBXnG"></div>
                <div class="styles__NavWrapper-sc-12xjteb-5 hUIhTD"><button
                        class="styles__ToggleButton-sc-12xjteb-2 eNGGvB"></button>
                    <nav class="styles__Nav-sc-12xjteb-8 dpLrCD">
                        <a href="/partners" class="btn partner-btn" id="partners-btn-id">partners</a>
                    </nav>
                </div>
            </div>
            <div id="page-wrap" style="overflow: hidden; min-height: 100vh;">
                <div class="Index___2RJ3k blade-wrapper">
                    <div name="blade-1" data-gif="img/Activities.png" data-name="blade-1" data-background="false"
                        class="styles__Container-sc-1sxxggl-0 fUKXWc">
                        <div class="styles__Blade-sc-1sxxggl-1 elmRMn">
                            <div class="styles__PhoneWrapper-sc-1sxxggl-2 kkrmRx">
                                <div class="styles__Background-sc-1sxxggl-4 bpelAy"></div>
                                <div class="styles__ContentWrapper-sc-1sxxggl-5 dSiqye">
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl">
                                        <h1 class="styles__Title-sc-1sxxggl-7 slider_1_h">…we’re for good times.</h1>
                                        <div class="for-w-e-b">
                                            <br>
                                            <p>The BarM8 app makes discovering new bars, and</p>
                                            <p>all the great stuff they have going on, easy. </p>
                                            <br>
                                            <p>Free with no subscription, it’s the smart way to</p>
                                            <p>socialise in Sydney.</p>
                                        </div>
                                        <div class="for-m-o-b-i-l-e" style="display: none;">
                                            <br>
                                            <p class="for-m-o-b-i-l-e-s-p">The BarM8 app makes discovering new bars, and
                                                all the great stuff they have going on, easy. </p>
                                            <br>
                                            <p class="for-m-o-b-i-l-e-s-p">Free with no subscription, it’s the smart way
                                                to socialise in Sydney.</p>
                                        </div>
                                        <div class="styles__Container-sc-1c7vo75-0 IAESH for-m-o-b-i-l-e">
                                            <button class="styles__DownloadToday-sc-1c7vo75-1 ejpuxS ejpuxS-l">LAUNCHING
                                                JUNE
                                                2020</button>
                                            <div class="styles__StoresWrapper-sc-1c7vo75-2 bjlJTb">
                                                <button class="styles__StoreLink-sc-1c7vo75-4 iRbCcE a-n-d-1">
                                                    <img src="views/web-site/img/macapp.svg" alt="App store download"
                                                        class="styles__StoreImage-sc-1c7vo75-3 bvBYzi a-n-d-1-i-m-g" />
                                                </button>
                                                <button class="styles__StoreLink-sc-1c7vo75-4 iRbCcE i-p-h-1">
                                                    <img src="views/web-site/img/googleplay.svg"
                                                        alt="Play store download"
                                                        class="styles__StoreImage-sc-1c7vo75-3 bvBYzi i-p-h-1-img" />
                                                </button>
                                            </div>
                                        </div>
                                        <div class="styles__Container-sc-1c7vo75-0 IAESH for-w-e-b">
                                            <button class="styles__DownloadToday-sc-1c7vo75-1 ejpuxS">LAUNCHING JAN
                                                2021</button>
                                            <div class="styles__StoresWrapper-sc-1c7vo75-2 bjlJTb">
                                                <button class="styles__StoreLink-sc-1c7vo75-4 iRbCcE">
                                                    <img src="views/web-site/img/macapp.svg" alt="App store download"
                                                        class="styles__StoreImage-sc-1c7vo75-3 bvBYzi" />
                                                </button>
                                                <button class="styles__StoreLink-sc-1c7vo75-4 iRbCcE">
                                                    <img src="views/web-site/img/googleplay.svg"
                                                        alt="Play store download"
                                                        class="styles__StoreImage-sc-1c7vo75-3 bvBYzi" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MouseIndicator___1Agij" id="mouse-indicator"></div>
                                <div class="Phone___1rMEE styles__Phone-sc-1sxxggl-3 hNuPkf">
                                    <div class="Notch___pOdNS"></div>
                                    <img src="views/web-site/img/Activities.jpg" alt="Barm8 Screenshot"
                                        class="gif___2WP-g" /><span class="frame___3I2DW"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div name="blade-2" data-gif="views/web-site/img/Split.png" data-name="blade-2"
                        data-background="true" class="styles__Container-sc-1sxxggl-0 fUKXWc">
                        <div style="background: #ff5a63;" class="styles__Blade-sc-1sxxggl-1 ehoZve">
                            <div class="styles__PhoneWrapper-sc-1sxxggl-2 kkrmRx">
                                <div style="background: #faa141;" class="styles__Background-sc-1sxxggl-4 bpelAy"></div>
                                <div class="styles__ContentWrapper-sc-1sxxggl-5 dSiqye">
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-w-e-b">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Rediscover the best of Sydney’s
                                        </h1>
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">bars, pubs and clubs</h1>
                                        <br>
                                        <br>
                                        <br>
                                        <p>Stop searching through sites and social media to see what’s</p>
                                        <p>on at the venues around you. Discover the best that</p>
                                        <p>Sydney’s bars, pubs and clubs have to offer, the easy way.</p>
                                    </div>
                                    <div class="for-m-o-b-i-l-e styles__TextWrapper-sc-1sxxggl-6 indvNl"
                                        style="display: none;">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Rediscover the best of Sydney’s
                                            bars, pubs and clubs
                                        </h1>
                                        <br>
                                        <br>
                                        <p class="for-m-o-b-i-l-e-s-p">Stop searching through sites and social media to
                                            see what’s on at the venues around you. Discover the best that Sydney’s
                                            bars, pubs and clubs have to offer, the easy way.</p>
                                    </div>
                                </div>
                                <div class="Phone___1rMEE styles__Phone-sc-1sxxggl-3 hNuPkf">
                                    <div class="Notch___pOdNS"></div>
                                    <img src="views/web-site/img/Split.jpg" alt="Beem It Screenshot"
                                        class="gif___2WP-g" /><span class="frame___3I2DW"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div name="blade-3" data-gif="views/web-site/img/Pay.png" data-name="blade-3" data-background="true"
                        class="styles__Container-sc-1sxxggl-0 fUKXWc">
                        <div style="background: #ffd34b;" class="styles__Blade-sc-1sxxggl-1 ehoZve">
                            <div class="styles__PhoneWrapper-sc-1sxxggl-2 kkrmRx">
                                <div style="background:rgb(84,84,84);color: #fff;"
                                    class="styles__Background-sc-1sxxggl-4 bpelAy"></div>
                                <div class="styles__ContentWrapper-sc-1sxxggl-5 dSiqye">
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-w-e-b">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Order swiftly and safely with</h1>
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">digital menus and payments.</h1>
                                        <br>
                                        <br>
                                        <br>
                                        <p>Say goodbye to long queues and longer transactions with</p>
                                        <p>our mobile menus and payments.</p>
                                    </div>
                                    <div class="for-m-o-b-i-l-e styles__TextWrapper-sc-1sxxggl-6 indvNl"
                                        style="display: none;">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Order swiftly and safely with
                                            digital menus and payments.
                                        </h1>
                                        <br>
                                        <br>
                                        <p class="for-m-o-b-i-l-e-s-p">Say goodbye to long queues and longer
                                            transactions with our mobile menus and payments.</p>
                                    </div>
                                </div>
                                <div class="Phone___1rMEE styles__Phone-sc-1sxxggl-3 hNuPkf">
                                    <div class="Notch___pOdNS"></div>
                                    <img src="views/web-site/img/Pay.jpg" alt="Barm8 Screenshot"
                                        class="gif___2WP-g" /><span class="frame___3I2DW"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div name="blade-4" data-gif="views/web-site/img/Transfer.png" data-name="blade-4"
                        data-background="true" class="styles__Container-sc-1sxxggl-0 fUKXWc">
                        <div style="background: #ffea18; color: #000;" class="styles__Blade-sc-1sxxggl-1 ehoZve">
                            <div class="styles__PhoneWrapper-sc-1sxxggl-2 kkrmRx">
                                <div style="background: #fff" class="styles__Background-sc-1sxxggl-4 bpelAy"></div>
                                <div class="styles__ContentWrapper-sc-1sxxggl-5 dSiqye">
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-w-e-b">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Exclusive deals for you or your
                                        </h1>
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">mates? We’ll drink to that.</h1>
                                        <br>
                                        <br>
                                        <br>
                                        <p>Redeem exclusive offers from our partner venues. Simple!</p>
                                        <p>Can’t make it in time? No worries! Share your coupon with a</p>
                                        <p>mate and keep the good times coming.</p>
                                    </div>
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-m-o-b-i-l-e">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">Exclusive deals for you or your
                                            mates? We’ll drink to that.
                                        </h1>
                                        <br>
                                        <p class="for-m-o-b-i-l-e-s-p">Redeem exclusive offers from our partner venues.
                                            Simple! Can’t make it in time? No worries! Share your coupon with a mate and
                                            keep the good times coming.</p>
                                    </div>
                                </div>
                                <div class="Phone___1rMEE styles__Phone-sc-1sxxggl-3 hNuPkf">
                                    <div class="Notch___pOdNS"></div>
                                    <img src="views/web-site/img/Transfer.jpg" alt="Barm8 Screenshot"
                                        class="gif___2WP-g" /><span class="frame___3I2DW"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div name="blade-5" data-gif="views/web-site/img/Request.png" data-name="blade-5"
                        data-background="true" class="styles__Container-sc-1sxxggl-0 fUKXWc">
                        <div style="background: #64eba3;" class="styles__Blade-sc-1sxxggl-1 ehoZve">
                            <div class="styles__PhoneWrapper-sc-1sxxggl-2 kkrmRx">
                                <div style="background:rgb(84,84,84);color: #fff !important;"
                                    class="styles__Background-sc-1sxxggl-4 bpelAy"></div>
                                <div class="styles__ContentWrapper-sc-1sxxggl-5 dSiqye">
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-w-e-b"
                                        style="color: #fff !important;">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">own or manage a venue?</h1>
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">join us!</h1>
                                        <br>
                                        <br>
                                        <p>From driving new patrons to your venue, to freeing</p>
                                        <p>up staff from repetitive and manual tasks, BarM8</p>
                                        <p>can help your bar, pub or club use technology to</p>
                                        <p>drive your business forward.</p>
                                        <br>
                                        <p>For more information on how BarM8 can help you,</p>
                                        <p>hit the button below.</p>
                                        <br>
                                        <br>
                                        <br>
                                        <a href="/partners" class="styles__DownloadToday-sc-1c7vo75-1 ejpuxS">Get
                                            Started!</a>
                                    </div>
                                    <div class="styles__TextWrapper-sc-1sxxggl-6 indvNl for-m-o-b-i-l-e"
                                        style="color: #fff !important;">
                                        <h1 class="styles__Title-sc-1sxxggl-7 kJCQRf">own or manage a venue? join us!
                                        </h1>
                                        <br>
                                        <br>
                                        <p class="for-m-o-b-i-l-e-s-p">From driving new patrons to your venue, to
                                            freeing up staff from repetitive and manual tasks, BarM8 can help your bar,
                                            pub or club use technology to drive your business forward.</p>
                                        <br>
                                        <p class="for-m-o-b-i-l-e-s-p">For more information on how BarM8 can help you,
                                            hit the button below.</p>
                                        <br>
                                        <br>
                                        <br>
                                        <a href="/partners"
                                            class="styles__DownloadToday-sc-1c7vo75-1 styles_start ejpuxS">Get
                                            Started!</a>
                                    </div>
                                    <div class="last-s-m-1">
                                        <img src="views/web-site/img/venue_happy.jpg" alt="Barm8 Screenshot"
                                            class="gif___2WP-g" /><span class="l-s-m-1-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer bg-white">
                        <div class="site-align footer-align">
                            <div class="site-footer-upper">
                                <div class="site-footer-logo">
                                    <a href="/">
                                        <img src="/views/web-site/images/barm_login_logo.png" class="footer-img"></a>
                                </div>
                                <div class="site-footer-tag">
                                </div>
                                <ul id="menu-footer-nav" class="site-footer-menu">
                                    <li id="menu-item-112"
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-105 current_page_item menu-item-112">
                                        <a title="Contact" href="/contact">Contact</a></li>
                                    <li id="menu-item-111"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111">
                                        <a title="Terms & conditions" href="/terms">Terms</a></li>
                                    <li id="menu-item-113"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113">
                                        <a title="Privacy" href="/privacy">Privacy</a></li>
                                </ul>
                            </div>
                            <span class="site-footer-cp">© Barm8 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@500;600&display=swap" rel="stylesheet">
    <style>
        html {
            font-family: 'Palanquin', sans-serif;
        }
    </style>
    
    <script>

        function mobileView(width = 800) {
            if (width <= 800) {
                $('.for-w-e-b').css('display', 'none');
                $('.for-m-o-b-i-l-e').css('display', 'block');
            } else {
                $('.for-w-e-b').css('display', 'block');
                $('.for-m-o-b-i-l-e').css('display', 'none');
            }
        }

        $(document).ready(function () {
            var width = $(window).width();
            mobileView(width);
            $(window).resize(function () {
                width = $(window).width();
                mobileView(width);
            });
        });
    </script>
</body>

</html>