<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.">
    <meta name="keywords"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <meta name="author"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <title>Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars
        Pubsand Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose.
        It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.</title>
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <link rel="stylesheet" href="views/web-site/css/partners-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
</head>

<body ng-app="app">

    <script>
         angular
                .module('app', [])
                .controller('partnerRegisterCtl', function ($scope, $http) {
                    $scope.createNewVenue = () => {
                        let businessName, phone, email, username, name, role, params = {}, password, isTrue = true;
                        businessName = $("#VenueName").val();
                        name = $("#yourName").val();
                        role = $("#yourRole").val();
                        username = $("#email").val();
                        email = $("#email").val();
                        phone = $("#yourPhoneNumber").val();
                        password = $("#yourPhoneNumber").val();
                        params = { businessName, name, role, username, email, phone, password };
                        if (!name) { $("#yourNameError").html('Name is requited!'); isTrue = false; }
                        if (!role) { $("#yourRoleError").html('Role is requited!'); isTrue = false; }
                        if (!email) { $("#yourEmailNoError").html('Email is requited!'); isTrue = false; }
                        if (!phone) { $("#yourMobileNoError").html('Mobile Number is requited!'); isTrue = false; }
                        if (isTrue) {
                            $http({
                                method: "GET",
                                url: `https://www.barm8.com.au/api/Businesses/sendToInfoBarm8?params={"businessName": "${businessName}" , "email" : "${email}" , "name" : "${name}" , "role" : "${role}" ,
                            "phone" : "${phone}" }`
                            }).then((res) => {
                                if ((res && res.statusText == "OK") || (res.data.data && res.data.data.isSuccess)) {
                                    $("#VenueName,#yourName,#yourRole,#email,#yourPhoneNumber").val(null);
                                    $("#slider-3-get-started,#slider-3-get-started-c").css('display', 'none');
                                    $("#slider-3-form-started").css('display', 'none');
                                    $(".b-c-slider-3").css('margin-bottom', '0rem');
                                    $("#thank-you-message-section").css('display', 'block');
                                    setTimeout(function () {
                                        $("#slider-3-get-started").css('display', 'block');
                                        $("#slider-3-form-started,#thank-you-message-section").css('display', 'none');
                                    }, 1000)
                                }
                            });
                        }
                    }
                });

        $('.video').parent().click(function () {
            if ($(this).children(".video").get(0).paused) {
                $(this).children(".video").get(0).play();
                $(this).children(".playpause").fadeOut();
            } else {
                $(this).children(".video").get(0).pause();
                $(this).children(".playpause").fadeIn();
            }
        });

        function getStarted_3() {
            if ($("#VenueName").val()) {
                $("#slider-3-get-started").css('display', 'none');
                $("#slider-3-form-started").css('display', 'block');
                $(".b-c-slider-3").css('margin-bottom', '5rem');
            } else {
                $("#venueError").html('Venue name is requited!');
            }
          
        }

        function form_done_3() {
            $("#slider-3-get-started,#slider-3-get-started-c").css('display', 'none');
            $("#slider-3-form-started").css('display', 'none');
            $(".b-c-slider-3").css('margin-bottom', '0rem');
            $("#thank-you-message-section").css('display', 'block');
        }
    </script>
    <nav class="navbar-fixed-top navbar-default">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
                <img class="logoImg" src="views/web-site/images/barm_login_logo.png">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align: right;">
                <a class="btn login-btn" href="/login">Login</a>
                <button class="btn menu-started">GET STARTED</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid desktop-design">
        <div class="row s-m-t">
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                <p class="slider-h-1">Drive new customers to your venue.
                </p>
                <div class="row s-m-t-t">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <p class="slider-p-1">BarM8 is the app helping Sydney’s bars, pubs and clubs get discovered for
                            their awesome offerings.</p>
                        <p class="slider-p-1">Watch the video to see how BarM8 can help drive new customers to your
                            venue today.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12 center">
                <video class="video-img" controls>
                    <source src="views/web-site/video/BarM8-partners.mp4" type="video/mp4">
                    <source src="views/web-site/video/BarM8-partners.ogg" type="video/ogg">
                </video>
            </div>
        </div>
        <div class="row s-m-t-b">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 center">
                <button class="btn btn-started">Let's go!</button>
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-design">
        <div class="row section-2-s">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <p class="slider-2-h">3 reasons to add BarM8 to your bar, pub or club</p>
            </div>
        </div>
        <div class="row section-2-i">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 center">
                <img src="views/web-site/images/more-customers.png" class="icon-c">
                <div class="row slider-2-h-2-t">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <b class="slider-2-h-2">More customers.</b>
                        <div class="row slider-2-h-2-t">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <p class="slider-2-p-2">BarM8 makes discovering your</p>
                                <p class="slider-2-p-2">venue and offerings easy for</p>
                                <p class="slider-2-p-2">today’s connected customer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 center">
                <img src="views/web-site/images/smarter.png" class="icon-c">
                <div class="row slider-2-h-2-t">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <b class="slider-2-h-2">Smarter operations.</b>
                        <div class="row slider-2-h-2-t">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <p class="slider-2-p-2">With the BarM8 app, you’ll free</p>
                                <p class="slider-2-p-2">up staff from mundane tasks to</p>
                                <p class="slider-2-p-2">focus on what really matters: </p>
                                <p class="slider-2-p-2">your customer’s experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 center">
                <img src="views/web-site/images/what-works.png" class="icon-c">
                <div class="row slider-2-h-2-t">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-xl-12 col-lg-12">
                        <b class="slider-2-h-2">Know what works.</b>
                        <div class="row slider-2-h-2-t">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                <p class="slider-2-p-2">We turn mountains of data into</p>
                                <p class="slider-2-p-2">useful customer insights, so</p>
                                <p class="slider-2-p-2">you can have peace of mind</p>
                                <p class="slider-2-p-2">knowing what’s really driving</p>
                                <p class="slider-2-p-2">your business forward.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid desktop-design">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="row slider-3-m-t">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center">
                                <p class="slider-3-h">Ready to take your venue to</p>
                                <p class="slider-3-h slider-3-h-s">the next level?</p>
                            </div>
                        </div>
                        <div class="row slider-3-m-t-s" ng-controller="partnerRegisterCtl">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="b-c-slider-3">
                                    <div class="row" id="slider-3-get-started-c">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <p class="slider-3-s-1-p">Just give us a few details about your bar, pub or
                                                club and</p>
                                            <p class="slider-3-s-1-p">we’d be happy to show you how BarM8 works and get
                                                you</p>
                                            <p class="slider-3-s-1-p">started.</p>
                                        </div>
                                    </div>
                                    <div class="row" id="slider-3-get-started">
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <input type="text" id="VenueName" class="form-control form-custom-e" autocomplete="off"
                                                    placeholder="Your venue name">
                                                    <span style="color: red;font-size: medium;" id="venueError"></span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1 center">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <button class="btn btn-started-s-3" onclick="getStarted_3()">GET
                                                    STARTED</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="slider-3-form-started">
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <input type="text" id="yourName" class="form-control form-custom-e" autocomplete="off"
                                                    placeholder="Your name">
                                                    <span style="color: red;font-size: medium;" id="yourNameError"></span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <input type="text" id="yourRole" class="form-control form-custom-e" autocomplete="off"
                                                    placeholder="Your role">
                                                    <span style="color: red;font-size: medium;" id="yourRoleError"></span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <input type="text" id="yourPhoneNumber"
                                                    class="form-control form-custom-e" autocomplete="off"
                                                    placeholder="Mobile phone number">
                                                    <span style="color: red;font-size: medium;" id="yourMobileNoError"></span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <input type="text" id="email" class="form-control form-custom-e" autocomplete="off"
                                                    placeholder="Email address">
                                                    <span style="color: red;font-size: medium;" id="yourEmailNoError"></span>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1 center">
                                            <div class="form-group b-c-slider-3-f-g-1">
                                                <!-- <button class="btn btn-started-s-3"
                                                    onclick="form_done_3()">CREATE</button> -->
                                                    <button class="btn btn-started-s-3"
                                                    ng-click="createNewVenue()">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="thank-you-message-section">
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1 center">
                                            <p class="t-y-m-t">Cheers!</p>
                                        </div>
                                        <div
                                            class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-10 col-xl-0ffset-1 center">
                                            <div class="t-c-m-1">
                                                <p class="t-y-m-t-c">Someone from BarM8 will get in touch</p>
                                                <p class="t-y-m-t-c">with you shortly.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 slider-3-m-t-i center">
                        <img class="slider-3-i" src="views/web-site/images/partner-slider-3.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>