<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.">
    <meta name="keywords"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <meta name="author"
        content="Bar M8, BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars Pubs and Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose. It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment">
    <title>Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars, Clubs and Pubs. It is also a platform for Bars
        Pubsand Clubs to reward their clients patronage by giving free drinks, food or any prize the venue may choose.
        It also allows venues to advertise their up to the minute special on Food, Drinks and Entertainment.</title>
    <link rel="shortcut icon" href="favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" class="next-head" />
    <title class="next-head">Bar M8 , BarM8 is a Loyalty Reward App for patrons of Bars</title>
</head>

<body>
    <div class="site-header site-header-desktop">
        <div class="site-align site-header-align">
            <a href="/" class="site-header-logo"><img class="logo" src="views/web-site/images/barm_login_logo.png"></a>
            <ul id="menu-main-nav" class="site-header-menu">
                <!-- <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a
                        href="https://www.meandu.com.au/how-it-works/"></a></li> -->
            </ul>
            <div class="site-header-social">

            </div>
        </div>
    </div>
    <div class="text-assorted bg-white">
        <div class="site-align text-assorted-align">
            <div class="text-assorted-grid ani-group">
                <div class="text-assorted-cell text-assorted-cell-align-left-half text-assorted-cell-align-top ani-seq ani-fade-up ani-go"
                    style="transition-delay: 500ms;">
                    <div class="text-assorted-cell-inner">
                        <div class="text-assorted-cell-pull">
                            <h1 class="title">1.&nbsp;&nbsp; Introduction</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1&nbsp;&nbsp;&nbsp;&nbsp;
                                BarM8 definition</h2>
                            <p>The BarM8 mobile application (&ldquo;<strong>App&rdquo;</strong>), dashboard
                                (&ldquo;<strong>Dashboard</strong>&rdquo;) and websites
                                (&ldquo;<strong>Websites</strong>&rdquo;) are owned and operated by BarM8 Australia Pty
                                Ltd (ACN: 619 996 459), (&ldquo;<strong>BarM8&rdquo;, &ldquo;we&rdquo;,
                                    &ldquo;us&rdquo;</strong>). These BarM8 Application Terms of Use
                                (&ldquo;<strong>Terms&rdquo;</strong>) are here to ensure you understand your rights and
                                obligations when you access, navigate or otherwise use our mobile application and its
                                services as described and defined in Section 1.3. Please read these Terms carefully
                                before using the App.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2&nbsp;&nbsp;&nbsp;&nbsp;
                                User definition</h2>
                            <p>Any reference in these Terms to &ldquo;you&rdquo;, &ldquo;your&rdquo;,
                                &ldquo;Customer&rdquo; or &ldquo;User&rdquo; means any person accessing, viewing or
                                using the App and/or Services.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3&nbsp;&nbsp;&nbsp;&nbsp; Key
                                Terms</h2>
                            <p>Without limiting the other terms set out in these Terms, you warrant that:</p>
                            <ul>
                                <li>Your use of the App is subject to these Terms. If you do not agree with these Terms,
                                    please do not use the App;</li>
                                <li>You are at least 18 years of age;</li>
                                <li>You are eligible to register and maintain a personal account
                                    (<strong>Account</strong>) and will provide and maintain at least one acceptable
                                    payment method (<strong>Payment Method</strong>).</li>
                                <li>You are solely responsible for the activity that occurs on your Account;</li>
                                <li>You are the sole person responsible for the mobile device and mobile phone number
                                    registered to your Account or have the express permission of the mobile device
                                    owner;</li>
                                <li>You consent to the collection of information required to establish your Account,
                                    your mobile device&rsquo;s geo-location whilst using the App and your behaviour on
                                    the App, by BarM8 or its third party vendors;</li>
                                <li>You consent to receiving emails, texts and App notifications from BarM8 as part of
                                    the App&rsquo;s functionality, including receipts, codes, and notices of change to
                                    these Terms and BarM8&rsquo;s Privacy Policy.</li>
                            </ul>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4&nbsp;&nbsp;&nbsp;&nbsp; Services</h2>
                            <p>BarM8 provides Users with an App to discover and interact with third party bars or venues
                                (<strong>Venue, Venues</strong>). By using the App, You may view Venue offers
                                (<strong>Offers</strong>), claim and redeem BarM8 exclusive deals
                                (<strong>Deals</strong>), sign up for, and/or purchase tickets
                                (<strong>Tickets</strong>) to events hosted at a Venue (<strong>Events</strong>), order
                                and pay for food and/or beverage products (<strong>Products</strong>) from the Venue,
                                and/or make table reservations, with or without an associated order of Products placed
                                ahead of time (<strong>Bookings</strong>) at these Venues, hereafter collectively
                                referred to as (<strong>Services</strong>).</p>
                            <h1 class="title">2.&nbsp;&nbsp; Acceptance of Terms</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Agreement to terms of use</h2>
                            <p>By installing, registering or using the App, its Services or otherwise dealing with
                                BarM8, you agree to be bound by these Terms and the BarM8 Privacy Policy located at: <a
                                    href="https://barm8.com.au/privacy">https://barm8.com.au/privacy</a>.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2&nbsp;&nbsp;&nbsp;&nbsp;
                                Changes to terms and agreement</h2>
                            <p>BarM8 may amend or modify the App (including changing, deleting, discontinuing or
                                imposing conditions on any of its functionality or features), these Terms, or any BarM8
                                policy at any time at its sole discretion. By continuing to use the App and/or Services,
                                you will be deemed to have accepted any revised terms from the date that they are
                                published at: <a href="https://barm8.com.au/terms">https://barm8.com.au/terms</a>. You
                                should regularly review these terms and conditions. You will be able to discontinue
                                and/or refrain from use of BarM8 following such amendment or modification if You choose
                                to do so. If You do not choose to do so and continue to use BarM8, the amendments or
                                modifications will apply to You.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3&nbsp;&nbsp;&nbsp;&nbsp;
                                Supplementary terms</h2>
                            <p>The disclaimers, terms and conditions herein described may be supplemented by additional
                                policies, procedures, disclaimers, guidelines, rules, terms or conditions of specific
                                application disclosed by BarM8 (<strong>Supplementary Terms</strong>). To the extent
                                there is an inconsistency between these Terms and any Supplementary Terms, the
                                Supplementary Terms shall prevail. IN the event of a conflict in the terms of the
                                Licensed Application End User License Agreement (as accepted when downloading the App
                                from the Apple App Store or Google Play Store) and these Terms, this Term shall prevail.
                            </p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.4&nbsp;&nbsp;&nbsp;&nbsp;
                                Legal recourse</h2>
                            <p>BarM8 reserves the rights to investigate and take appropriate legal action for any
                                illegal and/or unauthorized use of the App, Services or breach of these Terms.</p>
                            <h1 class="title">3.&nbsp;&nbsp; Using our App and Services</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Nature of licence</h2>
                            <p>Subject to your acceptance of these Terms, BarM8 hereby grants You a limited,
                                non-exclusive, non-assignable, non-transferrable, worldwide, royalty-free licence to
                                install and use one copy of the App solely for your own personal, non-commercial
                                purposes. All rights not otherwise expressly granted by these Terms are reserved by
                                BarM8.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2&nbsp;&nbsp;&nbsp;&nbsp;
                                Agreement not to modify or misuse the App</h2>
                            <p>You agree that you will not copy, reverse engineer, disassemble, decompile, translate,
                                modify, reproduce, republish, transmit, sell, offer for sale, disseminate or
                                redistribute the intellectual property found in the App, Dashboard or Websites, or grant
                                any other person or entity the right or access to do so.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.3&nbsp;&nbsp;&nbsp;&nbsp;
                                BarM8&rsquo;s right to alter, discontinue or delete functionality</h2>
                            <p>BarM8 reserves the right to discontinue, alter, or delete any aspect of the App or its
                                functionality, restrict the time the App is available or restrict the amount of use
                                permitted at BarM8&rsquo;s sole discretion.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.4&nbsp;&nbsp;&nbsp;&nbsp;
                                Account registration</h2>
                            <p>In order to use our App and Services, You must register and provide certain information
                                such as your name, email address, mobile telephone number, date of birth, gender and
                                postcode (<strong>Customer Information</strong>), as and when requested, to BarM8 or its
                                third party contractors via the App. To obtain an account you must be over the age of 18
                                and not have been previously barred from receiving the App or an Account. Registering an
                                account requires you to submit to BarM8</p>
                            <p>You agree to maintain accurate, complete and up-to-date Customer Information in your
                                Account. Your failure to maintain accurate, complete and up-to-date information,
                                including having an invalid or expired payment method on file, may result in your
                                inability to access or use the App.</p>
                            <p>You acknowledge and agree that You are responsible for any and all activity that occurs
                                through your Account and you agree will not sell, transfer, license, or assign your
                                Account. You agree that you will not create an account for anyone other than yourself.
                            </p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.5&nbsp;&nbsp;&nbsp;&nbsp;
                                Content of the App</h2>
                            <p>All Services advertised, promoted, operated, offered, sold and/or supplied via the App
                                are done so by Venues.<br /> <br /> BarM8 is not the provider, operator or supplier of
                                any Offers, Deals, Events, Products and Bookings that you may view, purchase, or
                                participate in as a result of using the App. BarM8 is designed to facilitate your
                                learning of and interaction with Venues, and/or participation in, redemption of and/or
                                purchase of their Offers, Deals, Events, Products and Bookings.<br /> <br />
                                Representations of Offers, Deals, Events, Products and Bookings are based on information
                                and material provided to BarM8 by the respective Venue.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.6&nbsp;&nbsp;&nbsp;&nbsp;
                                Collection of data and nature of use</h2>
                            <p>You acknowledge and agree that information collected as a requirement to use the App
                                could personally identify you and that BarM8 may collect locational data via the
                                geo-location functionality of your mobile device. You acknowledge and agree that all
                                information collected will be dealt with in accordance with our Privacy Policy.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.7&nbsp;&nbsp;&nbsp;&nbsp;
                                Electronic communications</h2>
                            <p>You acknowledge and agree that BarM8 may send electronic messages to your mobile phone
                                number or email address. You agree that by using the Services, you consent to BarM8
                                sending you electronic messages. We will only send you messages relating to Events you
                                have signed up for, Products you have ordered, Bookings you have made or to verify your
                                ownership of the registered mobile device and/or mobile phone number associated with
                                your BarM8 account. If you opt in, we may send you direct marketing communications and
                                information about services that we consider may be of interest to you. You may opt out
                                of receiving direct marketing communications and information at any time.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.8&nbsp;&nbsp;&nbsp;&nbsp;
                                Complete payment</h2>
                            <p>You agree that you will pay in full for all transactions entered in to through the App,
                                in accordance with Section 4.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.9&nbsp;&nbsp;&nbsp;&nbsp; RSA
                                - Personal compliance</h2>
                            <p>If you use the App to purchase, or seek to purchase, Products that are alcoholic
                                beverages, contain alcohol or by law require you to be over the age of 18 years for
                                consumption from any Venue, You acknowledge and agree that:</p>
                            <ul>
                                <li>You are over the age of 18 years;</li>
                                <li>BarM8 Pty Ltd. supports the responsible service and consumption of alcohol;</li>
                                <li>The service, sale or supply of any alcoholic Product to You by a Venue is subject to
                                    applicable laws and applicable standards and guidelines issued by regulatory
                                    authorities with relevant jurisdiction, including responsible service of alcohol and
                                    liquor harm minimisation.</li>
                            </ul>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.10&nbsp;&nbsp;&nbsp;&nbsp; RSA - Venue liability</h2>
                            <p>You agree that it is the responsibility of the Venue to comply with all laws in relation
                                to the service of alcohol including responsible service of alcohol, ensuring the Venue
                                holds a valid alcohol licence, and ensuring that the Customer is over the age of 18
                                years before serving You alcohol.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.11&nbsp;&nbsp;&nbsp;&nbsp; Product availability</h2>
                            <p>You acknowledge that BarM8 does not guarantee that Products listed on the App will be
                                stocked, available for delivery or for pick-up within a certain time frame or that the
                                Products are of a certain quality.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.12&nbsp;&nbsp;&nbsp;&nbsp;Informational accuracy
                            </h2>
                            <p>You acknowledge that BarM8 does not guarantee that any of the information displayed on
                                the App including all information, photos, ingredients, explanations of any
                                Venue&rsquo;s Offers, Deals, Events, Products, Bookings or of the Venue itself, are
                                accurate and BarM8 is not liable for any errors in representation.</p>
                            <p>BarM8 is not the provider, operator or supplier of any Offers, Deals, Events, Products or
                                Bookings that you may view, participate in, or purchase as a result of using the App.
                                BarM8 is designed to facilitate your learning of, interaction with, and purchase of a
                                Venue or their Offers, Events, Bookings and Products.</p>
                            <p>Representations of Venues, their Offers, Events, Products and Booking availabilities are
                                based on information and material provided to BarM8 by the respective Venue.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.13&nbsp;&nbsp;&nbsp;&nbsp; Customer and Venue
                                interaction</h2>
                            <p>You acknowledge that BarM8 acts only as an intermediary between the Customer and the
                                Venue, and that the Venue is the sole provider, operator and/or supplier of any Offers,
                                Deals, Events and Products displayed on the App. You acknowledge that any dispute
                                arising in connection with the provision, operation and/or supply of Offers, Deals,
                                Events and Products is, for the purposes of these Terms, between you and the Venue, to
                                the exclusion of BarM8. BarM8 is not liable in connection with any Offers, Deals, Events
                                and Products provided, operated and/or supplied by a Venue. This includes, but is not
                                limited to, any liability in relation to the quality of the food, beverages or service
                                provided by the Venue; any allergic reaction or illness you suffer as a result of
                                consuming the food or beverage provided by the Venue; any failure of the Venue to meet
                                your dietary requirements; or any injury you sustain at the Venue.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.14&nbsp;&nbsp;&nbsp;&nbsp; Bookings policy</h2>
                            <p>By using the App and/or Services, a Customer may request a Booking at one of the times
                                displayed by a Venue on the App. We do not however guarantee and are not responsible for
                                the performance of said Booking, the service provided at the Venue and/or any promotions
                                related to a Booking, which are the sole responsibility and are to be provided and/or
                                otherwise performed by the Venue. We are therefore not responsible for the service,
                                eligibility, or termination of your reservation with the Venue. In the event of any
                                doubt regarding a Booking, You and the Venue will default to the Venue&rsquo;s own
                                reservation or booking policy.</p>
                            <p>Venues reserve the right to vacate Your table after a reasonable amount of time has
                                passed. This remains at the sole discretion of the Venue</p>
                            <h1 class="title">4.&nbsp;&nbsp; Order and Payment terms</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Payment via the app</h2>
                            <p>You agree that all purchases made via the App will be paid for in accordance with these
                                Terms.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2&nbsp;&nbsp;&nbsp;&nbsp;
                                Collection of payment on behalf of the Venue</h2>
                            <p>BarM8 warrants that it has the right to collect payments for Products and Tickets that
                                you order using our App and/or Services on behalf of participating Venues as its limited
                                payment collection agent. When you pay the purchase price using our App and/or Services,
                                you discharge your obligations to pay the Venue directly for any Products and Tickets
                                you order.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.3&nbsp;&nbsp;&nbsp;&nbsp;
                                Inclusion of taxes</h2>
                            <p>You acknowledge and agree that all purchase prices specified, and payments collected,
                                will be inclusive of all applicable taxes where required by law.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.4&nbsp;&nbsp;&nbsp;&nbsp;
                                Acknowledgement of differences in prices</h2>
                            <p>You acknowledge that the prices of Products and Tickets may vary from time to time, and
                                may differ from the prices of the same items sold by the Venue by any method other than
                                through the App.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.5&nbsp;&nbsp;&nbsp;&nbsp;
                                Credit card surcharges for use of the App</h2>
                            <p>You agree that you will pay in addition to the purchase price of Products and Tickets, an
                                additional credit card surcharge, that will depend on the credit card selected in your
                                chosen Payment Method.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.6&nbsp;&nbsp;&nbsp;&nbsp; Use
                                of third-party payment providers</h2>
                            <p>You acknowledge that BarM8 use third party payment providers including but not limited to
                                Stripe, Tyro, Braintree, Square, Paypal, Hyperwallet, Apple Pay and Google Pay
                                (<strong>Payment Providers</strong>). You agree that you will pay in addition to the
                                purchase price of Products and Tickets, any additional fees charged by the Payment
                                Providers. Details of your Payment Method are sent to the Payment Provider in a secure
                                and encrypted format and will not be viewed, stored or collected by BarM8 or any party
                                other than the Payment Provider.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.7&nbsp;&nbsp;&nbsp;&nbsp;
                                Indemnification against errors on behalf of Credit Card Issuer and Payment Provider</h2>
                            <p>The processing of payments or credit cards are subject to the terms, conditions and
                                privacy policies of your credit card issuer, and the Payment Providers in addition to
                                these Terms. The terms and conditions and privacy policies for the Payment Providers can
                                be accessed at their websites. You should review the Payment Provider&rsquo;s terms of
                                service and privacy policy upon registration of your Account on the App. BarM8 is not
                                responsible for any errors by the Payment Provider or credit card issuer.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.8&nbsp;&nbsp;&nbsp;&nbsp;
                                Indemnification against misuse of payment methods</h2>
                            <p>You warrant that you are the authorised user of any Payment Method that you use in
                                connection with the App and/or Services and you acknowledge that BarM8 is not liable for
                                any unauthorised use of any Payment Method.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.9&nbsp;&nbsp;&nbsp;&nbsp;
                                Order placement, handling and cancellations</h2>
                            <p>You acknowledge that BarM8 will not place your order with the Venue until you have made
                                full payment for the Products and/or Tickets through our App. You agree that if you
                                submit an order, BarM8 delivers your order to the Venue once your payment has been
                                authorised.</p>
                            <p>You must pay for all Products that you order on the App, even if you leave the Venue
                                prior to receiving the ordered Products or if the ordered Products do not arrive.</p>
                            <p>Subject to Australian Consumer Law and the Venue&rsquo;s refund policy, you are not
                                entitled to change or cancel your order once it has been placed and you will not be
                                entitled to a refund.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.10&nbsp;&nbsp;&nbsp;&nbsp; Order rejection</h2>
                            <p>You agree that Venues have the sole discretion to reject or refuse your order at any
                                time. If your order is rejected or cancelled by the Venue, you will receive a refund in
                                accordance with the Venue&rsquo;s refund policy.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.11&nbsp;&nbsp;&nbsp;&nbsp; Responsibility for order
                                details and indemnification against erroneous orders</h2>
                            <p>You agree that is your responsibility to ensure that all orders for Products and Tickets
                                through the App are correct and that you pay the correct amount at the time of payment.
                                Once payment has been confirmed and your order received by the Venue, BarM8 will not be
                                responsible and has no involvement in any disputes regarding any incorrect final
                                purchase amounts accepted by the Venue or made by you. If you have any issue or
                                complaint regarding the provision of goods or services by the Venue, you must deal
                                directly with the Venue. A refund may be payable in accordance with the Venue&rsquo;s
                                refund policy.</p>
                            <h1 class="title">5.&nbsp;&nbsp; Deals</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Nature of Deals; subject to T&amp;C&rsquo;s of the venue and these conditions</h2>
                            <p>BarM8 may from time to time extend Deals on behalf of its partners, which may include,
                                but not limited to, free items, discounts, bonus items or other incentives through the
                                App. We agree to allow you to redeem these Deals subject to any terms and conditions
                                imposed by the Venue and the following conditions:</p>
                            <ul>
                                <li>Deals must be redeemed as displayed, cannot be refunded for cash, cannot be redeemed
                                    in conjunction with any other promotions, deals or incentives offered by the Venue,
                                    can only be redeemed once and must be used before the expiry time and date;</li>
                                <li>Deals advertised on the app are exclusively available through the App;</li>
                                <li>BarM8 and the Venue reserves the right to cancel, withhold use, suspend or modify
                                    the terms of a Deal and any discount or benefit associated with it at any time and
                                    without notice;</li>
                                <li>Deals may be limited in number and may be limited to certain times as specified on
                                    the App. Please note that not all Deals are shown to all customers at all times and
                                    may vary customer to customer. Confirmation of the Deal being claimed will be
                                    displayed on the App;</li>
                                <li>Some Deals may require an accompanying purchase to be made in order to access or
                                    validate the Deal;</li>
                                <li>Deals are issued on a &lsquo;first claimed&rsquo; basis, and once the number of
                                    Deals on offer by a Venue have been claimed, no further Deals will be available on
                                    the App.</li>
                            </ul>
                            <h1 class="title">6.&nbsp;&nbsp; Content and access</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Express permission to use BarM8 property</h2>
                            <p>Unless otherwise specifically noted in these Terms or on or in the App, images,
                                trademarks, service marks, logos and icons displayed on the App are the property of
                                BarM8, and/or its licensors and may not be used without BarM8&rsquo;s prior written
                                consent. Any unauthorised use of any photos, videos, text, links and/other information
                                (<strong>Content</strong>) on the App, whether owned by BarM8 or other parties, may
                                violate copyright laws, trademarks laws, privacy and publicity laws and communications
                                regulations and statutes.<a name="_Toc41283585"></a></p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.2&nbsp;&nbsp;&nbsp;&nbsp;
                                Errors in information</h2>
                            <p>You acknowledge and accept that the App content may include incorrect information,
                                technical inaccuracies and typographical errors. You acknowledge and accept that the App
                                and Services, will from time to time, change without notice to you and that the content
                                of the App may not necessarily be accurate or up to date at the time you view it. You
                                acknowledge that BarM8 bears no responsibility for the accuracy of information presented
                                on the App and relinquish BarM8 from all liability pertaining to injuries or losses
                                arising from such inaccuracies.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.3&nbsp;&nbsp;&nbsp;&nbsp;
                                Responsibility to verify information</h2>
                            <p>You are responsible for contacting us directly to ensure that any material or information
                                on the App that you seek to rely on is accurate and current. BarM8 disclaims all
                                liability for any direct or indirect loss or damage arising from your use of reliance on
                                the App or Services to the full extent permitted by the law.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.4&nbsp;&nbsp;&nbsp;&nbsp;
                                Best efforts to ensure information on the app is accurate</h2>
                            <p>BarM8 makes all reasonable efforts to ensure that the information about Venues, Offers,
                                Deals, Products, Events and Bookings on the App, Dashboard or Websites are accurate and
                                correct, however we do not warrant that it is accurate, adequate or complete.</p>
                            <h1 class="title">7.&nbsp;&nbsp; Prohibited Uses</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Agreement not to abuse the granted license</h2>
                            <p>You agree that you will use the App in a manner consistent with any and all applicable
                                laws and regulations. BarM8 reserves the right, but is not obligated, to investigate and
                                terminate your use of the App if you have misused the App or any products or services
                                access through the App, or behaved in a way that could be regarded as inappropriate or
                                if your conduct is unlawful or illegal.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.2&nbsp;&nbsp;&nbsp;&nbsp;
                                List of agreements</h2>
                            <p>With respect to your use of and participation on the App, you agree that you will not:
                            </p>
                            <ul>
                                <li>Impersonate any person or entity;</li>
                                <li>Use any robot, spider, site search/retrieval application or other manual or
                                    automatic device or process to retrieve, index, &ldquo;data mine&rdquo; or in any
                                    way reproduce or circumvent the navigational structure or presentation of the App or
                                    its contents;</li>
                                <li>post, distribute or reproduce in any way any copyrighted material, trademarks, or
                                    other proprietary information without obtaining the prior written consent of the
                                    owner of such proprietary rights;</li>
                                <li>remove any copyright, trademark or other proprietary rights notices contained in the
                                    App;</li>
                                <li>interfere with or disrupt any services provided through the App or the servers or
                                    networks connected to the App;</li>
                                <li>post, email or otherwise transmit any material that contains software viruses or any
                                    other computer code, files or programs designed to interrupt, destroy or limit the
                                    functionality of any computer software or hardware or telecommunications equipment;
                                </li>
                                <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of
                                    any information transmitted through the App; or</li>
                                <li>&ldquo;frame&rdquo; or &ldquo;mirror&rdquo; any part of the App, without
                                    BarM8&rsquo;s prior written authorisation or use meta tags or code or other devices
                                    containing any reference to BarM8 or the App in order to direct any person to any
                                    other website for any purpose.</li>
                            </ul>
                            <h1 class="title">8.&nbsp;&nbsp; Exclusions, indemnification and release</h1>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.1&nbsp;&nbsp;&nbsp;&nbsp;
                                Exclusion of Warranties</h2>
                            <p>To the maximum extent allowed by law, the app or the service, and any BarM8 content are
                                provided &ldquo;as is&rdquo; and &ldquo;as available,&rdquo; and at your sole risk.
                                Although BarM8 uses reasonable efforts to ensure that the information contained on the
                                app and through the service is as accurate as possible, BarM8 gives no warranty of any
                                kind regarding the app or the service and/or BarM8 content posted or otherwise made
                                available therein. Further, BarM8 does not warrant the accuracy, completeness, currency
                                or reliability of any BarM8 content that the results obtained from the use of the app or
                                the service or BarM8 content will be accurate or reliable, or that the quality of the
                                app or the service or BarM8 content will meet your expectations. To the maximum extent
                                allowed by law, BarM8 expressly disclaims all warranties, representations, conditions,
                                undertakings or other obligations including any implied warranties of merchantability,
                                fitness for a particular purpose, non-infringement and any warranty that the app, the
                                service or BarM8 content will be error-free or that such errors will be corrected.</p>
                            <p>Any BarM8 content or other material downloaded or otherwise obtained through the use of
                                the app or the service is done at your sole risk, and you will be solely responsible for
                                any damage to your computer system or loss of data that results from the download of the
                                app or any such BarM8 content or material.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.2&nbsp;&nbsp;&nbsp;&nbsp;
                                Other Disclaimers</h2>
                            <p>The App and any products or services provided through the App may be temporarily
                                unavailable from time to time for maintenance or other reasons.</p>
                            <p>BarM8 assumes no responsibility for any error, omission, interruption, deletion, defect,
                                delay in operation or transmission, communications line failure, theft or destruction or
                                unauthorised access to, or alteration of, communications.</p>
                            <p>BarM8 is not responsible for any technical malfunction or other problems of any telephone
                                network or service, computer systems, servers or providers, computer or mobile phone
                                equipment, software, failure of email or players on account of technical problems or
                                traffic congestion on the internet, on the App, on any website or any combination
                                thereof, including injury or damage to you or to any other person&rsquo;s computer,
                                mobile phone, or other hardware or software, related to or resulting from using or
                                downloading the App or materials in connection with the App and/or in connection with
                                any products or services offered through the App.</p>
                            <p>BarM8 shall not be liable for any loss or damage you suffer as a result of the provision,
                                or lack thereof, of goods and services by the Participating Restaurant.</p>
                            <h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.3&nbsp;&nbsp;&nbsp;&nbsp;
                                Release and indemnification</h2>
                            <p>You agree to release BarM8, its members, managers, officers, employees and agents, from
                                any and all liability and obligations whatsoever in connection with or arising from your
                                use of the App or the service provided through the App. If at any time you are not
                                satisfied with the App or object to any material within the App, your sole remedy is
                                cessation of use thereof.</p>
                            <p>You agree to defend, indemnify and hold harmless BarM8, its officers, members, directors,
                                employees and agents from and against any and all claims, liabilities, damages, losses
                                or expenses, including legal fees and costs and expenses, arising out of or in any way
                                connected with:</p>
                            <ul>
                                <li>Your access to or use of the App or any part thereof;</li>
                                <li>Any ratings you publish via the App;</li>
                                <li>A breach or alleged breach by you of any of your representations, warranties,
                                    covenants or obligations under these Terms of Use;</li>
                                <li>Infringement or misappropriation of any intellectual property or other rights of
                                    BarM8 or third parties by you;</li>
                                <li>Any negligence or wilful misconduct by You</li>
                            </ul>
                            <h1 class="title">9.&nbsp;&nbsp; Governing law and miscellaneous items</h1>
                            <p>The validity and effect of these Terms of Use shall be governed by and construed and
                                enforced in accordance with the laws of Australia.</p>
                            <p>You agree that your breach of the provisions of these Terms of Use would cause
                                irreparable harm and significant injury to BarM8 which would be both difficult to
                                ascertain and which would not be compensable by damages alone. As such, you agree that
                                BarM8 has the right to enforce the provisions of these Terms of Use by injunction
                                (without necessity of posting bond), specific performance or other equitable relief
                                without prejudice to any other rights and remedies that BarM8 may have.</p>
                            <p>BarM8 will be entitled to reasonable legal fees and fees of accountants and other
                                professionals, and costs and expenses in addition to any other relief to which BarM8 may
                                be entitled in any action at law or in equity.</p>
                            <h1 class="title">10.&nbsp;&nbsp; Contact</h1>
                            <p>For all queries regarding the terms above, please contact us at <a
                                    href="mailto:info@barm8.com.au">info@barm8.com.au</a> or by physical mail at:</p>
                            <p style="margin-top: 0rem;margin-bottom: 0rem;"><strong>11 Huon Place</strong></p>
                            <p style="margin-top: 0rem;margin-bottom: 0rem;"><strong>Bella Vista</strong></p>
                            <p style="margin-top: 0rem;margin-bottom: 0rem;"><strong>NSW, 2153</strong></p>
                            <p style="margin-top: 0rem;margin-bottom: 0rem;"><strong>Australia</strong></p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer bg-white" style="padding: 25px 0px 0px 3rem;">
        <div class="site-align footer-align">
            <div class="site-footer-upper">
                <div class="site-footer-logo">
                    <a href="/">
                        <img src="/views/web-site/images/barm_login_logo.png" class="logo"></a>
                </div>
                <div class="site-footer-tag">
                </div>
                <ul id="menu-footer-nav" class="site-footer-menu">
                    <li id="menu-item-112"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-105 current_page_item menu-item-112">
                        <a title="Contact" href="/contact">Contact</a></li>
                    <li id="menu-item-111"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111">
                        <a title="Terms & conditions" href="/terms">Terms</a></li>
                    <li id="menu-item-113"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113">
                        <a title="Privacy" href="/privacy">Privacy</a></li>
                </ul>
            </div>
            <span class="site-footer-cp">© Barm8 2020</span>
        </div>
    </div>
    <div id="stop" class="scrollTop">
        <span><a href="">Top</a></span>
      </div>
    <style>
        .scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}
        strong {
            font-weight: bold;
            font-size: 20px;
        }

        .title {
            color: #4168b3;
        }

        .site-footer {
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
            margin-top: 0 !important;

        }

        .bg-white {
            background: white;
            color: #000;
            padding:0px 3.8rem;
        }

        .site-align {
            margin: 0 auto;
            max-width: 1320px;
            padding: 0px 20px;
        }

        .site-footer-upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .site-footer-logo {
            width: 33.33%;
        }

        .site-footer-tag {
            text-align: center;
            width: 33.33%;
        }

        .site-footer-menu {
            display: flex;
            list-style: none;
            margin-left: auto;
        }

        .site-footer-menu li {
            margin-left: 40px;
            font-size: 15px;
            font-weight: 500;
        }

        .site-footer-cp {
            display: block;
            text-align: right;
            font-size: 13px;
        }

        .site-footer-menu>li>a {
            color: #000 !important;
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
        }

        .logo {
            height: 55px;
            width: 135px;
        }
        li {
    padding: 0px 0px 0px 40px;
    font-size: 18px;
    list-style-position: outside;
    counter-reset: list;
    display: table;
}



        ol {
            padding: 0px 0px 0px 40px;
            font-size: 18px;
            list-style-position: outside;
            counter-reset: list;
            display: table;
        }


        ol>li {
            list-style: none;
            display: table-row;
        }

        ol>li:before {
            content: counter(list, lower-alpha) ")";
            counter-increment: list;
            display: table-cell;
            /* aha! */
            text-align: right;
        }

        .bg-white {
            background: white;
            color: #000;
        }

        .site-align {
            margin: 0 auto;
            max-width: 1320px;
            padding: 0px 20px;
        }

        .text-assorted-grid {
            display: flex;
            flex-wrap: wrap;
        }

        .ani-fade-up.ani-go {
            -webkit-transform: none;
            transform: none;
            opacity: 1;
        }

        .ani-fade-up {
            transition: opacity 1.5s, -webkit-transform 1.5s;
            transition: transform 1.5s, opacity 1.5s;
            transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            opacity: 0;
        }

        .text-assorted-cell-align-left-half {
            justify-content: flex-end;
        }


        body {
            font-family: 'Palanquin', sans-serif;
            padding-top: 54px;
        }

        .site-align {
            margin: 0 auto;
            max-width: 1320px;
            padding: 0px 20px;
        }

        @media screen and (max-width: 768px) {
            body {
                padding-top: 49px;
            }

            .site-button {
                display: block;
            }

            .site-button+.site-button {
                margin-left: 0;
            }

            body>.bg-white+.bg-white {
                margin-top: -40px;
            }

            .join-tab {
                display: none;
            }
        }

        h2 {
            font-size: 22px;
            font-weight: 600;
            margin: 15px 0px;
        }

        .site-header {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background: #000;
            padding: 10px 0px 0px 0px;
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
            z-index: 100;
        }

        .site-header .site-button {
            padding: 8px 15px;
            font-size: 13px !important;
        }

        .site-header-align {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .site-header-logo {
            margin-right: auto;
        }

        @media screen and (min-width: 768px) {
            .site-header-menu {
                display: flex;
                align-items: center;
                list-style: none;
            }

            .site-header-menu li {
                margin: 0px 15px 0px 15px;
                color: #7C8EB1;
                font-size: 14px;
                font-weight: 500;
                border-bottom: 2px solid transparent;
                padding-top: 4px;
                padding-bottom: 2px;
                transition: border-color 250ms, background-color 250ms, color 250ms;
            }

        }

        p {
            font-size: 18px;
            line-height: 1.6;
            padding: 0px 0px 0px 42px;
        }

        body {
            display: block;
            margin: 0px;
        }
    </style>
    <script>
        // BY KAREN GRIGORYAN

$(document).ready(function() {
  /******************************
      BOTTOM SCROLL TOP BUTTON
   ******************************/

  // declare variable
  var scrollTop = $(".scrollTop");

  $(window).scroll(function() {
    // declare variable
    var topPos = $(this).scrollTop();

    // if user scrolls down - show scroll to top button
    if (topPos > 100) {
      $(scrollTop).css("opacity", "1");

    } else {
      $(scrollTop).css("opacity", "0");
    }

  }); // scroll END

  //Click event to scroll to top
  $(scrollTop).click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 800);
    return false;

  }); // click() scroll top EMD

  /*************************************
    LEFT MENU SMOOTH SCROLL ANIMATION
   *************************************/
  // declare variable
  var h1 = $("#h1").position();
  var h2 = $("#h2").position();
  var h3 = $("#h3").position();

  $('.link1').click(function() {
    $('html, body').animate({
      scrollTop: h1.top
    }, 500);
    return false;

  }); // left menu link2 click() scroll END

  $('.link2').click(function() {
    $('html, body').animate({
      scrollTop: h2.top
    }, 500);
    return false;

  }); // left menu link2 click() scroll END

  $('.link3').click(function() {
    $('html, body').animate({
      scrollTop: h3.top
    }, 500);
    return false;

  }); // left menu link3 click() scroll END

}); // ready() END
    </script>
</body>

</html>