<div class="wrapper wrapper-content" id="qr-download-ctl" ng-controller="qrDwnlCnt">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: left !important;">
                <a href="#" onclick="history.back();" class="btn btn-s">Back </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 class="v-h">QR Download Count</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card" style="padding:20px;">
                    <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="v-h">IOS</h2>
                    </div>
                    <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 col-xl-12">
                        <span> {{iosdcnt}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row card" style="padding:20px;">
                    <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="v-h">Andriod</h2>
                    </div>
                    <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 col-xl-12">
                        <span>{{andrioddcnt}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .v-h {
        font-weight: 600;
    }

    .m-t-sm {
        text-align: center;
    }

    span {
        font-size: 1.2rem;
    }

    .btn-s {
        color: #000;
        border: 3px solid green !important;
        background-color: #fff;
        font-size: 1.2rem;
    }

    .btn-s:hover {
        color: #fff !important;
        background: green !important;
    }

    .btn-s:active {
        letter-spacing: 1px;
    }
</style>