<style>
    .chosen-single {
        padding-top: 3px !important;
    }

    .btn {
        border-radius: 21px;
    }

    #page-wrapper {
        padding: 0 0px;
    }

    @media(min-width:768px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:992px) {
        .eventCard {
            padding: 20px;
        }
    }

    @media(min-width:1200px) {
        .eventCard {
            padding: 20px;
        }
    }

    .header-happenings {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        padding-top: 4px;
        background-color: #f9a141;
        border-radius: 4px;
    }

    .ui-timepicker-wrapper {
        width: 11.5em !important;
    }

    .back-txt {
        margin-left: 1rem;
        font-size: 1.2rem;
        color: #000 !important;
    }

    .manage-txt {
        font-size: 1.4rem;
        color: #000 !important;
    }

    .manage-txt-1 {
        font-size: 1.044rem;
        color: #000 !important;
    }

    th>span {
        font-size: 16px;
    }
</style>
<div class="wrapper wrapper-content" id="WaitList" ng-controller="WaitListCtl">
    <div class="m-t-sm" style="margin-top:2.5rem;">
        <div class="row card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <b class="manage-txt">Manage waitlist</b>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row" ng-show="waitListData && waitListData.length">
                    <div class="col- xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <span>Date</span>
                                    </th>
                                    <th>
                                        <span>Time</span>
                                    </th>
                                    <th>
                                        <span>Email</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in waitListData">
                                    <td>
                                        {{list.dateStr}}
                                    </td>
                                    <td>
                                        {{list.timeStr}}
                                    </td>
                                    <td>
                                        {{list.email}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" ng-show="waitListData.length==0">
                        <b style="padding:20px;">No data!</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>